<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../css/style.css?v=125802072022">
  <title>ePayService - Home</title>
  <script>
    window.twttr = (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function (f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));
  </script>
</head>

<body>


  <div class="strut">

    <div class="strut__row">

      <header class="header">
        <div class="header__top">
          <div class="region">
            <div class="top">
              <div class="top__main">
                <div class="top__burger burger">
                  <div class="burger__handler"></div>
                  <div class="burger__body"></div>
                </div>
                <div class="top__logo">
                  <a class="logo" href="index.html"></a>
                </div>
                <nav class="top__nav nav">
                  <!--<a class="nav__link" href="-about.html">About Us</a>-->
                  <a class="nav__link nav__link_more" href="#" data-inner="inner-nav"><span>Serviços</span></a>
                  <div class="sub-menu">
                    <a class="sub-menu__link" href="managing-account.html">Gestão de Conta</a>
                    <a class="sub-menu__link" href="bank-transfers.html">Transferências de Dinheiro</a>
                    <a class="sub-menu__link" href="personal-iban.html">IBAN pessoal</a>
                    <a class="sub-menu__link" href="personal-us-account.html">Conta Pessoal nos EUA</a>
                    <a class="sub-menu__link" href="prepaid-cards.html">Cartão de débito</a>
                    <a class="sub-menu__link" href="affiliate-payouts.html">Pagamentos a Afiliados</a>
                    <a class="sub-menu__link" href="payout-service.html">Soluções de Pagamento</a>
                    <a class="sub-menu__link" href="virtual-cards.html">Cartões Virtuais</a>
                    <a class="sub-menu__link" href="local-payments.html">Transferência bancária local</a>
                    <a class="sub-menu__link" href="send-money-to-card.html">Transferências para cartões</a>
                    <a class="sub-menu__link" href="cash-remittance.html">Pagamentos em dinheiro</a>
                  </div>
                  <a class="nav__link" href="fees.html">Taxas</a>
                  <a class="nav__link" href="contact-us.html">Contacte-nos</a>
                  <a class="nav__link" target="_blank" href="http://faq.epayservices.com">FAQ</a>
                </nav>
                <a class="top__profile" href="https://online.epayservices.com/"></a>
                <div class="top__sign-in">
                  <a class="button" href="https://online.epayservices.com/register">ABRIR UMA CONTA GRATUITA</a>
                  <a class="button button_border" href="https://online.epayservices.com/">ENTRAR</a>
                </div>
              </div>
              <div class="top__actions">
                <div class="top__buttons">
                  <a class="button" href="https://online.epayservices.com/register">ABRIR UMA CONTA GRATUITA</a>
                  <a class="button button_border" href="https://online.epayservices.com/">ENTRAR</a>
                </div>
                <div class="top__language lang-select drop">
                  <div class="lang-select__toggle drop__handler">
                    <div class="lang-select__image">
                      <img src="../images/flag-pt.svg" alt="">
                    </div>
                    <div class="lang-select__title">PT</div>
                  </div>
                  <div class="lang-select__list drop__down">
                    <a class="lang-select__item" href="../en/index.html">
                      <div class="lang-select__image">
                        <img src="../images/flag.svg" alt="">
                      </div>
                      <div class="lang-select__title">English (US)</div>
                    </a>
                    <a class="lang-select__item" href="../uk/index.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-uk.svg" alt="">
                      </div>
                      <div class="lang-select__title">English</div>
                    </a>
                    <a class="lang-select__item" href="../ru/index.html">
                      <div class="lang-select__image">
                        <img src="../images/ru.png" alt="">
                      </div>
                      <div class="lang-select__title">Русский</div>
                    </a>
                    <a class="lang-select__item" href="../es/index.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-es.png" alt="">
                      </div>
                      <div class="lang-select__title">Español</div>
                    </a>
                    <a class="lang-select__item" href="../co/index.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-co.png" alt="">
                      </div>
                      <div class="lang-select__title">Español (Colombia)</div>
                    </a>
                    <a class="lang-select__item" href="../ro/index.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ro.svg" alt="">
                      </div>
                      <div class="lang-select__title">Română</div>
                    </a>
                    <a class="lang-select__item" href="../ms/index.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ms.svg" alt="">
                      </div>
                      <div class="lang-select__title">Melayu</div>
                    </a>
                    <a class="lang-select__item" href="../vn/index.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-vn.svg" alt="">
                      </div>
                      <div class="lang-select__title">Tiếng Việt</div>
                    </a>
                    <a class="lang-select__item" href="../ar/index.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ar.png" alt="">
                      </div>
                      <div class="lang-select__title">عربى</div>
                    </a>
                    <a class="lang-select__item" href="../pl/index.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pl.svg" alt="">
                      </div>
                      <div class="lang-select__title">Język polski</div>
                    </a>
                    <a class="lang-select__item" href="../zh/index.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-zh.svg" alt="">
                      </div>
                      <div class="lang-select__title">汉语</div>
                    </a>
                    <a class="lang-select__item" href="../de/index.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-de.svg" alt="">
                      </div>
                      <div class="lang-select__title">Deutsch</div>
                    </a>
                    <a class="lang-select__item" href="../fr/index.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-fr.svg" alt="">
                      </div>
                      <div class="lang-select__title">Français</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="inner-nav" id="inner-nav">
            <div class="region">
              <div class="inner-nav__list">
                <a class="inner-nav__item" href="managing-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_safe"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Gestão de Conta</div>
                </a>
                <a class="inner-nav__item" href="bank-transfers.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_house2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Transferências de Dinheiro</div>
                </a>
                <a class="inner-nav__item" href="personal-iban.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_stars-big2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">IBAN pessoal</div>
                </a>
                <a class="inner-nav__item" href="personal-us-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_money-rotate2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Conta Pessoal nos EUA</div>
                </a>
                <a class="inner-nav__item" href="prepaid-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_cards2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Cartão de débito</div>
                </a>
                <a class="inner-nav__item" href="affiliate-payouts.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_crowd2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Pagamentos a Afiliados</div>
                </a>
                <a class="inner-nav__item" href="payout-service.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hands2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Soluções de Pagamento</div>
                </a>
                <a class="inner-nav__item" href="virtual-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_virtual-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Cartões Virtuais</div>
                </a>
                <a class="inner-nav__item" href="local-payments.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_local-pay"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Transferência bancária local</div>
                </a>
                <a class="inner-nav__item" href="send-money-to-card.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_save-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Transferências para cartões</div>
                </a>
                <a class="inner-nav__item" href="cash-remittance.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hand-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Pagamentos em dinheiro</div>
                </a>
              </div>
            </div>
          </div>

        </div>
        <div class="header__slider slider">

          <div class="slider__item" style="background-image: url(.././images/slider-img3.jpg)">
            <div class="region">
              <div class="slider__info main-info">
                <div class="main-info__img">
                  <img src="../images/red-card.png" alt="">
                </div>
                <h1 class="main-info__title title title_light">Sem taxas para cartão de débito</h1>
                <div class="main-info__button">
                  <a class="button button_big" href="prepaid-cards.html">Mais Informação</a>
                </div>
              </div>
            </div>
          </div>
          <div class="slider__item" style="background-image: url(.././images/slider-img11.jpg);">
            <div class="region">
              <div class="slider__info main-info">
                <h1 class="main-info__title title title_light">Transferências de dinheiro <br>com taxas a partir de 1%
                </h1>
                <div class="main-info__text text-dark_light">Transferências Bancárias Internacionais para contas
                  bancárias pessoais ou empresariais</div>
                <div class="main-info__button">
                  <a class="button button_big" href="bank-transfers.html">Mais Informação</a>
                </div>
              </div>
            </div>
          </div>
          <div class="slider__item slider__item_5" style="background-image: url(.././images/slider-img10.jpg)">
            <div class="region">
              <div class="slider__info main-info">
                <h1 class="main-info__title title title_light">Soluções de Pagamento</h1>
                <div class="main-info__text text-dark_light">Pagamento de ordenados em nome de empresas internacionais
                  de TI</div>
                <div class="main-info__button">
                  <a class="button button_big" href="payout-service.html">Mais Informação</a>
                </div>
              </div>
            </div>
          </div>


        </div>
      </header>

    </div>

    <div class="strut__row strut__row_expanded">
      <main class="body">

        <div class="main-tabs">
          <div class="main-tabs__top">
            <div class="region">
              <div class="main-tabs__header">
                <div class="main-tabs__toggle text-dark">Freelancers</div>
                <div class="main-tabs__toggle text-dark">Webmasters</div>
                <div class="main-tabs__toggle text-dark">Empresas de TI</div>
                <div class="main-tabs__toggle text-dark">Redes de Afiliados</div>
                <div class="main-tabs__toggle text-dark">Programadores de Software</div>
              </div>
            </div>
          </div>
          <div class="main-tabs__slider">
            <div class="main-tabs__content">
              <div class="region">
                <h2 class="main-tabs__title title">Freelance Sem Preocupações</h2>
                <div class="main-tabs__text text-dark"></div>
                <div class="main-tabs__row">
                  <div class="row">
                    <div class="col-md-8 col-xs-12">
                      <div class="row">
                        <div class="col-md-6 col-xs-12">
                          <div class="main-tabs__line">
                            <div class="ico-link">
                              <div class="ico-link__image">
                                <div class="icon icon_flag"></div>
                              </div>
                              <div class="ico-link__info">
                                <a class="ico-link__title" href="bank-transfers.html">Pagamentos com origem nos EUA</a>
                                <div class="ico-link__text text">Transferências de mercados de freelance sediados nos
                                  EUA</div>
                              </div>
                            </div>
                          </div>
                          <div class="main-tabs__line">
                            <div class="ico-link">
                              <div class="ico-link__image icon">
                                <div class="icon icon_stars-big"></div>
                              </div>
                              <div class="ico-link__info">
                                <a class="ico-link__title" href="bank-transfers.html">Pagamentos Internacionais</a>
                                <div class="ico-link__text text">Transferências bancárias de empregadores sediados na
                                  Europa e na Ásia</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                          <div class="main-tabs__line">
                            <div class="ico-link">
                              <div class="ico-link__image">
                                <div class="icon icon_moon"></div>
                              </div>
                              <div class="ico-link__info">
                                <a class="ico-link__title" href="managing-account.html">Pagamentos Eletrónicos</a>
                                <div class="ico-link__text text">Transferências instantâneas e saídas WebMoney WMZ</div>
                              </div>
                            </div>
                          </div>
                          <div class="main-tabs__line main-tabs__line_last">
                            <div class="ico-link">
                              <div class="ico-link__image">
                                <div class="icon icon_cards-switch"></div>
                              </div>
                              <div class="ico-link__info">
                                <a class="ico-link__title" href="prepaid-cards.html">Cartão de débito</a>
                                <div class="ico-link__text text">Retire seus fundos em qualquer em qualquer caixa
                                  multibanco a nível mundial</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="main-tabs__button">
                        <a class="button button_big" href="https://online.epayservices.com/register">Abrir Uma Conta
                          Gratuita</a>
                      </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                      <div class="profile-quote">
                        <div class="profile-quote__title title title_medium">Simples e excelente custo-benefício
                          eficácia de custos!</div>
                        <div class="profile-quote__text text">Forma fácil e segura de receber pagamentos do Upwork ou de
                          outras plataformas de freelancing.</div>
                        <div class="profile-quote__info">
                          <div class="profile-quote__image">
                            <img src="../images/employee1.svg" alt="">
                          </div>
                          <div class="profile-quote__wrapper">
                            <div class="profile-quote__name">Helena</div>
                            <div class="profile-quote__description text">Designer Freelancer, <br>Romênia</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="main-tabs__content">
              <div class="region">
                <h2 class="main-tabs__title title">Excelente oportunidade para um WebMaster</h2>
                <div class="main-tabs__text text-dark"></div>
                <div class="main-tabs__row">
                  <div class="row">
                    <div class="col-md-4 col-xs-12">
                      <div class="main-tabs__line">
                        <div class="ico-link">
                          <div class="ico-link__image">
                            <div class="icon icon_check-earth"></div>
                          </div>
                          <div class="ico-link__info">
                            <a class="ico-link__title" href="bank-transfers.html">Transferências</a>
                            <div class="ico-link__text text">Transferências bancárias de empresas e redes publicitárias
                              sediadas em qualquer local do mundo</div>
                          </div>
                        </div>
                      </div>
                      <div class="main-tabs__line">
                        <div class="ico-link">
                          <div class="ico-link__image icon">
                            <div class="icon icon_flag"></div>
                          </div>
                          <div class="ico-link__info">
                            <a class="ico-link__title" href="bank-transfers.html">Pagamentos com origem nos EUA</a>
                            <div class="ico-link__text text">Pagamentos da Amazon e de outras redes de afiliadas
                              sediadas nos EUA</div>
                          </div>
                        </div>
                      </div>
                      <div class="main-tabs__button">
                        <a class="button button_big" href="https://online.epayservices.com/register">Abrir Uma Conta
                          Gratuita</a>
                      </div>

                    </div>
                    <div class="col-md-4 col-xs-12">

                      <div class="main-tabs__line main-tabs__line_last">
                        <div class="ico-link">
                          <div class="ico-link__image">
                            <div class="icon icon_card-splash2"></div>
                          </div>
                          <div class="ico-link__info">
                            <a class="ico-link__title" href="virtual-cards.html">Cartões Virtuais</a>
                            <div class="ico-link__text text">Modo simples de pagar por campanhas promocionais e de
                              geração de tráfego</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                      <div class="profile-quote">
                        <div class="profile-quote__title title title_medium">Os pagamentos deixaram de ser um problema!
                        </div>
                        <div class="profile-quote__text text">Agora é simples receber – quer seja um cheque AdSense ou
                          uma transferência da TradeDoubler</div>
                        <div class="profile-quote__info">
                          <div class="profile-quote__image">
                            <img src="../images/employee2.svg" alt="">
                          </div>
                          <div class="profile-quote__wrapper">
                            <div class="profile-quote__name">Nick</div>
                            <div class="profile-quote__description text">Comerciante de Tráfego, <br>Bielorrússia</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="main-tabs__content">
              <div class="region">
                <h2 class="main-tabs__title title">TI Ilimitada</h2>
                <div class="main-tabs__text text-dark"></div>
                <div class="main-tabs__row">
                  <div class="row">
                    <div class="col-md-4 col-xs-12">
                      <div class="main-tabs__line">
                        <div class="ico-link">
                          <div class="ico-link__image">
                            <div class="icon icon_interaction"></div>
                          </div>
                          <div class="ico-link__info">
                            <a class="ico-link__title" href="managing-account.html">Pagamentos rápidos</a>
                            <div class="ico-link__text text">Pagamento instantâneo aos funcionários e especialistas
                              contratados</div>
                          </div>
                        </div>
                      </div>
                      <div class="main-tabs__line">
                        <div class="ico-link">
                          <div class="ico-link__image">
                            <div class="icon icon_portfolio"></div>
                          </div>
                          <div class="ico-link__info">
                            <a class="ico-link__title" href="bank-transfers.html">Pagamentos a empresas</a>
                            <div class="ico-link__text text">Transferências em USD e EUR para contas bancárias
                              empresariais e de terceiros</div>
                          </div>
                        </div>
                      </div>
                      <div class="main-tabs__button">
                        <a class="button button_big" href="https://online.epayservices.com/register">Abrir Uma Conta
                          Gratuita</a>
                      </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                      <div class="main-tabs__line main-tabs__line_first">
                        <div class="ico-link">
                          <div class="ico-link__image">
                            <div class="icon icon_cards"></div>
                          </div>
                          <div class="ico-link__info">
                            <a class="ico-link__title" href="prepaid-cards.html">Cartões de Pagamento</a>
                            <div class="ico-link__text text">Elimina a emissão de inúmeros cartões para funcionários e
                              parceiros</div>
                          </div>
                        </div>
                      </div>
                      <div class="main-tabs__line">
                        <div class="ico-link">
                          <div class="ico-link__image">
                            <div class="icon icon_anytime"></div>
                          </div>
                          <div class="ico-link__info">
                            <a class="ico-link__title" href="managing-account.html">Assistência Permanente</a>
                            <div class="ico-link__text text">A nossa equipa profissional está à sua disposição 24/7
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                      <div class="profile-quote">
                        <div class="profile-quote__title title title_medium">Seja contratado a nível mundial</div>
                        <div class="profile-quote__text text">Ser pago pelos seus serviços ou pagar a um freelancer
                          nunca foi tão simples!</div>
                        <div class="profile-quote__info">
                          <div class="profile-quote__image">
                            <img src="../images/employee3.svg" alt="">
                          </div>
                          <div class="profile-quote__wrapper">
                            <div class="profile-quote__name">Serge</div>
                            <div class="profile-quote__description text">Fundador de uma Startup, <br>Tailândia</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="main-tabs__content">
              <div class="region">
                <h2 class="main-tabs__title title">Redes Publicitárias Internacional</h2>
                <div class="main-tabs__text text-dark"></div>
                <div class="main-tabs__row">
                  <div class="row">
                    <div class="col-md-4 col-xs-12">
                      <div class="main-tabs__line">
                        <div class="ico-link">
                          <div class="ico-link__image">
                            <div class="icon icon_house3"></div>
                          </div>
                          <div class="ico-link__info">
                            <a class="ico-link__title" href="managing-account.html">Pagamentos instantâneos</a>
                            <div class="ico-link__text text">Transferências instantâneas em USD e EUR para Carteiras
                              ePayService</div>
                          </div>
                        </div>
                      </div>
                      <div class="main-tabs__line">
                        <div class="ico-link">
                          <div class="ico-link__image icon">
                            <div class="icon icon_check-earth"></div>
                          </div>
                          <div class="ico-link__info">
                            <a class="ico-link__title" href="bank-transfers.html">Transferências bancárias</a>
                            <div class="ico-link__text text">Transferências para contas bancárias a nível mundial – dos
                              EUA ao Japão</div>
                          </div>
                        </div>
                      </div>
                      <div class="main-tabs__button">
                        <a class="button button_big" href="https://online.epayservices.com/register">Abrir Uma Conta
                          Gratuita</a>
                      </div>

                    </div>
                    <div class="col-md-4 col-xs-12">
                      <div class="main-tabs__line main-tabs__line_first">
                        <div class="ico-link">
                          <div class="ico-link__image">
                            <div class="icon icon_cards"></div>
                          </div>
                          <div class="ico-link__info">
                            <a class="ico-link__title" href="prepaid-cards.html">Pagamentos para Cartões</a>
                            <div class="ico-link__text text">Transferências diretas para cartões emitidos por outros
                              bancos</div>
                          </div>
                        </div>
                      </div>
                      <div class="main-tabs__line">
                        <div class="ico-link">
                          <div class="ico-link__image">
                            <div class="icon icon_card-splash4"></div>
                          </div>
                          <div class="ico-link__info">
                            <a class="ico-link__title" href="affiliate-payouts.html">Força da Marca</a>
                            <div class="ico-link__text text">ePayService MasterCards personalizados para os seus
                              parceiros a nível mundial</div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="col-md-4 col-xs-12">
                      <div class="profile-quote">
                        <div class="profile-quote__title title title_medium">Expanda as suas fronteiras</div>
                        <div class="profile-quote__text text">Pagamentos diretos para Carteiras e cartões ePayService
                          dos seus parceiros com logotipos personalizados são bastante úteis para webmasters em qualquer
                          lugar do o mundo.</div>
                        <div class="profile-quote__info">
                          <div class="profile-quote__image">
                            <img src="../images/employee4.svg" alt="">
                          </div>
                          <div class="profile-quote__wrapper">
                            <div class="profile-quote__name">Yury</div>
                            <div class="profile-quote__description text">Proprietário de uma Rede CPA, <br>Ucrânia</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="main-tabs__content">
              <div class="region">
                <h2 class="main-tabs__title title">Soluções para Programadores</h2>
                <div class="main-tabs__text text-dark"></div>
                <div class="main-tabs__row">
                  <div class="row">
                    <div class="col-md-4 col-xs-12">
                      <div class="main-tabs__line">
                        <div class="ico-link">
                          <div class="ico-link__image">
                            <div class="icon icon_flag"></div>
                          </div>
                          <div class="ico-link__info">
                            <a class="ico-link__title" href="bank-transfers.html">Entradas dos EUA</a>
                            <div class="ico-link__text text">Autorizados cheques e ACH de clientes sediados nos EUA
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="main-tabs__line">
                        <div class="ico-link">
                          <div class="ico-link__image">
                            <div class="icon icon_check-earth"></div>
                          </div>
                          <div class="ico-link__info">
                            <a class="ico-link__title" href="bank-transfers.html">Pagamentos Internacionais</a>
                            <div class="ico-link__text text">Autorizadas transferências bancárias e SEPA de empresas a
                              nível mundial</div>
                          </div>
                        </div>
                      </div>
                      <div class="main-tabs__button">
                        <a class="button button_big" href="https://online.epayservices.com/register">Abrir Uma Conta
                          Gratuita</a>
                      </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                      <div class="main-tabs__line main-tabs__line_first">
                        <div class="ico-link">
                          <div class="ico-link__image">
                            <div class="icon icon_planning"></div>
                          </div>
                          <div class="ico-link__info">
                            <a class="ico-link__title" href="payout-service.html">Soluções de Pagamento</a>
                            <div class="ico-link__text text">Pague o salário à sua equipa interna e remota</div>
                          </div>
                        </div>
                      </div>
                      <div class="main-tabs__line main-tabs__line_last">
                        <div class="ico-link">
                          <div class="ico-link__image">
                            <div class="icon icon_cards"></div>
                          </div>
                          <div class="ico-link__info">
                            <a class="ico-link__title" href="prepaid-cards.html">Cartões de Pagamento</a>
                            <div class="ico-link__text text">Cartões ePayService Mastercard® virtuais e tradicionais
                              para todas as situações</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                      <div class="profile-quote">
                        <div class="profile-quote__title title title_medium">FinTech Power</div>
                        <div class="profile-quote__text text">Serviço flexível e simples quer para a receção de
                          pagamentos de empresas, quer para pagamentos a funcionários em qualquer ponto do mundo</div>
                        <div class="profile-quote__info">
                          <div class="profile-quote__image">
                            <img src="../images/employee5.svg" alt="">
                          </div>
                          <div class="profile-quote__wrapper">
                            <div class="profile-quote__name">Anton</div>
                            <div class="profile-quote__description text">Programador de Jogos, <br>República Checa</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>




        <div class="service-offer service-offer_pushed" style="background-image: url(.././images/service-bg10.jpg)">
          <div class="region">
            <div class="row">
              <div class="col-md-5 col-xs-12 full-width">
                <h2 class="service-offer__title title">A ePayService oferece várias formas de Gerir e Gastar o seu
                  Rendimento árduamente conseguido</h2>
                <div class="service-offer__text text-dark wysiwyg">
                  <p>Na ePayService gerimos facilmente, com eficácia e eficiência, a liquidez da folha de pagamentos da
                    sua empresa através de uma variada gama de produtos e serviços. Podemos ajudar as empresas e os seus
                    funcionários a simplificar os processos de pagamento, obtendo uma gestão de custos eficiente para o
                    rendimento gerado.</p>
                  <p>Faça pagamentos com o ePayService Cartão de débito em qualquer lugar do mundo!</p>
                </div>
                <div class="service-offer__icons ico-block">
                  <div class="ico-block__item">
                    <div class="ico-block__image">
                      <div class="icon icon_bed"></div>
                    </div>
                    <div class="ico-block__text title title_small">Hotéis</div>
                  </div>
                  <div class="ico-block__item">
                    <div class="ico-block__image">
                      <div class="icon icon_food"></div>
                    </div>
                    <div class="ico-block__text title title_small">Restaurantes</div>
                  </div>
                  <div class="ico-block__item">
                    <div class="ico-block__image">
                      <div class="icon icon_tag"></div>
                    </div>
                    <div class="ico-block__text title title_small">Lojas</div>
                  </div>
                  <div class="ico-block__item">
                    <div class="ico-block__image">
                      <div class="icon icon_golf"></div>
                    </div>
                    <div class="ico-block__text title title_small">Entretenimento</div>
                  </div>
                </div>
                <div class="service-offer__text text-dark wysiwyg">
                  <p>Qualquer que seja o local do mundo onde se encontre, sentir-se-á sempre mais seguro ao utilizar o
                    ePayService Cartão de débito do que ao transportar numerário.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="service-offer__cards">
                  <image src="../images/cards-main-page.png" style="max-width: 150%; margin-left: -15%;" />
                </div>
              </div>
            </div>
          </div>
        </div>

        {% include 'pages/index/app-download.njk' %}

        <div class="using using_center">
          <div class="region">
            <h2 class="using__title title">Abra uma Conta Gratuita em apenas Quatro Passos</h2>
            <div class="using__note text">4 Rápidos passos para começar a receber pagamentos</div>
            <ul class="using__list">
              <li class="using__item">
                <div class="using__icon">
                  <div class="icon icon_man"></div>
                </div>
                <div class="using__number"><span>1</span></div>
                <div class="using__text">Preencha o formulário de registo em Online.ePayServices</div>
              </li>
              <li class="using__item">
                <div class="using__icon">
                  <div class="icon icon_profile-check"></div>
                </div>
                <div class="using__number"><span>2</span></div>
                <div class="using__text">Percorra o rápido processo de ativação da Carteira ePayService</div>
              </li>
              <li class="using__item">
                <div class="using__icon">
                  <div class="icon icon_hands"></div>
                </div>
                <div class="using__number"><span>3</span></div>
                <div class="using__text">Forneça os detalhes da sua Carteira ePayService ao seu empregador e comece a
                  receber pagamentos</div>
              </li>
              <li class="using__item">
                <div class="using__icon">
                  <div class="icon icon_cards-switch"></div>
                </div>
                <div class="using__number"><span>4</span></div>
                <div class="using__text">Utilize o ePayService Cartão de débito para levantamentos na moeda que melhor
                  se adequar a si</div>
              </li>
            </ul>
            <div class="using__button">
              <a class="button button_big" href="https://online.epayservices.com/register">Abrir Uma Conta Gratuita</a>
            </div>
          </div>
        </div>

      </main>
    </div>

    {% include 'footer.njk' %}

  </div>




  <script src="../js/jquery-2.2.0.min.js"></script>
  <script src="../js/jquery.placeholder.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/sticky-kit.js"></script>
  <script src="../js/calc.js"></script>
  <!--<script src="js/jquery.sliderTabs.min.js"></script>-->
  <!--<script>-->
  <!--var slider = $("#main-tabs").sliderTabs({-->
  <!--mousewheel: false,-->
  <!--tabArrows: false,-->
  <!--tabSlideSpeed: 400,-->
  <!--transition: 'fade',-->
  <!--panelArrows: true,-->
  <!--panelArrowsShowOnHover: true,-->
  <!--tabHeight: 270-->
  <!--});-->
  <!--</script>-->
  <script src="../js/app.b6f525f1.js"></script>
  <script>
    window.intercomSettings = {
      app_id: "wz9x11as"
    };
  </script>
  <script>
    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/wz9x11as'
    (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/wz9x11as'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();
  </script>

  <script src="https://online.epayservices.com/affiliate_program/landing_page/remember_affiliate_script.js"></script>
</body>

</html>
