.attach-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.attach-link__text {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 22px;
    font-weight: 300;
    color: #00B4D5;
    margin-right: 10px;
}

.attach-link:hover .attach-link__text {
    color: #374D6B;
}

.attach-link__icon {
    background: url(../images/ico-clip.svg) no-repeat;
    width: 18px;
    height: 18px;
    background-size: 100% 100%;
    margin-right: 10px;
}

.attach-link__note {

}