.cards {
    width: 368px;
    height: 260px;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.cards__item {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 173px;
}

.cards__item_top {
    top: 0;
    right: 0;
    background-image: url(../images/blue-card.png);
    width: 273px;
}

.cards__item_bottom {
    bottom: 0;
    left: 0;
    background-image: url(../images/red-card.png);
    width: 279px;
    height: 176px;
}

@media (max-width: 399px) {
    .cards {height: 170px;width: 300px;top: 40px;}
    .cards__item {height: 110px;}
    .cards__item_top {width: 173px;}
    .cards__item_bottom {width: 174px;left: auto;right: 80px;}
}