.title {
    letter-spacing: 2px;
    color: #374D6B;
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
}

.title_medium {
    font-size: 23px;
    line-height: 34px;
    letter-spacing: 1px;
}

.title_small {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.title_light {
    color: #fff;
}

.title_blue {
    color: #00B4D5;
}


@media (max-width: 1099px) {
    .title {font-size: 30px;line-height: 40px;}
    .title_medium {font-size: 23px;line-height: 34px;}
    .title_small {font-size: 12px;line-height: 14px;}
}
@media (max-width: 767px) {
    .title {font-size: 26px;line-height: 32px;}
    .title_medium {font-size: 23px;line-height: 34px;}
    .title_small {font-size: 12px;line-height: 14px;}
}