---
permalink: "{{ locale }}/{{ page.fileSlug }}.html"
---

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../css/style.css?v=210327072022">
  <title>Финансовый сервис для профессионалов | ePayService</title>
  <meta name="description"
    content="Online и мобильный банкинг для управления вашими средства на электронном кошельке ePayService." />
  <meta name="keywords"
    content="международные банковские платежи, денежные переводы в локальных валютах, обналичивание чеков из банков США, электронные платежи, платежные карты, виртуальные карты, переводы на банковские карты, расчеты с фрилансерами, выплаты от партнерских программ, чеки google adsense, платежи от upwork, ach от amazon" />
</head>

<body>


  <div class="strut">

    <div class="strut__row">

      <header class="header">
        <div class="header__top header__top_sticky">
          <div class="region">
            <div class="top">
              <div class="top__main">
                <div class="top__burger burger">
                  <div class="burger__handler"></div>
                  <div class="burger__body"></div>
                </div>
                <div class="top__logo">
                  <a class="logo" href="index.html"></a>
                </div>
                <nav class="top__nav nav">
                  <a class="nav__link nav__link_active nav__link_more" href="#"
                    data-inner="inner-nav"><span>Услуги</span></a>
                  <div class="sub-menu">
                    <a class="sub-menu__link" href="managing-account.html">Управление счетом</a>
                    <a class="sub-menu__link" href="bank-transfers.html">Банковские переводы</a>
                    <a class="sub-menu__link" href="personal-iban.html">Персональный IBAN</a>
                    <a class="sub-menu__link" href="personal-us-account.html">Персональный US счет</a>
                    <a class="sub-menu__link" href="prepaid-cards.html">Банковские карты</a>
                    <a class="sub-menu__link" href="affiliate-payouts.html">Выплаты партнерских программ</a>
                    <a class="sub-menu__link" href="payout-service.html">Зарплатный проект</a>
                    <a class="sub-menu__link" href="virtual-cards.html">Виртуальные карты</a>
                    <a class="sub-menu__link" href="local-payments.html">Локальные переводы</a>
                    <a class="sub-menu__link" href="send-money-to-card.html">Денежные переводы на карты</a>
                    <a class="sub-menu__link" href="cash-remittance.html">Выплаты наличными</a>
                  </div>
                  <a class="nav__link" href="fees.html">Тарифы</a>
                  <a class="nav__link" href="contact-us.html">Обратная связь</a>
                  <a class="nav__link" target="_blank" href="http://faq.epayservices.com/ru/">FAQ</a>

                </nav>
                <a class="top__profile" href="https://online.epayservices.com/"></a>
                <div class="top__sign-in">
                  <a class="button" href="https://online.epayservices.com/register">Регистрация</a>
                  <a class="button button_border" href="https://online.epayservices.com/">Войти</a>
                </div>
              </div>
              <div class="top__actions">
                <div class="top__buttons">
                  <a class="button" href="https://online.epayservices.com/register">Регистрация</a>
                  <a class="button button_border" href="https://online.epayservices.com/">Войти</a>
                </div>
                <div class="top__language lang-select drop">
                  <div class="lang-select__toggle drop__handler">
                    <div class="lang-select__image">
                      <img src="../images/ru.png" alt="">
                    </div>
                    <div class="lang-select__title">RU</div>
                  </div>
                  <div class="lang-select__list drop__down">
                    <a class="lang-select__item" href="../en/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag.svg" alt="">
                      </div>
                      <div class="lang-select__title">English (US)</div>
                    </a>
                    <a class="lang-select__item" href="../uk/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-uk.svg" alt="">
                      </div>
                      <div class="lang-select__title">English</div>
                    </a>
                    <a class="lang-select__item" href="../es/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-es.png" alt="">
                      </div>
                      <div class="lang-select__title">Español</div>
                    </a>
                    <a class="lang-select__item" href="../co/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-co.png" alt="">
                      </div>
                      <div class="lang-select__title">Español (Colombia)</div>
                    </a>
                    <a class="lang-select__item" href="../pt/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pt.svg" alt="">
                      </div>
                      <div class="lang-select__title">Português</div>
                    </a>
                    <a class="lang-select__item" href="../ro/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ro.svg" alt="">
                      </div>
                      <div class="lang-select__title">Română</div>
                    </a>
                    <a class="lang-select__item" href="../ms/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ms.svg" alt="">
                      </div>
                      <div class="lang-select__title">Melayu</div>
                    </a>
                    <a class="lang-select__item" href="../vn/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-vn.svg" alt="">
                      </div>
                      <div class="lang-select__title">Tiếng Việt</div>
                    </a>
                    <a class="lang-select__item" href="../ar/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ar.png" alt="">
                      </div>
                      <div class="lang-select__title">عربى</div>
                    </a>
                    <a class="lang-select__item" href="../pl/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pl.svg" alt="">
                      </div>
                      <div class="lang-select__title">Język polski</div>
                    </a>
                    <a class="lang-select__item" href="../zh/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-zh.svg" alt="">
                      </div>
                      <div class="lang-select__title">汉语</div>
                    </a>
                    <a class="lang-select__item" href="../de/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-de.svg" alt="">
                      </div>
                      <div class="lang-select__title">Deutsch</div>
                    </a>
                    <a class="lang-select__item" href="../fr/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-fr.svg" alt="">
                      </div>
                      <div class="lang-select__title">Français</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="inner-nav" id="inner-nav">
            <div class="region">
              <div class="inner-nav__list">
                <a class="inner-nav__item" href="managing-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_safe"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Управление счетом</div>
                </a>
                <a class="inner-nav__item" href="bank-transfers.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_house2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Денежные переводы</div>
                </a>
                <a class="inner-nav__item" href="personal-iban.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_stars-big2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Персональный IBAN</div>
                </a>
                <a class="inner-nav__item" href="personal-us-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_money-rotate2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Персональный US счет</div>
                </a>
                <a class="inner-nav__item" href="prepaid-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_cards2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Банковские карты</div>
                </a>
                <a class="inner-nav__item" href="affiliate-payouts.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_crowd2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Выплаты партнерских программ</div>
                </a>
                <a class="inner-nav__item" href="payout-service.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hands2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Зарплатный проект</div>
                </a>
                <a class="inner-nav__item" href="virtual-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_virtual-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Виртуальные карты</div>
                </a>
                <a class="inner-nav__item" href="local-payments.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_local-pay"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Локальные переводы</div>
                </a>
                <a class="inner-nav__item" href="send-money-to-card.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_save-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Денежные переводы на карты</div>
                </a>
                <a class="inner-nav__item" href="cash-remittance.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hand-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Выплаты наличными</div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </header>

    </div>

    <div class="strut__row strut__row_expanded">
      <main class="body body_long body_narrow">

        <div class="special-solution special-solution_dark" style="background-image: url(.././images/account-bg.jpg)">
          <div class="region">
            <h1 class="special-solution__title title">Система ePayService работает в окне любого браузера,<br> на любом
              современном устройстве</h1>
            <div class="special-solution__text text-dark"></div>
          </div>
        </div>

        <div class="region">
          <div class="row row-eq-height">
            <div class="col-md-9 col-xs-12 full-width">
              <div class="body__content body__content_small">
                <div class="solutions__block">
                  <h2 class="solutions__title title">Будущее в мире интернет финансов</h2>
                  <div class="solutions__text text-dark">Для комфортного управления вашим новым электронным кошельком,
                    из любой точки земного шара, мы создали уникальный инструмент – расчетную систему <a
                      class="using__link" href="https://online.epayservices.com/register">Online.ePayServices</a>.
                    Удобный интерфейс и современные технологии задают новый стандарт в мире финансовых сервисов и
                    платежных систем. Управлять личными средствами и средствами вашего бизнеса еще никогда не было так
                    просто!</div>
                  <div class="solutions__image">
                    <img src="../images/solution-img5.png" alt="">
                  </div>
                </div>
                <div class="solutions__block">
                  <h2 class="solutions__title title">Возможности для вас и вашего бизнеса</h2>
                  <ul class="solutions__list">
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_house"></div>
                      </div>
                      <div class="solutions__note text-dark">Международные банковские платежи</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_check-earth"></div>
                      </div>
                      <div class="solutions__note text-dark">Денежные переводы в локальных валютах</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_check-pen2"></div>
                      </div>
                      <div class="solutions__note text-dark">Процессинг банковских чеков</div>
                    </li>
                  </ul>
                  <ul class="solutions__list">
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_logo-tag"></div>
                      </div>
                      <div class="solutions__note text-dark">Мгновенные расчеты внутри системы</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_moon"></div>
                      </div>
                      <div class="solutions__note text-dark">Электронные платежи без границ</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_cards-switch"></div>
                      </div>
                      <div class="solutions__note text-dark">Платежные карты ePayService</div>
                    </li>
                  </ul>
                </div>

                <div class="solutions__block">
                  <h2 class="solutions__title title">Безопасность ваших финансов</h2>
                  <div class="solutions__text text-dark">Расчетная система <a class="using__link"
                      href="https://online.epayservices.com/">Online.ePayServices</a> разработана по высшим стандартам
                    современного банковского программного обеспечения. Все данные хранятся в зашифрованном виде, а
                    архитектура сети построена в соответствии с требованиями PCI DSS. Доступ к вашему личному кабинету
                    обеспечивается методом двухфакторной аутентификации (2FA).</div>
                  <div class="solutions__image">
                    <img src="../images/solution-img2.svg" alt="">
                  </div>
                </div>

                <div class="using">
                  <div class="row">
                    <div class="col-md-10 col-xs-12">
                      <h2 class="using__title title">Начните прямо сейчас</h2>
                      <div class="using__text text-dark">Получить новый кошелек и карту ePayService проще, чем дойти до
                        ближайшего к вам банка </div>
                      <div class="using__switch tabs">
                        <div class="tabs__head">
                          <button class="tabs__tag tabs__tag_current using__tab" type="button">Как открыть кошелек в
                            ePayService?</button>
                        </div>
                        <div class="tabs__body">
                          <div class="tabs__section tabs__section_visible">
                            <div class="using__steps">
                              <ul class="using__list">
                                <li class="using__item">
                                  <div class="using__icon">
                                    <div class="icon icon_employee2"></div>
                                  </div>
                                  <div class="using__number"><span>1</span></div>
                                  <div class="using__sub-title title title_small">Заполните форму</div>
                                  <div class="using__text">Для начала вам необходимо пройти процедуру регистрации. Форма
                                    состоит из 11 полей, и на ее заполнение потребуется около 2 минут. Данные для входа
                                    в ваш кошелек поступят на ваш email. </div>
                                </li>
                                <li class="using__item">
                                  <div class="using__icon">
                                    <div class="icon icon_profile-check"></div>
                                  </div>
                                  <div class="using__number"><span>2</span></div>
                                  <div class="using__sub-title title title_small">Пройдите верификацию</div>
                                  <div class="using__text">Для верификации вашего счета потребуется 2 основных
                                    документа, которые удостоверяют вашу личность и подтверждают ваш адрес проживания.
                                  </div>
                                </li>
                                <li class="using__item">
                                  <div class="using__icon">
                                    <div class="icon icon_card-tall"></div>
                                  </div>
                                  <div class="using__number"><span>3</span></div>
                                  <div class="using__sub-title title title_small">Выберите доставку</div>
                                  <div class="using__text">ваша новая карта будет выпущена автоматически и совершенно
                                    БЕСПЛАТНО. Вам необходимо выбрать один из доступных способов доставки и дождаться
                                    получения заветного конверта. </div>
                                </li>
                              </ul>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="col-md-3 hidden-sm">
              <div class="sticky-column-long">
                <div class="body__action steps service" style="margin-bottom: 20px">
                  <div class="service__title title title_medium">Наши услуги</div>
                  <div class="service__list">
                    <a class="service__item service__item_active" href="managing-account.html">Управление счетом</a>
                    <a class="service__item" href="bank-transfers.html">Денежные переводы</a>
                    <a class="service__item" href="personal-iban.html">Персональный IBAN</a>
                    <a class="service__item" href="personal-us-account.html">Персональный US счет</a>
                    <a class="service__item" href="prepaid-cards.html">Банковские карты</a>
                    <a class="service__item" href="payout-service.html">Зарплатные проекты</a>
                    <a class="service__item" href="affiliate-payouts.html">Выплаты партнерских програм</a>
                    <a class="service__item" href="virtual-cards.html">Виртуальные карты</a>
                    <a class="service__item" href="local-payments.html">Локальные переводы</a>
                    <a class="service__item" href="send-money-to-card.html">Денежные переводы на карты</a>
                    <a class="service__item" href="cash-remittance.html">Выплаты наличными</a>
                  </div>
                  <div class="steps__wrapper">
                    <div class="steps__title title title_medium">Окунитесь в прогресс в мире финансовых технологий
                      вместе с ePayService!</div>
                    <div class="steps__button">
                      <a class="button button_big" href="https://online.epayservices.com/register">Регистрация за 2
                        минуты</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </main>

      {% include 'pages/index/app-download.njk' %}
    </div>

    {% include 'footer.njk' %}

  </div>


  <div class="up-arrow"></div>



  <script src="../js/jquery-2.2.0.min.js"></script>
  <script src="../js/jquery.placeholder.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/sticky-kit.js"></script>
  <script src="../js/app.b6f525f1.js"></script>
  <script>
    window.intercomSettings = {
      app_id: "wz9x11as"
    };
  </script>
  <script>
    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/wz9x11as'
    (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/wz9x11as'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();
  </script>

  <script src="https://online.epayservices.com/affiliate_program/landing_page/remember_affiliate_script.js"></script>
</body>

</html>
