---
permalink: "{{ locale }}/{{ page.fileSlug }}.html"
---

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../css/style.css?v=172801072022">
  <title>Банковские карты без границ | ePayService</title>
  <meta name="description"
    content="Платежные карты ePayService - идеальное решение для ваших заработков в интернете, будь то фриланс или выплаты от партнерских сетей." />
  <meta name="keywords"
    content="банковская карта, электронные деньги карты, вывод wmz на карту, webmoney, заработок в интернете с выводом на карту, карта для фриланса, кобрендинг карты решения, prepaid card, карта prepaid" />
</head>

<body>


  <div class="strut">

    <div class="strut__row">

      <header class="header">
        <div class="header__top header__top_sticky">
          <div class="region">
            <div class="top">
              <div class="top__main">
                <div class="top__burger burger">
                  <div class="burger__handler"></div>
                  <div class="burger__body"></div>
                </div>
                <div class="top__logo">
                  <a class="logo" href="index.html"></a>
                </div>
                <nav class="top__nav nav">
                  <a class="nav__link nav__link_active nav__link_more" href="#"
                    data-inner="inner-nav"><span>Услуги</span></a>
                  <div class="sub-menu">
                    <a class="sub-menu__link" href="managing-account.html">Управление счетом</a>
                    <a class="sub-menu__link" href="bank-transfers.html">Банковские переводы</a>
                    <a class="sub-menu__link" href="personal-iban.html">Персональный IBAN</a>
                    <a class="sub-menu__link" href="personal-us-account.html">Персональный US счет</a>
                    <a class="sub-menu__link" href="prepaid-cards.html">Банковские карты</a>
                    <a class="sub-menu__link" href="affiliate-payouts.html">Выплаты партнерских программ</a>
                    <a class="sub-menu__link" href="payout-service.html">Зарплатный проект</a>
                    <a class="sub-menu__link" href="virtual-cards.html">Виртуальные карты</a>
                    <a class="sub-menu__link" href="local-payments.html">Локальные переводы</a>
                    <a class="sub-menu__link" href="send-money-to-card.html">Денежные переводы на карты</a>
                    <a class="sub-menu__link" href="cash-remittance.html">Выплаты наличными</a>
                  </div>
                  <a class="nav__link" href="fees.html">Тарифы</a>
                  <a class="nav__link" href="contact-us.html">Обратная связь</a>
                  <a class="nav__link" target="_blank" href="http://faq.epayservices.com/ru/">FAQ</a>

                </nav>
                <a class="top__profile" href="https://online.epayservices.com/"></a>
                <div class="top__sign-in">
                  <a class="button" href="https://online.epayservices.com/register">Регистрация</a>
                  <a class="button button_border" href="https://online.epayservices.com/">Войти</a>
                </div>
              </div>
              <div class="top__actions">
                <div class="top__buttons">
                  <a class="button" href="https://online.epayservices.com/register">Регистрация</a>
                  <a class="button button_border" href="https://online.epayservices.com/">Войти</a>
                </div>
                <div class="top__language lang-select drop">
                  <div class="lang-select__toggle drop__handler">
                    <div class="lang-select__image">
                      <img src="../images/ru.png" alt="">
                    </div>
                    <div class="lang-select__title">RU</div>
                  </div>
                  <div class="lang-select__list drop__down">
                    <a class="lang-select__item" href="../en/prepaid-cards.html">
                      <div class="lang-select__image">
                        <img src="../images/flag.svg" alt="">
                      </div>
                      <div class="lang-select__title">English (US)</div>
                    </a>
                    <a class="lang-select__item" href="../uk/prepaid-cards.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-uk.svg" alt="">
                      </div>
                      <div class="lang-select__title">English</div>
                    </a>
                    <a class="lang-select__item" href="../es/prepaid-cards.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-es.png" alt="">
                      </div>
                      <div class="lang-select__title">Español</div>
                    </a>
                    <a class="lang-select__item" href="../co/prepaid-cards.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-co.png" alt="">
                      </div>
                      <div class="lang-select__title">Español (Colombia)</div>
                    </a>
                    <a class="lang-select__item" href="../pt/prepaid-cards.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pt.svg" alt="">
                      </div>
                      <div class="lang-select__title">Português</div>
                    </a>
                    <a class="lang-select__item" href="../ro/prepaid-cards.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ro.svg" alt="">
                      </div>
                      <div class="lang-select__title">Română</div>
                    </a>
                    <a class="lang-select__item" href="../ms/prepaid-cards.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ms.svg" alt="">
                      </div>
                      <div class="lang-select__title">Melayu</div>
                    </a>
                    <a class="lang-select__item" href="../vn/prepaid-cards.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-vn.svg" alt="">
                      </div>
                      <div class="lang-select__title">Tiếng Việt</div>
                    </a>
                    <a class="lang-select__item" href="../ar/prepaid-cards.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ar.png" alt="">
                      </div>
                      <div class="lang-select__title">عربى</div>
                    </a>
                    <a class="lang-select__item" href="../pl/prepaid-cards.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pl.svg" alt="">
                      </div>
                      <div class="lang-select__title">Język polski</div>
                    </a>
                    <a class="lang-select__item" href="../de/prepaid-cards.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-de.svg" alt="">
                      </div>
                      <div class="lang-select__title">Deutsch</div>
                    </a>
                    <a class="lang-select__item" href="../fr/prepaid-cards.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-fr.svg" alt="">
                      </div>
                      <div class="lang-select__title">Français</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="inner-nav" id="inner-nav">
            <div class="region">
              <div class="inner-nav__list">
                <a class="inner-nav__item" href="managing-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_safe"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Управление счетом</div>
                </a>
                <a class="inner-nav__item" href="bank-transfers.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_house2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Денежные переводы</div>
                </a>
                <a class="inner-nav__item" href="personal-iban.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_stars-big2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Персональный IBAN</div>
                </a>
                <a class="inner-nav__item" href="personal-us-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_money-rotate2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Персональный US счет</div>
                </a>
                <a class="inner-nav__item" href="prepaid-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_cards2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Банковские карты</div>
                </a>
                <a class="inner-nav__item" href="affiliate-payouts.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_crowd2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Выплаты партнерских программ</div>
                </a>
                <a class="inner-nav__item" href="payout-service.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hands2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Зарплатный проект</div>
                </a>
                <a class="inner-nav__item" href="virtual-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_virtual-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Виртуальные карты</div>
                </a>
                <a class="inner-nav__item" href="local-payments.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_local-pay"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Локальные переводы</div>
                </a>
                <a class="inner-nav__item" href="send-money-to-card.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_save-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Денежные переводы на карты</div>
                </a>
                <a class="inner-nav__item" href="cash-remittance.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hand-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Выплаты наличными</div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </header>

    </div>

    <div class="strut__row strut__row_expanded">

      <div class="special-solution special-solution_dark" style="background-image: url(.././images/service-bg8.jpg)">
        <div class="region">
          <h1 class="special-solution__title title">Платежные карты ePayService для вашего бизнеса и ваших сотрудников
          </h1>
        </div>
        <div class="special-solution__image">
          <img src="../images/phone-card.png" alt="">
        </div>
      </div>

      <main class="body body_long">
        <div class="region">
          <div class="row">
            <div class="col-md-9 col-xs-12 full-width">
              <div class="body__content body__content_small solutions">
                <div class="solutions__block">
                  <h2 class="solutions__title title">Инновационный финансовый сервис</h2>
                  <div class="solutions__text text-dark">Платежные карты ePayService предоставляют вам невроятную
                    гибкость и неограниченные возможности в контроле ваших средств и платежей. Если вы работаете
                    удаленно и не привязанны к офису, если вы любите путешествовать и имеете уникальную возможность
                    вести бизнес из любой точки земного шара – карты ePayService идеально подойдут для решения ваших
                    повседневных задач.
                  </div>
                  <div class="solutions__sub-title title title_medium">Никакой магии – только опыт и мастерство</div>
                  <div class="solutions__text text-dark">Более 7 лет мы предоставляем нашим клиентам высочайший сервис
                    по самым конкурентным ценам.</div>
                </div>
                <ul class="solutions__bubbles">
                  <li class="solutions__feature">
                    <div class="bubble-feature">
                      <div class="bubble-feature__icon bubble-icon">
                        <div class="bubble-icon__image icon icon_circles"></div>
                      </div>
                      <div class="bubble-feature__info">
                        <div class="bubble-feature__title title title_medium">Бесплатно!</div>
                        <div class="bubble-feature__text text-dark">Переводы между пользователями ePayService без
                          комиссий</div>
                      </div>
                    </div>
                  </li>
                  <li class="solutions__feature">
                    <div class="bubble-feature">
                      <div class="bubble-feature__icon bubble-icon">
                        <div class="bubble-icon__image icon icon_terminal-pen"></div>
                      </div>
                      <div class="bubble-feature__info">
                        <div class="bubble-feature__title title title_medium">Бесплатно!</div>
                        <div class="bubble-feature__text text-dark">Комиссия на оплату покупок и услуг в интернет и
                          офлайн(POS)</div>
                      </div>
                    </div>
                  </li>
                  <li class="solutions__feature">
                    <div class="bubble-feature">
                      <div class="bubble-feature__icon bubble-icon">
                        <div class="bubble-icon__image icon icon_house"></div>
                      </div>
                      <div class="bubble-feature__info">
                        <div class="bubble-feature__title title title_medium">1%, min $25.00</div>
                        <div class="bubble-feature__text text-dark">Входящий банковский платеж на ваш кошелек
                          ePayService от ваших партнеров и нанимателей</div>
                      </div>
                    </div>
                  </li>
                  <li class="solutions__feature">
                    <div class="bubble-feature">
                      <div class="bubble-feature__icon bubble-icon">
                        <div class="bubble-icon__image icon icon_cards"></div>
                      </div>
                      <div class="bubble-feature__info">
                        <div class="bubble-feature__title title title_medium">До $15,000 лимит на покупки POS</div>
                        <div class="bubble-feature__text text-dark">До $500 лимит на транзакции в ATM</div>
                      </div>
                    </div>
                  </li>
                  <li class="solutions__feature">
                    <div class="bubble-feature">
                      <div class="bubble-feature__icon bubble-icon">
                        <div class="bubble-icon__image icon icon_card-splash"></div>
                      </div>
                      <div class="bubble-feature__info">
                        <div class="bubble-feature__title title title_medium">Бесплатно!</div>
                        <div class="bubble-feature__text text-dark">Перевод средств с вашего кошелька на вашу карту
                          ePayService</div>
                      </div>
                    </div>
                  </li>
                  <li class="solutions__feature">
                    <div class="bubble-feature">
                      <div class="bubble-feature__icon bubble-icon">
                        <div class="bubble-icon__image icon icon_card-atm"></div>
                      </div>
                      <div class="bubble-feature__info">
                        <div class="bubble-feature__title title title_medium">Всего €1.99</div>
                        <div class="bubble-feature__text text-dark">За транзакцию снятия через банкоматы по всему миру
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 hidden-sm">
              <div class="sticky-column-long">
                <div class="body__action steps service">
                  <div class="service__title title title_medium">Наши услуги</div>
                  <div class="service__list">
                    <a class="service__item" href="managing-account.html">Управление счетом</a>
                    <a class="service__item" href="bank-transfers.html">Денежные переводы</a>
                    <a class="service__item" href="personal-iban.html">Персональный IBAN</a>
                    <a class="service__item" href="personal-us-account.html">Персональный US счет</a>
                    <a class="service__item  service__item_active" href="prepaid-cards.html">Банковские карты</a>
                    <a class="service__item" href="payout-service.html">Зарплатные проекты</a>
                    <a class="service__item" href="affiliate-payouts.html">Выплаты партнерских програм</a>
                    <a class="service__item" href="virtual-cards.html">Виртуальные карты</a>
                    <a class="service__item" href="local-payments.html">Локальные переводы</a>
                    <a class="service__item" href="send-money-to-card.html">Денежные переводы на карты</a>
                    <a class="service__item" href="cash-remittance.html">Выплаты наличными</a>
                  </div>
                  <div class="steps__wrapper">
                    <div class="steps__title title title_medium">ePayService Mastercard® – уникальное предложение на
                      рынке платежных сервисов</div>
                    <div class="steps__button">
                      <a class="button button_big" href="https://online.epayservices.com/register">Регистрация за 2
                        минуты</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="service-offer">
          <div class="region">
            <div class="row">
              <div class="col-md-5 col-xs-12 full-width">
                <h2 class="service-offer__title title">С ePayService получать и тратить, заработанные через интернет
                  средства, стало еще проще </h2>
                <div class="service-offer__text text-dark wysiwyg">
                  <p>Если вы знаете, как зарабатывать в Интернете, то вам не нужно объяснять, что эту сферу выбирают
                    люди, ценящие свободу. Благодаря карте ePayService онлайн финансы больше не являются исключением.
                  </p>
                  <p>Живите там, где вам хочется, работайте так, как вам удобно, путешествуя по миру – пользуйтесь
                    ePayService.</p>
                </div>
                <div class="service-offer__icons ico-block">
                  <div class="ico-block__item">
                    <div class="ico-block__image">
                      <div class="icon icon_bed"></div>
                    </div>
                    <div class="ico-block__text title title_small">Отели</div>
                  </div>
                  <div class="ico-block__item">
                    <div class="ico-block__image">
                      <div class="icon icon_food"></div>
                    </div>
                    <div class="ico-block__text title title_small">Рестораны</div>
                  </div>
                  <div class="ico-block__item">
                    <div class="ico-block__image">
                      <div class="icon icon_tag"></div>
                    </div>
                    <div class="ico-block__text title title_small">Магазины</div>
                  </div>
                  <div class="ico-block__item">
                    <div class="ico-block__image">
                      <div class="icon icon_golf"></div>
                    </div>
                    <div class="ico-block__text title title_small">Развлечения</div>
                  </div>
                </div>
                <div class="service-offer__text text-dark wysiwyg">
                  <p>В любой точке мира карта ePayService ваш незаменимый и надежный спутник.</p>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="region">
          <div class="row">
            <div class="col-md-8 col-xs-12">

              <div class="benefits">
                <h2 class="benefits__title title">Идеально для покупок в сети и офлайн магазинах</h2>
                <ul class="benefits__list">
                  <li class="benefits__item">
                    <div class="benefits__bubble bubble-icon">
                      <div class="bubble-icon__image icon icon_cart"></div>
                    </div>
                    <div class="benefits__text text-dark">Нулевые комиссии при покупках в валюте карты</div>
                  </li>
                  <li class="benefits__item">
                    <div class="benefits__bubble bubble-icon">
                      <div class="bubble-icon__image icon icon_card-hand"></div>
                    </div>
                    <div class="benefits__text text-dark">Карты доступны в двух основных валютах EUR и USD</div>
                  </li>
                  <li class="benefits__item">
                    <div class="benefits__bubble bubble-icon">
                      <div class="bubble-icon__image icon icon_chip"></div>
                    </div>
                    <div class="benefits__text text-dark">Надежная защита посредством бесконтактной карты и вашего PIN
                      кода</div>
                  </li>
                </ul>
              </div>

              <div class="service-info" style="display: none">
                <h2 class="service-info__title title">Неоспоримые преимущества</h2>
                <ul class="service-info__list">
                  <li class="service-info__row">
                    <div class="service-info__text text-dark">Лимит на покупки и транзакции через ATM</div>
                    <div class="service-info__number text-dark">до €8,500.00</div>
                  </li>
                  <li class="service-info__row">
                    <div class="service-info__text text-dark">Срок действия карты</div>
                    <div class="service-info__number text-dark">2 года</div>
                  </li>
                  <li class="service-info__row">
                    <div class="service-info__text text-dark">Выпуск карты ePayService Mastercard®</div>
                    <div class="service-info__number text-dark">БЕСПЛАТНО</div>
                  </li>
                  <li class="service-info__row">
                    <div class="service-info__text text-dark">Активация карты ePayService Mastercard®</div>
                    <div class="service-info__number text-dark">БЕСПЛАТНО</div>
                  </li>
                  <li class="service-info__row">
                    <div class="service-info__text text-dark">Комиссия на оплату покупок и услуг в интернет и
                      офлайн(POS)</div>
                    <div class="service-info__number text-dark">БЕСПЛАТНО</div>
                  </li>
                  <li class="service-info__row">
                    <div class="service-info__text text-dark">Абонентская плата за обслуживание</div>
                    <div class="service-info__number text-dark">€1.99</div>
                  </li>
                  <li class="service-info__row">
                    <div class="service-info__text text-dark">Пополнение карты с вашего кошелька в ePayService</div>
                    <div class="service-info__number text-dark">БЕСПЛАТНО</div>
                  </li>
                  <li class="service-info__row">
                    <div class="service-info__text text-dark">Комиссия за транзакцию снятия через ATM</div>
                    <div class="service-info__number text-dark">€1.99</div>
                  </li>
                  <li class="service-info__row">
                    <div class="service-info__text text-dark">Проверка баланса карты через ATM любого банка</div>
                    <div class="service-info__number text-dark">€0.50</div>
                  </li>
                </ul>
              </div>

              <ul class="features">
                <li class="features__item">
                  <div class="features__info">
                    <div class="features__title title">Заботливая техническая поддержка</div>
                    <div class="features__text text-dark">На трех языках (русский, английский, испанский) 24/7 всегда
                      рядом, в вашем ноутбуке, смартфоне и по телефону.</div>
                  </div>
                  <div class="features__icon bubble-icon">
                    <div class="bubble-icon__image icon icon_employee"></div>
                  </div>
                </li>
                <li class="features__item">
                  <div class="features__info">
                    <div class="features__title title">Платежи по всему миру – легко и просто!</div>
                    <div class="features__text text-dark">Прямые платежи в ePayService, платежи в систему WebMoney,
                      банковские переводы – ваши финансы всегда под рукой.</div>
                  </div>
                  <div class="features__icon bubble-icon">
                    <div class="bubble-icon__image icon icon_hands"></div>
                  </div>
                </li>
                <li class="features__item">
                  <div class="features__info">
                    <div class="features__title title">Международная сеть банкоматов</div>
                    <div class="features__text text-dark">Банкоматы всего мира доступны для обслуживания вашей карты
                      ePayService – пользуйтесь картой там, где есть необходимость</div>
                  </div>
                  <div class="features__icon bubble-icon">
                    <div class="bubble-icon__image icon icon_atm"></div>
                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>

        <div class="mobile-bank">
          <div class="region">
            <div class="row">
              <div class="col-md-8 col-xs-12">
                <h2 class="mobile-bank__title title">Настоящая мобильность</h2>
                <div class="mobile-bank__text">Управляйте своим кошельком в ePayService<br /> с вашего любимого
                  устройства</div>
                <div class="row">
                  <div class="col-sm-6 col-xs-9">
                    <div class="mobile-bank__app app">
                      <div class="app__logo"></div>
                      <div class="app__info">
                        <div class="app__title">ePayService ®</div>
                        <div class="app__text">Приложение для iOS в <a
                            href="https://itunes.apple.com/ru/app/epayservice/id526678355?l=en&mt=8">Apple App
                            Store</a>, <a href="https://play.google.com/store/apps/details?id=com.epayservice">Google
                            Play</a></div>
                      </div>
                    </div>
                    <div class="mobile-bank__download">
                      <a class="mobile-bank__icon icon icon_app-store"
                        href="https://itunes.apple.com/ru/app/epayservice/id526678355?l=en&mt=8"></a>
                      <a class="mobile-bank__icon icon icon_google-play"
                        href="https://play.google.com/store/apps/details?id=com.epayservice"></a>
                    </div>
                    <div class="mobile-bank__manage">
                      <div class="mobile-bank__text">Вся мощь расчетной системы <a class="using__link"
                          href="https://online.epayservices.com/">Online.ePayServices</a> в ваших руках</div>
                      <div class="mobile-bank__note">В реальном времени вся функциональность настольной версии на вашем
                        мобильном устройстве</div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xs-3">
                    <div class="mobile-bank__image">
                      <img src="../images/phone.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="region">
          <div class="using">
            <div class="row">
              <div class="col-md-8 col-xs-12">
                <h2 class="using__title title">Получить карту ePayService проще, чем дойти до ближайшего к вам банка
                </h2>
                <div class="using__switch tabs">
                  <div class="tabs__head">
                    <button class="tabs__tag tabs__tag_current using__tab" type="button">Как заказать</button>
                    <button class="tabs__tag using__tab" type="button">Как активировать</button>
                  </div>
                  <div class="tabs__body">
                    <div class="tabs__section tabs__section_visible">
                      <div class="using__steps">
                        <ul class="using__list">
                          <li class="using__item">
                            <div class="using__icon">
                              <div class="icon icon_employee2"></div>
                            </div>
                            <div class="using__number"><span>1</span></div>
                            <div class="using__sub-title title title_small">Заполните форму</div>
                            <div class="using__text">Для заказа карты и начала работы с платежной системой ePayService
                              необходимо подать заявку на открытие счета. Форма состоит из 11 полей, и на ее заполнение
                              потребуется около 2 минут. </div>
                          </li>
                          <li class="using__item">
                            <div class="using__icon">
                              <div class="icon icon_profile-check"></div>
                            </div>
                            <div class="using__number"><span>2</span></div>
                            <div class="using__sub-title title title_small">Верифицируйте счет</div>
                            <div class="using__text">Простая, но важная процедура верификации займет не больше 2 рабочих
                              дней. Вся мощь платежной системы ePayService станет доступна сразу после активации.</div>
                          </li>
                          <li class="using__item">
                            <div class="using__icon">
                              <div class="icon icon_card-tall"></div>
                            </div>
                            <div class="using__number"><span>3</span></div>
                            <div class="using__sub-title title title_small">Выберите доставку</div>
                            <div class="using__text">Ваша именная карта ePayService будет выпущена автоматически и
                              совершенно БЕСПЛАТНО. Вам необходимо выбрать один из доступных способов доставки и
                              дождаться получения заветного конверта. </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="tabs__section">
                      <div class="using__steps">
                        <ul class="using__list">
                          <li class="using__item">
                            <div class="using__icon">
                              <div class="icon icon_step1"></div>
                            </div>
                            <div class="using__number"><span>1</span></div>
                            <div class="using__sub-title title title_small">Войдите в систему</div>
                            <div class="using__text">Авторизуйтесь в своей учетной записи в ePayService через
                              web-браузер или мобильное приложение. Перейдите в раздел настроек Вашей карты (для
                              web-браузера) или нажмите на кнопку баланса Вашей карты (для мобильного приложения).
                            </div>
                          </li>
                          <li class="using__item">
                            <div class="using__icon">
                              <div class="icon icon_step2"></div>
                            </div>
                            <div class="using__number"><span>2</span></div>
                            <div class="using__sub-title title title_small">Активируйте карту</div>
                            <div class="using__text">Внесите в указанные поля необходимую информацию с Вашей карты:
                              номер карты и срок годности. Нажмите на кнопку "Активировать". Сразу после активации
                              PIN-код будет отправлен на ваш email или мобильный телефон.</div>
                          </li>
                          <li class="using__item">
                            <div class="using__icon">
                              <div class="icon icon_step3"></div>
                            </div>
                            <div class="using__number"><span>3</span></div>
                            <div class="using__sub-title title title_small">Пополните карту</div>
                            <div class="using__text">Поздравляем! Ваша карта активна и готова к использованию. Пополните
                              её через через web-браузер или мобильное приложение и пользуйтесь в свое удовольствие.
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </main>
    </div>

    {% include 'footer.njk' %}

  </div>


  <div class="up-arrow"></div>



  <script src="../js/jquery-2.2.0.min.js"></script>
  <script src="../js/jquery.placeholder.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/sticky-kit.js"></script>
  <script src="../js/app.b6f525f1.js"></script>
  <script>
    window.intercomSettings = {
      app_id: "wz9x11as"
    };
  </script>
  <script>
    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/wz9x11as'
    (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/wz9x11as'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();
  </script>

  <script src="https://online.epayservices.com/affiliate_program/landing_page/remember_affiliate_script.js"></script>
</body>

</html>
