---
permalink: "{{ locale }}/{{ page.fileSlug }}.html"
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../css/dropkick.css">
  <link rel="stylesheet" href="../css/local_payments.css">
  <link rel="stylesheet" href="../css/style.css?v=180101072022">
  <title>ePayService - Personal IBAN</title>
</head>

<body>


  <div class="strut">

    <div class="strut__row">

      <header class="header">
        <div class="header__top header__top_sticky">
          <div class="region">
            <div class="top">
              <div class="top__main">
                <div class="top__burger burger">
                  <div class="burger__handler"></div>
                  <div class="burger__body"></div>
                </div>
                <div class="top__logo">
                  <a class="logo" href="index.html"></a>
                </div>
                <nav class="top__nav nav">
                  <!--<a class="nav__link" href="-about.html">About Us</a>-->
                  <a class="nav__link nav__link_active nav__link_more" href="#"
                    data-inner="inner-nav"><span>Services</span></a>
                  <div class="sub-menu">
                    <a class="sub-menu__link" href="managing-account.html">Account Management</a>
                    <a class="sub-menu__link" href="bank-transfers.html">Bank Transfers</a>
                    <a class="sub-menu__link" href="personal-iban.html">Personal IBAN</a>
                    <a class="sub-menu__link" href="personal-us-account.html">Personal US Account</a>
                    <a class="sub-menu__link" href="prepaid-cards.html">Debit Cards</a>
                    <a class="sub-menu__link" href="affiliate-payouts.html">Affiliate Payouts</a>
                    <a class="sub-menu__link" href="payout-service.html">Payroll Solutions</a>
                    <a class="sub-menu__link" href="virtual-cards.html">Virtual Cards</a>
                    <a class="sub-menu__link" href="local-payments.html">Local payments</a>
                    <a class="sub-menu__link" href="send-money-to-card.html">Send money to card</a>
                    <a class="sub-menu__link" href="cash-remittance.html">Cash Remittance</a>
                  </div>
                  <a class="nav__link" href="fees.html">Fees</a>
                  <a class="nav__link" href="contact-us.html">Contact Us</a>
                  <a class="nav__link" target="_blank" href="http://faq.epayservices.com">FAQ</a>
                </nav>
                <a class="top__profile" href="https://online.epayservices.com/"></a>
                <div class="top__sign-in">
                  <a class="button" href="https://online.epayservices.com/register">Open A Free Account</a>
                  <a class="button button_border" href="https://online.epayservices.com/">Sign In</a>
                </div>
              </div>
              <div class="top__actions">
                <div class="top__buttons">
                  <a class="button" href="https://online.epayservices.com/register">Open A Free Account</a>
                  <a class="button button_border" href="https://online.epayservices.com/">Sign In</a>
                </div>
                <div class="top__language lang-select drop">
                  <div class="lang-select__toggle drop__handler">
                    <div class="lang-select__image">
                      <img src="../images/flag-uk.svg" alt="">
                    </div>
                    <div class="lang-select__title">UK</div>
                  </div>
                  <div class="lang-select__list drop__down">
                    <a class="lang-select__item" href="../en/personal-iban.html">
                      <div class="lang-select__image">
                        <img src="../images/flag.svg" alt="">
                      </div>
                      <div class="lang-select__title">English (US)</div>
                    </a>
                    <a class="lang-select__item" href="../ru/personal-iban.html">
                      <div class="lang-select__image">
                        <img src="../images/ru.png" alt="">
                      </div>
                      <div class="lang-select__title">Русский</div>
                    </a>
                    <a class="lang-select__item" href="../es/personal-iban.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-es.png" alt="">
                      </div>
                      <div class="lang-select__title">Español</div>
                    </a>
                    <a class="lang-select__item" href="../co/personal-iban.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-co.png" alt="">
                      </div>
                      <div class="lang-select__title">Español (Colombia)</div>
                    </a>
                    <a class="lang-select__item" href="../pt/personal-iban.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pt.svg" alt="">
                      </div>
                      <div class="lang-select__title">Português</div>
                    </a>
                    <a class="lang-select__item" href="../ro/personal-iban.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ro.svg" alt="">
                      </div>
                      <div class="lang-select__title">Română</div>
                    </a>
                    <!--                                        <a class="lang-select__item" href="../ms/personal-iban.html">-->
                    <!--                                            <div class="lang-select__image">-->
                    <!--                                                <img src="../images/flag-ms.svg" alt="">-->
                    <!--                                            </div>-->
                    <!--                                            <div class="lang-select__title">Melayu</div>-->
                    <!--                                        </a>-->
                    <!--                                        <a class="lang-select__item" href="../vn/personal-iban.html">-->
                    <!--                                            <div class="lang-select__image">-->
                    <!--                                                <img src="../images/flag-vn.svg" alt="">-->
                    <!--                                            </div>-->
                    <!--                                            <div class="lang-select__title">Tiếng Việt</div>-->
                    <!--                                        </a>-->
                    <!--                                        <a class="lang-select__item" href="../ar/personal-iban.html">-->
                    <!--                                            <div class="lang-select__image">-->
                    <!--                                                <img src="../images/flag-ar.png" alt="">-->
                    <!--                                            </div>-->
                    <!--                                            <div class="lang-select__title">عربى</div>-->
                    <!--                                        </a>-->
                    <!--                                        <a class="lang-select__item" href="../pl/personal-iban.html">-->
                    <!--                                            <div class="lang-select__image">-->
                    <!--                                                <img src="../images/flag-pl.svg" alt="">-->
                    <!--                                            </div>-->
                    <!--                                            <div class="lang-select__title">Język polski</div>-->
                    <!--                                        </a>-->
                    <!--                                        <a class="lang-select__item" href="../zh/personal-iban.html">-->
                    <!--                                            <div class="lang-select__image">-->
                    <!--                                                <img src="../images/flag-zh.svg" alt="">-->
                    <!--                                            </div>-->
                    <!--                                            <div class="lang-select__title">汉语</div>-->
                    <!--                                        </a>-->
                    <a class="lang-select__item" href="../de/personal-iban.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-de.svg" alt="">
                      </div>
                      <div class="lang-select__title">Deutsch</div>
                    </a>
                    <a class="lang-select__item" href="../fr/personal-iban.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-fr.svg" alt="">
                      </div>
                      <div class="lang-select__title">Français</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="inner-nav" id="inner-nav">
            <div class="region">
              <div class="inner-nav__list">
                <a class="inner-nav__item" href="managing-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_safe"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Account Management</div>
                </a>
                <a class="inner-nav__item" href="bank-transfers.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_house2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Bank Transfers</div>
                </a>
                <a class="inner-nav__item" href="personal-iban.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_stars-big2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Personal IBAN</div>
                </a>
                <a class="inner-nav__item" href="personal-us-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_money-rotate2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Personal US Account</div>
                </a>
                <a class="inner-nav__item" href="prepaid-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_cards2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Debit Cards</div>
                </a>
                <a class="inner-nav__item" href="affiliate-payouts.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_crowd2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Affiliate Payouts</div>
                </a>
                <a class="inner-nav__item" href="payout-service.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hands2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Payroll Solutions</div>
                </a>
                <a class="inner-nav__item" href="virtual-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_virtual-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Virtual Cards</div>
                </a>
                <a class="inner-nav__item" href="local-payments.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_local-pay"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Local payments</div>
                </a>
                <a class="inner-nav__item" href="send-money-to-card.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_save-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Send money to card</div>
                </a>
                <a class="inner-nav__item" href="cash-remittance.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hand-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Cash Remittance</div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </header>

    </div>

    <div class="strut__row strut__row_expanded">
      <main class="body body_long">

        <div class="special-solution special-solution_dark"
          style="background-image: url(.././images/slider-img15.jpg?v=1)">
          <div class="region">
            <h1 class="special-solution__title title">European bank accounts for everyone!</h1>
          </div>
        </div>

        <div class="region">
          <div class="row row-eq-height">
            <div class="col-md-9 col-xs-12 full-width">
              <div class="body__content body__content_small">
                <div class="solutions__block">
                  <h2 class="solutions__title title">Personal IBAN for SEPA transfers</h2>
                  <div class="solutions__text text-dark">IBAN - account number in the international format for receiving
                    and sending payments in EUR between 36 member countries of the Single Euro Payments Area (SEPA).
                    With this new ePayService option you get a complete intra-Eurozone payment solution for yourself and
                    your business.</div>
                  <ul class="solutions__list">
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_staff"></div>
                      </div>
                      <div class="solutions__wrapper">
                        <div class="solutions__note text text-dark">IBAN to yourself or your company</div>
                      </div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_pay-per-click"></div>
                      </div>
                      <div class="solutions__wrapper">
                        <div class="solutions__note text text-dark">Low service charge for SEPA transfers</div>
                      </div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_anytime"></div>
                      </div>
                      <div class="solutions__wrapper">
                        <div class="solutions__note text text-dark">SEPA transfers are usually credited within 1 working
                          day</div>
                      </div>
                    </li>
                  </ul>
                  <div class="solutions__quote title title_medium">SPECIAL OFFER: Until 29.12.2022 sending and receiving
                    SEPA transfers through IBAN is free of charge for ePayService customers.* <br><span
                      class="text-dark">(* - this offer is not applied to all customers. Contact Support team to check
                      your service charge for SEPA)</span></div>
                </div>
                <div class="solutions__block">
                  <h2 class="solutions__title title">Personal IBAN benefits are:</h2>
                  <div class="solutions__steps">
                    <div class="row">
                      <div class="col-sm-7">
                        <div class="solutions__sub-title title title_medium">The sender and the receiver is yourself or
                          your company</div>
                        <div class="solutions__text text-dark">Just a few details are needed to create a SEPA payment:
                          the payer only needs to know your IBAN and the BIC of our service</div>
                        <div class="solutions__sub-title title title_medium">Short time to receive SEPA. No
                          correspondent banks</div>
                        <div class="solutions__text text-dark">SEPA transfers are made with no correspondent banks or
                          other intermediaries, which ensures the payment will arrive fast, with no additional charges.
                        </div>
                        <div class="solutions__sub-title title title_medium">A number of IBAN accounts</div>
                        <div class="solutions__text text-dark">You can get several IBANs in one account, for personal
                          and business needs.</div>
                      </div>
                      <div class="col-sm-5">
                        <div class="solutions__image">
                          <img src="../images/iban-img.svg?v=1" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="using">
                  <h2 class="using__title title">Save you time with ePayService!</h2>
                  <div class="using__note text">Get your IBAN in 3 easy steps</div>
                  <ul class="using__list">
                    <li class="using__item">
                      <div class="using__icon">
                        <div class="icon icon_man"></div>
                      </div>
                      <div class="using__number"><span>1</span></div>
                      <div class="using__text">Sign up: open a personal or s business account fast and easy</div>
                    </li>
                    <li class="using__item">
                      <div class="using__icon">
                        <div class="icon icon_profile-check"></div>
                      </div>
                      <div class="using__number"><span>2</span></div>
                      <div class="using__text">Get your details for SEPA transfers</div>
                    </li>
                    <li class="using__item">
                      <div class="using__icon">
                        <div class="icon icon_hands"></div>
                      </div>
                      <div class="using__number"><span>3</span></div>
                      <div class="using__text">Make a transfer. In most SEPA countries the funds are applied same day
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-3 hidden-sm">
              <div class="sticky-column-long">
                <div class="body__action steps service">
                  <div class="service__title title title_medium">Services</div>
                  <div class="service__list">
                    <a class="service__item" href="managing-account.html">Account Management</a>
                    <a class="service__item" href="bank-transfers.html">Bank Transfers</a>
                    <a class="service__item service__item_active" href="personal-iban.html">Personal IBAN</a>
                    <a class="service__item" href="personal-us-account.html">Personal US Account</a>
                    <a class="service__item" href="prepaid-cards.html">Debit Cards</a>
                    <a class="service__item" href="payout-service.html">Payroll Solutions</a>
                    <a class="service__item" href="affiliate-payouts.html">Affiliate Payouts</a>
                    <a class="service__item" href="virtual-cards.html">Virtual Cards</a>
                    <a class="service__item" href="local-payments.html">Local Payments</a>
                    <a class="service__item" href="send-money-to-card.html">Send money to card</a>
                    <a class="service__item" href="cash-remittance.html">Cash Remittance</a>
                  </div>
                  <div class="steps__wrapper">
                    <div class="steps__title title title_medium">Enjoy the innovative finance technology brought to you
                      by ePayService!</div>
                    <div class="steps__button">
                      <a class="button button_big" href="https://online.epayservices.com/register">Open An Account in 2
                        Min</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </main>
    </div>

    {% include 'footer.njk' %}

  </div>


  <div class="up-arrow"></div>

  <script src="../js/jquery-2.2.0.min.js"></script>
  <script src="../js/jquery.placeholder.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/sticky-kit.js"></script>
  <script src="../js/dropkick.min.js"></script>
  <script src="../js/app.b6f525f1.js"></script>

  <script>
    window.intercomSettings = {
      app_id: "wz9x11as"
    };
  </script>
  <script>
    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/wz9x11as'
    (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/wz9x11as'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();
  </script>
  <script src="https://online.epayservices.com/affiliate_program/landing_page/remember_affiliate_script.js"></script>
</body>

</html>
