

<ul class="checks__info">
  <li class="checks__row">
    <div class="row">
      <div class="col-xs-4">
        <div class="title title_medium">United Arab Emirates</div>
        <div class="text-dark text-dark_small">United Arab Emirates Dirham (AED)</div>
      </div>
      <div class="col-xs-2">
        <div class="title title_medium">$20</div>
      </div>

      <div class="col-xs-4">
        <div class="title title_medium">Brazil</div>
        <div class="text-dark text-dark_small">Brazilian Real (BRL)</div>
      </div>
      <div class="col-xs-2">
        <div class="title title_medium">$20</div>
      </div>
    </div>
  </li>

  <li class="checks__row">
    <div class="row">
      <div class="col-xs-4">
        <div class="title title_medium">Colombia</div>
        <div class="text-dark text-dark_small">Colombian Peso (COP)</div>
      </div>
      <div class="col-xs-2">
        <div class="title title_medium">$20</div>
      </div>

      <div class="col-xs-4">
        <div class="title title_medium">India</div>
        <div class="text-dark text-dark_small">Indian Rupee (INR)</div>
      </div>
      <div class="col-xs-2">
        <div class="title title_medium">$20</div>
      </div>
    </div>
  </li>

  <li class="checks__row">
    <div class="row">
      <div class="col-xs-4">
        <div class="title title_medium">Hong Kong</div>
        <div class="text-dark text-dark_small">Hong Kong Dollar (HKD)</div>
      </div>
      <div class="col-xs-2">
        <div class="title title_medium">$20</div>
      </div>

      <div class="col-xs-4">
        <div class="title title_medium">Philippines</div>
        <div class="text-dark text-dark_small">Philippine Peso (PHP)</div>
      </div>
      <div class="col-xs-2">
        <div class="title title_medium">$20</div>
      </div>
    </div>
  </li>

  <li class="checks__row">
    <div class="row">
      <div class="col-xs-4">
        <div class="title title_medium">Thailand</div>
        <div class="text-dark text-dark_small">Thai Baht (THB)</div>
      </div>
      <div class="col-xs-2">
        <div class="title title_medium">$20</div>
      </div>

      <div class="col-xs-4">
        <div class="title title_medium">Viet Nam</div>
        <div class="text-dark text-dark_small">Vietnamese Dong (VND)</div>
      </div>
      <div class="col-xs-2">
        <div class="title title_medium">$20</div>
      </div>
    </div>
  </li>
</ul>
