---
permalink: "{{ locale }}/{{ page.fileSlug }}.html"
---

<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../css/style-rtl.css?v=180704072022">
  <title>ePayService - بنك التحويلات</title>
</head>

<body>


  <div class="strut">

    <div class="strut__row">

      <header class="header">
        <div class="header__top header__top_sticky">
          <div class="region">
            <div class="top">
              <div class="top__main">
                <div class="top__burger burger">
                  <div class="burger__handler"></div>
                  <div class="burger__body"></div>
                </div>
                <div class="top__logo">
                  <a class="logo" href="index.html"></a>
                </div>
                <nav class="top__nav nav">
                  <!--<a class="nav__link" href="-about.html">About Us</a>-->
                  <a class="nav__link nav__link_more" href="#" data-inner="inner-nav"><span>الخدمات</span></a>
                  <div class="sub-menu">
                    <a class="sub-menu__link" href="managing-account.html">إدارة الحساب</a>
                    <a class="sub-menu__link" href="bank-transfers.html">تحويل الأموال</a>
                    <a class="sub-menu__link" href="prepaid-cards.html">البطاقات مسبقة الدفع</a>
                    <a class="sub-menu__link" href="affiliate-payouts.html">دفع الأرباح للشركات المدمجة أو المؤسسات
                      الفرعية</a>
                    <a class="sub-menu__link" href="payout-service.html">دفع الرواتب</a>
                    <a class="sub-menu__link" href="virtual-cards.html">بطاقات افتراضية</a>
                    <a class="sub-menu__link" href="local-payments.html">التحويل المصرفي المحلي</a>
                    <a class="sub-menu__link" href="send-money-to-card.html">التحويلات إلى بطاقات</a>
                    <a class="sub-menu__link" href="cash-remittance.html">دفع نقدًا </a>
                  </div>
                  <a class="nav__link" href="fees.html">الرسوم</a>
                  <a class="nav__link" href="contact-us.html">إتصل بنا</a>
                  <a class="nav__link" target="_blank" href="http://faq.epayservices.com">FAQ</a>
                </nav>
                <a class="top__profile" href="#"></a>
                <div class="top__sign-in">
                  <a class="button" href="https://online.epayservices.com/register">قم بفتح حساب مجانى</a>
                  <a class="button button_border" href="https://online.epayservices.com/">تسجيل الدخول</a>
                </div>
              </div>
              <div class="top__actions">
                <div class="top__buttons">
                  <a class="button" href="https://online.epayservices.com/register">قم بفتح حساب مجانى</a>
                  <a class="button button_border" href="https://online.epayservices.com/">تسجيل الدخول</a>
                </div>
                <div class="top__language lang-select drop" dir="ltr" style="text-align: right;">
                  <div class="lang-select__toggle drop__handler">
                    <div class="lang-select__image">
                      <img src="../images/flag-ar.png" alt="">
                    </div>
                    <div class="lang-select__title">AR</div>
                  </div>
                  <div class="lang-select__list drop__down">
                    <a class="lang-select__item" href="../en/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag.svg" alt="">
                      </div>
                      <div class="lang-select__title">English (US)</div>
                    </a>
                    <a class="lang-select__item" href="../uk/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-uk.svg" alt="">
                      </div>
                      <div class="lang-select__title">English</div>
                    </a>
                    <a class="lang-select__item" href="../ru/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/ru.png" alt="">
                      </div>
                      <div class="lang-select__title">Русский</div>
                    </a>
                    <a class="lang-select__item" href="../es/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-es.png" alt="">
                      </div>
                      <div class="lang-select__title">Español</div>
                    </a>
                    <a class="lang-select__item" href="../co/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-co.png" alt="">
                      </div>
                      <div class="lang-select__title">Español (Colombia)</div>
                    </a>
                    <a class="lang-select__item" href="../pt/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pt.svg" alt="">
                      </div>
                      <div class="lang-select__title">Português</div>
                    </a>
                    <a class="lang-select__item" href="../ro/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ro.svg" alt="">
                      </div>
                      <div class="lang-select__title">Română</div>
                    </a>
                    <a class="lang-select__item" href="../ms/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ms.svg" alt="">
                      </div>
                      <div class="lang-select__title">Melayu</div>
                    </a>
                    <a class="lang-select__item" href="../vn/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-vn.svg" alt="">
                      </div>
                      <div class="lang-select__title">Tiếng Việt</div>
                    </a>
                    <a class="lang-select__item" href="../pl/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pl.svg" alt="">
                      </div>
                      <div class="lang-select__title">Język polski</div>
                    </a>
                    <a class="lang-select__item" href="../zh/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-zh.svg" alt="">
                      </div>
                      <div class="lang-select__title">汉语</div>
                    </a>
                    <a class="lang-select__item" href="../de/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-de.svg" alt="">
                      </div>
                      <div class="lang-select__title">Deutsch</div>
                    </a>
                    <a class="lang-select__item" href="../fr/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-fr.svg" alt="">
                      </div>
                      <div class="lang-select__title">Français</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="inner-nav" id="inner-nav">
            <div class="region">
              <div class="inner-nav__list">
                <a class="inner-nav__item" href="managing-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_safe"></div>
                  </div>
                  <div class="inner-nav__title title title_small">إدارة الحساب</div>
                </a>
                <a class="inner-nav__item" href="bank-transfers.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_house2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">تحويل الأموال</div>
                </a>
                <a class="inner-nav__item" href="prepaid-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_cards2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">البطاقات مسبقة الدفع</div>
                </a>
                <a class="inner-nav__item" href="affiliate-payouts.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_crowd2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">دفع الأرباح للشركات المدمجة أو المؤسسات الفرعية</div>
                </a>
                <a class="inner-nav__item" href="payout-service.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hands2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">دفع الرواتب</div>
                </a>
                <a class="inner-nav__item" href="virtual-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_virtual-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">بطاقات افتراضية</div>
                </a>
                <a class="inner-nav__item" href="local-payments.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_local-pay"></div>
                  </div>
                  <div class="inner-nav__title title title_small">التحويل المصرفي المحلي</div>
                </a>
                <a class="inner-nav__item" href="send-money-to-card.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_save-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">التحويلات إلى بطاقات</div>
                </a>
                <a class="inner-nav__item" href="cash-remittance.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hand-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">دفع نقدًا </div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </header>

    </div>

    <div class="strut__row strut__row_expanded">
      <main class="body body_long body_narrow">

        <div class="special-solution special-solution_dark"
          style="background-image: url(.././images/wiretransfer-bgl.jpg)">
          <div class="region">
            <h1 class="special-solution__title title">مفتاح التواصل بينك و بين شركائك فى جميع أنحاء العالم</h1>
            <div class="special-solution__text text-dark"></div>
          </div>
        </div>

        <div class="region">
          <div class="row row-eq-height">
            <div class="col-md-9 col-xs-12 full-width">
              <div class="body__content body__content_small">
                <div class="solutions__block">
                  <h2 class="solutions__title title">تحويل الأموال من أمريكا وحتى أسيا</h2>
                  <div class="solutions__text text-dark">بحكم كونك أحد اللاعبين فى السوق العالمى وعلى إحتكاك متواصل
                    بالشركات القائمة فى الولايات المتحدة أو أوروبا أو أسيا، فإنك على دراية تامة بأن التحويلات البنكية هى
                    الطريقة المفضلة للسداد. سواءاً أكنت عامل حر متخصص فى تطوير البرامج أو فى التسويق عبر الإنترنت، ففى
                    الغالب سوف يطلب منك رب العمل تفاصيل حسابك البنكى ليدفع لك مقابل عملك. وهنا يأتى دور ePayService
                    لخدمتك وخدمة أعمالك. </div>
                  <div class="solutions__image">
                    <img src="../images/solution-img7.svg" alt="">
                  </div>
                </div>
                <div class="solutions__block">
                  <h2 class="solutions__title title">التحويلات داخل الولايات المتحدة</h2>
                  <div class="solutions__text text-dark">تُعد التحويلات بواسطة التحويل الإلكتروني أو الأيداع المباشر هما
                    الوسيلتان الأكثر شيوعاً فى التحويلات البنكية داخل الولايات المتحدة، حيث يتوافر مميزات عديدة و هي
                    السرعة و العمولة المعقولة. ومع ذلك، فما يعيب تلك الطرق هى النطاق الجغرافى المحدود، حيث يتطلب أن تكون
                    الحسابات البنكية لكلا الطرفين داخل الولايات المتحدة فقط، وكنتيجة لذلك، تفقد تلك الطرق أهميتها فى
                    حالة التحويلات الدولية. أما ePayService فيتيح لك ميزة تلقى أموالك عن طريق التحويل الإلكتروني.</div>
                  <ul class="solutions__list">
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_time-management"></div>
                      </div>
                      <div class="solutions__note text-dark">تخليص الأموال خلال يومين</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_office"></div>
                      </div>
                      <div class="solutions__note text-dark">مدفوعات من الشركات الكبرى فى الولايات المتحدة</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_branch-office"></div>
                      </div>
                      <div class="solutions__note text-dark">تغطية علي نطاق واسع حتي تشمل 50 ولاية بالولايات المتحدة
                        الأمريكية</div>
                    </li>
                  </ul>

                </div>
                <div class="solutions__block">
                  <h3 class="solutions__sub-title title title_medium">عرض سوق فريد من نوعه</h3>
                  <div class="checks__sub-title">رسوم الإيداع المباشر & التحويل الإلكتروني</div>
                  <ul class="checks__info">
                    <li class="checks__row">
                      <div class="row">
                        <div class="col-xs-6">
                          <div class="title title_medium">USD</div>
                          <div class="text-dark text-dark_small">على التحويلات الواردة لمحفظة ePayService الخاصة بك
                          </div>
                        </div>
                        <div class="col-xs-6">
                          <div class="title title_medium">2% + 20 USD</div>
                        </div>
                      </div>
                    </li>
                    <li class="checks__row">
                      <div class="row">
                        <div class="col-xs-6">
                          <div class="title title_medium">USD</div>
                          <div class="text-dark text-dark_small"> على التحويلات الصادرة لأي حساب بنكي في الولايات
                            المتحدة الأمريكية.</div>
                        </div>
                        <div class="col-xs-6">
                          <div class="title title_medium">0.5% + 25 USD</div>
                        </div>
                      </div>
                    </li>

                  </ul>
                </div>
                <div class="solutions__block">
                  <h2 class="solutions__title title">التحويلات النقدية العالمية</h2>
                  <div class="solutions__text text-dark">يُعد التحويل الألكتروني هو الأكثر شيوعاً فى التحويلات الدولية.
                    وحالياً فإن كل شركة تعمل بتكنولوجيا المعلومات أو شركات الأعلانات أو مطورى الألعاب الإلكترونية يسمحوا
                    لك بالسداد عن طريق التحويلات الإلكترونية. ويقوم ePayService بتسهيل تلك الإجراءات البنكية المعقدة.
                  </div>
                  <ul class="solutions__list">
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_currency"></div>
                      </div>
                      <div class="solutions__note text-dark">التحويلات النقدية بالدولار الأمريكى واليورو وعملات أخرى
                      </div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_check-earth"></div>
                      </div>
                      <div class="solutions__note text-dark">المدفوعات الواردة من الشركات فى جميع أنحاء العالم</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_stars-big"></div>
                      </div>
                      <div class="solutions__note text-dark">يتم تخليص المدفوعات الواردة دول الإتحاد الأوروبي بعملة
                        اليورو في خلال يومين</div>
                    </li>
                  </ul>

                </div>
                <div class="checks__tabs tabs">
                  <div class="tabs__head using__switch">
                    <button class="tabs__tag tabs__tag_current using__tab" type="button"
                      style="direction: ltr">SEPA</button>
                    <button class="tabs__tag using__tab" type="button" style="direction: ltr">Wire Transfer
                      (SWIFT)</button>
                  </div>
                  <div class="tabs__body">
                    <div class="tabs__section tabs__section_visible">
                      <ul class="checks__info">
                        <li class="checks__row">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="title title_medium">EUR فقط</div>
                              <div class="text-dark text-dark_small">على التحويلات الواردة لمحفظة ePayService الخاصة بك
                              </div>
                            </div>
                            <div class="col-xs-6">
                              <div class="title title_medium">1%, min €25</div>
                            </div>
                          </div>
                        </li>
                        <li class="checks__row">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="title title_medium">EUR فقط</div>
                              <div class="text-dark text-dark_small">التحويلات الصادرة إلى حسابك البنكى الشخصى </div>
                            </div>
                            <div class="col-xs-6">
                              <div class="title title_medium">€30</div>
                            </div>
                          </div>
                        </li>
                        <li class="checks__row">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="title title_medium">فقط EUR</div>
                              <div class="text-dark text-dark_small">التحويلات الصادرة إلى الحسابات البنكية الخاصة
                                بالشركات الكبري أو</div>
                            </div>
                            <div class="col-xs-6">
                              <div class="title title_medium">0.5% + €40</div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="tabs__section">
                      <ul class="checks__info">
                        <li class="checks__row">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="title title_medium">USD</div>
                              <div class="text-dark text-dark_small">على التحويلات الواردة لمحفظة ePayService الخاصة بك
                              </div>
                            </div>
                            <div class="col-xs-6">
                              <div class="title title_medium">3% + 50 USD</div>
                            </div>
                          </div>
                        </li>
                        <!--<li class="checks__row">-->
                        <!--<div class="row">-->
                        <!--<div class="col-xs-6">-->
                        <!--<div class="title title_medium">USD</div>-->
                        <!--<div class="text-dark text-dark_small">التحويلات الصادرة إلى حسابك البنكى الشخصى</div>-->
                        <!--</div>-->
                        <!--<div class="col-xs-6">-->
                        <!--<div class="title title_medium">$45</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</li>-->
                        <!--<li class="checks__row">-->
                        <!--<div class="row">-->
                        <!--<div class="col-xs-6">-->
                        <!--<div class="title title_medium">USD</div>-->
                        <!--<div class="text-dark text-dark_small">التحويلات الصادرة إلى الحسابات البنكية الخاصة بالشركات الكبري أو</div>-->
                        <!--</div>-->
                        <!--<div class="col-xs-6">-->
                        <!--<div class="title title_medium">0.5% + $55</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</li>-->
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="solutions__block">
                  <h2 class="solutions__title title">التحويلات بالعملات المحلية</h2>
                  <div class="solutions__text text-dark">يتميز ePayService بإستخدام شبكة واسعة من الشركاء المصرفيين مما
                    يتيح لك إجراء التحويلات بالعملة المحلية بكل سرعة وسهولة. لقد أصبح بإمكانك تجنب روتين البنوك القاتل،
                    وتوفير وقتك ومالك.</div>
                  <ul class="solutions__list">
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_invest-ideas"></div>
                      </div>
                      <div class="solutions__note text-dark">مدفوعات بخمسين عملة محلية مختلفة</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_first-place"></div>
                      </div>
                      <div class="solutions__note text-dark">تحويلات سريعة خلال يوم عمل واحد</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_interaction"></div>
                      </div>
                      <div class="solutions__note text-dark">القيام بتحويلات متعددة فى نفس الوقت</div>
                    </li>
                  </ul> <br><br>

                </div>


              </div>
            </div>



            <div class="col-md-3 hidden-sm">
              <div class="sticky-column-long">
                <div class="body__action steps service" style="margin-bottom: 20px">
                  <div class="service__title title title_medium">الخدمات</div>
                  <div class="service__list">
                    <a class="service__item" href="managing-account.html">إدارة الحساب</a>
                    <a class="service__item service__item_active" href="bank-transfers.html">بنك التحويلات</a>
                    <a class="service__item" href="prepaid-cards.html">البطاقات مسبقة الدفع</a>
                    <a class="service__item" href="payout-service.html">حلول الرواتب</a>
                    <a class="service__item" href="affiliate-payouts.html">دفع الأرباح للشركات المدمجة أو المؤسسات
                      الفرعية</a>
                    <a class="service__item" href="virtual-cards.html">بطاقات افتراضية</a>
                    <a class="service__item" href="local-payments.html">التحويل المصرفي المحلي</a>
                    <a class="service__item" href="send-money-to-card.html">التحويلات إلى بطاقات</a>
                    <a class="service__item" href="cash-remittance.html">دفع نقدًا </a>
                  </div>
                  <div class="steps__wrapper">
                    <div class="steps__title title title_medium">إستمتع بالتكنولوجيا المالية المبتكرة التى يقدمها لك
                      ePayService!</div>
                    <div class="steps__button">
                      <a class="button button_big" href="https://online.epayservices.com/register">قم بفتح حساب خلال
                        دقيقتين فقط</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      {% include 'pages/index/app-download.njk' %}

    </div>

    {% include 'footer.njk' %}

  </div>


  <div class="up-arrow"></div>



  <script src="../js/jquery-2.2.0.min.js"></script>
  <script src="../js/jquery.placeholder.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/sticky-kit.js"></script>
  <script src="../js/app-rtl.e9bec416.js"></script>
  <script>
    window.intercomSettings = {
      app_id: "wz9x11as"
    };
  </script>
  <script>
    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/wz9x11as'
    (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/wz9x11as'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();
  </script>

  <script src="https://online.epayservices.com/affiliate_program/landing_page/remember_affiliate_script.js"></script>

</body>

</html>
