---
permalink: "{{ locale }}/{{ page.fileSlug }}.html"
---

<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../css/style-rtl.css?v=153726072022">
  <title>ePayService - الرسوم</title>
</head>

<body class="page-sticky">


  <div class="strut">

    <div class="strut__row">

      <header class="header">
        <div class="header__top header__top_sticky">
          <div class="region">
            <div class="top">
              <div class="top__main">
                <div class="top__burger burger">
                  <div class="burger__handler"></div>
                  <div class="burger__body"></div>
                </div>
                <div class="top__logo">
                  <a class="logo" href="index.html"></a>
                </div>
                <nav class="top__nav nav">
                  <!--<a class="nav__link" href="-about.html">About Us</a>-->
                  <a class="nav__link nav__link_more" href="#" data-inner="inner-nav"><span>الخدمات</span></a>
                  <div class="sub-menu">
                    <a class="sub-menu__link" href="managing-account.html">إدارة الحساب</a>
                    <a class="sub-menu__link" href="bank-transfers.html">تحويل الأموال</a>
                    <a class="sub-menu__link" href="prepaid-cards.html">البطاقات مسبقة الدفع</a>
                    <a class="sub-menu__link" href="affiliate-payouts.html">دفع الأرباح للشركات المدمجة أو المؤسسات
                      الفرعية</a>
                    <a class="sub-menu__link" href="payout-service.html">دفع الرواتب</a>
                    <a class="sub-menu__link" href="virtual-cards.html">بطاقات افتراضية</a>
                    <a class="sub-menu__link" href="local-payments.html">التحويل المصرفي المحلي</a>
                    <a class="sub-menu__link" href="send-money-to-card.html">التحويلات إلى بطاقات</a>
                    <a class="sub-menu__link" href="cash-remittance.html">دفع نقدًا </a>
                  </div>
                  <a class="nav__link" href="fees.html">الرسوم</a>
                  <a class="nav__link" href="contact-us.html">إتصل بنا</a>
                  <a class="nav__link" target="_blank" href="http://faq.epayservices.com">FAQ</a>
                </nav>
                <a class="top__profile" href="#"></a>
                <div class="top__sign-in">
                  <a class="button" href="https://online.epayservices.com/register">قم بفتح حساب مجانى</a>
                  <a class="button button_border" href="https://online.epayservices.com/">تسجيل الدخول</a>
                </div>
              </div>
              <div class="top__actions">
                <div class="top__buttons">
                  <a class="button" href="https://online.epayservices.com/register">قم بفتح حساب مجانى</a>
                  <a class="button button_border" href="https://online.epayservices.com/">تسجيل الدخول</a>
                </div>
                <div class="top__language lang-select drop" dir="ltr" style="text-align: right;">
                  <div class="lang-select__toggle drop__handler">
                    <div class="lang-select__image">
                      <img src="../images/flag-ar.png" alt="">
                    </div>
                    <div class="lang-select__title">AR</div>
                  </div>
                  <div class="lang-select__list drop__down">
                    <a class="lang-select__item" href="../en/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag.svg" alt="">
                      </div>
                      <div class="lang-select__title">English (US)</div>
                    </a>
                    <a class="lang-select__item" href="../uk/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-uk.svg" alt="">
                      </div>
                      <div class="lang-select__title">English</div>
                    </a>
                    <a class="lang-select__item" href="../ru/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/ru.png" alt="">
                      </div>
                      <div class="lang-select__title">Русский</div>
                    </a>
                    <a class="lang-select__item" href="../es/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-es.png" alt="">
                      </div>
                      <div class="lang-select__title">Español</div>
                    </a>
                    <a class="lang-select__item" href="../co/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-co.png" alt="">
                      </div>
                      <div class="lang-select__title">Español (Colombia)</div>
                    </a>
                    <a class="lang-select__item" href="../pt/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pt.svg" alt="">
                      </div>
                      <div class="lang-select__title">Português</div>
                    </a>
                    <a class="lang-select__item" href="../ro/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ro.svg" alt="">
                      </div>
                      <div class="lang-select__title">Română</div>
                    </a>
                    <a class="lang-select__item" href="../ms/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ms.svg" alt="">
                      </div>
                      <div class="lang-select__title">Melayu</div>
                    </a>
                    <a class="lang-select__item" href="../vn/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-vn.svg" alt="">
                      </div>
                      <div class="lang-select__title">Tiếng Việt</div>
                    </a>
                    <a class="lang-select__item" href="../pl/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pl.svg" alt="">
                      </div>
                      <div class="lang-select__title">Język polski</div>
                    </a>
                    <a class="lang-select__item" href="../zh/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-zh.svg" alt="">
                      </div>
                      <div class="lang-select__title">汉语</div>
                    </a>
                    <a class="lang-select__item" href="../de/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-de.svg" alt="">
                      </div>
                      <div class="lang-select__title">Deutsch</div>
                    </a>
                    <a class="lang-select__item" href="../fr/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-fr.svg" alt="">
                      </div>
                      <div class="lang-select__title">Français</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="inner-nav" id="inner-nav">
            <div class="region">
              <div class="inner-nav__list">
                <a class="inner-nav__item" href="managing-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_safe"></div>
                  </div>
                  <div class="inner-nav__title title title_small">إدارة الحساب</div>
                </a>
                <a class="inner-nav__item" href="bank-transfers.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_house2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">تحويل الأموال</div>
                </a>
                <a class="inner-nav__item" href="prepaid-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_cards2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">البطاقات مسبقة الدفع</div>
                </a>
                <a class="inner-nav__item" href="affiliate-payouts.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_crowd2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">دفع الأرباح للشركات المدمجة أو المؤسسات الفرعية</div>
                </a>
                <a class="inner-nav__item" href="payout-service.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hands2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">دفع الرواتب</div>
                </a>
                <a class="inner-nav__item" href="virtual-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_virtual-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">بطاقات افتراضية</div>
                </a>
                <a class="inner-nav__item" href="local-payments.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_local-pay"></div>
                  </div>
                  <div class="inner-nav__title title title_small">التحويل المصرفي المحلي</div>
                </a>
                <a class="inner-nav__item" href="send-money-to-card.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_save-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">التحويلات إلى بطاقات</div>
                </a>
                <a class="inner-nav__item" href="cash-remittance.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hand-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">دفع نقدًا </div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </header>

    </div>

    <div class="strut__row strut__row_expanded">
      <main class="body region">
        <div class="row row-eq-height">
          <div class="col-md-3 col-xs-4 full-width">

            <div class="sticky-column">
              {% include 'pages/fees/tabSwitch.njk' %}

              <aside class="body__nav side-nav js-first-tab hidden-xs">
                <div class="side-nav__list">
                  <a class="side-nav__item ico-nav swap-item swap-item_active js-scroll" href="#ach-directdeposit">
                    <div class="ico-nav__image">
                      <div class="icon icon_flag-sm"></div>
                    </div>
                    <div class="ico-nav__info">
                      <div class="ico-nav__title text-dark text-dark_small">تحويل الأموال داخل الولايات المتحدة</div>
                      <div class="ico-nav__text text">{{ 'fees.moneyTransfersUS.navText' | i18n }}</div>
                    </div>
                  </a>
                  <a class="side-nav__item ico-nav swap-item js-scroll" href="#wire-transfer">
                    <div class="ico-nav__image">
                      <div class="icon icon_earth-sm"></div>
                    </div>
                    <div class="ico-nav__info">
                      <div class="ico-nav__title text-dark text-dark_small">تحويل أموال عالمى</div>
                      <div class="ico-nav__text text">Wire Transfer</div>
                    </div>
                  </a>
                  <a class="side-nav__item ico-nav swap-item js-scroll" href="#sepa">
                    <div class="ico-nav__image">
                      <div class="icon icon_stars-sm"></div>
                    </div>
                    <div class="ico-nav__info">
                      <div class="ico-nav__title text-dark text-dark_small">تحويل الأموال داخل أوروبا</div>
                      <div class="ico-nav__text text">SEPA</div>
                    </div>
                  </a>
                  <a class="side-nav__item ico-nav swap-item js-scroll" href="#local">
                    <div class="ico-nav__image">
                      <div class="icon icon_local-pay-sm"></div>
                    </div>
                    <div class="ico-nav__info">
                      <div class="ico-nav__title text-dark text-dark_small">التحويل المصرفي المحلي</div>
                      <div class="ico-nav__text text">إيداع البنك المحلي</div>
                    </div>
                  </a>
                  <a class="side-nav__item ico-nav swap-item js-scroll" href="#cheque-processing">
                    <div class="ico-nav__image">
                      <div class="icon icon_check-sm"></div>
                    </div>
                    <div class="ico-nav__info">
                      <div class="ico-nav__title text-dark text-dark_small">بنك التحقق من الولايات المتحدة الأمريكية
                      </div>
                      <div class="ico-nav__text text">معالجة الشيكات</div>
                    </div>
                  </a>
                  <a class="side-nav__item ico-nav swap-item js-scroll" href="#to-card">
                    <div class="ico-nav__image">
                      <div class="icon icon_save-to-card-sm"></div>
                    </div>
                    <div class="ico-nav__info">
                      <div class="ico-nav__title text-dark text-dark_small">التحويلات إلى بطاقات</div>
                      <div class="ico-nav__text text">Mastercard® & VISA®</div>
                    </div>
                  </a>
                  <a class="side-nav__item ico-nav swap-item js-scroll" href="#cash_remittance">
                    <div class="ico-nav__image">
                      <div class="icon icon_calc-sm"></div>
                    </div>
                    <div class="ico-nav__info">
                      <div class="ico-nav__title text-dark text-dark_small">دفع نقدًا</div>
                    </div>
                  </a>
                </div>
              </aside>
              <aside class="body__nav side-nav js-second-tab hidden-xs" style="display: none;">
                {% include 'pages/fees/cardsList.njk' %}

                <div class="side-calc">
                  <form class="ecb-calc" id="ecb-calc">
                    <div class="ecb-calc__title title title_medium">Currency converter</div>
                    <div class="ecb-calc__row">
                      <div class="ecb-calc__label text">Amount and currency of your purchase from ePayService card</div>
                      <div class="ecb-calc__field">
                        <input class="ecb-calc__input ecb-calc__amount" id="ecb-calc-amount" value="1">
                        <select class="ecb-calc__input ecb-calc__currencies" id="ecb-calc-currencies"></select>
                      </div>
                    </div>
                    <div class="ecb-calc__row">
                      <div class="ecb-calc__info">
                        <div class="ecb-calc__text text">Converted amount</div>
                        <div class="ecb-calc__result" id="ecb-calc-result"></div>
                      </div>
                      <div class="ecb-calc__info">
                        <div class="ecb-calc__text text">Rate </div>
                        <div class="text-dark" id="ecb-calc-rate"></div>
                      </div>
                      <div class="ecb-calc__info">
                        <div class="ecb-calc__text text">Total mark-up over ECB </div>
                        <div class="text-dark" id="ecb-calc-markup"></div>
                      </div>
                    </div>
                    <div class="ecb-calc__row">
                      <a href="https://sdw.ecb.europa.eu/curConverter.do" target="_blank">ECB currency converter</a>
                    </div>
                  </form>
                </div>

              </aside>
            </div>
          </div>
          <div class="col-md-6 col-xs-8 full-width">
            <div class="body__content exchange js-first-tab">
              {% include 'pages/fees/achDirectDeposit.njk' %}

              <div class="exchange__item" id="wire-transfer">
                <h1 class="exchange__title title">تحويل أموال عالمي</h1>
                <div class="exchange__link">
                  <a class="link-arr" href="bank-transfers.html">المزيد عن التحويلات البرقية</a>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-6 col-xs-4">
                      <div class="text">اتجاه</div>
                    </div>
                    <div class="col-sm-3 col-xs-4">
                      <div class="text">رسوم</div>
                    </div>
                    <div class="col-sm-3 col-xs-4">
                      <div class="text">االرسوم الدنيا</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-6 col-xs-4">
                      <div class="exchange__direction text-dark text-dark_big"><span>الودائع</span></div>
                      <div class="text">في محفظتك مع ePayService</div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                      <div class="text-dark text-dark_big">3% + 50&nbsp;USD</div>
                    </div>
                  </div>
                </div>

                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-6 col-xs-4">
                      <div class="exchange__direction exchange__direction_down text-dark text-dark_big">
                        <span>السحب</span>
                      </div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                      <div class="text-dark text-dark_big">1% + 40 EUR</div>
                    </div>
                  </div>
                </div>

                <!--<div class="exchange__row exchange__row_incoming">-->
                <!--<div class="exchange__way">تحويل وارد إلى محفظة ePayService  خاصتك</div>-->
                <!--<div class="exchange__numbers row row-eq-height">-->
                <!--<div class="col-xs-6">-->
                <!--<div class="sum">-->
                <!--<div class="sum__number title js-exchange-fee" data-percentage="1" data-fee="0">1%</div>-->
                <!--<div class="sum__note js-exchange-min-fee" data-min-fee="25">Min: 25 <span class="js-currency js-calc-currency">USD</span></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-6">-->
                <!--<div class="sum">-->
                <!--<div class="sum__icon sum__icon_down"></div>-->
                <!--<div class="sum__number title"><span class="js-exchange-result">975</span> <sup class="">USD</sup></div>-->
                <!--<div class="sum__text text"><span class="js-commission"></span>رسوم </div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
              </div>

              <div class="exchange__item" id="sepa">
                <h1 class="exchange__title title">تحويل الأموال باليورو</h1>
                <div class="exchange__link">
                  <a class="link-arr" href="bank-transfers.html">SEPA المزيد عن</a>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-6 col-xs-4">
                      <div class="text">اتجاه</div>
                    </div>
                    <div class="col-sm-3 col-xs-4">
                      <div class="text">رسوم</div>
                    </div>
                    <div class="col-sm-3 col-xs-4">
                      <div class="text">الرسوم الدنيا</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-6 col-xs-4">
                      <div class="exchange__direction text-dark text-dark_big"><span>الودائع</span></div>
                      <div class="text">في محفظتك مع ePayService</div>
                    </div>
                    <div class="col-sm-3 col-xs-4">
                      <div class="text-dark text-dark_big">1%</div>
                    </div>
                    <div class="col-sm-3 col-xs-4">
                      <div class="text-dark text-dark_big">25 EUR</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-6 col-xs-4">
                      <div class="exchange__direction exchange__direction_down text-dark text-dark_big">
                        <span>السحب</span>
                      </div>
                      <div class="text">إلى حسابك المصرفي</div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                      <div class="text-dark text-dark_big">30 EUR</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-6 col-xs-4">
                      <div class="exchange__direction exchange__direction_down text-dark text-dark_big"><span>السحب
                        </span></div>
                      <div class="text">إلى حساب مصرفي بإسم شركة</div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                      <div class="text-dark text-dark_big">0,5 % + 40 EUR</div>
                    </div>
                  </div>
                </div>

                <!--<div class="exchange__row exchange__row_incoming">-->
                <!--<div class="exchange__way">تحويل وارد إلى محفظة ePayService  خاصتك</div>-->
                <!--<div class="exchange__numbers row row-eq-height">-->
                <!--<div class="col-xs-6">-->
                <!--<div class="sum">-->
                <!--<div class="sum__number title js-exchange-fee" data-percentage="1" data-fee="0">1%</div>-->
                <!--<div class="sum__note js-exchange-min-fee" data-min-fee="25">Min: 25 <span class="js-calc-currency">EUR</span></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-6">-->
                <!--<div class="sum">-->
                <!--<div class="sum__icon sum__icon_down"></div>-->
                <!--<div class="sum__number title"><span class="js-exchange-result">975</span> <sup>EUR</sup></div>-->
                <!--<div class="sum__text text"><span class="js-commission"></span>رسوم </div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="exchange__row exchange__row_outcoming">-->
                <!--<div class="exchange__way">تحويل صادر إلى حسابك البنكي الشخصي</div>-->
                <!--<div class="exchange__numbers row row-eq-height">-->
                <!--<div class="col-xs-6">-->
                <!--<div class="sum">-->
                <!--<div class="sum__number title js-exchange-fee" data-percentage="0" data-fee="30">30 <sup class="js-calc-currency">EUR</sup></div>-->
                <!--<div class="sum__note js-exchange-min-fee" data-min-fee="0"> <span></span></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-6">-->
                <!--<div class="sum">-->
                <!--<div class="sum__icon"></div>-->
                <!--<div class="sum__number title"><span class="js-exchange-result">970</span> <sup>EUR</sup></div>-->
                <!--<div class="sum__text text"><span class="js-commission"></span>رسوم </div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="exchange__row exchange__row_outcoming">-->
                <!--<div class="exchange__way">تحويل صادر إلى حساب بنكي مؤسسي</div>-->
                <!--<div class="exchange__numbers row row-eq-height">-->
                <!--<div class="col-xs-6">-->
                <!--<div class="sum">-->
                <!--<div class="sum__number title js-exchange-fee" data-percentage="0.5" data-fee="40">0.5% + 40 <sup class="js-calc-currency">EUR</sup></div>-->
                <!--<div class="sum__note js-exchange-min-fee" data-min-fee="0"> <span></span></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-6">-->
                <!--<div class="sum">-->
                <!--<div class="sum__icon"></div>-->
                <!--<div class="sum__number title"><span class="js-exchange-result">965</span> <sup>EUR</sup></div>-->
                <!--<div class="sum__text text"><span class="js-commission"></span>رسوم </div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div> -->
              </div>

              <div class="exchange__item" id="cheque-processing">
                <h1 class="exchange__title title">معالجة الشيكات في USD</h1>
                <div class="exchange__link">

                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">اتجاه</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">نوع الاختيار</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">رسوم</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="exchange__direction exchange__direction_down text-dark text-dark_big">
                        <span>السحب</span>
                      </div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">الدفع بالشيك (الولايات المتحدة)</div>
                      <div class="text">بالدولار الأمريكي</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">15 USD</div>
                    </div>
                  </div>
                </div>


                <!--<div class="exchange__row exchange__row_incoming">-->
                <!--<div class="exchange__way">الشيكات الصادرة بالدولار الأمريكي بإسمك أو مستحقة السداد لشركتنا</div>-->
                <!--<div class="exchange__numbers row row-eq-height">-->
                <!--<div class="col-xs-6">-->
                <!--<div class="sum">-->
                <!--<div class="sum__number title js-exchange-fee" data-percentage="2.5" data-fee="0">2.5%</div>-->
                <!--<div class="sum__note js-exchange-min-fee" data-min-fee="0"></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-6">-->
                <!--<div class="sum">-->
                <!--<div class="sum__icon sum__icon_down"></div>-->
                <!--<div class="sum__number title"><span class="js-exchange-result">975</span> <sup class="js-currency js-calc-currency">USD</sup></div>-->
                <!--<div class="sum__text text"><span class="js-commission"></span>رسوم </div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="exchange__row exchange__row_outcoming">-->
                <!--<div class="exchange__way">السداد بالشيكات (الولايات المتحدة) بالدولار الأمريكي</div>-->
                <!--<div class="exchange__numbers row row-eq-height">-->
                <!--<div class="col-xs-6">-->
                <!--<div class="sum">-->
                <!--<div class="sum__number title js-exchange-fee" data-percentage="0" data-fee="5">5 <sup class="js-currency js-calc-currency">USD</sup></div>-->
                <!--<div class="sum__note js-exchange-min-fee" data-min-fee="0"></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-6">-->
                <!--<div class="sum">-->
                <!--<div class="sum__icon"></div>-->
                <!--<div class="sum__number title"><span class="js-exchange-result">995</span> <sup class="js-currency">USD</sup></div>-->
                <!--<div class="sum__text text"><span class="js-commission"></span>رسوم </div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
              </div>

              <div class="exchange__item" id="local">
                <div class="exchange__title title">التحويل المصرفي المحلي</div>
                <div class="exchange__row exchange__row_local">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">اتجاه</div>
                    </div>
                    <div class="col-sm-8 col-xs-8">
                      <div class="text">رسوم</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="exchange__direction exchange__direction_down text-dark text-dark_big">
                        <span>السحب</span>
                      </div>
                      <div class="text">إلى حساب مصرفي محلي</div>
                    </div>
                    <div class="col-sm-8 col-xs-8">
                      <div class="text-dark text-dark_big">40 USD</div>
                      <div class="text">على جميع العملات أدناه</div>
                      <div class="row row-eq-height">
                        <div class="col-sm-6">
                          <div class="text-dark text-dark_small">Chinese Yuan Renminbi <span class="text">(CNY)</span>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="text-dark text-dark_small">Vietnamese Dong <span class="text">(VND)</span></div>
                        </div>
                      </div>
                      <div class="exchange__currency exchange__currency_border">
                        <div class="text-dark text-dark_big">20 USD</div>
                        <div class="text">على جميع العملات أدناه</div>
                      </div>
                      <div class="exchange__currency row row-eq-height">
                        <div class="col-sm-6">
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">ARS</div>
                            <div class="text text_tiny">Argentine Peso</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">BRL</div>
                            <div class="text text_tiny">Brazilian Real</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">BGN</div>
                            <div class="text text_tiny">Bulgarian Lev</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">CAD</div>
                            <div class="text text_tiny">Canadian Dollar</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">COP</div>
                            <div class="text text_tiny">Colombian Peso</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">DOP</div>
                            <div class="text text_tiny">Dominican Peso</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">EGP</div>
                            <div class="text text_tiny">Egyptian Pound</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">GTQ</div>
                            <div class="text text_tiny">Guatemalan Quetzal</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">INR</div>
                            <div class="text text_tiny">Indian Rupee</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">IDR</div>
                            <div class="text text_tiny">Indonesian Rupiah</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">JMD</div>
                            <div class="text text_tiny">Jamaican Dollar</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">JPY</div>
                            <div class="text text_tiny">Japanese Yen</div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">KES</div>
                            <div class="text text_tiny">Kenyan Shilling</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">MYR</div>
                            <div class="text text_tiny">Malaysian Ringgit</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">MXN</div>
                            <div class="text text_tiny">Mexican Peso</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">PHP</div>
                            <div class="text text_tiny">Philippine Peso</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">PLN</div>
                            <div class="text text_tiny">Polish Zloty</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">RON</div>
                            <div class="text text_tiny">Romanian New Leu</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">RUB</div>
                            <div class="text text_tiny">Russian Ruble</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">LKR</div>
                            <div class="text text_tiny">Sri Lankan Rupee</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">THB</div>
                            <div class="text text_tiny">Thai Baht</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">GBP</div>
                            <div class="text text_tiny">British Pound</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">VEF</div>
                            <div class="text text_tiny">Venezuelan Bolivar</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="exchange__item" id="to-card">
                <div class="exchange__title title">التحويلات المالية لماستر كارد وفيزا</div>
                <div class="exchange__link">
                  <a class="link-arr" href="send-money-to-card.html">المزيد عن تحويل الأموال إلى Master® و Visa®</a>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">اتجاه</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">نطاق</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">رسوم</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row exchange__row_blank">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="exchange__direction exchange__direction_down text-dark text-dark_big"><span>سحب</span>
                      </div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">تصل إلى 500 EUR</div>
                      <div class="text">نقل إلى ®Visa® / Mastercard</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">1.95 % + 3 EUR</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row ">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4"></div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">من 500 EUR</div>
                      <div class="text">نقل إلى ®Visa® / Mastercard</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">1.95 % + 6 EUR</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row exchange__row_blank">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="exchange__direction exchange__direction_down text-dark text-dark_big"><span>سحب</span>
                      </div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">تصل إلى 500 USD</div>
                      <div class="text">نقل إلى ®Mastercard</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">2.4 % + 3 USD</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row ">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4"></div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">من 500 USD</div>
                      <div class="text">نقل إلى ®Mastercard</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">2.4 % + 6 USD</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="exchange__item" id="cash_remittance">
                <div class="exchange__title title">دفع نقدًا</div>
                <div class="exchange__link">
                  <a class="link-arr" href="cash-remittance.html">المزيد عن إيبايسرفيس التحويلات النقدية</a>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">اتجاه</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">نطاق</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">رسوم</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row exchange__row_blank">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="exchange__direction exchange__direction_down text-dark text-dark_big"><span>سحب</span>
                      </div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">تصل إلى 500 USD</div>
                      <div class="text">دفع نقدًا</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">1 % + 15 USD</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row exchange__row_blank">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4"></div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">من 500 USD</div>
                      <div class="text">دفع نقدًا</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">1 % + 30 USD</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4"></div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">تصل إلى 4500 EUR</div>
                      <div class="text">دفع نقدًا Ukraine</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">2 % + 30 EUR</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="body__content exchange js-second-tab" style="display: none;">
              {% include 'pages/fees/cardsInfo/standart.njk' %}

              <!--<div class="exchange__item" id="prepaid-card-premium">
                <h1 class="exchange__title title">بطاقة ®ePayService Mastercard مسبقة الدفع المميزة</h1>
                <div class="exchange__link">
                  <a class="link-arr" href="prepaid-cards.html">المزيد عن بطاقات ePayService المميزة الدولار</a>
                </div>

                <div class="tabs using__switch">
                  <div class="tabs__head">
                    <button class="tabs__tag tabs__tag_current using__tab" type="button">EUR</button>
                    <button class="tabs__tag using__tab" type="button">USD</button>
                    <button class="tabs__tag using__tab" type="button">GBP</button>
                  </div>
                  <div class="tabs__body tabs__body_line">
                    <div class="tabs__section tabs__section_visible">
                      <ul class="service-info__list">
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">EUR إصدار وتفعيل بطاقة ePayService
                            بطاقة Mastercard® المميزة بالدولار الأمريكي</div>
                          <div class="service-info__number text-dark text-dark_big text-dark_blue">مجاناً</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Monthly Maintenance Fee</div>
                          <div class="service-info__number text-dark text-dark_big">€1.99</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">الحد اليومى الأدنى للإيداع</div>
                          <div class="service-info__number text-dark text-dark_big">€1.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">الحد اليومى الأقصى للإيداع</div>
                          <div class="service-info__number text-dark text-dark_big">€8,500.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">رسوم تحويل العملات (رسوم FX)</div>
                          <div class="service-info__number text-dark text-dark_big">1.99%</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">رسوم السحب من ماكينات الصراف الآلى
                            لكل معاملة</div>
                          <div class="service-info__number text-dark text-dark_big">€1.99</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">عدد مرات الإيداع في اليوم الواحد بحد
                            أقصى</div>
                          <div class="service-info__number text-dark text-dark_big">10</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">الحد الأقصى للرصيد</div>
                          <div class="service-info__number text-dark text-dark_big">€8,500.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">رسوم الاستعلام عن الرصيد من ماكينات
                            الصراف الآلي</div>
                          <div class="service-info__number text-dark text-dark_big">€0.50</div>
                        </li>
                      </ul>
                      <div class="exchange__note note">
                        <div class="note__title text-dark text-dark_big">أختر طريقة التسليم</div>
                        <ul class="service-info__list">
                          <li class="service-info__row">
                            <div class="service-info__text text-dark text-dark_small">البريد العادي</div>
                            <div class="service-info__number text-dark text-dark_big text-dark_blue">مجاناً</div>
                          </li>
                          <li class="service-info__row">
                            <div class="service-info__text text-dark text-dark_small">البريد السريع</div>
                            <div class="service-info__number text-dark text-dark_big">€70</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="tabs__section">
                      <ul class="service-info__list">
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">إصدار وتفعيل بطاقة ePayService بطاقة
                            ®Mastercard المميزة بالدولار الأمريكي</div>
                          <div class="service-info__number text-dark text-dark_big text-dark_blue">مجاناً</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Monthly Maintenance Fee</div>
                          <div class="service-info__number text-dark text-dark_big">$2.40</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">الحد اليومى الأدنى للإيداع</div>
                          <div class="service-info__number text-dark text-dark_big">$1.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">الحد اليومى الأقصى للإيداع</div>
                          <div class="service-info__number text-dark text-dark_big">$10,000.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">رسوم تحويل العملات (رسوم FX)</div>
                          <div class="service-info__number text-dark text-dark_big">2.40%</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">رسوم السحب من ماكينات الصراف الآلى
                            لكل معاملة</div>
                          <div class="service-info__number text-dark text-dark_big">$2.40</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">عدد مرات الإيداع في اليوم الواحد بحد
                            أقصى</div>
                          <div class="service-info__number text-dark text-dark_big">10</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">الحد الأقصى للرصيد</div>
                          <div class="service-info__number text-dark text-dark_big">$10,000.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">رسوم الاستعلام عن الرصيد من ماكينات
                            الصراف الآلي</div>
                          <div class="service-info__number text-dark text-dark_big">$0.50</div>
                        </li>
                      </ul>
                      <div class="exchange__note note">
                        <div class="note__title text-dark text-dark_big">أختر طريقة التسليم</div>
                        <ul class="service-info__list">
                          <li class="service-info__row">
                            <div class="service-info__text text-dark text-dark_small">البريد العادي</div>
                            <div class="service-info__number text-dark text-dark_big text-dark_blue">مجاناً</div>
                          </li>
                          <li class="service-info__row">
                            <div class="service-info__text text-dark text-dark_small">البريد السريع</div>
                            <div class="service-info__number text-dark text-dark_big">$70</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="tabs__section">
                      <ul class="service-info__list">
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">GBP إصدار وتفعيل بطاقة ePayService
                            بطاقة Mastercard® المميزة بالدولار الأمريكي</div>
                          <div class="service-info__number text-dark text-dark_big text-dark_blue">مجاناً</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Monthly Maintenance Fee</div>
                          <div class="service-info__number text-dark text-dark_big">£1.99</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">الحد اليومى الأدنى للإيداع</div>
                          <div class="service-info__number text-dark text-dark_big">£1.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">الحد اليومى الأقصى للإيداع</div>
                          <div class="service-info__number text-dark text-dark_big">£6,400.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">رسوم تحويل العملات (رسوم FX)</div>
                          <div class="service-info__number text-dark text-dark_big">1.99%</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">رسوم السحب من ماكينات الصراف الآلى
                            لكل معاملة</div>
                          <div class="service-info__number text-dark text-dark_big">£1.99</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">عدد مرات الإيداع في اليوم الواحد بحد
                            أقصى</div>
                          <div class="service-info__number text-dark text-dark_big">10</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">الحد الأقصى للرصيد</div>
                          <div class="service-info__number text-dark text-dark_big">£8,500.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">رسوم الاستعلام عن الرصيد من ماكينات
                            الصراف الآلي</div>
                          <div class="service-info__number text-dark text-dark_big">£0.50</div>
                        </li>
                      </ul>
                      <div class="exchange__note note">
                        <div class="note__title text-dark text-dark_big">أختر طريقة التسليم</div>
                        <ul class="service-info__list">
                          <li class="service-info__row">
                            <div class="service-info__text text-dark text-dark_small">البريد العادي</div>
                            <div class="service-info__number text-dark text-dark_big text-dark_blue">مجاناً</div>
                          </li>
                          <li class="service-info__row">
                            <div class="service-info__text text-dark text-dark_small">البريد السريع</div>
                            <div class="service-info__number text-dark text-dark_big">£70</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="exchange__item" id="virtual-card-single">
                <h1 class="exchange__title title">الدفعالإفتراضية الفردية<br> بطاقات ®ePayService Mastercard مسبقة </h1>
                <div class="exchange__link">
                  <a class="link-arr" href="virtual-cards.html">المزيد عن بطاقات ePayService الإفتراضية</a>
                </div>

                <div class="tabs using__switch">
                  <div class="tabs__head">
                    <button class="tabs__tag tabs__tag_current using__tab" type="button">EUR</button>
                    <button class="tabs__tag using__tab" type="button">USD</button>
                  </div>
                  <div class="tabs__body tabs__body_line">
                    <div class="tabs__section tabs__section_visible">
                      <ul class="service-info__list">
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">EUR إصدار وتفعيل بطاقة ePayService
                            Mastercard® الإفتراضية الفردية بالدولار الأمريكى يُحدد حسب الإيداع المبدأى</div>
                          <div class="service-info__number text-dark text-dark_big">from €1.00 to €20.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">الحد اليومي الأدنى للإيداع (المبدأي)
                          </div>
                          <div class="service-info__number text-dark text-dark_big">€1.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">الحد الأدنى للإيداع المبدأى بقيمة
                          </div>
                          <div class="service-info__number text-dark text-dark_big">€3,500.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">رسوم تحويل العملات (رسوم FX)</div>
                          <div class="service-info__number text-dark text-dark_big">1.75%</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">المشتريات عبر الإنترنت ومن خلال نقاط
                            البيع</div>
                          <div class="service-info__number text-dark text-dark_big text-dark_blue">مجاناً</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">الحد الأقصى لمرات الإيداع مرة واحدة
                          </div>
                          <div class="service-info__number text-dark text-dark_big">1</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">رسوم للحصول على بطاقة بقيمة اسمية
                            مختلفة من معيار</div>
                          <div class="service-info__number text-dark text-dark_big">€3.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">الحد الأقصى للرصيد</div>
                          <div class="service-info__number text-dark text-dark_big">€3,500.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">الحد الأقصى للبطاقات نشطة - ما يصل
                            إلى</div>
                          <div class="service-info__number text-dark text-dark_big">10</div>
                        </li>
                      </ul>
                    </div>
                    <div class="tabs__section">
                      <ul class="service-info__list">
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">إصدار وتفعيل بطاقة ®ePayService
                            Mastercard الإفتراضية الفردية بالدولار الأمريكى يُحدد حسب الإيداع المبدأى</div>
                          <div class="service-info__number text-dark text-dark_big">$1.00 - $20.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">الحد اليومي الأدنى للإيداع (المبدأي)
                          </div>
                          <div class="service-info__number text-dark text-dark_big">$1.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">الحد الأدنى للإيداع المبدأى بقيمة
                          </div>
                          <div class="service-info__number text-dark text-dark_big">$3,500.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">رسوم تحويل العملات (رسوم FX)</div>
                          <div class="service-info__number text-dark text-dark_big">1.75%</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">المشتريات عبر الإنترنت ومن خلال نقاط
                            البيع</div>
                          <div class="service-info__number text-dark text-dark_big text-dark_blue">مجاناً</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">الحد الأقصى لمرات الإيداع مرة واحدة
                          </div>
                          <div class="service-info__number text-dark text-dark_big">1</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">رسوم للحصول على بطاقة بقيمة اسمية
                            مختلفة من معيار</div>
                          <div class="service-info__number text-dark text-dark_big">$3.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">الحد الأقصى للرصيد</div>
                          <div class="service-info__number text-dark text-dark_big">$3,500.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">الحد الأقصى للبطاقات نشطة - ما يصل
                            إلى</div>
                          <div class="service-info__number text-dark text-dark_big">10</div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="exchange__note note">
                  <div class="note__title text-dark text-dark_big text-dark_red">هام!</div>
                  <div class="note__text text-dark text-dark_small">البطاقة صالحة لمدة شهرين</div>
                </div>
              </div> -->

              {% include 'pages/fees/cardsInfo/multi.njk' %}

              <div class="exchange__item" id="over-ecb-rates-table">
                <h1 class="exchange__title title">% النسبة الإرشادية لاستخدام بطاقتك في المنطقة الاقتصادية الأوروبية
                </h1>
                <div class="tabs using__switch">
                  <div class="tabs__head">
                    <button class="tabs__tag using__tab" type="button">EUR</button>
                  </div>
                  <div class="tabs__body tabs__body_line">
                    <div class="tabs__section tabs__section_visible">
                      <ul class="service-info__list" id="ecb-rates-section">
                        <li class="service-info__row" id="ecb-rate-row">
                          <div class="service-info__text text-dark text-dark_small"></div>
                          <div class="service-info__number text-dark text-dark_big"></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-3 hidden-sm">
            <div class="sticky-column">
              <div class="body__action steps js-first-tab">
                <div class="steps__title title title_medium">إستمتع بالتكنولوجيا المالية المبتكرة التى يقدمها لك
                  ePayService!</div>
                <div class="steps__button">
                  <a class="button button_big" href="https://online.epayservices.com/">قم بفتح حساب مجانى</a>
                </div>
              </div>
              <div class="body__action steps js-second-tab" style="display: none;">
                <div class="steps__image js-card-image" id="red-card">
                  <img src="../images/red-card.png" srcset="../images/red-card.png 1x, ../images/red-card@2x.png 2x" alt="">
                </div>
                <div class="steps__image js-card-image" id="blue-card" style="display: none;">
                  <img src="../images/blue-card.png" alt="">
                </div>
                <div class="steps__title title title_medium">يتم إصدار بطاقة ePayService مجاناً خلال بضعة أيام!</div>
                <div class="steps__flow">
                  <ol class="ordered-list">
                    <li class="ordered-list__item text-dark text-dark_small">قم بالتسجيل مع ePayService</li>
                    <li class="ordered-list__item text-dark text-dark_small">قم بإجتياز عملية التأكيد البسيطة</li>
                    <li class="ordered-list__item text-dark text-dark_small">قم بإختيار طريقة التوصيل المفضلة لديك،
                      وأحصل على بطاقتك خلال فترة وجيزة</li>
                  </ol>
                </div>

                <div class="steps__button">
                  <a class="button button_big" href="https://online.epayservices.com/">أحصل على بطاقتك مجاناً</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    {% include 'footer.njk' %}

  </div>




  <script src="../js/jquery-2.2.0.min.js"></script>
  <script src="../js/accounting.min.js"></script>
  <script src="../js/jquery.placeholder.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/sticky-kit.js"></script>
  <script src="../js/ecb_calc.js?v=2"></script>
  <script src="../js/app-rtl.e9bec416.js"></script>
  <script>
    window.intercomSettings = {
      app_id: "wz9x11as"
    };
  </script>
  <script>
    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/wz9x11as'
    (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/wz9x11as'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();
  </script>

  <script src="https://online.epayservices.com/affiliate_program/landing_page/remember_affiliate_script.js"></script>
</body>

</html>
