<ul class="solutions__bubbles">
  <li class="solutions__feature">
    <div class="bubble-feature">
      <div class="bubble-feature__icon bubble-icon">
        <div class="bubble-icon__image icon icon_circles"></div>
      </div>
      <div class="bubble-feature__info">
        <div class="bubble-feature__title title title_medium">{{ 'prepaidCards.betweenEpayCustomersFree' | i18n }}</div>
        <div class="bubble-feature__text text-dark">{{ 'prepaidCards.betweenEpayCustomers' | i18n }}</div>
      </div>
    </div>
  </li>

  <li class="solutions__feature">
    <div class="bubble-feature">
      <div class="bubble-feature__icon bubble-icon">
        <div class="bubble-icon__image icon icon_terminal-pen"></div>
      </div>
      <div class="bubble-feature__info">
        <div class="bubble-feature__title title title_medium">{{ 'prepaidCards.posFree' | i18n }}</div>
        <div class="bubble-feature__text text-dark">{{ 'prepaidCards.pos' | i18n }}</div>
      </div>
    </div>
  </li>

  <li class="solutions__feature">
    <div class="bubble-feature">
      <div class="bubble-feature__icon bubble-icon">
        <div class="bubble-icon__image icon icon_house"></div>
      </div>
      <div class="bubble-feature__info">
        <div class="bubble-feature__title title title_medium">
          {{ 'prepaidCards.bankTransfersFee' | i18n({ value: "1%", min: "€25.00" }) }}
        </div>
        <div class="bubble-feature__text text-dark">{{ 'prepaidCards.bankTransfersDescr' | i18n }}</div>
      </div>
    </div>
  </li>

  <li class="solutions__feature">
    <div class="bubble-feature">
      <div class="bubble-feature__icon bubble-icon">
        <div class="bubble-icon__image icon icon_cards"></div>
      </div>
      <div class="bubble-feature__info">
        <div class="bubble-feature__title title title_medium">
          {{ 'prepaidCards.posLimit' | i18n({ value: "$5,000" }) }}
        </div>
        <div class="bubble-feature__text text-dark">
          {{ 'prepaidCards.atmLimit' | i18n({ value: "$500" }) }}
        </div>
      </div>
    </div>
  </li>

  <li class="solutions__feature">
    <div class="bubble-feature">
      <div class="bubble-feature__icon bubble-icon">
        <div class="bubble-icon__image icon icon_card-splash"></div>
      </div>
      <div class="bubble-feature__info">
        <div class="bubble-feature__title title title_medium">{{ 'prepaidCards.cardLoadingFeesFree' | i18n }}</div>
        <div class="bubble-feature__text text-dark">{{ 'prepaidCards.cardLoadingFees' | i18n }}</div>
      </div>
    </div>
  </li>

  <li class="solutions__feature">
    <div class="bubble-feature">
      <div class="bubble-feature__icon bubble-icon">
        <div class="bubble-icon__image icon icon_card-atm"></div>
      </div>
      <div class="bubble-feature__info">
        <div class="bubble-feature__title title title_medium">
          {{ 'prepaidCards.atnWithdrawalFeesValue' | i18n({ value: "€2.50" }) }}
        </div>
        <div class="bubble-feature__text text-dark">
          {{ 'prepaidCards.atnWithdrawalFeesDescr' | i18n }}
        </div>
      </div>
    </div>
  </li>
</ul>

