---
permalink: "{{ locale }}/{{ page.fileSlug }}.html"
---

<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../css/style.css?v=205527072022">
  <title>ePayService - 银行转账</title>
</head>

<body>


  <div class="strut">

    <div class="strut__row">

      <header class="header">
        <div class="header__top header__top_sticky">
          <div class="region">
            <div class="top">
              <div class="top__main">
                <div class="top__burger burger">
                  <div class="burger__handler"></div>
                  <div class="burger__body"></div>
                </div>
                <div class="top__logo">
                  <a class="logo" href="index.html"></a>
                </div>
                <nav class="top__nav nav">
                  <!--<a class="nav__link" href="-about.html">About Us</a>-->
                  <a class="nav__link nav__link_more" href="#" data-inner="inner-nav"><span>服务</span></a>
                  <div class="sub-menu">
                    <a class="sub-menu__link" href="managing-account.html">账户管理</a>
                    <a class="sub-menu__link" href="bank-transfers.html">银行转账</a>
                    <a class="sub-menu__link" href="affiliate-payouts.html">联盟支付</a>
                    <a class="sub-menu__link" href="payout-service.html">工资方案</a>
                    <a class="sub-menu__link" href="local-payments.html">本地银行转账</a>
                    <a class="sub-menu__link" href="send-money-to-card.html">匯款</a>
                    <a class="sub-menu__link" href="cash-remittance.html">现金支付</a>
                  </div>
                  <a class="nav__link" href="fees.html">费用</a>
                  <a class="nav__link" href="contact-us.html">联系我们</a>
                  <a class="nav__link" target="_blank" href="http://faq.epayservices.com">FAQ</a>
                </nav>
                <a class="top__profile" href="#"></a>
                <div class="top__sign-in">
                  <a class="button" href="https://online.epayservices.com/register">开立免费账户</a>
                  <a class="button button_border" href="https://online.epayservices.com/">注册</a>
                </div>
              </div>
              <div class="top__actions">
                <div class="top__buttons">
                  <a class="button" href="https://online.epayservices.com/register">开立免费账户</a>
                  <a class="button button_border" href="https://online.epayservices.com/">注册</a>
                </div>
                <div class="top__language lang-select drop">
                  <div class="lang-select__toggle drop__handler">
                    <div class="lang-select__image">
                      <img src="../images/flag-zh.svg" alt="">
                    </div>
                    <div class="lang-select__title">ZH</div>
                  </div>
                  <div class="lang-select__list drop__down">
                    <a class="lang-select__item" href="../en/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag.svg" alt="">
                      </div>
                      <div class="lang-select__title">English (US)</div>
                    </a>
                    <a class="lang-select__item" href="../uk/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-uk.svg" alt="">
                      </div>
                      <div class="lang-select__title">English</div>
                    </a>
                    <a class="lang-select__item" href="../ru/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/ru.png" alt="">
                      </div>
                      <div class="lang-select__title">Русский</div>
                    </a>
                    <a class="lang-select__item" href="../es/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-es.png" alt="">
                      </div>
                      <div class="lang-select__title">Español</div>
                    </a>
                    <a class="lang-select__item" href="../co/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-co.png" alt="">
                      </div>
                      <div class="lang-select__title">Español (Colombia)</div>
                    </a>
                    <a class="lang-select__item" href="../pt/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pt.svg" alt="">
                      </div>
                      <div class="lang-select__title">Português</div>
                    </a>
                    <a class="lang-select__item" href="../ro/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ro.svg" alt="">
                      </div>
                      <div class="lang-select__title">Română</div>
                    </a>
                    <a class="lang-select__item" href="../ms/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ms.svg" alt="">
                      </div>
                      <div class="lang-select__title">Melayu</div>
                    </a>
                    <a class="lang-select__item" href="../vn/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-vn.svg" alt="">
                      </div>
                      <div class="lang-select__title">Tiếng Việt</div>
                    </a>
                    <a class="lang-select__item" href="../ar/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ar.png" alt="">
                      </div>
                      <div class="lang-select__title">عربى</div>
                    </a>
                    <a class="lang-select__item" href="../pl/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pl.svg" alt="">
                      </div>
                      <div class="lang-select__title">Język polski</div>
                    </a>
                    <a class="lang-select__item" href="../de/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-de.svg" alt="">
                      </div>
                      <div class="lang-select__title">Deutsch</div>
                    </a>
                    <a class="lang-select__item" href="../fr/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-fr.svg" alt="">
                      </div>
                      <div class="lang-select__title">Français</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="inner-nav" id="inner-nav">
            <div class="region">
              <div class="inner-nav__list">
                <a class="inner-nav__item" href="managing-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_safe"></div>
                  </div>
                  <div class="inner-nav__title title title_small">账户管理</div>
                </a>
                <a class="inner-nav__item" href="bank-transfers.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_house2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">银行转账</div>
                </a>
                <a class="inner-nav__item" href="affiliate-payouts.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_crowd2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">联盟支付</div>
                </a>
                <a class="inner-nav__item" href="payout-service.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hands2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">工资方案</div>
                </a>
                <a class="inner-nav__item" href="local-payments.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_local-pay"></div>
                  </div>
                  <div class="inner-nav__title title title_small">本地银行转账</div>
                </a>
                <a class="inner-nav__item" href="send-money-to-card.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_save-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">匯款</div>
                </a>
                <a class="inner-nav__item" href="cash-remittance.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hand-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">现金支付</div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </header>

    </div>

    <div class="strut__row strut__row_expanded">
      <main class="body body_long body_narrow">

        <div class="special-solution special-solution_dark"
          style="background-image: url(.././images/wiretransfer-bgl.jpg)">
          <div class="region">
            <h1 class="special-solution__title title">您全球合作伙伴的关键环节</h1>
            <div class="special-solution__text text-dark"></div>
          </div>
        </div>

        <div class="region">
          <div class="row row-eq-height">
            <div class="col-md-9 col-xs-12 full-width">
              <div class="body__content body__content_small">
                <div class="solutions__block">
                  <h2 class="solutions__title title">来自美国和远至亚洲的转账</h2>
                  <div class="solutions__text text-dark">
                    作为一个与美国、欧洲或亚洲公司合作的国际市场参与者，您非常了解银行转账是更可取的付款方式。如果您是一名专门从事软件开发或网络营销的自由职业者，您的交易方很可能会要求您提供银行详细信息以支付您酬劳。ePayService在此为您及您的业务服务。
                  </div>
                  <div class="solutions__image">
                    <img src="../images/solution-img7.svg" alt="">
                  </div>
                </div>
                <div class="solutions__block">
                  <h2 class="solutions__title title">美国转账</h2>
                  <div class="solutions__text text-dark">
                    ACH快捷支付和直接存款是美国最受欢迎的国内银行转账类型，它们在速度和手续费上很有优势。但是存在地域局限，要求是美国银行账户，因此，对国际转账来说毫无用处。ePayService为您提供一种通过ACH快捷支付获得报酬的方式。
                  </div>
                  <ul class="solutions__list">
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_time-management"></div>
                      </div>
                      <div class="solutions__note text-dark">2日内清算资金</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_office"></div>
                      </div>
                      <div class="solutions__note text-dark">来自美国主要公司的付款</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_branch-office"></div>
                      </div>
                      <div class="solutions__note text-dark">转账范围覆盖全部50个州</div>
                    </li>
                  </ul>

                </div>
                <div class="solutions__block">
                  <h2 class="solutions__sub-title title title_medium">独特的市场供应</h2>
                  <div class="checks__sub-title">ACH快捷支付和直接存款费用</div>
                  <ul class="checks__info">
                    <li class="checks__row">
                      <div class="row">
                        <div class="col-xs-6">
                          <div class="title title_medium">USD</div>
                          <div class="text-dark text-dark_small">使用ePayService向您的钱包进行美元入境转账</div>
                        </div>
                        <div class="col-xs-6">
                          <div class="title title_medium">2% + 20 USD</div>
                        </div>
                      </div>
                    </li>
                    <li class="checks__row">
                      <div class="row">
                        <div class="col-xs-6">
                          <div class="title title_medium">USD</div>
                          <div class="text-dark text-dark_small">通过美国银行对个人或公司账户进行美元出境转账</div>
                        </div>
                        <div class="col-xs-6">
                          <div class="title title_medium">0.5% + 25 USD</div>
                        </div>
                      </div>
                    </li>

                  </ul>
                </div>
                <div class="solutions__block">
                  <h2 class="solutions__title title">全球转账</h2>
                  <div class="solutions__text text-dark">
                    电汇可能是国际转账最普遍的类型。现在每家IT公司、广告网络和电子游戏开发商都为您提供通过电汇付款的选项。ePayService简化了这一复杂的银行手续。</div>
                  <ul class="solutions__list">
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_currency"></div>
                      </div>
                      <div class="solutions__note text-dark">欧元、美元和其他货币转账</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_check-earth"></div>
                      </div>
                      <div class="solutions__note text-dark">来自全球公司的入境付款</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_stars-big"></div>
                      </div>
                      <div class="solutions__note text-dark">来自欧洲的SEPA转入转账2日内清算资金。</div>
                    </li>
                  </ul>

                </div>
                <div class="checks__tabs tabs">
                  <div class="tabs__head using__switch">
                    <button class="tabs__tag tabs__tag_current using__tab" type="button">SEPA Transfer</button>
                    <button class="tabs__tag using__tab" type="button">Wire Transfer (SWIFT)</button>
                  </div>
                  <div class="tabs__body">
                    <div class="tabs__section tabs__section_visible">
                      <ul class="checks__info">
                        <li class="checks__row">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="title title_medium">仅限欧</div>
                              <div class="text-dark text-dark_small">使用ePayService向您的钱包进行入境转账</div>
                            </div>
                            <div class="col-xs-6">
                              <div class="title title_medium">1%, min €25</div>
                            </div>
                          </div>
                        </li>
                        <li class="checks__row">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="title title_medium">仅限欧</div>
                              <div class="text-dark text-dark_small">向您个人银行账户的出境转账</div>
                            </div>
                            <div class="col-xs-6">
                              <div class="title title_medium">€30</div>
                            </div>
                          </div>
                        </li>
                        <li class="checks__row">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="title title_medium">仅限欧</div>
                              <div class="text-dark text-dark_small">向公司银行账户的出境转账</div>
                            </div>
                            <div class="col-xs-6">
                              <div class="title title_medium">0.5% + €40 </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="tabs__section">
                      <ul class="checks__info">
                        <li class="checks__row">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="title title_medium">USD</div>
                              <div class="text-dark text-dark_small">使用ePayService向您的钱包进行入境转账</div>
                            </div>
                            <div class="col-xs-6">
                              <div class="title title_medium">3% + 50 USD</div>
                            </div>
                          </div>
                        </li>
                        <!--<li class="checks__row">-->
                        <!--<div class="row">-->
                        <!--<div class="col-xs-6">-->
                        <!--<div class="title title_medium">USD</div>-->
                        <!--<div class="text-dark text-dark_small">向您个人银行账户的出境转账</div>-->
                        <!--</div>-->
                        <!--<div class="col-xs-6">-->
                        <!--<div class="title title_medium">$45</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</li>-->
                        <!--<li class="checks__row">-->
                        <!--<div class="row">-->
                        <!--<div class="col-xs-6">-->
                        <!--<div class="title title_medium">USD</div>-->
                        <!--<div class="text-dark text-dark_small">向公司银行账户的出境转账</div>-->
                        <!--</div>-->
                        <!--<div class="col-xs-6">-->
                        <!--<div class="title title_medium">0.5% + $55</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</li>-->
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="solutions__block">
                  <h2 class="solutions__title title">当地货币转账</h2>
                  <div class="solutions__text text-dark">ePayService
                    具有广泛使用合作银行网络的优势，因此您可以使用当地货币快速转账。跳过代理银行的常规步骤，为您节省时间和金钱。</div>
                  <ul class="solutions__list">
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_invest-ideas"></div>
                      </div>
                      <div class="solutions__note text-dark">50种当地货币付款</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_first-place"></div>
                      </div>
                      <div class="solutions__note text-dark">1个工作日快捷转账</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_interaction"></div>
                      </div>
                      <div class="solutions__note text-dark">同时进行多笔付款</div>
                    </li>
                  </ul> <br><br>

                </div>


              </div>
            </div>



            <div class="col-md-3 hidden-sm">
              <div class="sticky-column-long">
                <div class="body__action steps service" style="margin-bottom: 20px">
                  <div class="service__title title title_medium">服务</div>
                  <div class="service__list">
                    <a class="service__item" href="managing-account.html">账户管理</a>
                    <a class="service__item service__item_active" href="bank-transfers.html">银行转账</a>
                    <a class="service__item" href="payout-service.html">工资方案</a>
                    <a class="service__item" href="affiliate-payouts.html">联盟支付</a>
                    <a class="service__item" href="local-payments.html">本地银行转账</a>
                    <a class="service__item" href="send-money-to-card.html">匯款</a>
                    <a class="service__item" href="cash-remittance.html">现金支付</a>
                  </div>
                  <div class="steps__wrapper">
                    <div class="steps__title title title_medium">尽情使用ePayService带给您的创新金融科技！</div>
                    <div class="steps__button">
                      <a class="button button_big" href="https://online.epayservices.com/register">2分钟开立一个账户</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </main>

      {% include 'pages/index/app-download.njk' %}
    </div>

    {% include 'footer.njk' %}

  </div>


  <div class="up-arrow"></div>



  <script src="../js/jquery-2.2.0.min.js"></script>
  <script src="../js/jquery.placeholder.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/sticky-kit.js"></script>
  <script src="../js/app.b6f525f1.js"></script>
  <script>
    window.intercomSettings = {
      app_id: "wz9x11as"
    };
  </script>
  <script>
    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/wz9x11as'
    (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/wz9x11as'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();
  </script>

  <script src="https://online.epayservices.com/affiliate_program/landing_page/remember_affiliate_script.js"></script>
</body>

</html>
