---
permalink: "{{ locale }}/{{ page.fileSlug }}.html"
---

<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../css/dropkick.css">
  <link rel="stylesheet" href="../css/local_payments.css">
  <link rel="stylesheet" href="../css/style.css?v=212301072022">
  <title>ePayService - 现金支付</title>
</head>

<body>


  <div class="strut">

    <div class="strut__row">

      <header class="header">
        <div class="header__top header__top_sticky">
          <div class="region">
            <div class="top">
              <div class="top__main">
                <div class="top__burger burger">
                  <div class="burger__handler"></div>
                  <div class="burger__body"></div>
                </div>
                <div class="top__logo">
                  <a class="logo" href="index.html"></a>
                </div>
                <nav class="top__nav nav">
                  <!--<a class="nav__link" href="-about.html">About Us</a>-->
                  <a class="nav__link nav__link_more" href="#" data-inner="inner-nav"><span>服务</span></a>
                  <div class="sub-menu">
                    <a class="sub-menu__link" href="managing-account.html">账户管理</a>
                    <a class="sub-menu__link" href="bank-transfers.html">银行转账</a>
                    <a class="sub-menu__link" href="affiliate-payouts.html">联盟支付</a>
                    <a class="sub-menu__link" href="payout-service.html">工资方案</a>
                    <a class="sub-menu__link" href="local-payments.html">本地银行转账</a>
                    <a class="sub-menu__link" href="send-money-to-card.html">匯款</a>
                    <a class="sub-menu__link" href="cash-remittance.html">现金支付</a>
                  </div>
                  <a class="nav__link" href="fees.html">费用</a>
                  <a class="nav__link" href="contact-us.html">联系我们</a>
                  <a class="nav__link" target="_blank" href="http://faq.epayservices.com">FAQ</a>
                </nav>
                <a class="top__profile" href="#"></a>
                <div class="top__sign-in">
                  <a class="button" href="https://online.epayservices.com/register">开立免费账户</a>
                  <a class="button button_border" href="https://online.epayservices.com/">注册</a>
                </div>
              </div>
              <div class="top__actions">
                <div class="top__buttons">
                  <a class="button" href="https://online.epayservices.com/register">开立免费账户</a>
                  <a class="button button_border" href="https://online.epayservices.com/">注册</a>
                </div>
                <div class="top__language lang-select drop">
                  <div class="lang-select__toggle drop__handler">
                    <div class="lang-select__image">
                      <img src="../images/flag-zh.svg" alt="">
                    </div>
                    <div class="lang-select__title">ZH</div>
                  </div>
                  <div class="lang-select__list drop__down">
                    <a class="lang-select__item" href="../en/cash-remittance.html">
                      <div class="lang-select__image">
                        <img src="../images/flag.svg" alt="">
                      </div>
                      <div class="lang-select__title">English (US)</div>
                    </a>
                    <a class="lang-select__item" href="../uk/cash-remittance.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-uk.svg" alt="">
                      </div>
                      <div class="lang-select__title">English</div>
                    </a>
                    <a class="lang-select__item" href="../ru/cash-remittance.html">
                      <div class="lang-select__image">
                        <img src="../images/ru.png" alt="">
                      </div>
                      <div class="lang-select__title">Русский</div>
                    </a>
                    <a class="lang-select__item" href="../es/cash-remittance.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-es.png" alt="">
                      </div>
                      <div class="lang-select__title">Español</div>
                    </a>
                    <a class="lang-select__item" href="../co/cash-remittance.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-co.png" alt="">
                      </div>
                      <div class="lang-select__title">Español (Colombia)</div>
                    </a>
                    <a class="lang-select__item" href="../pt/cash-remittance.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pt.svg" alt="">
                      </div>
                      <div class="lang-select__title">Português</div>
                    </a>
                    <a class="lang-select__item" href="../ro/cash-remittance.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ro.svg" alt="">
                      </div>
                      <div class="lang-select__title">Română</div>
                    </a>
                    <a class="lang-select__item" href="../ms/cash-remittance.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ms.svg" alt="">
                      </div>
                      <div class="lang-select__title">Melayu</div>
                    </a>
                    <a class="lang-select__item" href="../vn/cash-remittance.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-vn.svg" alt="">
                      </div>
                      <div class="lang-select__title">Tiếng Việt</div>
                    </a>
                    <a class="lang-select__item" href="../ar/cash-remittance.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ar.png" alt="">
                      </div>
                      <div class="lang-select__title">عربى</div>
                    </a>
                    <a class="lang-select__item" href="../pl/cash-remittance.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pl.svg" alt="">
                      </div>
                      <div class="lang-select__title">Język polski</div>
                    </a>
                    <a class="lang-select__item" href="../de/cash-remittance.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-de.svg" alt="">
                      </div>
                      <div class="lang-select__title">Deutsch</div>
                    </a>
                    <a class="lang-select__item" href="../fr/cash-remittance.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-fr.svg" alt="">
                      </div>
                      <div class="lang-select__title">Français</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="inner-nav" id="inner-nav">
            <div class="region">
              <div class="inner-nav__list">
                <a class="inner-nav__item" href="managing-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_safe"></div>
                  </div>
                  <div class="inner-nav__title title title_small">账户管理</div>
                </a>
                <a class="inner-nav__item" href="bank-transfers.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_house2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">银行转账</div>
                </a>
                <a class="inner-nav__item" href="affiliate-payouts.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_crowd2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">联盟支付</div>
                </a>
                <a class="inner-nav__item" href="payout-service.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hands2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">工资方案</div>
                </a>
                <a class="inner-nav__item" href="local-payments.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_local-pay"></div>
                  </div>
                  <div class="inner-nav__title title title_small">本地银行转账</div>
                </a>
                <a class="inner-nav__item" href="send-money-to-card.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_save-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">匯款</div>
                </a>
                <a class="inner-nav__item" href="cash-remittance.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hand-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">现金支付</div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </header>

    </div>

    <div class="strut__row strut__row_expanded">
      <main class="body body_long ">

        <div class="special-solution special-solution_dark" style="background-image: url(.././images/send-cash-bg.jpg)">
          <div class="region">
            <h1 class="special-solution__title title">全球现金支付</h1>
            <div class="special-solution__text special-solution__text_wide">
              <ul class="special-solution__list">
                <li class="special-solution__item">
                  <div class="special-solution__icon icon icon_clock-white"></div>
                  <div class="special-solution__info">
                    <div class="special-solution_sub-title title title_small title_light">节省时间</div>
                    <div class="special-solution__note text text-dark_light">您可以在几小时内收到现金转账</div>
                  </div>
                </li>
                <li class="special-solution__item">
                  <div class="special-solution__icon icon icon_currency-white"></div>
                  <div class="special-solution__info">
                    <div class="special-solution_sub-title title title_small title_light">无需银行</div>
                    <div class="special-solution__note text text-dark_light">您无需银行账户即可接收转账</div>
                  </div>
                </li>
                <li class="special-solution__item">
                  <div class="special-solution__icon icon icon_earth-white"></div>
                  <div class="special-solution__info">
                    <div class="special-solution_sub-title title title_small title_light">全球范围</div>
                    <div class="special-solution__note text text-dark_light">转账到39个国家</div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="special-solution__form">
              <form class="payment-form" id="local-payments-form" data-type="cash_remittance">
                <div class="payment-form__inner">
                  <div class="payment-form__title title title_medium">匯款轉賬</div>
                  <div class="payment-form__row">
                    <div class="payment-form__label text">发给</div>
                    <select class="payment-form__select stylized-select" id="local-payments-country">
                      <option value="">Select country...</option>
                    </select>
                    <div class="payment-form__field">
                      <input class="payment-form__area" type="number" id="local-payments-amount" disabled>
                      <div class="payment-form__select payment-form__select_narrow ">
                        <div class="payment-form__handler payment-form__handler_blank"
                          id="local-payments-send-currency">USD</div>
                      </div>
                    </div>
                  </div>
                  <div class="payment-form__row">
                    <div class="payment-form__label text">接收</div>
                    <div class="payment-form__field">
                      <input class="payment-form__area" type="text" id="local-payments-receive" disabled>
                      <div class="payment-form__select payment-form__select_narrow">
                        <div class="payment-form__handler payment-form__handler_blank"
                          id="local-payments-receive-currency">RUB</div>
                      </div>
                    </div>
                  </div>
                  <div class="payment-form__row payment-form__info">
                    <div class="payment-form__text text">费用 <span class="text-dark" id="local-payments-fee"></span>
                    </div>
                    <div class="payment-form__text text">率 <span class="text-dark" id="local-payments-rate"></span>
                    </div>
                  </div>
                </div>
                <a class="payment-form__row button button_big" href="https://online.epayservices.com/register">现在就试试</a>
              </form>
            </div>
          </div>
        </div>

        <div class="region">
          <div class="row row-eq-height">
            <div class="col-md-9 col-xs-12 full-width">
              <div class="body__content body__content_small">
                <div class="solutions__block">
                  <h2 class="solutions__title title">汇款更简单</h2>
                  <div class="solutions__text text-dark">
                    ePayService新的转账服务可在全球范围内提供独一无二的现金支付。您的受益人无需银行账户即可接收资金，这意味着没有任何银行费用！所有转账都在资金接收国的合作伙伴网络中进行，因此可确保付款交付的快捷和准确。
                  </div>
                  <div class="solutions__image solutions__image_notes">
                    <img src="../images/solution-img12.svg" alt="">

                  </div>
                </div>
                <div class="solutions__block">
                  <div class="solutions__top">
                    <div class="solutions__wrapper">
                      <h2 class="solutions__title title">100,000多个现金网点</h2>
                      <div class="solutions__text text-dark">世界各地广泛的合作伙伴网络允许您在最短的时间内接收现金转账。</div>
                    </div>
                  </div>
                  <div class="solutions__map" id="local-payments-map"></div>
                </div>
                <div class="solutions__block">
                  <h2 class="solutions__title title">商业和个人使用的好处</h2>
                  <ul class="solutions__list">
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_easy-pay"></div>
                      </div>
                      <div class="solutions__wrapper">
                        <div class="solutions__note text-dark">易于使用</div>
                        <div class="solutions__note text">您可以通过电脑或手机访问用户界面</div>
                      </div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_laptop-message"></div>
                      </div>
                      <div class="solutions__wrapper">
                        <div class="solutions__note text-dark">优质支持</div>
                        <div class="solutions__note text">我们随时为您服务。我们可提供英语、西班牙语和俄语支持</div>
                      </div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_safe-money"></div>
                      </div>
                      <div class="solutions__wrapper">
                        <div class="solutions__note text-dark">安全可信的服务</div>
                        <div class="solutions__note text">PCI DDS认证和最高级的网络保护</div>
                      </div>
                    </li>
                  </ul>
                  <ul class="solutions__list">
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_fast"></div>
                      </div>
                      <div class="solutions__wrapper">
                        <div class="solutions__note text-dark">真正快捷</div>
                        <div class="solutions__note text">现金可在当天收到</div>
                      </div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_check-earth"></div>
                      </div>
                      <div class="solutions__wrapper">
                        <div class="solutions__note text-dark">所有人可见</div>
                        <div class="solutions__note text">广泛的现金网点</div>
                      </div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_money"></div>
                      </div>
                      <div class="solutions__wrapper">
                        <div class="solutions__note text-dark">您的好处</div>
                        <div class="solutions__note text">丰厚佣金和最低汇率</div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="solutions__block">
                  <h2 class="solutions__title title">定价和费用</h2>
                  <div class="solutions__text text-dark">去进行交易吧。在大多数国家，当天就可提取现金</div>
                </div>
                <div class="checks__tabs tabs">
                  <div class="tabs__head using__switch">
                    <button class="tabs__tag tabs__tag_current using__tab" type="button">歐元兌換</button>
                    <button class="tabs__tag using__tab" type="button">以美元轉賬</button>
                  </div>
                  <div class="tabs__body">
                    <div class="tabs__section tabs__section_visible">
                      <ul class="checks__info">
                        <li class="checks__row">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small">总金额</div>
                              <div class="title title_medium checks__sub-text">最高 <span>500.00 EUR</span></div>
                            </div>
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small"><br></div>
                              <div class="title title_medium checks__sub-text">1% + 15 EUR</div>
                            </div>
                          </div>
                        </li>
                        <li class="checks__row">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small">总金额</div>
                              <div class="title title_medium checks__sub-text">从 <span>500.00 EUR</span></div>
                            </div>
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small"><br></div>
                              <div class="title title_medium checks__sub-text">1% + 30 EUR</div>
                            </div>
                          </div>
                        </li>
                        <li class="checks__row">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small">总金额 (Ukraine)</div>
                              <div class="title title_medium checks__sub-text">最高 <span>4500.00 EUR</span></div>
                            </div>
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small"><br></div>
                              <div class="title title_medium checks__sub-text">2% + 30 EUR</div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="tabs__section">
                      <ul class="checks__info">
                        <li class="checks__row">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small">总金额</div>
                              <div class="title title_medium checks__sub-text">最高 <span>500.00 USD</span></div>
                            </div>
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small"><br></div>
                              <div class="title title_medium checks__sub-text">1% + 15 USD</div>
                            </div>
                          </div>
                        </li>
                        <li class="checks__row">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small">总金额</div>
                              <div class="title title_medium checks__sub-text">从 <span>500.00 USD</span></div>
                            </div>
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small"><br></div>
                              <div class="title title_medium checks__sub-text">1% + 30 USD</div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="using">
                  <h2 class="using__title title">开始使用ePayService节省时间</h2>
                  <div class="using__note text">3个快速步骤发送本地付款</div>
                  <ul class="using__list">
                    <li class="using__item">
                      <div class="using__icon">
                        <div class="icon icon_man"></div>
                      </div>
                      <div class="using__number"><span>1</span></div>
                      <div class="using__text">立即注册. 个人或企业账户——简便快捷</div>
                    </li>
                    <li class="using__item">
                      <div class="using__icon">
                        <div class="icon icon_profile-check"></div>
                      </div>
                      <div class="using__number"><span>2</span></div>
                      <div class="using__text">为您的账户充值. 我们接受国际银行转帐和电子货币</div>
                    </li>
                    <li class="using__item">
                      <div class="using__icon">
                        <div class="icon icon_hands"></div>
                      </div>
                      <div class="using__number"><span>3</span></div>
                      <div class="using__text">开始转账. 在大多数国家，转账金额当日即可汇入收款人账户</div>
                    </li>
                  </ul>

                </div>

              </div>
            </div>



            <div class="col-md-3 hidden-sm">
              <div class="sticky-column-long">
                <div class="body__action steps service">
                  <div class="service__title title title_medium">服务</div>
                  <div class="service__list">
                    <a class="service__item" href="managing-account.html">账户管理</a>
                    <a class="service__item" href="bank-transfers.html">银行转账</a>
                    <a class="service__item" href="payout-service.html">工资方案</a>
                    <a class="service__item" href="affiliate-payouts.html">联盟支付</a>
                    <a class="service__item" href="local-payments.html">本地银行转账</a>
                    <a class="service__item" href="send-money-to-card.html">匯款</a>
                    <a class="service__item service__item_active" href="cash-remittance.html">现金支付</a>
                  </div>
                  <div class="steps__wrapper">
                    <div class="steps__title title title_medium">尽情使用ePayService带给您的创新金融科技！</div>
                    <div class="steps__button">
                      <a class="button button_big" href="https://online.epayservices.com/register">2分钟开立一个账户</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </main>
    </div>

    {% include 'footer.njk' %}

  </div>


  <div class="up-arrow"></div>

  <script src="../js/jquery-2.2.0.min.js"></script>
  <script src="../js/jquery.placeholder.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/sticky-kit.js"></script>
  <script src="../js/dropkick.min.js"></script>

  <script src="https://www.gstatic.com/charts/loader.js"></script>

  <script src="../js/local_payments.js"></script>
  <script src="../js/local_payments_map.js"></script>
  <script src="../js/app.b6f525f1.js"></script>

  <script>
    window.intercomSettings = {
      app_id: "wz9x11as"
    };
  </script>
  <script>
    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/wz9x11as'
    (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/wz9x11as'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();
  </script>
  <script src="https://online.epayservices.com/affiliate_program/landing_page/remember_affiliate_script.js"></script>
</body>

</html>
