.footer {
    background-color: #374D6B;
    padding: 55px 0 70px;
}

.footer__rows {
    padding-left: 30px;
    display: inline-block;
    vertical-align: top;
    width: 66%;
}

.footer__col {
    position: relative;
}

.footer__title {

}

.footer__list {
    margin: 20px 0 0;
    padding: 0;
    list-style: none;
}

.footer__item {
    margin-top: 10px;
}

.footer__item:first-child {
    margin-top: 0;
}

.footer__link {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #758292;
}

.footer__link:hover {
    color: #fff;
}

.footer__info {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding-right: 30px;
    font-weight: 300;
}

.footer__copyright {
    font-size: 14px;
    line-height: 25px;
    color: #fff;
    max-width: 235px;
}

.footer__text {
    margin-top: 15px;
    font-size: 12px;
    line-height: 20px;
    color: rgba(255, 255, 255, .5);
    max-width: 330px;
}


@media (max-width: 1099px) {
    .footer__rows, .footer__info {display: block;width: 100%;}
    .footer__rows {padding-left: 0;}
    .footer__info {padding-right: 0;}
    .footer__info {
        margin-top: 30px;
        border-top: 1px solid rgba(220,222,225,.2);
        padding-top: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .footer__text {
        margin-top: 0;
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
    }
    .footer__copyright {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        margin-right: 20px;
    }
}
@media (max-width: 767px) {
    .footer {padding: 25px 0;}
    .footer__text {-webkit-box-flex: 0;-ms-flex: 0 0 60%;flex: 0 0 60%;}
    .footer__copyright {-webkit-box-flex: 0;-ms-flex: 0 0 35%;flex: 0 0 35%;}
    .footer__col:nth-child(3), .footer__col:nth-child(4) {padding-top: 20px;margin-top: 20px;}
    .footer__col:nth-child(3):before, .footer__col:nth-child(4):before {
        content: '';
        position: absolute;
        top: 0;
        left: 20px;
        right: 20px;
        height: 1px;
        background-color: rgba(220,222,225,.2);
    }
    .footer__col:nth-child(3):before {right: 0;}
    .footer__col:nth-child(4):before {left: 0;}
}
@media (max-width: 579px) {
    .footer__info {
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .footer__text {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        flex: 0 0 100%;
    }
    .footer__copyright {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        flex: 0 0 100%;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
        margin-top: 20px;
        border-top: 1px solid rgba(220,222,225,.2);
        max-width: 100%;
        margin-right: 0;
        padding-top: 20px;
    }
}