.ico-block {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.ico-block__item {
    padding: 0 20px;
}

.ico-block__image {
    height: 50px;
    margin-bottom: 15px;
}

.ico-block__image .icon {
    margin-left: auto;
    margin-right: auto;
}

.ico-block__title {
    margin-top: 15px;
}



@media (max-width: 479px) {
    .ico-block {-ms-flex-wrap: wrap;flex-wrap: wrap;}
    .ico-block__item {-webkit-box-flex: 0;-ms-flex: 0 0 48%;flex: 0 0 48%;margin-bottom: 20px;padding: 0 10px;}
}