.sub-menu {
    display: none;
    position: relative;
    text-align: center;
    padding-bottom: 0;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    -webkit-transition: height .3s, opacity .3s, visibility .3s, padding .3s linear;
    transition:  height .3s linear, opacity .3s linear, visibility .3s linear, padding .3s linear;
}

.sub-menu_open {
    padding-bottom: 20px;
    visibility: visible;
    opacity: 1;
    max-height: 100%;
}

.sub-menu__link {
    display: block;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #fff;
    margin-top: 25px;
}

.sub-menu__link:first-child {
    margin-top: 0;
}

.sub-menu__link:hover {
    color: #fff;
}

@media (max-width: 992px) {
    .sub-menu{display: block;}
}