.sum {
    position: relative;
    padding-right: 10px;
}

.sum__number {
    max-width: 270px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sum__number sup {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    top: -25px;
}

.sum__note {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 10px;
}

.sum__text {
    margin-top: 10px;
}

.sum__icon {
    position: absolute;
    top: 10px;
    left: -45px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #DCDEE1;
    background: url(../images/ico-arrow.svg) no-repeat 50% 50%;
    background-size: 13px 13px;
}

.sum__icon_down {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}



@media (max-width: 1099px) {
    .sum__number.title {font-size: 23px;line-height: 28px;}
    .sum__icon {border: none;width: 26px;height: 26px;left: -30px;top: 0;}
    .sum__number sup {top: -13px;}
}