.up-arrow {
    position: fixed;
    bottom: 95px;
    right: -200px;
    width: 40px;
    height: 40px;
    background-color: #e5f8fb;
    border-radius: 2px;
    cursor: pointer;
    z-index: 100;
    display: none;
    -webkit-transition: right ease-out 0.2s;
    transition: right ease-out 0.2s;
}

.up-arrow_active {
    right: 37px;
}

.up-arrow:before,
.up-arrow:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -5px;
    width: 10px;
    height: 10px;
    border-top: 1px solid #00B4D5;
    border-left: 1px solid #00B4D5;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


@media (max-width: 699px) {
    .up-arrow {display: block;}
}