---
permalink: "{{ locale }}/{{ page.fileSlug }}.html"
---

<!DOCTYPE html>
<html lang="ms">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../css/style.css?v=205527072022">
  <title>ePayService - Bayaran</title>
</head>

<body class="page-sticky">


  <div class="strut">

    <div class="strut__row">

      <header class="header">
        <div class="header__top header__top_sticky">
          <div class="region">
            <div class="top">
              <div class="top__main">
                <div class="top__burger burger">
                  <div class="burger__handler"></div>
                  <div class="burger__body"></div>
                </div>
                <div class="top__logo">
                  <a class="logo" href="index.html"></a>
                </div>
                <nav class="top__nav nav">
                  <!--<a class="nav__link" href="-about.html">About Us</a>-->
                  <a class="nav__link nav__link_more" href="#" data-inner="inner-nav"><span>Perkhidmatan</span></a>
                  <div class="sub-menu">
                    <a class="sub-menu__link" href="managing-account.html">Pengurusan Akaun</a>
                    <a class="sub-menu__link" href="bank-transfers.html">Pindahan Wang</a>
                    <a class="sub-menu__link" href="prepaid-cards.html">Kad Debit</a>
                    <a class="sub-menu__link" href="affiliate-payouts.html">Pembayaran Ahli Gabungan</a>
                    <a class="sub-menu__link" href="payout-service.html">Penyelesaian Penggajian</a>
                    <a class="sub-menu__link" href="virtual-cards.html">Kad Maya</a>
                    <a class="sub-menu__link" href="local-payments.html">Pindahan Bank Tempatan</a>
                    <a class="sub-menu__link" href="send-money-to-card.html">Pindahan ke kad</a>
                    <a class="sub-menu__link" href="cash-remittance.html">Pembayaran tunai</a>
                  </div>
                  <a class="nav__link nav__link_active" href="fees.html">Bayaran</a>
                  <a class="nav__link" href="contact-us.html">Hubungi Kami</a>
                  <a class="nav__link" target="_blank" href="http://faq.epayservices.com">FAQ</a>
                </nav>
                <a class="top__profile" href="#"></a>
                <div class="top__sign-in">
                  <a class="button" href="https://online.epayservices.com/register">BUKA AKAUN PERCUMA</a>
                  <a class="button button_border" href="https://online.epayservices.com/">LOG MASUK</a>
                </div>
              </div>
              <div class="top__actions">
                <div class="top__buttons">
                  <a class="button" href="https://online.epayservices.com/register">BUKA AKAUN PERCUMA</a>
                  <a class="button button_border" href="https://online.epayservices.com/">LOG MASUK</a>
                </div>
                <div class="top__language lang-select drop">
                  <div class="lang-select__toggle drop__handler">
                    <div class="lang-select__image">
                      <img src="../images/flag-ms.svg" alt="">
                    </div>
                    <div class="lang-select__title">MS</div>
                  </div>
                  <div class="lang-select__list drop__down">
                    <a class="lang-select__item" href="../en/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag.svg" alt="">
                      </div>
                      <div class="lang-select__title">English (US)</div>
                    </a>
                    <a class="lang-select__item" href="../uk/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-uk.svg" alt="">
                      </div>
                      <div class="lang-select__title">English</div>
                    </a>
                    <a class="lang-select__item" href="../ru/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/ru.png" alt="">
                      </div>
                      <div class="lang-select__title">Русский</div>
                    </a>
                    <a class="lang-select__item" href="../es/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-es.png" alt="">
                      </div>
                      <div class="lang-select__title">Español</div>
                    </a>
                    <a class="lang-select__item" href="../co/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-co.png" alt="">
                      </div>
                      <div class="lang-select__title">Español (Colombia)</div>
                    </a>
                    <a class="lang-select__item" href="../pt/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pt.svg" alt="">
                      </div>
                      <div class="lang-select__title">Português</div>
                    </a>
                    <a class="lang-select__item" href="../vn/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-vn.svg" alt="">
                      </div>
                      <div class="lang-select__title">Tiếng Việt</div>
                    </a>
                    <a class="lang-select__item" href="../ar/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ar.png" alt="">
                      </div>
                      <div class="lang-select__title">عربى</div>
                    </a>
                    <a class="lang-select__item" href="../pl/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pl.svg" alt="">
                      </div>
                      <div class="lang-select__title">Język polski</div>
                    </a>
                    <a class="lang-select__item" href="../zh/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-zh.svg" alt="">
                      </div>
                      <div class="lang-select__title">汉语</div>
                    </a>
                    <a class="lang-select__item" href="../de/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-de.svg" alt="">
                      </div>
                      <div class="lang-select__title">Deutsch</div>
                    </a>
                    <a class="lang-select__item" href="../fr/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-fr.svg" alt="">
                      </div>
                      <div class="lang-select__title">Français</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="inner-nav" id="inner-nav">
            <div class="region">
              <div class="inner-nav__list">
                <a class="inner-nav__item" href="managing-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_safe"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Pengurusan Akaun</div>
                </a>
                <a class="inner-nav__item" href="bank-transfers.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_house2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Pindahan Wang</div>
                </a>
                <a class="inner-nav__item" href="prepaid-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_cards2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Kad Debit</div>
                </a>
                <a class="inner-nav__item" href="affiliate-payouts.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_crowd2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Pembayaran Ahli Gabungan</div>
                </a>
                <a class="inner-nav__item" href="payout-service.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hands2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Penyelesaian Penggajian</div>
                </a>
                <a class="inner-nav__item" href="virtual-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_virtual-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Kad Maya</div>
                </a>
                <a class="inner-nav__item" href="local-payments.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_local-pay"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Pindahan Bank Tempatan</div>
                </a>
                <a class="inner-nav__item" href="send-money-to-card.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_save-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Pindahan ke kad</div>
                </a>
                <a class="inner-nav__item" href="cash-remittance.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hand-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Pembayaran tunai</div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </header>

    </div>

    <div class="strut__row strut__row_expanded">
      <main class="body region">
        <div class="row row-eq-height">
          <div class="col-md-3 col-xs-4 full-width">

            <div class="sticky-column">
              {% include 'pages/fees/tabSwitch.njk' %}

              <aside class="body__nav side-nav js-first-tab hidden-xs">
                <div class="side-nav__list">
                  <a class="side-nav__item ico-nav swap-item swap-item_active js-scroll" href="#ach-directdeposit">
                    <div class="ico-nav__image">
                      <div class="icon icon_flag-sm"></div>
                    </div>
                    <div class="ico-nav__info">
                      <div class="ico-nav__title text-dark text-dark_small">Pindahan wang Amerika Syarikat</div>
                      <div class="ico-nav__text text">{{ 'fees.moneyTransfersUS.navText' | i18n }}</div>
                    </div>
                  </a>
                  <a class="side-nav__item ico-nav swap-item js-scroll" href="#wire-transfer">
                    <div class="ico-nav__image">
                      <div class="icon icon_earth-sm"></div>
                    </div>
                    <div class="ico-nav__info">
                      <div class="ico-nav__title text-dark text-dark_small">Pindahan wang global</div>
                      <div class="ico-nav__text text">Pindahan Kawat</div>
                    </div>
                  </a>
                  <a class="side-nav__item ico-nav swap-item js-scroll" href="#sepa">
                    <div class="ico-nav__image">
                      <div class="icon icon_stars-sm"></div>
                    </div>
                    <div class="ico-nav__info">
                      <div class="ico-nav__title text-dark text-dark_small">Pindahan wang Eropah</div>
                      <div class="ico-nav__text text">SEPA</div>
                    </div>
                  </a>
                  <a class="side-nav__item ico-nav swap-item js-scroll" href="#local">
                    <div class="ico-nav__image">
                      <div class="icon icon_local-pay-sm"></div>
                    </div>
                    <div class="ico-nav__info">
                      <div class="ico-nav__title text-dark text-dark_small">Pindahan Bank Tempatan</div>
                      <div class="ico-nav__text text">Deposit Bank tempatan</div>
                    </div>
                  </a>
                  <a class="side-nav__item ico-nav swap-item js-scroll" href="#cheque-processing">
                    <div class="ico-nav__image">
                      <div class="icon icon_check-sm"></div>
                    </div>
                    <div class="ico-nav__info">
                      <div class="ico-nav__title text-dark text-dark_small">Cek bank Amerika Syarikat</div>
                      <div class="ico-nav__text text">Pemprosesan Cek</div>
                    </div>
                  </a>
                  <a class="side-nav__item ico-nav swap-item js-scroll" href="#to-card">
                    <div class="ico-nav__image">
                      <div class="icon icon_save-to-card-sm"></div>
                    </div>
                    <div class="ico-nav__info">
                      <div class="ico-nav__title text-dark text-dark_small">Pindahan ke kad</div>
                      <div class="ico-nav__text text">Mastercard® & VISA®</div>
                    </div>
                  </a>
                  <a class="side-nav__item ico-nav swap-item js-scroll" href="#cash_remittance">
                    <div class="ico-nav__image">
                      <div class="icon icon_calc-sm"></div>
                    </div>
                    <div class="ico-nav__info">
                      <div class="ico-nav__title text-dark text-dark_small">Pembayaran tunai</div>
                    </div>
                  </a>
                </div>
              </aside>
              <aside class="body__nav side-nav js-second-tab hidden-xs" style="display: none;">
                {% include 'pages/fees/cardsList.njk' %}

                <div class="side-calc">
                  <form class="ecb-calc" id="ecb-calc">
                    <div class="ecb-calc__title title title_medium">Currency converter</div>
                    <div class="ecb-calc__row">
                      <div class="ecb-calc__label text">Amount and currency of your purchase from ePayService card</div>
                      <div class="ecb-calc__field">
                        <input class="ecb-calc__input ecb-calc__amount" id="ecb-calc-amount" value="1">
                        <select class="ecb-calc__input ecb-calc__currencies" id="ecb-calc-currencies"></select>
                      </div>
                    </div>
                    <div class="ecb-calc__row">
                      <div class="ecb-calc__info">
                        <div class="ecb-calc__text text">Converted amount</div>
                        <div class="ecb-calc__result" id="ecb-calc-result"></div>
                      </div>
                      <div class="ecb-calc__info">
                        <div class="ecb-calc__text text">Rate </div>
                        <div class="text-dark" id="ecb-calc-rate"></div>
                      </div>
                      <div class="ecb-calc__info">
                        <div class="ecb-calc__text text">Total mark-up over ECB </div>
                        <div class="text-dark" id="ecb-calc-markup"></div>
                      </div>
                    </div>
                    <div class="ecb-calc__row">
                      <a href="https://sdw.ecb.europa.eu/curConverter.do" target="_blank">ECB currency converter</a>
                    </div>
                  </form>
                </div>
              </aside>

            </div>
          </div>
          <div class="col-md-6 col-xs-8 full-width">
            <div class="body__content exchange js-first-tab">
              {% include 'pages/fees/achDirectDeposit.njk' %}

              <div class="exchange__item" id="wire-transfer">
                <h1 class="exchange__title title">Pindahan Wang Global</h1>
                <div class="exchange__link">
                  <a class="link-arr" href="bank-transfers.html">Lebih lanjut mengenai pindahan kawat</a>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-6 col-xs-4">
                      <div class="text">Arah</div>
                    </div>
                    <div class="col-sm-3 col-xs-4">
                      <div class="text">Yuran</div>
                    </div>
                    <div class="col-sm-3 col-xs-4">
                      <div class="text"></div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-6 col-xs-4">
                      <div class="exchange__direction text-dark text-dark_big"><span>Deposit</span></div>
                      <div class="text">ke dompet anda dengan ePayService</div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                      <div class="text-dark text-dark_big">3% + 50&nbsp;USD</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-6 col-xs-4">
                      <div class="exchange__direction exchange__direction_down text-dark text-dark_big">
                        <span>Pengeluaran</span></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                      <div class="text-dark text-dark_big">1% + 40 EUR</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="exchange__item" id="sepa">
                <h1 class="exchange__title title">Pindahan Wang dalam Euro</h1>
                <div class="exchange__link">
                  <a class="link-arr" href="bank-transfers.html">Lebih lanjut mengenai SEPA</a>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-6 col-xs-4">
                      <div class="text">Arah</div>
                    </div>
                    <div class="col-sm-3 col-xs-4">
                      <div class="text">Yuran</div>
                    </div>
                    <div class="col-sm-3 col-xs-4">
                      <div class="text">Yuran minimum</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-6 col-xs-4">
                      <div class="exchange__direction text-dark text-dark_big"><span>Deposit</span></div>
                      <div class="text">ke dompet anda dengan ePayService</div>
                    </div>
                    <div class="col-sm-3 col-xs-4">
                      <div class="text-dark text-dark_big">1%</div>
                    </div>
                    <div class="col-sm-3 col-xs-4">
                      <div class="text-dark text-dark_big">25 EUR</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-6 col-xs-4">
                      <div class="exchange__direction exchange__direction_down text-dark text-dark_big">
                        <span>Pengeluaran</span></div>
                      <div class="text">ke akaun bank anda</div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                      <div class="text-dark text-dark_big">30 EUR</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-6 col-xs-4">
                      <div class="exchange__direction exchange__direction_down text-dark text-dark_big">
                        <span>Pengeluaran</span></div>
                      <div class="text">ke akaun bank syarikat</div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                      <div class="text-dark text-dark_big">0,5 % + 40 EUR</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="exchange__item" id="cheque-processing">
                <h1 class="exchange__title title">Pemprosesan Cek dalam USD</h1>
                <div class="exchange__link">

                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">Arah</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">Semak jenis</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">Yuran</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="exchange__direction exchange__direction_down text-dark text-dark_big">
                        <span>Pengeluaran</span></div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">Bayaran dengan cek (Amerika Syarikat)</div>
                      <div class="text">Dalam USD</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">15 USD</div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="exchange__item" id="local">
                <div class="exchange__title title">Pindahan Bank Tempatan</div>
                <div class="exchange__row exchange__row_local">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">Arah</div>
                    </div>
                    <div class="col-sm-8 col-xs-8">
                      <div class="text">Yuran</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="exchange__direction exchange__direction_down text-dark text-dark_big">
                        <span>Pengeluaran</span></div>
                      <div class="text">ke akaun bank tempatan</div>
                    </div>
                    <div class="col-sm-8 col-xs-8">
                      <div class="text-dark text-dark_big">40 USD</div>
                      <div class="text">untuk semua mata wang di bawah</div>
                      <div class="row row-eq-height">
                        <div class="col-sm-6">
                          <div class="text-dark text-dark_small">Chinese Yuan Renminbi <span class="text">(CNY)</span>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="text-dark text-dark_small">Vietnamese Dong <span class="text">(VND)</span></div>
                        </div>
                      </div>
                      <div class="exchange__currency exchange__currency_border">
                        <div class="text-dark text-dark_big">20 USD</div>
                        <div class="text">untuk semua mata wang di bawah</div>
                      </div>
                      <div class="exchange__currency row row-eq-height">
                        <div class="col-sm-6">
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">ARS</div>
                            <div class="text text_tiny">Argentine Peso</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">BRL</div>
                            <div class="text text_tiny">Brazilian Real</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">BGN</div>
                            <div class="text text_tiny">Bulgarian Lev</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">CAD</div>
                            <div class="text text_tiny">Canadian Dollar</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">COP</div>
                            <div class="text text_tiny">Colombian Peso</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">DOP</div>
                            <div class="text text_tiny">Dominican Peso</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">EGP</div>
                            <div class="text text_tiny">Egyptian Pound</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">GTQ</div>
                            <div class="text text_tiny">Guatemalan Quetzal</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">INR</div>
                            <div class="text text_tiny">Indian Rupee</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">IDR</div>
                            <div class="text text_tiny">Indonesian Rupiah</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">JMD</div>
                            <div class="text text_tiny">Jamaican Dollar</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">JPY</div>
                            <div class="text text_tiny">Japanese Yen</div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">KES</div>
                            <div class="text text_tiny">Kenyan Shilling</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">MYR</div>
                            <div class="text text_tiny">Malaysian Ringgit</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">MXN</div>
                            <div class="text text_tiny">Mexican Peso</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">PHP</div>
                            <div class="text text_tiny">Philippine Peso</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">PLN</div>
                            <div class="text text_tiny">Polish Zloty</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">RON</div>
                            <div class="text text_tiny">Romanian New Leu</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">RUB</div>
                            <div class="text text_tiny">Russian Ruble</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">LKR</div>
                            <div class="text text_tiny">Sri Lankan Rupee</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">THB</div>
                            <div class="text text_tiny">Thai Baht</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">GBP</div>
                            <div class="text text_tiny">British Pound</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">VEF</div>
                            <div class="text text_tiny">Venezuelan Bolivar</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="exchange__item" id="to-card">
                <div class="exchange__title title">Pindahan wang ke Mastercard® dan VISA®</div>
                <div class="exchange__link">
                  <a class="link-arr" href="send-money-to-card.html">Lebih lanjut mengenai pemindahan wang kepada
                    Mastercard® & Visa®</a>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">Arah</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">Julat</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">Yuran</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row exchange__row_blank">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="exchange__direction exchange__direction_down text-dark text-dark_big">
                        <span>Pengeluaran</span></div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">sehingga 500 EUR</div>
                      <div class="text">Memindahkan kepada Visa®/Mastercard®</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">1.95 % + 3 EUR</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row ">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4"></div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">dari 500 EUR</div>
                      <div class="text">Memindahkan kepada Visa®/Mastercard®</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">1.95 % + 6 EUR</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row exchange__row_blank">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="exchange__direction exchange__direction_down text-dark text-dark_big">
                        <span>Pengeluaran</span></div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">sehingga 500 USD</div>
                      <div class="text">Memindahkan kepada Mastercard®</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">2.4 % + 3 USD</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row ">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4"></div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">dari 500 USD</div>
                      <div class="text">Memindahkan kepada Mastercard®</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">2.4 % + 6 USD</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="exchange__item" id="cash_remittance">
                <div class="exchange__title title">Pembayaran tunai</div>
                <div class="exchange__link">
                  <a class="link-arr" href="cash-remittance.html">Lebih lanjut mengenai Pembayaran tunai</a>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">Arah</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">Julat</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">Yuran</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row exchange__row_blank">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="exchange__direction exchange__direction_down text-dark text-dark_big">
                        <span>Pengeluaran</span></div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">sehingga 500 USD</div>
                      <div class="text">Pembayaran tunai</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">1 % + 15 USD</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row exchange__row_blank">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4"></div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">dari 500 USD</div>
                      <div class="text">Pembayaran tunai</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">1 % + 30 USD</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4"></div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">sehingga 4500 EUR</div>
                      <div class="text">Pembayaran tunai: Ukraine</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">2 % + 30 EUR</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="body__content exchange js-second-tab" style="display: none;">
              {% include 'pages/fees/cardsInfo/standart.njk' %}

              <!-- <div class="exchange__item" id="prepaid-card-premium">
                <h1 class="exchange__title title">Mastercard® Prabayar ePayService <br>Premium</h1>
                <div class="exchange__link">
                  <a class="link-arr" href="prepaid-cards.html">Lebih lanjut mengenai kad Premium ePayservice
                    Premium</a>
                </div>

                <div class="tabs using__switch">
                  <div class="tabs__head">
                    <button class="tabs__tag tabs__tag_current using__tab" type="button">EUR</button>
                    <button class="tabs__tag using__tab" type="button">USD</button>
                    <button class="tabs__tag using__tab" type="button">GBP</button>
                  </div>
                  <div class="tabs__body tabs__body_line">
                    <div class="tabs__section tabs__section_visible">
                      <ul class="service-info__list">
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Pengeluaran Kad & Pengaktifan
                            Mastercard® ePayService Premium EUR</div>
                          <div class="service-info__number text-dark text-dark_big text-dark_blue">PERCUMA</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Monthly Maintenance Fee</div>
                          <div class="service-info__number text-dark text-dark_big">€1.99</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Had Bebanan Harian Minimum</div>
                          <div class="service-info__number text-dark text-dark_big">€1.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Had Bebanan Harian Maksimum</div>
                          <div class="service-info__number text-dark text-dark_big">€8,500.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Pertukaran Mata Wang (Yuran FX)
                          </div>
                          <div class="service-info__number text-dark text-dark_big">1.99%</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Yuran Pengeluaran ATM setiap
                            transaksi</div>
                          <div class="service-info__number text-dark text-dark_big">€1.99</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Bilangan Maksimum Bebanan setiap
                            hari</div>
                          <div class="service-info__number text-dark text-dark_big">10</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Baki Maksimum</div>
                          <div class="service-info__number text-dark text-dark_big">€8,500.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Pertanyaan Baki</div>
                          <div class="service-info__number text-dark text-dark_big">€0.50</div>
                        </li>
                      </ul>
                      <div class="exchange__note note">
                        <div class="note__title text-dark text-dark_big">Pilih kaedah penghantaran anda</div>
                        <ul class="service-info__list">
                          <li class="service-info__row">
                            <div class="service-info__text text-dark text-dark_small">Mel Biasa</div>
                            <div class="service-info__number text-dark text-dark_big text-dark_blue">PERCUMA</div>
                          </li>
                          <li class="service-info__row">
                            <div class="service-info__text text-dark text-dark_small">Penghantaran Ekspres</div>
                            <div class="service-info__number text-dark text-dark_big">€70</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="tabs__section">
                      <ul class="service-info__list">
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Pengeluaran Kad & Pengaktifan
                            Mastercard® ePayService Premium USD</div>
                          <div class="service-info__number text-dark text-dark_big text-dark_blue">PERCUMA</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Monthly Maintenance Fee</div>
                          <div class="service-info__number text-dark text-dark_big">$2.40</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Had Bebanan Harian Minimum</div>
                          <div class="service-info__number text-dark text-dark_big">$1.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Had Bebanan Harian Maksimum</div>
                          <div class="service-info__number text-dark text-dark_big">$10,000.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Pertukaran Mata Wang (Yuran FX)
                          </div>
                          <div class="service-info__number text-dark text-dark_big">2.40%</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Yuran Pengeluaran ATM setiap
                            transaksi</div>
                          <div class="service-info__number text-dark text-dark_big">$2.40</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Bilangan Maksimum Bebanan setiap
                            hari</div>
                          <div class="service-info__number text-dark text-dark_big">10</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Baki Maksimum</div>
                          <div class="service-info__number text-dark text-dark_big">$10,000.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Pertanyaan Baki</div>
                          <div class="service-info__number text-dark text-dark_big">$0.50</div>
                        </li>
                      </ul>
                      <div class="exchange__note note">
                        <div class="note__title text-dark text-dark_big">Pilih kaedah penghantaran anda</div>
                        <ul class="service-info__list">
                          <li class="service-info__row">
                            <div class="service-info__text text-dark text-dark_small">Mel Biasa</div>
                            <div class="service-info__number text-dark text-dark_big text-dark_blue">PERCUMA</div>
                          </li>
                          <li class="service-info__row">
                            <div class="service-info__text text-dark text-dark_small">Penghantaran Ekspres</div>
                            <div class="service-info__number text-dark text-dark_big">$70</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="tabs__section">
                      <ul class="service-info__list">
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Pengeluaran Kad & Pengaktifan
                            Mastercard® ePayService Premium GBP</div>
                          <div class="service-info__number text-dark text-dark_big text-dark_blue">PERCUMA</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Monthly Maintenance Fee</div>
                          <div class="service-info__number text-dark text-dark_big">£1.99</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Had Bebanan Harian Minimum</div>
                          <div class="service-info__number text-dark text-dark_big">£1.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Had Bebanan Harian Maksimum</div>
                          <div class="service-info__number text-dark text-dark_big">£6,400.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Pertukaran Mata Wang (Yuran FX)
                          </div>
                          <div class="service-info__number text-dark text-dark_big">1.99%</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Yuran Pengeluaran ATM setiap
                            transaksi</div>
                          <div class="service-info__number text-dark text-dark_big">£1.99</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Bilangan Maksimum Bebanan setiap
                            hari</div>
                          <div class="service-info__number text-dark text-dark_big">10</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Baki Maksimum</div>
                          <div class="service-info__number text-dark text-dark_big">£6,400.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Pertanyaan Baki</div>
                          <div class="service-info__number text-dark text-dark_big">£0.50</div>
                        </li>
                      </ul>
                      <div class="exchange__note note">
                        <div class="note__title text-dark text-dark_big">Pilih kaedah penghantaran anda</div>
                        <ul class="service-info__list">
                          <li class="service-info__row">
                            <div class="service-info__text text-dark text-dark_small">Mel Biasa</div>
                            <div class="service-info__number text-dark text-dark_big text-dark_blue">PERCUMA</div>
                          </li>
                          <li class="service-info__row">
                            <div class="service-info__text text-dark text-dark_small">Penghantaran Ekspres</div>
                            <div class="service-info__number text-dark text-dark_big">£70</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="exchange__item" id="virtual-card-single">
                <h1 class="exchange__title title">Mastercard® Prabayar ePayService <br>Maya Tunggal</h1>
                <div class="exchange__link">
                  <a class="link-arr" href="virtual-cards.html">Lebih lanjut mengenai maya ePayService Tunggal</a>
                </div>

                <div class="tabs using__switch">
                  <div class="tabs__head">
                    <button class="tabs__tag tabs__tag_current using__tab" type="button">EUR</button>
                    <button class="tabs__tag using__tab" type="button">USD</button>
                  </div>
                  <div class="tabs__body tabs__body_line">
                    <div class="tabs__section tabs__section_visible">
                      <ul class="service-info__list">
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Pengeluaran Kad & Pengaktifan
                            Mastercard® Maya ePayService Tunggal EUR (bergantung Kepada Jumlah Permulaan)</div>
                          <div class="service-info__number text-dark text-dark_big">dari €1.00 hingga €20.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Had Bebanan Harian Minimum
                            (Permulaan)</div>
                          <div class="service-info__number text-dark text-dark_big">€1.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Nilai Bebanan Permulaan Maksimum
                          </div>
                          <div class="service-info__number text-dark text-dark_big">€3,500.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Pertukaran Mata Wang (Yuran FX)
                          </div>
                          <div class="service-info__number text-dark text-dark_big">1.75%</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">POS/Pembelian Atas Talian</div>
                          <div class="service-info__number text-dark text-dark_big text-dark_blue">PERCUMA</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Bilangan Maksimum Bebanan</div>
                          <div class="service-info__number text-dark text-dark_big">1</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Custom jumlah awal bayaran</div>
                          <div class="service-info__number text-dark text-dark_big">€3.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Baki Maksimum</div>
                          <div class="service-info__number text-dark text-dark_big">€3,500.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Jumlah maksimum kad aktif</div>
                          <div class="service-info__number text-dark text-dark_big">sehingga 10</div>
                        </li>
                      </ul>
                    </div>
                    <div class="tabs__section">
                      <ul class="service-info__list">
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Pengeluaran Kad & Pengaktifan
                            Mastercard® Maya ePayService Tunggal USD (bergantung Kepada Jumlah Permulaan)</div>
                          <div class="service-info__number text-dark text-dark_big">dari $1.00 hingga $20.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Had Bebanan Harian Minimum
                            (Permulaan)</div>
                          <div class="service-info__number text-dark text-dark_big">$1.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Nilai Bebanan Permulaan Maksimum
                          </div>
                          <div class="service-info__number text-dark text-dark_big">$3,500.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Pertukaran Mata Wang (Yuran FX)
                          </div>
                          <div class="service-info__number text-dark text-dark_big">1.75%</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">POS/Pembelian Atas Talian</div>
                          <div class="service-info__number text-dark text-dark_big text-dark_blue">PERCUMA</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Bilangan Maksimum Bebanan</div>
                          <div class="service-info__number text-dark text-dark_big">1</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Custom jumlah awal bayaran</div>
                          <div class="service-info__number text-dark text-dark_big">$3.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Baki Maksimum</div>
                          <div class="service-info__number text-dark text-dark_big">$3,500.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Jumlah maksimum kad aktif</div>
                          <div class="service-info__number text-dark text-dark_big">sehingga 10</div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="exchange__note note">
                  <div class="note__title text-dark text-dark_big text-dark_red">Penting!</div>
                  <div class="note__text text-dark text-dark_small">Kad akan sah selama 2 bulan</div>
                </div>
              </div> -->

              {% include 'pages/fees/cardsInfo/multi.njk' %}

              <div class="exchange__item" id="over-ecb-rates-table">
                <h1 class="exchange__title title">Tokokan % indikatif kerana menggunakan kad anda di negara EEA</h1>
                <div class="tabs using__switch">
                  <div class="tabs__head">
                    <button class="tabs__tag using__tab" type="button">EUR</button>
                  </div>
                  <div class="tabs__body tabs__body_line">
                    <div class="tabs__section tabs__section_visible">
                      <ul class="service-info__list" id="ecb-rates-section">
                        <li class="service-info__row" id="ecb-rate-row">
                          <div class="service-info__text text-dark text-dark_small"></div>
                          <div class="service-info__number text-dark text-dark_big"></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-3 hidden-sm">
            <div class="sticky-column">
              <div class="body__action steps js-first-tab">
                <div class="steps__title title title_medium">Nikmati teknologi kewangan yang inovatif dibawa kepada anda
                  oleh ePayService!</div>
                <div class="steps__button">
                  <a class="button button_big" href="https://online.epayservices.com/">BUKA AKAUN PERCUMA</a>
                </div>
              </div>
              <div class="body__action steps js-second-tab" style="display: none;">
                <div class="steps__image js-card-image" id="red-card">
                  <img src="../images/red-card.png" srcset="../images/red-card.png 1x, ../images/red-card@2x.png 2x" alt="">
                </div>
                <div class="steps__image js-card-image" id="blue-card" style="display: none;">
                  <img src="../images/blue-card.png" alt="">
                </div>
                <div class="steps__title title title_medium">Kad ePayService anda akan dikeluarkan secara percuma dalam
                  masa beberapa hari!</div>
                <div class="steps__flow">
                  <ol class="ordered-list">
                    <li class="ordered-list__item text-dark text-dark_small">Daftar dengan ePayService</li>
                    <li class="ordered-list__item text-dark text-dark_small">BacLakukana prosedur pengesahan yang mudah
                    </li>
                    <li class="ordered-list__item text-dark text-dark_small">Pilih jenis penghantaran pilihan anda dan
                      dapatkan kad anda tidak lama lagi</li>
                  </ol>
                </div>

                <div class="steps__button">
                  <a class="button button_big" href="https://online.epayservices.com/">DAPATKAN KAD PERCUMA ANDA</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    {% include 'footer.njk' %}

  </div>




  <script src="../js/jquery-2.2.0.min.js"></script>
  <script src="../js/accounting.min.js"></script>
  <script src="../js/jquery.placeholder.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/sticky-kit.js"></script>
  <script src="../js/ecb_calc.js?v=2"></script>
  <script src="../js/app.b6f525f1.js"></script>
  <script>
    window.intercomSettings = {
      app_id: "wz9x11as"
    };
  </script>
  <script>
    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/wz9x11as'
    (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/wz9x11as'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();
  </script>

  <script src="https://online.epayservices.com/affiliate_program/landing_page/remember_affiliate_script.js"></script>
</body>

</html>
