---
permalink: "{{ locale }}/{{ page.fileSlug }}.html"
---

<!DOCTYPE html>
<html lang="ms">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../css/style.css?v=170628072022">
  <title>ePayService - Pengurusan Akaun</title>
</head>

<body>


  <div class="strut">

    <div class="strut__row">

      <header class="header">
        <div class="header__top header__top_sticky">
          <div class="region">
            <div class="top">
              <div class="top__main">
                <div class="top__burger burger">
                  <div class="burger__handler"></div>
                  <div class="burger__body"></div>
                </div>
                <div class="top__logo">
                  <a class="logo" href="index.html"></a>
                </div>
                <nav class="top__nav nav">
                  <!--<a class="nav__link" href="-about.html">About Us</a>-->
                  <a class="nav__link nav__link_active nav__link_more" href="#"
                    data-inner="inner-nav"><span>Perkhidmatan</span></a>
                  <div class="sub-menu">
                    <a class="sub-menu__link" href="managing-account.html">Pengurusan Akaun</a>
                    <a class="sub-menu__link" href="bank-transfers.html">Pindahan Wang</a>
                    <a class="sub-menu__link" href="prepaid-cards.html">Kad Debit</a>
                    <a class="sub-menu__link" href="affiliate-payouts.html">Pembayaran Ahli Gabungan</a>
                    <a class="sub-menu__link" href="payout-service.html">Penyelesaian Penggajian</a>
                    <a class="sub-menu__link" href="virtual-cards.html">Kad Maya</a>
                    <a class="sub-menu__link" href="local-payments.html">Pindahan Bank Tempatan</a>
                    <a class="sub-menu__link" href="send-money-to-card.html">Pindahan ke kad</a>
                    <a class="sub-menu__link" href="cash-remittance.html">Pembayaran tunai</a>
                  </div>
                  <a class="nav__link" href="fees.html">Bayaran</a>
                  <a class="nav__link" href="contact-us.html">Hubungi Kami</a>
                  <a class="nav__link" target="_blank" href="http://faq.epayservices.com">FAQ</a>
                </nav>
                <a class="top__profile" href="#"></a>
                <div class="top__sign-in">
                  <a class="button" href="https://online.epayservices.com/register">BUKA AKAUN PERCUMA</a>
                  <a class="button button_border" href="https://online.epayservices.com/">LOG MASUK</a>
                </div>
              </div>
              <div class="top__actions">
                <div class="top__buttons">
                  <a class="button" href="https://online.epayservices.com/register">BUKA AKAUN PERCUMA</a>
                  <a class="button button_border" href="https://online.epayservices.com/">LOG MASUK</a>
                </div>
                <div class="top__language lang-select drop">
                  <div class="lang-select__toggle drop__handler">
                    <div class="lang-select__image">
                      <img src="../images/flag-ms.svg" alt="">
                    </div>
                    <div class="lang-select__title">MS</div>
                  </div>
                  <div class="lang-select__list drop__down">
                    <a class="lang-select__item" href="../en/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag.svg" alt="">
                      </div>
                      <div class="lang-select__title">English (US)</div>
                    </a>
                    <a class="lang-select__item" href="../uk/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-uk.svg" alt="">
                      </div>
                      <div class="lang-select__title">English</div>
                    </a>
                    <a class="lang-select__item" href="../ru/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/ru.png" alt="">
                      </div>
                      <div class="lang-select__title">Русский</div>
                    </a>
                    <a class="lang-select__item" href="../es/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-es.png" alt="">
                      </div>
                      <div class="lang-select__title">Español</div>
                    </a>
                    <a class="lang-select__item" href="../co/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-co.png" alt="">
                      </div>
                      <div class="lang-select__title">Español (Colombia)</div>
                    </a>
                    <a class="lang-select__item" href="../pt/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pt.svg" alt="">
                      </div>
                      <div class="lang-select__title">Português</div>
                    </a>
                    <a class="lang-select__item" href="../ro/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ro.svg" alt="">
                      </div>
                      <div class="lang-select__title">Română</div>
                    </a>
                    <a class="lang-select__item" href="../vn/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-vn.svg" alt="">
                      </div>
                      <div class="lang-select__title">Tiếng Việt</div>
                    </a>
                    <a class="lang-select__item" href="../ar/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ar.png" alt="">
                      </div>
                      <div class="lang-select__title">عربى</div>
                    </a>
                    <a class="lang-select__item" href="../pl/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pl.svg" alt="">
                      </div>
                      <div class="lang-select__title">Język polski</div>
                    </a>
                    <a class="lang-select__item" href="../zh/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-zh.svg" alt="">
                      </div>
                      <div class="lang-select__title">汉语</div>
                    </a>
                    <a class="lang-select__item" href="../de/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-de.svg" alt="">
                      </div>
                      <div class="lang-select__title">Deutsch</div>
                    </a>
                    <a class="lang-select__item" href="../fr/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-fr.svg" alt="">
                      </div>
                      <div class="lang-select__title">Français</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="inner-nav" id="inner-nav">
            <div class="region">
              <div class="inner-nav__list">
                <a class="inner-nav__item" href="managing-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_safe"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Pengurusan Akaun</div>
                </a>
                <a class="inner-nav__item" href="bank-transfers.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_house2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Pindahan Wang</div>
                </a>
                <a class="inner-nav__item" href="prepaid-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_cards2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Kad Debit</div>
                </a>
                <a class="inner-nav__item" href="affiliate-payouts.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_crowd2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Pembayaran Ahli Gabungan</div>
                </a>
                <a class="inner-nav__item" href="payout-service.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hands2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Penyelesaian Penggajian</div>
                </a>
                <a class="inner-nav__item" href="virtual-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_virtual-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Kad Maya</div>
                </a>
                <a class="inner-nav__item" href="local-payments.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_local-pay"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Pindahan Bank Tempatan</div>
                </a>
                <a class="inner-nav__item" href="send-money-to-card.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_save-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Pindahan ke kad</div>
                </a>
                <a class="inner-nav__item" href="cash-remittance.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hand-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Pembayaran tunai</div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </header>

    </div>

    <div class="strut__row strut__row_expanded">
      <main class="body body_long body_narrow">

        <div class="special-solution special-solution_dark" style="background-image: url(.././images/account-bg.jpg)">
          <div class="region">
            <h1 class="special-solution__title title">Sistem ePayService boleh digunakan pada mana-mana pelayar dan
              sebarang alat peranti moden</h1>
            <div class="special-solution__text text-dark"></div>
          </div>
        </div>

        <div class="region">
          <div class="row row-eq-height">
            <div class="col-md-9 col-xs-12 full-width">
              <div class="body__content body__content_small">
                <div class="solutions__block">
                  <h2 class="solutions__title title">Masa Depan Kewangan Digital</h2>
                  <div class="solutions__text text-dark">Urus dompet elektronik anda pada bila-bila masa dan di mana
                    sahaja dengan mudah melalui sistem pembayaran Online.ePayServices yang unik dengan reka bentuk
                    inovatif dan antara muka yang mudah digunakan, Online.ePayServices adalah penyelesaian yang mudah
                    dan berguna untuk individu dan perniagaan.</div>
                  <div class="solutions__image">
                    <img src="../images/solution-img5.png" alt="">
                  </div>
                </div>
                <div class="solutions__block">
                  <h2 class="solutions__title title">Penyelesaian yang Hhebat untuk Kegunaan Peribadi dan Komersial</h2>
                  <ul class="solutions__list">
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_house"></div>
                      </div>
                      <div class="solutions__note text-dark">Pindahan Bank Antarabangsa</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_check-earth"></div>
                      </div>
                      <div class="solutions__note text-dark">Pindahan dalam Mata Wang Tempatan</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_check-pen2"></div>
                      </div>
                      <div class="solutions__note text-dark">Pemprosesan Cek</div>
                    </li>
                  </ul>
                  <ul class="solutions__list">
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_logo-tag"></div>
                      </div>
                      <div class="solutions__note text-dark">Pindahan Dalaman Segera</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_moon"></div>
                      </div>
                      <div class="solutions__note text-dark">Pindahan Elektronik Tanpa Had</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_cards-switch"></div>
                      </div>
                      <div class="solutions__note text-dark">ePayService Kad Debit ePayService</div>
                    </li>
                  </ul>
                </div>

                <div class="solutions__block">
                  <h2 class="solutions__title title">Dana Anda Selamat</h2>
                  <div class="solutions__text text-dark">Online.ePayServices mengekalkan piawaian tertinggi perisian
                    perbankan moden. Semua data adalah sulit, dan struktur rangkaian mematuhi kehendak PCI DSS. Akaun
                    dilindungi oleh pengesahan dua faktor (2FA).</div>
                  <div class="solutions__image">
                    <img src="../images/solution-img2.svg" alt="">
                  </div>
                </div>

                <div class="using">
                  <div class="row">
                    <div class="col-md-10 col-xs-12">
                      <h2 class="using__title title">Sertai Kami Sekarang!</h2>
                      <div class="using__text text-dark">Dapatkan dompet elektronik baru anda dengan Kad Debit
                        ePayService dalam beberapa langkah mudah. Ia jauh lebih mudah daripada mengunjungi bank.</div>
                      <div class="using__switch tabs">
                        <div class="tabs__head">
                          <button class="tabs__tag tabs__tag_current using__tab" type="button">BAGAIMANA MENDAPATKAN
                            DOMPET EPAYSERVICE</button>
                        </div>
                        <div class="tabs__body">
                          <div class="tabs__section tabs__section_visible">
                            <div class="using__steps">
                              <ul class="using__list">
                                <li class="using__item">
                                  <div class="using__icon">
                                    <div class="icon icon_employee2"></div>
                                  </div>
                                  <div class="using__number"><span>1</span></div>
                                  <div class="using__sub-title title title_small">PERMOHONAN</div>
                                  <div class="using__text">Mulakan dengan pendaftaran. Borang permohonan hanya
                                    mengandungi 11 bahagian, ia tidak akan mengambil masa lebih daripada 2 minit untuk
                                    dilengkapkan. Setelah permohonan anda dihantar anda akan mendapat e-mel dengan kod
                                    akses.</div>
                                </li>
                                <li class="using__item">
                                  <div class="using__icon">
                                    <div class="icon icon_profile-check"></div>
                                  </div>
                                  <div class="using__number"><span>2</span></div>
                                  <div class="using__sub-title title title_small">PENGESAHAN</div>
                                  <div class="using__text">Anda akan diminta untuk menyediakan dua dokumen rasmi yang
                                    membuktikan identiti dan alamat kediaman anda.</div>
                                </li>
                                <li class="using__item">
                                  <div class="using__icon">
                                    <div class="icon icon_card-tall"></div>
                                  </div>
                                  <div class="using__number"><span>3</span></div>
                                  <div class="using__sub-title title title_small">PENGHANTARAN</div>
                                  <div class="using__text">Kad baru anda akan dikeluarkan PERCUMA secara automatik.
                                    Pilih penghantaran yang paling sesuai dan nantikan kad baru anda.</div>
                                </li>
                              </ul>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="col-md-3 hidden-sm">
              <div class="sticky-column-long">
                <div class="body__action steps service" style="margin-bottom: 20px">
                  <div class="service__title title title_medium">Perkhidmatan</div>
                  <div class="service__list">
                    <a class="service__item service__item_active" href="managing-account.html">Pengurusan Akaun</a>
                    <a class="service__item" href="bank-transfers.html">Pindahan Wang</a>
                    <a class="service__item" href="prepaid-cards.html">Kad Debit</a>
                    <a class="service__item" href="payout-service.html">Penyelesaian Penggajian </a>
                    <a class="service__item" href="affiliate-payouts.html">Pembayaran Ahli Gabungan</a>
                    <a class="service__item" href="virtual-cards.html">Kad Maya</a>
                    <a class="service__item" href="local-payments.html">Pindahan Bank Tempatan</a>
                    <a class="service__item" href="send-money-to-card.html">Pindahan ke kad</a>
                    <a class="service__item" href="cash-remittance.html">Pembayaran tunai</a>
                  </div>
                  <div class="steps__wrapper">
                    <div class="steps__title title title_medium">Nikmati teknologi kewangan inovatif yang dibawa kepada
                      anda oleh ePayService!</div>
                    <div class="steps__button">
                      <a class="button button_big" href="https://online.epayservices.com/register">Buka Akaun dalam Masa
                        2 Min</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </main>

      {% include 'pages/index/app-download.njk' %}
    </div>

    {% include 'footer.njk' %}

  </div>


  <div class="up-arrow"></div>



  <script src="../js/jquery-2.2.0.min.js"></script>
  <script src="../js/jquery.placeholder.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/sticky-kit.js"></script>
  <script src="../js/app.b6f525f1.js"></script>
  <script>
    window.intercomSettings = {
      app_id: "wz9x11as"
    };
  </script>
  <script>
    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/wz9x11as'
    (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/wz9x11as'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();
  </script>

  <script src="https://online.epayservices.com/affiliate_program/landing_page/remember_affiliate_script.js"></script>
</body>

</html>
