<div class="solutions__block row">
  <div class="col-md-10 col-xs-12">
    <h2 class="solutions__title title">{{ 'virtual.controlPurchases' | i18n }}</h2>
    <!-- <div class="solutions__text text-dark">Customize your online shopping, using different cards with
      certain value. Choose Virtual Card that suits you best!</div> -->
    <div class="using__switch tabs">
      <!-- <div class="tabs__head">
        <button class="tabs__tag tabs__tag_current using__tab" type="button">VIRTUAL SINGLE</button>
        <button class="tabs__tag using__tab" type="button">VIRTUAL MULTI</button>
      </div> -->
      <div class="tabs__body">
        <!-- <div class="tabs__section tabs__section_visible">
          <div class="using__steps using__steps_blank">
            <ul class="solutions__list solutions__list_big">
              <li class="solutions__item solutions__item_wide">
                <div class="check-list">
                  <div class="check-list__title title title_medium">Single Use Non-Reloadable Virtual
                    Card</div>
                  <ul class="check-list__block">
                    <li class="check-list__row">
                      <div class="check-list__item text-dark">Purchase amount up to 3500 USD</div>
                      <div class="check-list__item text-dark">Up to 10 active cards per user</div>
                    </li>
                    <li class="check-list__row">
                      <div class="check-list__item text-dark">No monthly fee</div>
                      <div class="check-list__item text-dark">No purchase transaction fee</div>
                    </li>

                  </ul>
                </div>
              </li>
              <li class="solutions__item">
                <img src="../images/virtual-cards.png" alt="">
              </li>
            </ul>
          </div>
        </div> -->
        <div class="tabs__section tabs__section_visible">
          <!-- <div class="using__steps using__steps_blank"> -->
            <ul class="solutions__list solutions__list_big">
              <li class="solutions__item solutions__item_wide">
                <div class="check-list">
                  <div class="check-list__title title title_medium">{{ 'virtual.useCard' | i18n }}</div>
                  <ul class="check-list__block">
                    <li class="check-list__row">
                      <div class="check-list__item text-dark">{{ 'virtual.dailyPurchaseLimit' | i18n({ sum: '5500' }) }}</div>
                      <div class="check-list__item text-dark">{{ 'virtual.instantLoad' | i18n }}</div>
                      <div class="check-list__item text-dark">{{ 'virtual.freeUnload' | i18n }}</div>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="solutions__item">
                <img src="../images/virtual-cards.png" srcset="../images/virtual-cards.png 1x, ../images/virtual-cards@2x.png 2x" width="300" alt="">
              </li>
            </ul>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
