<div class="col-sm-8 col-xs-8">

  <!---
  <div class="text-dark text-dark_big">40 USD</div>
  <div class="text">forAllCurrencies</div>
  <div class="row row-eq-height">
    <div class="col-sm-6">
      <div class="text-dark text-dark_small">Chinese Yuan Renminbi <span class="text">(CNY)</span>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="text-dark text-dark_small">Vietnamese Dong <span class="text">(VND)</span></div>
    </div>
  </div>
  + exchange__currency_border
  ----->

  <div class="exchange__currency">
    <div class="text-dark text-dark_big">20 EUR/USD</div>
    <div class="text">{{ 'fees.localPayments.forAllCurrencies' | i18n }}</div>
  </div>

  <div class="exchange__currency row row-eq-height">
    <div class="col-sm-6">
      <div class="exchange__currency-item">
        <div class="text-dark text_tiny">AED</div>
        <div class="text text_tiny">United Arab Emirates Dirham</div>
      </div>

      <div class="exchange__currency-item">
        <div class="text-dark text_tiny">BRL</div>
        <div class="text text_tiny">Brazilian Real</div>
      </div>

      <div class="exchange__currency-item">
        <div class="text-dark text_tiny">COP</div>
        <div class="text text_tiny">Colombian Peso</div>
      </div>

      <div class="exchange__currency-item">
        <div class="text-dark text_tiny">INR</div>
        <div class="text text_tiny">Indian Rupee</div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="exchange__currency-item">
        <div class="text-dark text_tiny">HKD</div>
        <div class="text text_tiny">Hong Kong Dollar</div>
      </div>

      <div class="exchange__currency-item">
        <div class="text-dark text_tiny">PHP</div>
        <div class="text text_tiny">Philippine Peso</div>
      </div>

      <div class="exchange__currency-item">
        <div class="text-dark text_tiny">THB</div>
        <div class="text text_tiny">Thai Baht</div>
      </div>

      <div class="exchange__currency-item">
        <div class="text-dark text_tiny">VND</div>
        <div class="text text_tiny">Vietnamese Dong</div>
      </div>
    </div>
  </div>
</div>
