{% set servicesItems = {
  accountManagement: { href: 'managing-account.html', textI18n: 'services.accountManagement', icon: 'icon_safe' },
  bankTransfers: { href: 'bank-transfers.html', textI18n: 'services.bankTransfers', icon: 'icon_house2' },
  personalIBAN: { href: 'personal-iban.html', textI18n: 'services.personalIBAN', icon: 'icon_stars-big2' },
  personalUSAccount: { href: 'personal-us-account.html', textI18n: 'services.personalUSAccount', icon: 'icon_money-rotate2' },
  debitCards: { href: 'prepaid-cards.html', textI18n: 'services.debitCards', icon: 'icon_cards2' },
  affiliatePayouts: { href: 'affiliate-payouts.html', textI18n: 'services.affiliatePayouts', icon: 'icon_crowd2' },
  payrollSolutions: { href: 'payout-service.html', textI18n: 'services.payrollSolutions', icon: 'icon_hands2' },
  virtualCards: { href: 'virtual-cards.html', textI18n: 'services.virtualCards', icon: 'icon_virtual-card' },
  localPayments: { href: 'local-payments.html', textI18n: 'services.localPayments', icon: 'icon_local-pay' },
  sendMoneyToCard: { href: 'send-money-to-card.html', textI18n: 'services.sendMoneyToCard', icon: 'icon_save-to-card' },
  cashRemittance: { href: 'cash-remittance.html', textI18n: 'services.cashRemittance', icon: 'icon_hand-to-card' }
}%}