---
permalink: "{{ locale }}/{{ page.fileSlug }}.html"
---

<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../css/style.css?v=165728062022">
  <title>ePayService - Kontoführung</title>
</head>

<body>


  <div class="strut">

    <div class="strut__row">

      <header class="header">
        <div class="header__top header__top_sticky">
          <div class="region">
            <div class="top">
              <div class="top__main">
                <div class="top__burger burger">
                  <div class="burger__handler"></div>
                  <div class="burger__body"></div>
                </div>
                <div class="top__logo">
                  <a class="logo" href="index.html"></a>
                </div>
                <nav class="top__nav nav">
                  <!--<a class="nav__link" href="-about.html">About Us</a>-->
                  <a class="nav__link nav__link_more" href="#" data-inner="inner-nav"><span>Dienstleistungen</span></a>
                  <div class="sub-menu">
                    <a class="sub-menu__link" href="managing-account.html">Kontoführung</a>
                    <a class="sub-menu__link" href="bank-transfers.html">Banküberweisungen</a>
                    <a class="sub-menu__link" href="personal-iban.html">Persönliche IBAN</a>
                    <a class="sub-menu__link" href="personal-us-account.html">Persönliches US-Konto</a>
                    <a class="sub-menu__link" href="prepaid-cards.html">Debitkarten</a>
                    <a class="sub-menu__link" href="affiliate-payouts.html">Partnerauszahlungen</a>
                    <a class="sub-menu__link" href="payout-service.html">Lösungen für die Gehaltsabrechnungen</a>
                    <a class="sub-menu__link" href="virtual-cards.html">Virtuelle Karten</a>
                    <a class="sub-menu__link" href="local-payments.html">Banküberweisung</a>
                    <a class="sub-menu__link" href="send-money-to-card.html">Überweisungen an Karten</a>
                    <a class="sub-menu__link" href="cash-remittance.html">Barüberweisungen</a>
                  </div>
                  <a class="nav__link" href="fees.html">Gebühren</a>
                  <a class="nav__link" href="contact-us.html">Kontaktieren Sie uns</a>
                  <a class="nav__link" target="_blank" href="http://faq.epayservices.com">FAQ</a>
                </nav>
                <a class="top__profile" href="#"></a>
                <div class="top__sign-in">
                  <a class="button" href="https://online.epayservices.com/register">KOSTENLOSES KONTO ERÖFFNEN</a>
                  <a class="button button_border" href="https://online.epayservices.com/">ANMELDEN</a>
                </div>
              </div>
              <div class="top__actions">
                <div class="top__buttons">
                  <a class="button" href="https://online.epayservices.com/register">KOSTENLOSES KONTO ERÖFFNEN</a>
                  <a class="button button_border" href="https://online.epayservices.com/">ANMELDEN</a>
                </div>
                <div class="top__language lang-select drop">
                  <div class="lang-select__toggle drop__handler">
                    <div class="lang-select__image">
                      <img src="../images/flag-de.svg" alt="">
                    </div>
                    <div class="lang-select__title">DE</div>
                  </div>
                  <div class="lang-select__list drop__down">
                    <a class="lang-select__item" href="../en/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag.svg" alt="">
                      </div>
                      <div class="lang-select__title">English (US)</div>
                    </a>
                    <a class="lang-select__item" href="../uk/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-uk.svg" alt="">
                      </div>
                      <div class="lang-select__title">English</div>
                    </a>
                    <a class="lang-select__item" href="../ru/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/ru.png" alt="">
                      </div>
                      <div class="lang-select__title">Русский</div>
                    </a>
                    <a class="lang-select__item" href="../es/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-es.png" alt="">
                      </div>
                      <div class="lang-select__title">Español</div>
                    </a>
                    <a class="lang-select__item" href="../co/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-co.png" alt="">
                      </div>
                      <div class="lang-select__title">Español (Colombia)</div>
                    </a>
                    <a class="lang-select__item" href="../pt/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pt.svg" alt="">
                      </div>
                      <div class="lang-select__title">Português</div>
                    </a>
                    <a class="lang-select__item" href="../ro/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ro.svg" alt="">
                      </div>
                      <div class="lang-select__title">Română</div>
                    </a>
                    <a class="lang-select__item" href="../ms/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ms.svg" alt="">
                      </div>
                      <div class="lang-select__title">Melayu</div>
                    </a>
                    <a class="lang-select__item" href="../vn/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-vn.svg" alt="">
                      </div>
                      <div class="lang-select__title">Tiếng Việt</div>
                    </a>
                    <a class="lang-select__item" href="../ar/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ar.png" alt="">
                      </div>
                      <div class="lang-select__title">عربى</div>
                    </a>
                    <a class="lang-select__item" href="../pl/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pl.svg" alt="">
                      </div>
                      <div class="lang-select__title">Język polski</div>
                    </a>
                    <a class="lang-select__item" href="../zh/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-zh.svg" alt="">
                      </div>
                      <div class="lang-select__title">汉语</div>
                    </a>
                    <a class="lang-select__item" href="../fr/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-fr.svg" alt="">
                      </div>
                      <div class="lang-select__title">Français</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="inner-nav" id="inner-nav">
            <div class="region">
              <div class="inner-nav__list">
                <a class="inner-nav__item" href="managing-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_safe"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Kontoführung</div>
                </a>
                <a class="inner-nav__item" href="bank-transfers.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_house2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Banküberweisungen</div>
                </a>
                <a class="inner-nav__item" href="personal-iban.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_stars-big2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Persönliche IBAN</div>
                </a>
                <a class="inner-nav__item" href="personal-us-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_money-rotate2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Persönliches US-Konto</div>
                </a>
                <a class="inner-nav__item" href="prepaid-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_cards2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Debitkarten</div>
                </a>
                <a class="inner-nav__item" href="affiliate-payouts.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_crowd2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Partnerauszahlungen</div>
                </a>
                <a class="inner-nav__item" href="payout-service.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hands2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Lösungen für die Gehaltsabrechnungen</div>
                </a>
                <a class="inner-nav__item" href="virtual-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_virtual-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Virtuelle Karten</div>
                </a>
                <a class="inner-nav__item" href="local-payments.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_local-pay"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Banküberweisung</div>
                </a>
                <a class="inner-nav__item" href="send-money-to-card.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_save-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Überweisungen an Karten</div>
                </a>
                <a class="inner-nav__item" href="cash-remittance.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hand-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Barüberweisungen</div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </header>

    </div>

    <div class="strut__row strut__row_expanded">
      <main class="body body_long body_narrow">

        <div class="special-solution special-solution_dark" style="background-image: url(.././images/account-bg.jpg)">
          <div class="region">
            <h1 class="special-solution__title title">Das ePayService-System kann mit jedem Browser und auf jedem
              modernen Gerät verwendet werden</h1>
            <div class="special-solution__text text-dark"></div>
          </div>
        </div>

        <div class="region">
          <div class="row row-eq-height">
            <div class="col-md-9 col-xs-12 full-width">
              <div class="body__content body__content_small">
                <div class="solutions__block">
                  <h2 class="solutions__title title">Die Zukunft des digitalen Geldverkehrs</h2>
                  <div class="solutions__text text-dark">Verwalten Sie Ihr elektronisches Portemonnaie bequem immer und
                    überall über das einzigartige Bezahlsystem Online.ePayServices mit seinem innovativen Design und der
                    einfach zu bedienenden Benutzeroberfläche. Online. ePayServices ist eine einfache und praktische
                    Lösung für Privatpersonen und Unternehmen.</div>
                  <div class="solutions__image">
                    <img src="../images/solution-img5.png" alt="">
                  </div>
                </div>
                <div class="solutions__block">
                  <h2 class="solutions__title title">Hervorragende Lösungen für die private und kommerzielle Nutzung
                  </h2>
                  <ul class="solutions__list">
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_house"></div>
                      </div>
                      <div class="solutions__note text-dark">Internationale Banküberweisungen</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_check-earth"></div>
                      </div>
                      <div class="solutions__note text-dark">Transfers in lokalen Währungen</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_check-pen2"></div>
                      </div>
                      <div class="solutions__note text-dark">Scheckverarbeitung</div>
                    </li>
                  </ul>
                  <ul class="solutions__list">
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_logo-tag"></div>
                      </div>
                      <div class="solutions__note text-dark">Sofortige interne Überweisungen</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_moon"></div>
                      </div>
                      <div class="solutions__note text-dark">Unbegrenzte elektronische Überweisungen</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_cards-switch"></div>
                      </div>
                      <div class="solutions__note text-dark">Debitkarte</div>
                    </li>
                  </ul>
                </div>

                <div class="solutions__block">
                  <h2 class="solutions__title title">Ihr Geld ist sicher</h2>
                  <div class="solutions__text text-dark">Online. ePayServices verfügt über die höchsten Standards der
                    modernen Banking-Software. Alle Daten werden verschlüsselt und die Netzstruktur entspricht den PCI
                    DSS-Anforderungen. Konten werden durch die Zwei-Faktor-Authentifizierung (2FA) geschützt.</div>
                  <div class="solutions__image">
                    <img src="../images/solution-img2.svg" alt="">
                  </div>
                </div>

                <div class="using">
                  <div class="row">
                    <div class="col-md-10 col-xs-12">
                      <h2 class="using__title title">Melden Sie sich jetzt an!</h2>
                      <div class="using__text text-dark">Erhalten Sie Ihr neues elektronisches Portemonnaie mit der
                        ePayService Debitkarte in wenigen einfachen Schritten. Es ist viel einfacher als ein Besuch bei
                        der Bank.</div>
                      <div class="using__switch tabs">
                        <div class="tabs__head">
                          <button class="tabs__tag tabs__tag_current using__tab" type="button">WIE BEKOMMT MAN EIN
                            EPAYSERVICE-PORTEMONNAIE?</button>
                        </div>
                        <div class="tabs__body">
                          <div class="tabs__section tabs__section_visible">
                            <div class="using__steps">
                              <ul class="using__list">
                                <li class="using__item">
                                  <div class="using__icon">
                                    <div class="icon icon_employee2"></div>
                                  </div>
                                  <div class="using__number"><span>1</span></div>
                                  <div class="using__sub-title title title_small">ANMELDUNG</div>
                                  <div class="using__text">Beginnen Sie mit der Registrierung. Das Formular enthält nur
                                    11 Felder, so dass der Vorgang nicht mehr als 2 Minuten in Anspruch nehmen
                                    wird. Nachdem Ihr Antrag eingegangen ist, erhalten Sie eine E-Mail mit den
                                    Zugangsdaten.</div>
                                </li>
                                <li class="using__item">
                                  <div class="using__icon">
                                    <div class="icon icon_profile-check"></div>
                                  </div>
                                  <div class="using__number"><span>2</span></div>
                                  <div class="using__sub-title title title_small">VERIFIKATION</div>
                                  <div class="using__text">Sie müssen zwei offizielle Dokumente einreichen, die Ihre
                                    Identität und Anschrift bestätigen.</div>
                                </li>
                                <li class="using__item">
                                  <div class="using__icon">
                                    <div class="icon icon_card-tall"></div>
                                  </div>
                                  <div class="using__number"><span>3</span></div>
                                  <div class="using__sub-title title title_small">LIEFERUNG</div>
                                  <div class="using__text">Ihre neue Karte wird automatisch und KOSTENLOS
                                    ausgegeben. Wählen Sie die gewünschte Lieferoption und erhalten Sie dann Ihre neue
                                    Karte.</div>
                                </li>
                              </ul>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="col-md-3 hidden-sm">
              <div class="sticky-column-long">
                <div class="body__action steps service">
                  <div class="service__title title title_medium">Dienstleistungen</div>
                  <div class="service__list">
                    <a class="service__item service__item_active" href="managing-account.html">Kontoführung</a>
                    <a class="service__item" href="bank-transfers.html">Banküberweisungen</a>
                    <a class="service__item" href="personal-iban.html">Persönliche IBAN</a>
                    <a class="service__item" href="personal-us-account.html">Persönliches US-Konto</a>
                    <a class="service__item" href="prepaid-cards.html">Debitkarten</a>
                    <a class="service__item" href="payout-service.html">Lösungen für Gehaltsabrechnungen</a>
                    <a class="service__item" href="affiliate-payouts.html">Partnerauszahlungen</a>
                    <a class="service__item" href="virtual-cards.html">Virtuelle Karten</a>
                    <a class="service__item" href="local-payments.html">Banküberweisung</a>
                    <a class="service__item" href="send-money-to-card.html">Überweisungen an Karten</a>
                    <a class="service__item" href="cash-remittance.html">Barüberweisungen</a>
                  </div>
                  <div class="steps__wrapper">
                    <div class="steps__title title title_medium">Genießen Sie die innovative Finanztechnologie, die
                      Ihnen ePayService bietet!</div>
                    <div class="steps__button">
                      <a class="button button_big" href="https://online.epayservices.com/register">Eröffnen Sie ein
                        Konto in 2 Minuten</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="mobile-bank">
          <div class="region">
            <div class="row">
              <div class="col-md-8 col-xs-12">
                <h2 class="mobile-bank__title title">Volle Flexibilität</h2>
                <div class="mobile-bank__text">Verwalten Sie Ihr ePayService-Portemonnaie <br>über Ihre bevorzugten
                  Geräte</div>
                <div class="row">
                  <div class="col-sm-6 col-xs-9">
                    <div class="mobile-bank__app app">
                      <div class="app__logo"></div>
                      <div class="app__info">
                        <div class="app__title">ePayService ®</div>
                        <div class="app__text">Besorgen Sie sich die ePayService App für iOS im <a
                            href="https://itunes.apple.com/us/app/epayservice/id526678355?l=en&mt=8">Apple App
                            Store</a>, <a href="https://play.google.com/store/apps/details?id=com.epayservice">Google
                            Play</a></div>
                      </div>
                    </div>
                    <div class="mobile-bank__download">
                      <a class="mobile-bank__icon icon icon_app-store"
                        href="https://itunes.apple.com/us/app/epayservice/id526678355?l=en&mt=8"></a>
                      <a class="mobile-bank__icon icon icon_google-play"
                        href="https://play.google.com/store/apps/details?id=com.epayservice"></a>
                    </div>
                    <div class="mobile-bank__manage">
                      <div class="mobile-bank__text">Starten Sie mit dem Online.ePayServices Bezahlsystem</div>
                      <div class="mobile-bank__note">Profitieren Sie von der Funktionalität der mobilen App. Nehmen Sie
                        diese in Betrieb</div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xs-3">
                    <div class="mobile-bank__image">
                      <img src="../images/phone.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </main>
    </div>

    {% include 'footer.njk' %}

  </div>


  <div class="up-arrow"></div>



  <script src="../js/jquery-2.2.0.min.js"></script>
  <script src="../js/jquery.placeholder.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/sticky-kit.js"></script>
  <script src="../js/app.b6f525f1.js"></script>
  <script>
    window.intercomSettings = {
      app_id: "wz9x11as"
    };
  </script>
  <script>
    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/wz9x11as'
    (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/wz9x11as'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();
  </script>

  <script src="https://online.epayservices.com/affiliate_program/landing_page/remember_affiliate_script.js"></script>
</body>

</html>
