---
permalink: "{{ locale }}/{{ page.fileSlug }}.html"
---

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../css/style.css?v=180704072022">
  <title>ePayService - Transferencias de Dinero</title>
</head>

<body>


  <div class="strut">

    <div class="strut__row">

      <header class="header">
        <div class="header__top header__top_sticky">
          <div class="region">
            <div class="top">
              <div class="top__main">
                <div class="top__burger burger">
                  <div class="burger__handler"></div>
                  <div class="burger__body"></div>
                </div>
                <div class="top__logo">
                  <a class="logo" href="index.html"></a>
                </div>
                <nav class="top__nav nav">
                  <!--<a class="nav__link" href="-about.html">About Us</a>-->
                  <a class="nav__link nav__link_more" href="#" data-inner="inner-nav"><span>Servicios</span></a>
                  <div class="sub-menu">
                    <a class="sub-menu__link" href="managing-account.html">Manejo de Cuentas</a>
                    <a class="sub-menu__link" href="bank-transfers.html">Transferencias de Dinero</a>
                    <a class="sub-menu__link" href="personal-iban.html">IBAN personal</a>
                    <a class="sub-menu__link" href="personal-us-account.html">Cuenta personal de US</a>
                    <a class="sub-menu__link" href="prepaid-cards.html">Tarjetas de débito</a>
                    <a class="sub-menu__link" href="affiliate-payouts.html">Pagos de Afiliados</a>
                    <a class="sub-menu__link" href="payout-service.html">Soluciones de Nómina Salarial</a>
                    <a class="sub-menu__link" href="virtual-cards.html">Tarjetas Virtuales</a>
                    <a class="sub-menu__link" href="local-payments.html">Transferencia bancaria local</a>
                    <a class="sub-menu__link" href="send-money-to-card.html">Transferencias a tarjetas</a>
                    <a class="sub-menu__link" href="cash-remittance.html">Pagos en efectivo</a>
                  </div>
                  <a class="nav__link" href="fees.html">Tarifas</a>
                  <a class="nav__link" href="contact-us.html">Contáctenos</a>
                  <a class="nav__link" target="_blank" href="http://faq.epayservices.com/es/">FAQ</a>
                </nav>
                <a class="top__profile" href="https://online.epayservices.com/"></a>
                <div class="top__sign-in">
                  <a class="button" href="https://online.epayservices.com/register">ABRA UNA CUENTA GRATUITA</a>
                  <a class="button button_border" href="https://online.epayservices.com/">iniciar sesión</a>
                </div>
              </div>
              <div class="top__actions">
                <div class="top__buttons">
                  <a class="button" href="https://online.epayservices.com/register">ABRA UNA CUENTA GRATUITA</a>
                  <a class="button button_border" href="https://online.epayservices.com/">iniciar sesión</a>
                </div>
                <div class="top__language lang-select drop">
                  <div class="lang-select__toggle drop__handler">
                    <div class="lang-select__image">
                      <img src="../images/flag-co.png" alt="">
                    </div>
                    <div class="lang-select__title">CO</div>
                  </div>
                  <div class="lang-select__list drop__down">
                    <a class="lang-select__item" href="../en/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag.svg" alt="">
                      </div>
                      <div class="lang-select__title">English (US)</div>
                    </a>
                    <a class="lang-select__item" href="../uk/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-uk.svg" alt="">
                      </div>
                      <div class="lang-select__title">English</div>
                    </a>
                    <a class="lang-select__item" href="../ru/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/ru.png" alt="">
                      </div>
                      <div class="lang-select__title">Русский</div>
                    </a>
                    <a class="lang-select__item" href="../es/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-es.png" alt="">
                      </div>
                      <div class="lang-select__title">Español</div>
                    </a>
                    <a class="lang-select__item" href="../pt/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pt.svg" alt="">
                      </div>
                      <div class="lang-select__title">Português</div>
                    </a>
                    <a class="lang-select__item" href="../ro/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ro.svg" alt="">
                      </div>
                      <div class="lang-select__title">Română</div>
                    </a>
                    <a class="lang-select__item" href="../ms/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ms.svg" alt="">
                      </div>
                      <div class="lang-select__title">Melayu</div>
                    </a>
                    <a class="lang-select__item" href="../vn/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-vn.svg" alt="">
                      </div>
                      <div class="lang-select__title">Tiếng Việt</div>
                    </a>
                    <a class="lang-select__item" href="../ar/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ar.png" alt="">
                      </div>
                      <div class="lang-select__title">عربى</div>
                    </a>
                    <a class="lang-select__item" href="../pl/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pl.svg" alt="">
                      </div>
                      <div class="lang-select__title">Język polski</div>
                    </a>
                    <a class="lang-select__item" href="../zh/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-zh.svg" alt="">
                      </div>
                      <div class="lang-select__title">汉语</div>
                    </a>
                    <a class="lang-select__item" href="../de/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-de.svg" alt="">
                      </div>
                      <div class="lang-select__title">Deutsch</div>
                    </a>
                    <a class="lang-select__item" href="../fr/bank-transfers.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-fr.svg" alt="">
                      </div>
                      <div class="lang-select__title">Français</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="inner-nav" id="inner-nav">
            <div class="region">
              <div class="inner-nav__list">
                <a class="inner-nav__item" href="managing-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_safe"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Manejo de Cuentas</div>
                </a>
                <a class="inner-nav__item" href="bank-transfers.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_house2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Transferencias de Dinero</div>
                </a>
                <a class="inner-nav__item" href="personal-iban.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_stars-big2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">IBAN personal</div>
                </a>
                <a class="inner-nav__item" href="personal-us-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_money-rotate2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Cuenta personal de US</div>
                </a>
                <a class="inner-nav__item" href="prepaid-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_cards2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Tarjetas de débito</div>
                </a>
                <a class="inner-nav__item" href="affiliate-payouts.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_crowd2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Pagos de Afiliados</div>
                </a>
                <a class="inner-nav__item" href="payout-service.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hands2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Soluciones de Nómina Salarial</div>
                </a>
                <a class="inner-nav__item" href="virtual-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_virtual-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Tarjetas Virtuales</div>
                </a>
                <a class="inner-nav__item" href="local-payments.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_local-pay"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Transferencia bancaria local</div>
                </a>
                <a class="inner-nav__item" href="send-money-to-card.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_save-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Transferencias a tarjetas</div>
                </a>
                <a class="inner-nav__item" href="cash-remittance.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hand-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Pagos en efectivo</div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </header>

    </div>

    <div class="strut__row strut__row_expanded">
      <main class="body body_long body_narrow">

        <div class="special-solution special-solution_dark"
          style="background-image: url(.././images/wiretransfer-bgl.jpg)">
          <div class="region">
            <h1 class="special-solution__title title">Vínculo clave para sus socios en todo el mundo</h1>
            <div class="special-solution__text text-dark"></div>
          </div>
        </div>

        <div class="region">
          <div class="row row-eq-height">
            <div class="col-md-9 col-xs-12 full-width">
              <div class="body__content body__content_small">
                <div class="solutions__block">
                  <h2 class="solutions__title title">Transferencias de Dinero desde América hasta Asia</h2>
                  <div class="solutions__text text-dark">Como actor del mercado internacional cooperando con compañías
                    situadas en Estados Unido, Europa o Asia, usted sabe muy bien que las transferencias bancarias son
                    el método de pago preferido. Si usted es un trabajador independiente que se especializa en
                    desarrollo de software o en mercadeo en línea, su contraparte muy probablemente requerirá datos
                    bancarios con el fin de hacerle un reembolso. ePayService está aquí para servirle a usted y a su
                    negocio.</div>
                  <div class="solutions__image">
                    <img src="../images/solution-img7.svg" alt="">
                  </div>
                </div>
                <div class="solutions__block">
                  <h2 class="solutions__title title">Transferencias en Estados Unido</h2>
                  <div class="solutions__text text-dark">ACH y Depósito Directo son los tipos de transferencias
                    bancarias nacionales más populares en Estados Unido, ya que ofrecen las ventajas de velocidad y
                    cargos de comisión razonables. Sin embargo, estos métodos de transferencia están limitados
                    geográficamente, requiriendo que las cuentas que participan sean de bancos de Estados Unido y como
                    resultado, no son útiles para transferencias internacionales. ePayService le proporciona una forma
                    de recibir el pago por medio de ACH.</div>
                  <ul class="solutions__list">
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_time-management"></div>
                      </div>
                      <div class="solutions__note text-dark">Los fondos quedan libres dentro de 2 días</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_office"></div>
                      </div>
                      <div class="solutions__note text-dark">Pagos provenientes de las principales compañías de Estados
                        Unido</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_branch-office"></div>
                      </div>
                      <div class="solutions__note text-dark">Transferencias que cubren todos los 50 estados</div>
                    </li>
                  </ul>

                </div>
                <div class="solutions__block">
                  <h3 class="solutions__sub-title title title_medium">Oferta de Mercado Única</h3>
                  <div class="checks__sub-title">Tarifas de ACH y de Depósito Directo</div>
                  <ul class="checks__info">
                    <li class="checks__row">
                      <div class="row">
                        <div class="col-xs-6">
                          <div class="title title_medium">USD</div>
                          <div class="text-dark text-dark_small">Entrantes a su cartera con ePayService</div>
                        </div>
                        <div class="col-xs-6">
                          <div class="title title_medium">2% + 20 USD</div>
                        </div>
                      </div>
                    </li>
                    <li class="checks__row">
                      <div class="row">
                        <div class="col-xs-6">
                          <div class="title title_medium">USD</div>
                          <div class="text-dark text-dark_small">Salientes a cuentas personales o corporativas con un
                            banco en Estados Unido</div>
                        </div>
                        <div class="col-xs-6">
                          <div class="title title_medium">0.5% + 25 USD</div>
                        </div>
                      </div>
                    </li>

                  </ul>
                </div>
                <div class="solutions__block">
                  <h2 class="solutions__title title">Transferencias de Dinero Mundiales</h2>
                  <div class="solutions__text text-dark">La Transferencia Electrónica es probablemente el tipo de
                    transferencia internacional más común. Hoy en día cada empresa de TI, red de publicidad y
                    desarrollador de e-game le ofrece la opción de realizar pagos a través de transferencias
                    electrónicas. ePayService simplifica este complicado procedimiento bancario.</div>
                  <ul class="solutions__list">
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_currency"></div>
                      </div>
                      <div class="solutions__note text-dark">Transferencias de dinero en EUR, USD y otras monedas</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_check-earth"></div>
                      </div>
                      <div class="solutions__note text-dark">Pagos entrantes de compañías de todo el mundo</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_stars-big"></div>
                      </div>
                      <div class="solutions__note text-dark">Transferencias SEPA provenientes de Europa quedando libres
                        dentro de 2 días</div>
                    </li>
                  </ul>

                </div>
                <div class="checks__tabs tabs">
                  <div class="tabs__head using__switch">
                    <button class="tabs__tag tabs__tag_current using__tab" type="button">SEPA</button>
                    <button class="tabs__tag using__tab" type="button">Transferencias Electrónicas</button>
                  </div>
                  <div class="tabs__body">
                    <div class="tabs__section tabs__section_visible">
                      <ul class="checks__info">
                        <li class="checks__row">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="title title_medium">EUR only</div>
                              <div class="text-dark text-dark_small">Pagos entrantes a su cartera con ePayService</div>
                            </div>
                            <div class="col-xs-6">
                              <div class="title title_medium">1%, min €25</div>
                            </div>
                          </div>
                        </li>
                        <li class="checks__row">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="title title_medium">EUR only</div>
                              <div class="text-dark text-dark_small">Salientes a su cuenta bancaria personal</div>
                            </div>
                            <div class="col-xs-6">
                              <div class="title title_medium">€30</div>
                            </div>
                          </div>
                        </li>
                        <li class="checks__row">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="title title_medium">EUR only</div>
                              <div class="text-dark text-dark_small">Salientes a la cuenta bancaria corporativa</div>
                            </div>
                            <div class="col-xs-6">
                              <div class="title title_medium">0.5% + €40 </div>
                            </div>
                          </div>
                        </li>

                      </ul>

                    </div>
                    <div class="tabs__section">
                      <ul class="checks__info">
                        <li class="checks__row">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="title title_medium">USD</div>
                              <div class="text-dark text-dark_small">Pagos entrantes a su cartera con ePayService</div>
                            </div>
                            <div class="col-xs-6">
                              <div class="title title_medium">3% + 50 USD</div>
                            </div>
                          </div>
                        </li>
                        <!--<li class="checks__row">-->
                        <!--<div class="row">-->
                        <!--<div class="col-xs-6">-->
                        <!--<div class="title title_medium">USD</div>-->
                        <!--<div class="text-dark text-dark_small">Salientes a su cuenta bancaria personal</div>-->
                        <!--</div>-->
                        <!--<div class="col-xs-6">-->
                        <!--<div class="title title_medium">$45</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</li>-->
                        <!--<li class="checks__row">-->
                        <!--<div class="row">-->
                        <!--<div class="col-xs-6">-->
                        <!--<div class="title title_medium">USD</div>-->
                        <!--<div class="text-dark text-dark_small">Salientes a la cuenta bancaria personal de un tercero</div>-->
                        <!--</div>-->
                        <!--<div class="col-xs-6">-->
                        <!--<div class="title title_medium">0.5% + $55</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</li> -->
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="solutions__block">
                  <h2 class="solutions__title title">Transferencias en monedas locales</h2>
                  <div class="solutions__text text-dark">ePayService tiene la ventaja de utilizar una amplia red de
                    bancos asociados para que pueda realizar transferencias rápidas en la moneda local. Evita la rutina
                    de bancos corresponsales, ahorre su tiempo y dinero.</div>
                  <ul class="solutions__list">
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_invest-ideas"></div>
                      </div>
                      <div class="solutions__note text-dark">Pagos en 50 monedas locales</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_first-place"></div>
                      </div>
                      <div class="solutions__note text-dark">Transferencias exprés en 1 día hábil</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_interaction"></div>
                      </div>
                      <div class="solutions__note text-dark">Realizar múltiples pagos al mismo tiempo</div>
                    </li>
                  </ul> <br><br>

                </div>


              </div>
            </div>



            <div class="col-md-3 hidden-sm">
              <div class="sticky-column-long">
                <div class="body__action steps service" style="margin-bottom: 20px">
                  <div class="service__title title title_medium">Servicios</div>
                  <div class="service__list">
                    <a class="service__item" href="managing-account.html">Manejo de Cuentas</a>
                    <a class="service__item service__item_active" href="bank-transfers.html">Transferencias de
                      Dinero</a>
                    <a class="service__item" href="prepaid-cards.html">Tarjetas de débito</a>
                    <a class="service__item" href="payout-service.html">Soluciones de Nómina Salarial</a>
                    <a class="service__item" href="affiliate-payouts.html">Pagos de Afiliados</a>
                    <a class="service__item" href="virtual-cards.html">Tarjetas Virtuales</a>
                    <a class="service__item" href="local-payments.html">Transferencia bancaria local</a>
                    <a class="service__item" href="send-money-to-card.html">Transferencias a tarjetas</a>
                    <a class="service__item" href="cash-remittance.html">Pagos en efectivo</a>
                  </div>
                  <div class="steps__wrapper">
                    <div class="steps__title title title_medium">¡Disfrute la tecnología financiera innovadora traída a
                      usted por ePayService!</div>
                    <div class="steps__button">
                      <a class="button button_big" href="https://online.epayservices.com/register">Abra una Cuenta en 2
                        Min</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </main>

      {% include 'pages/index/app-download.njk' %}
    </div>

    {% include 'footer.njk' %}

  </div>


  <div class="up-arrow"></div>



  <script src="../js/jquery-2.2.0.min.js"></script>
  <script src="../js/jquery.placeholder.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/sticky-kit.js"></script>
  <script src="../js/app.b6f525f1.js"></script>

  <script>
    window.intercomSettings = {
      app_id: "wz9x11as"
    };
  </script>
  <script>
    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/wz9x11as'
    (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/wz9x11as'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();
  </script>


  <script src="https://online.epayservices.com/affiliate_program/landing_page/remember_affiliate_script.js"></script>
</body>

</html>
