---
permalink: "{{ locale }}/{{ page.fileSlug }}.html"
---

<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../css/dropkick.css">
  <link rel="stylesheet" href="../css/local_payments.css">
  <link rel="stylesheet" href="https://epayservices.com/css/style.css?v=175428072022">
  <title>ePayService - Transferts vers les cartes</title>
</head>

<body>


  <div class="strut">

    <div class="strut__row">

      <header class="header">
        <div class="header__top header__top_sticky">
          <div class="region">
            <div class="top">
              <div class="top__main">
                <div class="top__burger burger">
                  <div class="burger__handler"></div>
                  <div class="burger__body"></div>
                </div>
                <div class="top__logo">
                  <a class="logo" href="index.html"></a>
                </div>
                <nav class="top__nav nav">
                  <!--<a class="nav__link" href="-about.html">About Us</a>-->
                  <a class="nav__link nav__link_more" href="#" data-inner="inner-nav"><span>Services</span></a>
                  <div class="sub-menu">
                    <a class="sub-menu__link" href="managing-account.html">Gestion de compte</a>
                    <a class="sub-menu__link" href="bank-transfers.html">Virements bancaires</a>
                    <a class="sub-menu__link" href="personal-iban.html">IBAN personnel</a>
                    <a class="sub-menu__link" href="personal-us-account.html">Compte américain personnel</a>
                    <a class="sub-menu__link" href="prepaid-cards.html">Cartes de débit</a>
                    <a class="sub-menu__link" href="affiliate-payouts.html">Paiements d’affiliation</a>
                    <a class="sub-menu__link" href="payout-service.html">Solutions salariales</a>
                    <a class="sub-menu__link" href="virtual-cards.html">Cartes virtuelles</a>
                    <a class="sub-menu__link" href="local-payments.html">Virement bancaire local</a>
                    <a class="sub-menu__link" href="send-money-to-card.html">Transferts vers les cartes</a>
                    <a class="sub-menu__link" href="cash-remittance.html">Transferts d’argent</a>
                  </div>
                  <a class="nav__link" href="fees.html">Frais</a>
                  <a class="nav__link" href="contact-us.html">Contactez-nous</a>
                  <a class="nav__link" target="_blank" href="http://faq.epayservices.com">FAQ</a>
                </nav>
                <a class="top__profile" href="#"></a>
                <div class="top__sign-in">
                  <a class="button" href="https://online.epayservices.com/register">OUVRIR UN COMPTE GRATUIT</a>
                  <a class="button button_border" href="https://online.epayservices.com/">CONNEXION</a>
                </div>
              </div>
              <div class="top__actions">
                <div class="top__buttons">
                  <a class="button" href="https://online.epayservices.com/register">OUVRIR UN COMPTE GRATUIT</a>
                  <a class="button button_border" href="https://online.epayservices.com/">CONNEXION</a>
                </div>
                <div class="top__language lang-select drop">
                  <div class="lang-select__toggle drop__handler">
                    <div class="lang-select__image">
                      <img src="../images/flag-fr.svg" alt="">
                    </div>
                    <div class="lang-select__title">FR</div>
                  </div>
                  <div class="lang-select__list drop__down">
                    <a class="lang-select__item" href="../en/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/flag.svg" alt="">
                      </div>
                      <div class="lang-select__title">English (US)</div>
                    </a>
                    <a class="lang-select__item" href="../uk/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-uk.svg" alt="">
                      </div>
                      <div class="lang-select__title">English</div>
                    </a>
                    <a class="lang-select__item" href="../ru/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/ru.png" alt="">
                      </div>
                      <div class="lang-select__title">Русский</div>
                    </a>
                    <a class="lang-select__item" href="../es/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-es.png" alt="">
                      </div>
                      <div class="lang-select__title">Español</div>
                    </a>
                    <a class="lang-select__item" href="../co/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-co.png" alt="">
                      </div>
                      <div class="lang-select__title">Español (Colombia)</div>
                    </a>
                    <a class="lang-select__item" href="../pt/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pt.svg" alt="">
                      </div>
                      <div class="lang-select__title">Português</div>
                    </a>
                    <a class="lang-select__item" href="../ro/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ro.svg" alt="">
                      </div>
                      <div class="lang-select__title">Română</div>
                    </a>
                    <a class="lang-select__item" href="../ms/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ms.svg" alt="">
                      </div>
                      <div class="lang-select__title">Melayu</div>
                    </a>
                    <a class="lang-select__item" href="../vn/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-vn.svg" alt="">
                      </div>
                      <div class="lang-select__title">Tiếng Việt</div>
                    </a>
                    <a class="lang-select__item" href="../ar/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ar.png" alt="">
                      </div>
                      <div class="lang-select__title">عربى</div>
                    </a>
                    <a class="lang-select__item" href="../pl/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pl.svg" alt="">
                      </div>
                      <div class="lang-select__title">Język polski</div>
                    </a>
                    <a class="lang-select__item" href="../zh/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-zh.svg" alt="">
                      </div>
                      <div class="lang-select__title">汉语</div>
                    </a>
                    <a class="lang-select__item" href="../de/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-de.svg" alt="">
                      </div>
                      <div class="lang-select__title">Deutsch</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="inner-nav" id="inner-nav">
            <div class="region">
              <div class="inner-nav__list">
                <a class="inner-nav__item" href="managing-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_safe"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Gestion de compte</div>
                </a>
                <a class="inner-nav__item" href="bank-transfers.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_house2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Virements bancaires</div>
                </a>
                <a class="inner-nav__item" href="personal-iban.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_stars-big2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">IBAN personnel</div>
                </a>
                <a class="inner-nav__item" href="personal-us-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_money-rotate2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Compte américain personnel</div>
                </a>
                <a class="inner-nav__item" href="prepaid-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_cards2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Cartes de débit</div>
                </a>
                <a class="inner-nav__item" href="affiliate-payouts.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_crowd2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Paiements d’affiliation</div>
                </a>
                <a class="inner-nav__item" href="payout-service.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hands2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Solutions salariales</div>
                </a>
                <a class="inner-nav__item" href="virtual-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_virtual-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Cartes virtuelles</div>
                </a>
                <a class="inner-nav__item" href="local-payments.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_local-pay"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Virement bancaire local</div>
                </a>
                <a class="inner-nav__item" href="send-money-to-card.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_save-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Transferts vers les cartes</div>
                </a>
                <a class="inner-nav__item" href="cash-remittance.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hand-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Transferts d’argent</div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </header>

    </div>

    <div class="strut__row strut__row_expanded">
      <main class="body body_long">

        <div class="special-solution special-solution_dark" style="background-image: url(.././images/slider-img14.jpg)">
          <div class="region">
            <h1 class="special-solution__title title">Transferts d'argent vers Mastercard® et VISA®</h1>
            <div class="special-solution__text special-solution__text_wide">
              <ul class="special-solution__list">
                <li class="special-solution__item">
                  <div class="special-solution__icon icon icon_clock-white"></div>
                  <div class="special-solution__info">
                    <div class="special-solution_sub-title title title_small title_light">Pratique</div>
                    <div class="special-solution__note text text-dark_light">Idéal pour les salaires et les paiements de
                      freelancers</div>
                  </div>
                </li>
                <li class="special-solution__item">
                  <div class="special-solution__icon icon icon_currency-white"></div>
                  <div class="special-solution__info">
                    <div class="special-solution_sub-title title title_small title_light">Rapide</div>
                    <div class="special-solution__note text text-dark_light">Les fonds peuvent être crédités sur la
                      carte du bénéficiaire dans la minute</div>
                  </div>
                </li>
                <li class="special-solution__item">
                  <div class="special-solution__icon icon icon_earth-white"></div>
                  <div class="special-solution__info">
                    <div class="special-solution_sub-title title title_small title_light">Fiable</div>
                    <div class="special-solution__note text text-dark_light">Les transferts sont réalisés via les
                      systèmes de paiement Mastercard® et VISA®</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="region">
          <div class="row row-eq-height">
            <div class="col-md-9 col-xs-12 full-width">
              <div class="body__content body__content_small">
                <div class="solutions__block">
                  <h2 class="solutions__title title">Transferts rapides et faciles</h2>
                  <div class="solutions__text text-dark">Le système de paiement ePayService offre une opportunité unique
                    pour vous et votre entreprise : des transferts vers les cartes Mastercard® et VISA® de banques
                    tierces. C’est l'option idéale pour rembourser un freelancer, payer vos employés ou apporter un
                    soutien financier à vos proches. Les transferts sont effectués partout dans le monde où sont
                    utilisés les systèmes de paiement Mastercard® et VISA®. Pas d’intermédiaire bancaire, traitement
                    rapide et totalement transparent!</div>
                  <div class="solutions__image">
                    <img src="../images/solution-img11.svg" alt="">
                  </div>
                </div>
                <div class="solutions__block">
                  <div class="solutions__top">
                    <div class="solutions__wrapper">
                      <h2 class="solutions__title title">Transferts vers les cartes dans le monde entier</h2>
                      <div class="solutions__text text-dark">La technologie de paiement Mastercard® et VISA® permet des
                        transferts vers leurs cartes de débit, de crédit et prépayées, quel que soit le pays d’émission
                        et la devise de la carte.</div>
                    </div>
                  </div>
                  <ul class="solutions__list">
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image">
                          <img src=".././images/debit-card-big.svg" alt="">
                        </div>
                      </div>
                      <div class="solutions__wrapper">
                        <div class="solutions__note text-dark">Cartes de débit</div>
                      </div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image">
                          <img src=".././images/credit-card-big.svg" alt="">
                        </div>
                      </div>
                      <div class="solutions__wrapper">
                        <div class="solutions__note text-dark">Cartes de crédi</div>
                      </div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image">
                          <img src=".././images/prepaid-card-big.svg" alt="">
                        </div>
                      </div>
                      <div class="solutions__wrapper">
                        <div class="solutions__note text-dark">Cartes prépayées</div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="solutions__block">
                  <h2 class="solutions__title title">Vraiment pratique, rapide et fiable</h2>
                  <ul class="solutions__list">
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_fast"></div>
                      </div>
                      <div class="solutions__wrapper">
                        <div class="solutions__note text-dark">Très simple</div>
                        <div class="solutions__note text">Vous n’avez besoin que du nom du destinataire et du numéro de
                          sa carte</div>
                      </div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_check-earth"></div>
                      </div>
                      <div class="solutions__wrapper">
                        <div class="solutions__note text-dark">Aucune commission cachée</div>
                        <div class="solutions__note text">Les transferts vers les cartes sont plus rapides et moins
                          chers que les virements bancaires internationaux</div>
                      </div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_money"></div>
                      </div>
                      <div class="solutions__wrapper">
                        <div class="solutions__note text-dark">Totalement sûr</div>
                        <div class="solutions__note text">Tous les transferts vers les cartes sont effectués sur les
                          réseaux sécurisés Mastercard® et VISA®</div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="solutions__block">
                  <h2 class="solutions__title title">Coût des transferts</h2>
                  <div class="solutions__text text-dark">Les transferts sortants vers les cartes Mastercard® et VISA®
                    tierces sont initiés depuis votre portefeuille ePayService en USD ou EUR. Les fonds seront crédités
                    sur la carte du bénéficiaire dans sa monnaie, au taux applicable de la banque émettrice.</div>
                </div>
                <div class="checks__tabs tabs">
                  <div class="tabs__head using__switch">
                    <button class="tabs__tag tabs__tag_current using__tab" type="button">Transferts en EUR</button>
                    <button class="tabs__tag using__tab" type="button">Transferts en USD</button>
                  </div>
                  <div class="tabs__body">
                    <div class="tabs__section tabs__section_visible">
                      <ul class="checks__info">
                        <li class="checks__row">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small">Montant total</div>
                              <div class="title title_medium checks__sub-text">jusqu'à <span>500.00 EUR</span></div>
                            </div>
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small"><br></div>
                              <div class="title title_medium checks__sub-text">1.95% + 3.00 EUR</div>
                            </div>
                          </div>
                        </li>
                        <li class="checks__row">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small">Montant total</div>
                              <div class="title title_medium checks__sub-text">de <span>500.00 EUR</span></div>
                            </div>
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small"><br></div>
                              <div class="title title_medium checks__sub-text">1.95% + 6.00 EUR</div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="tabs__section">
                      <ul class="checks__info">
                        <li class="checks__row">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small">Montant total</div>
                              <div class="title title_medium checks__sub-text">jusqu'à <span>500.00 USD</span></div>
                            </div>
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small"><br></div>
                              <div class="title title_medium checks__sub-text">1.95% + 3.00 USD</div>
                            </div>
                          </div>
                        </li>
                        <li class="checks__row">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small">Montant total</div>
                              <div class="title title_medium checks__sub-text">de <span>500.00 USD</span></div>
                            </div>
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small"><br></div>
                              <div class="title title_medium checks__sub-text">1.95% + 6.00 USD</div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="using">
                  <h2 class="using__title title">Accélérez votre activité avec ePayService</h2>
                  <div class="using__note text">En 3 étapes simples vous serez prêt à faire des transferts vers toutes
                    les cartes Mastercard® et VISA®</div>
                  <ul class="using__list">
                    <li class="using__item">
                      <div class="using__icon">
                        <div class="icon icon_man"></div>
                      </div>
                      <div class="using__number"><span>1</span></div>
                      <div class="using__text">Inscrivez-vous à ePayService. Nous ouvrirons un compte pour vous et votre
                        entreprise, absolument gratuitement</div>
                    </li>
                    <li class="using__item">
                      <div class="using__icon">
                        <div class="icon icon_profile-check"></div>
                      </div>
                      <div class="using__number"><span>2</span></div>
                      <div class="using__text">Approvisionnez votre compte. Nous acceptons les virements bancaires, les
                        chèques, ainsi que la monnaie électronique</div>
                    </li>
                    <li class="using__item">
                      <div class="using__icon">
                        <div class="icon icon_hands"></div>
                      </div>
                      <div class="using__number"><span>3</span></div>
                      <div class="using__text">Initiez le transfert. Pour la plupart des cartes, les transferts seront
                        réalisés immédiatement</div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-3 hidden-sm">
              <div class="sticky-column-long">
                <div class="body__action steps service" style="margin-bottom: 20px">
                  <div class="service__title title title_medium">Services</div>
                  <div class="service__list">
                    <a class="service__item" href="managing-account.html">Gestion de compte</a>
                    <a class="service__item" href="bank-transfers.html">Virements bancaires</a>
                    <a class="service__item" href="personal-iban.html">IBAN personnel</a>
                    <a class="service__item" href="personal-us-account.html">Compte américain personnel</a>
                    <a class="service__item" href="prepaid-cards.html">Cartes de débit</a>
                    <a class="service__item" href="payout-service.html">Solutions salariales</a>
                    <a class="service__item" href="affiliate-payouts.html">Paiements d’affiliation</a>
                    <a class="service__item" href="virtual-cards.html">Cartes virtuelles</a>
                    <a class="service__item" href="local-payments.html">Virement bancaire local</a>
                    <a class="service__item service__item_active" href="send-money-to-card.html">Transferts vers les
                      cartes</a>
                    <a class="service__item" href="cash-remittance.html">Transferts d’argent</a>
                  </div>
                  <div class="steps__wrapper">
                    <div class="steps__title title title_medium">Profitez de la technologie financière novatrice
                      proposée par ePayService!</div>
                    <div class="steps__button">
                      <a class="button button_big" href="https://online.epayservices.com/register">Ouvrez un compte en 2
                        minutes</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </main>
    </div>

    {% include 'footer.njk' %}

  </div>


  <div class="up-arrow"></div>

  <script src="../js/jquery-2.2.0.min.js"></script>
  <script src="../js/jquery.placeholder.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/sticky-kit.js"></script>
  <script src="../js/dropkick.min.js"></script>
  <script src="../js/app.b6f525f1.js"></script>

  <script>
    window.intercomSettings = {
      app_id: "wz9x11as"
    };
  </script>
  <script>
    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/wz9x11as'
    (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/wz9x11as'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();
  </script>
  <script src="https://online.epayservices.com/affiliate_program/landing_page/remember_affiliate_script.js"></script>
</body>

</html>
