{% set title = 'cardsList.multi.tabName' %}

{% set moreAbout = 'cardsList.multi.moreAbout' %}

{% set currencies = [
  'EUR'
]%}

{% set fees = [
  {
    title: 'cardFeesTitles.cardIssuanceAndActivationVirtual',
    value: {
      EUR: 'free',
      USD: 'free'
    }
  },

  {
    title: 'cardFeesTitles.minimumLoadLimit',
    value: {
      EUR: '€0.01',
      USD: '$1.00'
    }
  },

  {
    title: 'cardFeesTitles.maximumDailyLoadLimit',
    value: {
      EUR: '€5,000.00',
      USD: '$5,000.00'
    }
  },

  {
    title: 'cardFeesTitles.maximumCumulativeLoadValuePerYear',
    value: {
      EUR: '€450,000.00',
      USD: '$600,000.00'
    }
  },

  {
    title: 'cardFeesTitles.currencyExchange',
    value: {
      EUR: '1.99%',
      USD: '1.99%'
    }
  },

  {
    title: 'cardFeesTitles.onlinePurchases',
    value: {
      EUR: 'free',
      USD: 'free'
    }
  },

  {
    title: 'cardFeesTitles.maximumNumberOfLoadsPerDay',
    value: {
      EUR: '10',
      USD: '10'
    }
  },

  {
    title: 'cardFeesTitles.maximumBalance',
    value: {
      EUR: '€5,000.00',
      USD: '$5,000.00'
    }
  },

  {
    title: 'cardFeesTitles.maximumAmountOfActiveCards',
    value: {
      EUR: '3',
      USD: '3'
    }
  }
]%}

<div class="exchange__item" id="virtual-card-multi">
  <h1 class="exchange__title title">{{ title | i18n | safe }}</h1>

  <div class="exchange__link">
    <a class="link-arr" href="virtual-cards.html">{{ moreAbout | i18n }}</a>
  </div>

  <div class="tabs using__switch">
    <div class="tabs__head">
      {% for currency in currencies %}
      <button class="tabs__tag using__tab{%if loop.index == 1 %} tabs__tag_current{% endif %}" type="button">{{ currency }}</button>
      {% endfor %}
    </div>

    <div class="tabs__body tabs__body_line">
      {% for currency in currencies %}
      <div class="tabs__section{% if loop.index == 1 %} tabs__section_visible{% endif %}">
        <ul class="service-info__list">
          {% for fee in fees %}
          <li class="service-info__row">
            <div class="service-info__text text-dark text-dark_small">
              {% if fee.title == 'cardFeesTitles.cardIssuanceAndActivationVirtual' %}
              {{ fee.title | i18n({ value: currency }) }}
              {% else %}
              {{ fee.title | i18n }}
              {% endif %}
            </div>

            <div class="service-info__number text-dark text-dark_big{% if fee.value[currency] == 'free' %} text-dark_blue{% endif %}">
              {% if fee.value[currency] == 'free' %}
              {{ 'free' | i18n }}
              {% else %}
              {{ fee.value[currency] }}
              {% endif %}
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="exchange__note note">
    <div class="note__title text-dark text-dark_big text-dark_red">{{ 'important' | i18n }}</div>

    <div class="note__text text-dark text-dark_small">{{ 'cardValidPeriod' | i18n }}</div>
  </div>
</div>