---
permalink: "{{ locale }}/{{ page.fileSlug }}.html"
---

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../css/style.css?v=212301072022">
  <title>ePayService - Administración de la cuenta</title>
</head>

<body>


  <div class="strut">

    <div class="strut__row">

      <header class="header">
        <div class="header__top header__top_sticky">
          <div class="region">
            <div class="top">
              <div class="top__main">
                <div class="top__burger burger">
                  <div class="burger__handler"></div>
                  <div class="burger__body"></div>
                </div>
                <div class="top__logo">
                  <a class="logo" href="index.html"></a>
                </div>
                <nav class="top__nav nav">
                  <!--<a class="nav__link" href="-about.html">About Us</a>-->
                  <a class="nav__link nav__link_more" href="#" data-inner="inner-nav"><span>Servicios</span></a>
                  <div class="sub-menu">
                    <a class="sub-menu__link" href="managing-account.html">Administración de la cuenta</a>
                    <a class="sub-menu__link" href="bank-transfers.html">Transferencias de dinero</a>
                    <a class="sub-menu__link" href="personal-iban.html">IBAN personal</a>
                    <a class="sub-menu__link" href="personal-us-account.html">Cuenta personal de US</a>
                    <a class="sub-menu__link" href="prepaid-cards.html">Tarjetas de débito</a>
                    <a class="sub-menu__link" href="affiliate-payouts.html">Pagos a Afiliados</a>
                    <a class="sub-menu__link" href="payout-service.html">Soluciones para nóminas</a>
                    <a class="sub-menu__link" href="virtual-cards.html">Tarjetas Virtuales</a>
                    <a class="sub-menu__link" href="local-payments.html">Transferencia bancaria local</a>
                    <a class="sub-menu__link" href="send-money-to-card.html">Transferencias a tarjetas</a>
                    <a class="sub-menu__link" href="cash-remittance.html">Pagos en efectivo</a>
                  </div>
                  <a class="nav__link" href="fees.html">Comisiones</a>
                  <a class="nav__link" href="contact-us.html">Contacto</a>
                  <a class="nav__link" target="_blank" href="http://faq.epayservices.com/es/">FAQ</a>
                </nav>
                <a class="top__profile" href="https://online.epayservices.com/"></a>
                <div class="top__sign-in">
                  <a class="button" href="https://online.epayservices.com/register">ABRE UNA CUENTA GRATUITA</a>
                  <a class="button button_border" href="https://online.epayservices.com/">Iniciar Sesión</a>
                </div>
              </div>
              <div class="top__actions">
                <div class="top__buttons">
                  <a class="button" href="https://online.epayservices.com/register">ABRE UNA CUENTA GRATUITA</a>
                  <a class="button button_border" href="https://online.epayservices.com/">Iniciar Sesión</a>
                </div>
                <div class="top__language lang-select drop">
                  <div class="lang-select__toggle drop__handler">
                    <div class="lang-select__image">
                      <img src="../images/flag-es.png" alt="">
                    </div>
                    <div class="lang-select__title">ES</div>
                  </div>
                  <div class="lang-select__list drop__down">
                    <a class="lang-select__item" href="../en/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag.svg" alt="">
                      </div>
                      <div class="lang-select__title">English (US)</div>
                    </a>
                    <a class="lang-select__item" href="../uk/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-uk.svg" alt="">
                      </div>
                      <div class="lang-select__title">English</div>
                    </a>
                    <a class="lang-select__item" href="../ru/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/ru.png" alt="">
                      </div>
                      <div class="lang-select__title">Русский</div>
                    </a>
                    <a class="lang-select__item" href="../co/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-co.png" alt="">
                      </div>
                      <div class="lang-select__title">Español (Colombia)</div>
                    </a>
                    <a class="lang-select__item" href="../pt/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pt.svg" alt="">
                      </div>
                      <div class="lang-select__title">Português</div>
                    </a>
                    <a class="lang-select__item" href="../ro/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ro.svg" alt="">
                      </div>
                      <div class="lang-select__title">Română</div>
                    </a>
                    <a class="lang-select__item" href="../ms/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ms.svg" alt="">
                      </div>
                      <div class="lang-select__title">Melayu</div>
                    </a>
                    <a class="lang-select__item" href="../vn/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-vn.svg" alt="">
                      </div>
                      <div class="lang-select__title">Tiếng Việt</div>
                    </a>
                    <a class="lang-select__item" href="../ar/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ar.png" alt="">
                      </div>
                      <div class="lang-select__title">عربى</div>
                    </a>
                    <a class="lang-select__item" href="../pl/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pl.svg" alt="">
                      </div>
                      <div class="lang-select__title">Język polski</div>
                    </a>
                    <a class="lang-select__item" href="../zh/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-zh.svg" alt="">
                      </div>
                      <div class="lang-select__title">汉语</div>
                    </a>
                    <a class="lang-select__item" href="../de/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-de.svg" alt="">
                      </div>
                      <div class="lang-select__title">Deutsch</div>
                    </a>
                    <a class="lang-select__item" href="../fr/managing-account.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-fr.svg" alt="">
                      </div>
                      <div class="lang-select__title">Français</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="inner-nav" id="inner-nav">
            <div class="region">
              <div class="inner-nav__list">
                <a class="inner-nav__item" href="managing-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_safe"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Administración de la cuenta</div>
                </a>
                <a class="inner-nav__item" href="bank-transfers.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_house2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Transferencias de dinero</div>
                </a>
                <a class="inner-nav__item" href="personal-iban.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_stars-big2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">IBAN personal</div>
                </a>
                <a class="inner-nav__item" href="personal-us-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_money-rotate2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Cuenta personal de US</div>
                </a>
                <a class="inner-nav__item" href="prepaid-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_cards2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Tarjetas de débito</div>
                </a>
                <a class="inner-nav__item" href="affiliate-payouts.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_crowd2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Pagos a Afiliados</div>
                </a>
                <a class="inner-nav__item" href="payout-service.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hands2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Soluciones para nóminas</div>
                </a>
                <a class="inner-nav__item" href="virtual-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_virtual-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Tarjetas Virtuales</div>
                </a>
                <a class="inner-nav__item" href="send-money-to-card.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_save-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Transferencias a tarjetas</div>
                </a>
                <a class="inner-nav__item" href="cash-remittance.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hand-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Pagos en efectivo</div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </header>

    </div>

    <div class="strut__row strut__row_expanded">
      <main class="body body_long body_narrow">

        <div class="special-solution special-solution_dark" style="background-image: url(.././images/account-bg.jpg)">
          <div class="region">
            <h1 class="special-solution__title title">El sistema ePayService se puede usar en cualquier navegador y
              desde cualquier dispositivo moderno</h1>
            <div class="special-solution__text text-dark"></div>
          </div>
        </div>

        <div class="region">
          <div class="row row-eq-height">
            <div class="col-md-9 col-xs-12 full-width">
              <div class="body__content body__content_small">
                <div class="solutions__block">
                  <h2 class="solutions__title title">El futuro de las finanzas digitales</h2>
                  <div class="solutions__text text-dark">Gestione de forma práctica y cómoda su monedero electrónico en
                    cualquier momento y desde cualquier lugar mediante el sistema de pago único de Online.ePayServices
                    con su innovador diseño y su interfaz fácil de usar. Online.ePayServices es una solución simple y
                    práctica para particulares y empresas.</div>
                  <div class="solutions__image">
                    <img src="../images/solution-img5.png" alt="">
                  </div>
                </div>
                <div class="solutions__block">
                  <h2 class="solutions__title title">Grandes soluciones para uso personal y comercial</h2>
                  <ul class="solutions__list">
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_house"></div>
                      </div>
                      <div class="solutions__note text-dark">Transferencias Bancarias Internacionales</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_check-earth"></div>
                      </div>
                      <div class="solutions__note text-dark">Transferencias en divisa local</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_check-pen2"></div>
                      </div>
                      <div class="solutions__note text-dark">Procesamiento de cheques</div>
                    </li>
                  </ul>
                  <ul class="solutions__list">
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_logo-tag"></div>
                      </div>
                      <div class="solutions__note text-dark">Transferencias internas instantáneas</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_moon"></div>
                      </div>
                      <div class="solutions__note text-dark">Transferencias electrónicas ilimitadas</div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_cards-switch"></div>
                      </div>
                      <div class="solutions__note text-dark">Tarjetas de débito</div>
                    </li>
                  </ul>
                </div>

                <div class="solutions__block">
                  <h2 class="solutions__title title">Sus fondos están seguros</h2>
                  <div class="solutions__text text-dark">Online.ePayServices mantiene los más altos estándares de
                    software de banca moderno. Todos los datos son encriptados y la estructura de la red cumple con los
                    requisitos PCI DSS. Las cuentas están protegidas mediante autenticación de dos factores (2FA).</div>
                  <div class="solutions__image">
                    <img src="../images/solution-img2.svg" alt="">
                  </div>
                </div>

                <div class="using">
                  <div class="row">
                    <div class="col-md-10 col-xs-12">
                      <h2 class="using__title title">¡Únete a nosotros ahora mismo!</h2>
                      <div class="using__text text-dark">Consiga tu nuevo monedero electrónico con ePayService Tarjeta
                        de débito siguiendo pasos muy simples. Es mucho más fácil que ir al banco.</div>
                      <div class="using__switch tabs">
                        <div class="tabs__head">
                          <button class="tabs__tag tabs__tag_current using__tab" type="button">¿COMO CONSEGUIR EL
                            MONEDERO ELECTRÓNICO EPAYSERVICE?</button>
                        </div>
                        <div class="tabs__body">
                          <div class="tabs__section tabs__section_visible">
                            <div class="using__steps">
                              <ul class="using__list">
                                <li class="using__item">
                                  <div class="using__icon">
                                    <div class="icon icon_employee2"></div>
                                  </div>
                                  <div class="using__number"><span>1</span></div>
                                  <div class="using__sub-title title title_small">SOLICITUD</div>
                                  <div class="using__text">Comienza con el registro. El formulario de solicitud sólo
                                    contiene 11 campos, por lo que no llevará más de 2 minutos rellenarlo. Una vez
                                    enviada du solicitud, usted recibirá un correo electrónico con los códigos de
                                    acceso.</div>
                                </li>
                                <li class="using__item">
                                  <div class="using__icon">
                                    <div class="icon icon_profile-check"></div>
                                  </div>
                                  <div class="using__number"><span>2</span></div>
                                  <div class="using__sub-title title title_small">VERIFICACIÓN</div>
                                  <div class="using__text">Se solicitará que proporcione dos documentos oficiales que
                                    demuestre su identidad y su dirección de residencia.</div>
                                </li>
                                <li class="using__item">
                                  <div class="using__icon">
                                    <div class="icon icon_card-tall"></div>
                                  </div>
                                  <div class="using__number"><span>3</span></div>
                                  <div class="using__sub-title title title_small">ENTREGA</div>
                                  <div class="using__text">Su nueva tarjeta será emitida automáticamente SIN CARGOS.
                                    Elije la opción de envío que más le convenga y solo tendrá que esperar su nueva
                                    tarjeta.</div>
                                </li>
                              </ul>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="col-md-3 hidden-sm">
              <div class="sticky-column-long">
                <div class="body__action steps service">
                  <div class="service__title title title_medium">Servicios</div>
                  <div class="service__list">
                    <a class="service__item service__item_active" href="managing-account.html">Administración de la
                      cuenta</a>
                    <a class="service__item" href="bank-transfers.html">Transferencias de dinero</a>
                    <a class="service__item" href="personal-iban.html">IBAN personal</a>
                    <a class="service__item" href="personal-us-account.html">Cuenta personal de US</a>
                    <a class="service__item" href="prepaid-cards.html">Tarjetas de débito</a>
                    <a class="service__item" href="payout-service.html">Soluciones para nóminas</a>
                    <a class="service__item" href="affiliate-payouts.html">Pagos a afiliados</a>
                    <a class="service__item" href="virtual-cards.html">Tarjetas Virtuales</a>
                    <a class="service__item" href="local-payments.html">Transferencia bancaria local</a>
                    <a class="service__item" href="send-money-to-card.html">Transferencias a tarjetas</a>
                    <a class="service__item" href="cash-remittance.html">Pagos en efectivo</a>
                  </div>
                  <div class="steps__wrapper">
                    <div class="steps__title title title_medium">¡Disfrute de la innovadora tecnología financiera de
                      ePayService!</div>
                    <div class="steps__button">
                      <a class="button button_big" href="https://online.epayservices.com/register">Abre una cuenta en
                        solo 2 min</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </main>

      {% include 'pages/index/app-download.njk' %}
    </div>

    {% include 'footer.njk' %}

  </div>


  <div class="up-arrow"></div>



  <script src="../js/jquery-2.2.0.min.js"></script>
  <script src="../js/jquery.placeholder.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/sticky-kit.js"></script>
  <script src="../js/app.b6f525f1.js"></script>
  <script>
    window.intercomSettings = {
      app_id: "wz9x11as"
    };
  </script>
  <script>
    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/wz9x11as'
    (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/wz9x11as'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();
  </script>

  <script src="https://online.epayservices.com/affiliate_program/landing_page/remember_affiliate_script.js"></script>
</body>

</html>
