---
permalink: "{{ locale }}/{{ page.fileSlug }}.html"
---

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://epayservices.com/css/style.css?v=170628072022">
  <title>ePayService - Tarjetas prepago</title>
</head>

<body>


  <div class="strut">

    <div class="strut__row">

      <header class="header">
        <div class="header__top header__top_sticky">
          <div class="region">
            <div class="top">
              <div class="top__main">
                <div class="top__burger burger">
                  <div class="burger__handler"></div>
                  <div class="burger__body"></div>
                </div>
                <div class="top__logo">
                  <a class="logo" href="index.html"></a>
                </div>
                <nav class="top__nav nav">
                  <!--<a class="nav__link" href="-about.html">About Us</a>-->
                  <a class="nav__link nav__link_more" href="#" data-inner="inner-nav"><span>Servicios</span></a>
                  <div class="sub-menu">
                    <a class="sub-menu__link" href="managing-account.html">Administración de la cuenta</a>
                    <a class="sub-menu__link" href="bank-transfers.html">Transferencias de dinero</a>
                    <a class="sub-menu__link" href="personal-iban.html">IBAN personal</a>
                    <a class="sub-menu__link" href="personal-us-account.html">Cuenta personal de US</a>
                    <a class="sub-menu__link" href="prepaid-cards.html">Tarjetas de débito</a>
                    <a class="sub-menu__link" href="affiliate-payouts.html">Pagos a Afiliados</a>
                    <a class="sub-menu__link" href="payout-service.html">Soluciones para nóminas</a>
                    <a class="sub-menu__link" href="virtual-cards.html">Tarjetas Virtuales</a>
                    <a class="sub-menu__link" href="local-payments.html">Transferencia bancaria local</a>
                    <a class="sub-menu__link" href="send-money-to-card.html">Transferencias a tarjetas</a>
                    <a class="sub-menu__link" href="cash-remittance.html">Pagos en efectivo</a>
                  </div>
                  <a class="nav__link" href="fees.html">Comisiones</a>
                  <a class="nav__link" href="contact-us.html">Contacto</a>
                  <a class="nav__link" target="_blank" href="http://faq.epayservices.com/es/">FAQ</a>
                </nav>
                <a class="top__profile" href="https://online.epayservices.com/"></a>
                <div class="top__sign-in">
                  <a class="button" href="https://online.epayservices.com/register">ABRE UNA CUENTA GRATUITA</a>
                  <a class="button button_border" href="https://online.epayservices.com/">Iniciar Sesión</a>
                </div>
              </div>
              <div class="top__actions">
                <div class="top__buttons">
                  <a class="button" href="https://online.epayservices.com/register">ABRE UNA CUENTA GRATUITA</a>
                  <a class="button button_border" href="https://online.epayservices.com/">Iniciar Sesión</a>
                </div>
                <div class="top__language lang-select drop">
                  <div class="lang-select__toggle drop__handler">
                    <div class="lang-select__image">
                      <img src="../images/flag-es.png" alt="">
                    </div>
                    <div class="lang-select__title">ES</div>
                  </div>
                  <div class="lang-select__list drop__down">
                    <a class="lang-select__item" href="../en/prepaid-cards.html">
                      <div class="lang-select__image">
                        <img src="../images/flag.svg" alt="">
                      </div>
                      <div class="lang-select__title">English (US)</div>
                    </a>
                    <a class="lang-select__item" href="../uk/prepaid-cards.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-uk.svg" alt="">
                      </div>
                      <div class="lang-select__title">English</div>
                    </a>
                    <a class="lang-select__item" href="../ru/prepaid-cards.html">
                      <div class="lang-select__image">
                        <img src="../images/ru.png" alt="">
                      </div>
                      <div class="lang-select__title">Русский</div>
                    </a>
                    <a class="lang-select__item" href="../co/prepaid-cards.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-co.png" alt="">
                      </div>
                      <div class="lang-select__title">Español (Colombia)</div>
                    </a>
                    <a class="lang-select__item" href="../pt/prepaid-cards.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pt.svg" alt="">
                      </div>
                      <div class="lang-select__title">Português</div>
                    </a>
                    <a class="lang-select__item" href="../ro/prepaid-cards.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ro.svg" alt="">
                      </div>
                      <div class="lang-select__title">Română</div>
                    </a>
                    <a class="lang-select__item" href="../ms/prepaid-cards.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ms.svg" alt="">
                      </div>
                      <div class="lang-select__title">Melayu</div>
                    </a>
                    <a class="lang-select__item" href="../vn/prepaid-cards.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-vn.svg" alt="">
                      </div>
                      <div class="lang-select__title">Tiếng Việt</div>
                    </a>
                    <a class="lang-select__item" href="../ar/prepaid-cards.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ar.png" alt="">
                      </div>
                      <div class="lang-select__title">عربى</div>
                    </a>
                    <a class="lang-select__item" href="../pl/prepaid-cards.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pl.svg" alt="">
                      </div>
                      <div class="lang-select__title">Język polski</div>
                    </a>
                    <a class="lang-select__item" href="../de/prepaid-cards.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-de.svg" alt="">
                      </div>
                      <div class="lang-select__title">Deutsch</div>
                    </a>
                    <a class="lang-select__item" href="../fr/prepaid-cards.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-fr.svg" alt="">
                      </div>
                      <div class="lang-select__title">Français</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="inner-nav" id="inner-nav">
            <div class="region">
              <div class="inner-nav__list">
                <a class="inner-nav__item" href="managing-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_safe"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Administración de la cuenta</div>
                </a>
                <a class="inner-nav__item" href="bank-transfers.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_house2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Transferencias de dinero</div>
                </a>
                <a class="inner-nav__item" href="personal-iban.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_stars-big2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">IBAN personal</div>
                </a>
                <a class="inner-nav__item" href="personal-us-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_money-rotate2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Cuenta personal de US</div>
                </a>
                <a class="inner-nav__item" href="prepaid-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_cards2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Tarjetas de débito</div>
                </a>
                <a class="inner-nav__item" href="affiliate-payouts.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_crowd2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Pagos a Afiliados</div>
                </a>
                <a class="inner-nav__item" href="payout-service.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hands2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Soluciones para nóminas</div>
                </a>
                <a class="inner-nav__item" href="virtual-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_virtual-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Tarjetas Virtuales</div>
                </a>
                <a class="inner-nav__item" href="send-money-to-card.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_save-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Transferencias a tarjetas</div>
                </a>
                <a class="inner-nav__item" href="cash-remittance.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hand-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Pagos en efectivo</div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </header>

    </div>

    <div class="strut__row strut__row_expanded">

      <div class="special-solution special-solution_dark" style="background-image: url(.././images/service-bg8.jpg)">
        <div class="region">
          <h1 class="special-solution__title title">Tarjetas corporativas de nómina para empresas y sus empleados</h1>
        </div>
        <div class="special-solution__image">
          <img src="../images/phone-card.png" srcset="../images/phone-card.png 1x, ../images/phone-card@2x.png 2x" alt="">
        </div>
      </div>

      <main class="body body_long">
        <div class="region">
          <div class="row">
            <div class="col-md-9 col-xs-12 full-width">
              <div class="body__content body__content_small solutions">
                <div class="solutions__block">
                  <h2 class="solutions__title title">Innovadores Servicios financieros</h2>
                  <div class="solutions__text text-dark">Nuestras Tarjeta de débito le proporcionan una flexibilidad sin
                    igual, una visión unificada y un control centralizado sobre sus ingresos y finanzas para ayudarle a
                    gestionar su sueldo. Si está trabajando una ubicación remota o si requiere flexibilidad para viajar
                    mientras trabaja, nuestra ePayService Tarjeta de débito es la tarjeta ideal para todos sus pagos e
                    ingresos diarios.</div>
                  <div class="solutions__sub-title title title_medium">¿Magia? ¡No!</div>
                  <div class="solutions__text text-dark">Sabemos cómo reducir el coste y la duración del procesamiento
                    de ingresos de su trabajo</div>
                </div>
                <ul class="solutions__bubbles">
                  <li class="solutions__feature">
                    <div class="bubble-feature">
                      <div class="bubble-feature__icon bubble-icon">
                        <div class="bubble-icon__image icon icon_circles"></div>
                      </div>
                      <div class="bubble-feature__info">
                        <div class="bubble-feature__title title title_medium">Sin comisiones</div>
                        <div class="bubble-feature__text text-dark">por transferencias entre clientes de ePayService
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="solutions__feature">
                    <div class="bubble-feature">
                      <div class="bubble-feature__icon bubble-icon">
                        <div class="bubble-icon__image icon icon_terminal-pen"></div>
                      </div>
                      <div class="bubble-feature__info">
                        <div class="bubble-feature__title title title_medium">Sin cuotas</div>
                        <div class="bubble-feature__text text-dark">Transacciones TPV</div>
                      </div>
                    </div>
                  </li>
                  <li class="solutions__feature">
                    <div class="bubble-feature">
                      <div class="bubble-feature__icon bubble-icon">
                        <div class="bubble-icon__image icon icon_house"></div>
                      </div>
                      <div class="bubble-feature__info">
                        <div class="bubble-feature__title title title_medium">1%, min $25.00</div>
                        <div class="bubble-feature__text text-dark">Transferencias bancarias de sus clientes y socios de
                          negocios</div>
                      </div>
                    </div>
                  </li>
                  <li class="solutions__feature">
                    <div class="bubble-feature">
                      <div class="bubble-feature__icon bubble-icon">
                        <div class="bubble-icon__image icon icon_cards"></div>
                      </div>
                      <div class="bubble-feature__info">
                        <div class="bubble-feature__title title title_medium">Hasta $15,000 Límite diario de gasto</div>
                        <div class="bubble-feature__text text-dark">Hasta $500 Límite retirada en cajeros</div>
                      </div>
                    </div>
                  </li>
                  <li class="solutions__feature">
                    <div class="bubble-feature">
                      <div class="bubble-feature__icon bubble-icon">
                        <div class="bubble-icon__image icon icon_card-splash"></div>
                      </div>
                      <div class="bubble-feature__info">
                        <div class="bubble-feature__title title title_medium">¡Sin tasas</div>
                        <div class="bubble-feature__text text-dark">de recarga de tarjeta!</div>
                      </div>
                    </div>
                  </li>
                  <li class="solutions__feature">
                    <div class="bubble-feature">
                      <div class="bubble-feature__icon bubble-icon">
                        <div class="bubble-icon__image icon icon_card-atm"></div>
                      </div>
                      <div class="bubble-feature__info">
                        <div class="bubble-feature__title title title_medium">Sólo €1.99</div>
                        <div class="bubble-feature__text text-dark">de comisión por retirar dinero en cajeros (precio
                          por transacción)</div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 hidden-sm">
              <div class="sticky-column-long">
                <div class="body__action steps service" style="margin-bottom: 20px">
                  <div class="service__title title title_medium">Servicios</div>
                  <div class="service__list">
                    <a class="service__item" href="managing-account.html">Administración de la cuenta</a>
                    <a class="service__item" href="bank-transfers.html">Transferencias de dinero</a>
                    <a class="service__item" href="personal-iban.html">IBAN personal</a>
                    <a class="service__item" href="personal-us-account.html">Cuenta personal de US</a>
                    <a class="service__item service__item_active" href="prepaid-cards.html">Tarjetas de débito</a>
                    <a class="service__item" href="payout-service.html">Soluciones para nóminas</a>
                    <a class="service__item" href="affiliate-payouts.html">Pagos a afiliados</a>
                    <a class="service__item" href="virtual-cards.html">Tarjetas Virtuales</a>
                    <a class="service__item" href="local-payments.html">Transferencia bancaria local</a>
                    <a class="service__item" href="send-money-to-card.html">Transferencias a tarjetas</a>
                    <a class="service__item" href="cash-remittance.html">Pagos en efectivo</a>
                  </div>
                  <div class="steps__wrapper">
                    <div class="steps__title title title_medium">¡Disfrute de la innovadora tecnología financiera de
                      ePayService!</div>
                    <div class="steps__button">
                      <a class="button button_big" href="https://online.epayservices.com/register">Abre una cuenta en
                        solo 2 min</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="service-offer">
          <div class="region">
            <div class="row">
              <div class="col-md-5 col-xs-12 full-width">
                <h2 class="service-offer__title title">ePayService ofrece diversas formas de administrar y gastar su
                  merecido sueldo</h2>
                <div class="service-offer__text text-dark wysiwyg">
                  <p>En ePayService podemos gestionar fácilmente su liquidez corporativa de forma eficaz y eficiente
                    mediante una amplia gama de productos y servicios. Podemos ayudar a empresas y sus empleados a
                    gestionar el proceso del pago de nómina, resultando en una eficaz gestión del coste de los sueldos
                    de sus empleados.</p>
                  <p>Realice pagos con la Tarjeta de débito ePayService en cualquier lugar del mundo</p>
                </div>
                <div class="service-offer__icons ico-block">
                  <div class="ico-block__item">
                    <div class="ico-block__image">
                      <div class="icon icon_bed"></div>
                    </div>
                    <div class="ico-block__text title title_small">Hoteles</div>
                  </div>
                  <div class="ico-block__item">
                    <div class="ico-block__image">
                      <div class="icon icon_food"></div>
                    </div>
                    <div class="ico-block__text title title_small">Restaurantes</div>
                  </div>
                  <div class="ico-block__item">
                    <div class="ico-block__image">
                      <div class="icon icon_tag"></div>
                    </div>
                    <div class="ico-block__text title title_small">Outlets</div>
                  </div>
                  <div class="ico-block__item">
                    <div class="ico-block__image">
                      <div class="icon icon_golf"></div>
                    </div>
                    <div class="ico-block__text title title_small">Ocio</div>
                  </div>
                </div>
                <div class="service-offer__text text-dark wysiwyg">
                  <p>En cualquier lugar del mundo, sentirá más seguro pagando con ePayService Tarjeta de débito que con
                    dinero en efectivo.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="region">
          <div class="row">
            <div class="col-md-8 col-xs-12">

              <div class="benefits">
                <h2 class="benefits__title title">Perfecta para transacciones online y offline</h2>
                <ul class="benefits__list">
                  <li class="benefits__item">
                    <div class="benefits__bubble bubble-icon">
                      <div class="bubble-icon__image icon icon_cart"></div>
                    </div>
                    <div class="benefits__text text-dark">Sin comisiones por compras con la divisa de su tarjeta</div>
                  </li>
                  <li class="benefits__item">
                    <div class="benefits__bubble bubble-icon">
                      <div class="bubble-icon__image icon icon_card-hand"></div>
                    </div>
                    <div class="benefits__text text-dark">Monedas disponibles — EUR y USD</div>
                  </li>
                  <li class="benefits__item">
                    <div class="benefits__bubble bubble-icon">
                      <div class="bubble-icon__image icon icon_chip"></div>
                    </div>
                    <div class="benefits__text text-dark">Tarjeta sin contacto</div>
                  </li>
                </ul>
              </div>

              <div class="service-info" style="display: none">
                <h2 class="service-info__title title">Detalles de nuestra tarjeta</h2>
                <ul class="service-info__list">
                  <li class="service-info__row">
                    <div class="service-info__text text-dark">Límite de gasto diario de</div>
                    <div class="service-info__number text-dark">hasta €8,500.00</div>
                  </li>
                  <li class="service-info__row">
                    <div class="service-info__text text-dark">Período de validez</div>
                    <div class="service-info__number text-dark">de 2 años</div>
                  </li>
                  <li class="service-info__row">
                    <div class="service-info__text text-dark">Emisión de tarjetas ePayService</div>
                    <div class="service-info__number text-dark">GRATUITA</div>
                  </li>
                  <li class="service-info__row">
                    <div class="service-info__text text-dark">Activación de la tarjeta</div>
                    <div class="service-info__number text-dark">GRATUITA</div>
                  </li>
                  <li class="service-info__row">
                    <div class="service-info__text text-dark">Transacciones TPV</div>
                    <div class="service-info__number text-dark">GRATUITA</div>
                  </li>
                  <li class="service-info__row">
                    <div class="service-info__text text-dark">Cuota mensual</div>
                    <div class="service-info__number text-dark">€1.99</div>
                  </li>
                  <li class="service-info__row">
                    <div class="service-info__text text-dark">Recarga de la tarjeta desde la cuenta ePayService</div>
                    <div class="service-info__number text-dark">GRATUITA</div>
                  </li>
                  <li class="service-info__row">
                    <div class="service-info__text text-dark">Comisión por una retirada en cajeros automáticos</div>
                    <div class="service-info__number text-dark">€1.99</div>
                  </li>
                  <li class="service-info__row">
                    <div class="service-info__text text-dark">Comisión de consulta de saldo de</div>
                    <div class="service-info__number text-dark">€0.50</div>
                  </li>
                </ul>
              </div>

              <ul class="features">
                <li class="features__item">
                  <div class="features__info">
                    <div class="features__title title">Equipo de soporte técnico</div>
                    <div class="features__text text-dark">Nuestro amable equipo de atención al cliente ofrece soporte
                      técnico online multilingüe</div>
                  </div>
                  <div class="features__icon bubble-icon">
                    <div class="bubble-icon__image icon icon_employee"></div>
                  </div>
                </li>
                <li class="features__item">
                  <div class="features__info">
                    <div class="features__title title">Pagos sencillos a sus socios o proveedores</div>
                    <div class="features__text text-dark">Siempre a mano: rápidos pagos internos a otros clientes
                      ePayService, pagos WMZ y transferencias bancarias</div>
                  </div>
                  <div class="features__icon bubble-icon">
                    <div class="bubble-icon__image icon icon_hands"></div>
                  </div>
                </li>
                <li class="features__item">
                  <div class="features__info">
                    <div class="features__title title">Red de cajeros automáticos</div>
                    <div class="features__text text-dark">Retire dinero en efectivo en cajeros automáticos en cualquier
                      lugar del mundo</div>
                  </div>
                  <div class="features__icon bubble-icon">
                    <div class="bubble-icon__image icon icon_atm"></div>
                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>

        <div class="region">
          <div class="using">
            <div class="row">
              <div class="col-md-8 col-xs-12">
                <h2 class="using__title title">¡Solicitud online rápida y fácil!</h2>
                <div class="using__switch tabs">
                  <div class="tabs__head">
                    <button class="tabs__tag tabs__tag_current using__tab" type="button">Cómo realizar la
                      solicitud</button>
                    <button class="tabs__tag using__tab" type="button">Cómo utilizarla</button>
                  </div>
                  <div class="tabs__body">
                    <div class="tabs__section tabs__section_visible">
                      <div class="using__steps">
                        <ul class="using__list">
                          <li class="using__item">
                            <div class="using__icon">
                              <div class="icon icon_employee2"></div>
                            </div>
                            <div class="using__number"><span>1</span></div>
                            <div class="using__sub-title title title_small">Formulario de solicitud</div>
                            <div class="using__text">Puede completar el formulario de solicitud y abrir su cuenta
                              ePayService en solo 2 minutos. Recibirá nombre de usuario y contraseña en su correo
                              electrónico.</div>
                          </li>
                          <li class="using__item">
                            <div class="using__icon">
                              <div class="icon icon_profile-check"></div>
                            </div>
                            <div class="using__number"><span>2</span></div>
                            <div class="using__sub-title title title_small">Verificación de la cuenta</div>
                            <div class="using__text">Para activar y aprobar la cuenta se requiere la documentación y
                              verificación del cliente.</div>
                          </li>
                          <li class="using__item">
                            <div class="using__icon">
                              <div class="icon icon_card-tall"></div>
                            </div>
                            <div class="using__number"><span>3</span></div>
                            <div class="using__sub-title title title_small">Envío de tarjeta</div>
                            <div class="using__text">Su primera tarjeta ePayService será emitida automáticamente sin
                              cargo alguno. Simplemente elija el servicio de envío en nuestra lista de empresas de
                              mensajerías disponibles y reciba su tarjeta.</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="tabs__section">
                      <div class="using__steps">
                        <ul class="using__list">
                          <li class="using__item">
                            <div class="using__icon">
                              <div class="icon icon_step1"></div>
                            </div>
                            <div class="using__number"><span>1</span></div>
                            <div class="using__sub-title title title_small">¡Inicie sesión!</div>
                            <div class="using__text">Inicie sesión en su cuenta online o en sus aplicaciones móviles.
                              Use su contraseña puede acceder a su cuenta. Cambie los ajustes de su tarjeta o compruebe
                              su saldo desde la web o desde las aplicaciones móviles.</div>
                          </li>
                          <li class="using__item">
                            <div class="using__icon">
                              <div class="icon icon_step2"></div>
                            </div>
                            <div class="using__number"><span>2</span></div>
                            <div class="using__sub-title title title_small">Active su tarjeta</div>
                            <div class="using__text">Active su tarjeta online y seleccione o cambie el número PIN. Por
                              favor, intente no olvidar su PIN.</div>
                          </li>
                          <li class="using__item">
                            <div class="using__icon">
                              <div class="icon icon_step3"></div>
                            </div>
                            <div class="using__number"><span>3</span></div>
                            <div class="using__sub-title title title_small">Cargue su tarjeta</div>
                            <div class="using__text">¡Enhorabuena! Su tarjeta está activa y lista para usar. Simplemente
                              carga su tarjeta desde la web o desde las aplicaciones móviles, ¡y disfrútela!</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </main>

      {% include 'pages/index/app-download.njk' %}
    </div>

    {% include 'footer.njk' %}

  </div>


  <div class="up-arrow"></div>



  <script src="../js/jquery-2.2.0.min.js"></script>
  <script src="../js/jquery.placeholder.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/sticky-kit.js"></script>
  <script src="../js/app.b6f525f1.js"></script>
  <script>
    window.intercomSettings = {
      app_id: "wz9x11as"
    };
  </script>
  <script>
    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/wz9x11as'
    (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/wz9x11as'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();
  </script>

  <script src="https://online.epayservices.com/affiliate_program/landing_page/remember_affiliate_script.js"></script>
</body>

</html>
