---
permalink: "{{ locale }}/{{ page.fileSlug }}.html"
---

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../css/dropkick.css">
  <link rel="stylesheet" href="../css/local_payments.css">
  <link rel="stylesheet" href="../css/style.css?v=153726072022">
  <title>ePayService - Transferencias a tarjetas</title>
</head>

<body>


  <div class="strut">

    <div class="strut__row">

      <header class="header">
        <div class="header__top header__top_sticky">
          <div class="region">
            <div class="top">
              <div class="top__main">
                <div class="top__burger burger">
                  <div class="burger__handler"></div>
                  <div class="burger__body"></div>
                </div>
                <div class="top__logo">
                  <a class="logo" href="index.html"></a>
                </div>
                <nav class="top__nav nav">
                  <!--<a class="nav__link" href="-about.html">About Us</a>-->
                  <a class="nav__link nav__link_more" href="#" data-inner="inner-nav"><span>Servicios</span></a>
                  <div class="sub-menu">
                    <a class="sub-menu__link" href="managing-account.html">Administración de la cuenta</a>
                    <a class="sub-menu__link" href="bank-transfers.html">Transferencias de dinero</a>
                    <a class="sub-menu__link" href="personal-iban.html">IBAN personal</a>
                    <a class="sub-menu__link" href="personal-us-account.html">Cuenta personal de US</a>
                    <a class="sub-menu__link" href="prepaid-cards.html">Tarjetas de débito</a>
                    <a class="sub-menu__link" href="affiliate-payouts.html">Pagos a Afiliados</a>
                    <a class="sub-menu__link" href="payout-service.html">Soluciones para nóminas</a>
                    <a class="sub-menu__link" href="virtual-cards.html">Tarjetas Virtuales</a>
                    <a class="sub-menu__link" href="local-payments.html">Transferencia bancaria local</a>
                    <a class="sub-menu__link" href="send-money-to-card.html">Transferencias a tarjetas</a>
                    <a class="sub-menu__link" href="cash-remittance.html">Pagos en efectivo</a>
                  </div>
                  <a class="nav__link" href="fees.html">Comisiones</a>
                  <a class="nav__link" href="contact-us.html">Contacto</a>
                  <a class="nav__link" target="_blank" href="http://faq.epayservices.com/es/">FAQ</a>
                </nav>
                <a class="top__profile" href="https://online.epayservices.com/"></a>
                <div class="top__sign-in">
                  <a class="button" href="https://online.epayservices.com/register">ABRE UNA CUENTA GRATUITA</a>
                  <a class="button button_border" href="https://online.epayservices.com/">Iniciar Sesión</a>
                </div>
              </div>
              <div class="top__actions">
                <div class="top__buttons">
                  <a class="button" href="https://online.epayservices.com/register">ABRE UNA CUENTA GRATUITA</a>
                  <a class="button button_border" href="https://online.epayservices.com/">Iniciar Sesión</a>
                </div>
                <div class="top__language lang-select drop">
                  <div class="lang-select__toggle drop__handler">
                    <div class="lang-select__image">
                      <img src="../images/flag-es.png" alt="">
                    </div>
                    <div class="lang-select__title">ES</div>
                  </div>
                  <div class="lang-select__list drop__down">
                    <a class="lang-select__item" href="../en/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/flag.svg" alt="">
                      </div>
                      <div class="lang-select__title">English (US)</div>
                    </a>
                    <a class="lang-select__item" href="../uk/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-uk.svg" alt="">
                      </div>
                      <div class="lang-select__title">English</div>
                    </a>
                    <a class="lang-select__item" href="../ru/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/ru.png" alt="">
                      </div>
                      <div class="lang-select__title">Русский</div>
                    </a>
                    <a class="lang-select__item" href="../co/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-co.png" alt="">
                      </div>
                      <div class="lang-select__title">Español (Colombia)</div>
                    </a>
                    <a class="lang-select__item" href="../pt/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pt.svg" alt="">
                      </div>
                      <div class="lang-select__title">Português</div>
                    </a>
                    <a class="lang-select__item" href="../ro/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ro.svg" alt="">
                      </div>
                      <div class="lang-select__title">Română</div>
                    </a>
                    <a class="lang-select__item" href="../ms/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ms.svg" alt="">
                      </div>
                      <div class="lang-select__title">Melayu</div>
                    </a>
                    <a class="lang-select__item" href="../vn/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-vn.svg" alt="">
                      </div>
                      <div class="lang-select__title">Tiếng Việt</div>
                    </a>
                    <a class="lang-select__item" href="../ar/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ar.png" alt="">
                      </div>
                      <div class="lang-select__title">عربى</div>
                    </a>
                    <a class="lang-select__item" href="../pl/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pl.svg" alt="">
                      </div>
                      <div class="lang-select__title">Język polski</div>
                    </a>
                    <a class="lang-select__item" href="../zh/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-zh.svg" alt="">
                      </div>
                      <div class="lang-select__title">汉语</div>
                    </a>
                    <a class="lang-select__item" href="../de/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-de.svg" alt="">
                      </div>
                      <div class="lang-select__title">Deutsch</div>
                    </a>
                    <a class="lang-select__item" href="../fr/send-money-to-card.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-fr.svg" alt="">
                      </div>
                      <div class="lang-select__title">Français</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="inner-nav" id="inner-nav">
            <div class="region">
              <div class="inner-nav__list">
                <a class="inner-nav__item" href="managing-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_safe"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Administración de la cuenta</div>
                </a>
                <a class="inner-nav__item" href="bank-transfers.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_house2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Transferencias de dinero</div>
                </a>
                <a class="inner-nav__item" href="personal-iban.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_stars-big2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">IBAN personal</div>
                </a>
                <a class="inner-nav__item" href="personal-us-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_money-rotate2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Cuenta personal de US</div>
                </a>
                <a class="inner-nav__item" href="prepaid-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_cards2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Tarjetas de débito</div>
                </a>
                <a class="inner-nav__item" href="affiliate-payouts.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_crowd2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Pagos a Afiliados</div>
                </a>
                <a class="inner-nav__item" href="payout-service.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hands2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Soluciones para nóminas</div>
                </a>
                <a class="inner-nav__item" href="virtual-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_virtual-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Tarjetas Virtuales</div>
                </a>
                <a class="inner-nav__item" href="send-money-to-card.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_save-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Transferencias a tarjetas</div>
                </a>
                <a class="inner-nav__item" href="cash-remittance.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hand-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Pagos en efectivo</div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </header>

    </div>

    <div class="strut__row strut__row_expanded">
      <main class="body body_long">

        <div class="special-solution special-solution_dark" style="background-image: url(.././images/slider-img14.jpg)">
          <div class="region">
            <h1 class="special-solution__title title">Transferencias de dinero a Mastercard® y VISA®</h1>
            <div class="special-solution__text special-solution__text_wide">
              <ul class="special-solution__list">
                <li class="special-solution__item">
                  <div class="special-solution__icon icon icon_clock-white"></div>
                  <div class="special-solution__info">
                    <div class="special-solution_sub-title title title_small title_light">Comodidad</div>
                    <div class="special-solution__note text text-dark_light">Ideal para nóminas y pagos de autónomos
                    </div>
                  </div>
                </li>
                <li class="special-solution__item">
                  <div class="special-solution__icon icon icon_currency-white"></div>
                  <div class="special-solution__info">
                    <div class="special-solution_sub-title title title_small title_light">Rapidez</div>
                    <div class="special-solution__note text text-dark_light">El dinero se puede abonar en la tarjeta del
                      beneficiario en menos de un minuto</div>
                  </div>
                </li>
                <li class="special-solution__item">
                  <div class="special-solution__icon icon icon_earth-white"></div>
                  <div class="special-solution__info">
                    <div class="special-solution_sub-title title title_small title_light">Seguridad</div>
                    <div class="special-solution__note text text-dark_light">Las transferencias se procesarán a través
                      de los sistemas de pago Mastercard® y VISA®</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="region">
          <div class="row row-eq-height">
            <div class="col-md-9 col-xs-12 full-width">
              <div class="body__content body__content_small">
                <div class="solutions__block">
                  <h2 class="solutions__title title">Transferencias rápidas y sencillas</h2>
                  <div class="solutions__text text-dark">El sistema de pago ePayService les brinda una oportunidad única
                    tanto a usted como a su negocio: transferencias a tarjetas Mastercard® y VISA® emitidas por bancos
                    terceros. Esta es una opción ideal para remunerar a un autónomo, pagar a sus empleados o
                    proporcionar apoyo financiero a familiares. Las transferencias se realizan a cualquier lugar del
                    mundo donde estén presentes los sistemas de pago Mastercard® y VISA®. ¡Sin la intervención de bancos
                    corresponsales, y de forma rápida y totalmente transparente!</div>
                  <div class="solutions__image">
                    <img src="../images/solution-img11.svg" alt="">
                  </div>
                </div>
                <div class="solutions__block">
                  <div class="solutions__top">
                    <div class="solutions__wrapper">
                      <h2 class="solutions__title title">Transferencias a tarjetas en todo el mundo</h2>
                      <div class="solutions__text text-dark">Las tecnologías de pago Mastercard® y VISA® permiten
                        realizar transferencias a sus tarjetas de débito, crédito y prepago, independientemente del país
                        de emisión y de la divisa de la tarjeta.</div>
                    </div>
                  </div>
                  <ul class="solutions__list">
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image">
                          <img src=".././images/debit-card-big.svg" alt="">
                        </div>
                      </div>
                      <div class="solutions__wrapper">
                        <div class="solutions__note text-dark">Tarjetas de débito</div>
                      </div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image">
                          <img src=".././images/credit-card-big.svg" alt="">
                        </div>
                      </div>
                      <div class="solutions__wrapper">
                        <div class="solutions__note text-dark">Tarjetas de crédito</div>
                      </div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image">
                          <img src=".././images/prepaid-card-big.svg" alt="">
                        </div>
                      </div>
                      <div class="solutions__wrapper">
                        <div class="solutions__note text-dark">Tarjetas prepago</div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="solutions__block">
                  <h2 class="solutions__title title">Realmente cómodo, rápido y fiable</h2>
                  <ul class="solutions__list">
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_fast"></div>
                      </div>
                      <div class="solutions__wrapper">
                        <div class="solutions__note text-dark">Muy sencillo</div>
                        <div class="solutions__note text">Solo necesita el nombre del receptor y el número de su tarjeta
                        </div>
                      </div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_check-earth"></div>
                      </div>
                      <div class="solutions__wrapper">
                        <div class="solutions__note text-dark">Sin comisiones ocultas</div>
                        <div class="solutions__note text">Las transferencias a tarjetas son más rápidas y baratas que
                          las transferencias bancarias internacionales</div>
                      </div>
                    </li>
                    <li class="solutions__item">
                      <div class="solutions__bubble bubble-icon bubble-icon_big">
                        <div class="bubble-icon__image icon icon_money"></div>
                      </div>
                      <div class="solutions__wrapper">
                        <div class="solutions__note text-dark">Totalmente seguro</div>
                        <div class="solutions__note text">Todas las transferencias a tarjetas se efectúan dentro de
                          redes seguras Masterсard® y VISA®</div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="solutions__block">
                  <h2 class="solutions__title title">Coste de las transferencias</h2>
                  <div class="solutions__text text-dark">Las transferencias salientes a tarjetas Mastercard® y VISA® de
                    terceros se inician a través de su monedero ePayService en USD o EUR. Los importes se abonarán en la
                    tarjeta del beneficiario en su divisa según el tipo aplicable del banco emisor.</div>
                </div>
                <div class="checks__tabs tabs">
                  <div class="tabs__head using__switch">
                    <button class="tabs__tag tabs__tag_current using__tab" type="button">Transferencias en EUR</button>
                    <button class="tabs__tag using__tab" type="button">Transferencias en USD</button>
                  </div>
                  <div class="tabs__body">
                    <div class="tabs__section tabs__section_visible">
                      <ul class="checks__info">
                        <li class="checks__row">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small">Cantidad total</div>
                              <div class="title title_medium checks__sub-text">hasta <span>500.00 EUR</span></div>
                            </div>
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small"><br></div>
                              <div class="title title_medium checks__sub-text">1.95% + 3.00 EUR</div>
                            </div>
                          </div>
                        </li>
                        <li class="checks__row">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small">Cantidad total</div>
                              <div class="title title_medium checks__sub-text">desde <span>500.00 EUR</span></div>
                            </div>
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small"><br></div>
                              <div class="title title_medium checks__sub-text">1.95% + 6.00 EUR</div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="tabs__section">
                      <ul class="checks__info">
                        <li class="checks__row">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small">Cantidad total</div>
                              <div class="title title_medium checks__sub-text">hasta <span>500.00 USD</span></div>
                            </div>
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small"><br></div>
                              <div class="title title_medium checks__sub-text">1.95% + 3.00 USD</div>
                            </div>
                          </div>
                        </li>
                        <li class="checks__row">
                          <div class="row">
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small">Cantidad total</div>
                              <div class="title title_medium checks__sub-text">desde <span>500.00 USD</span></div>
                            </div>
                            <div class="col-xs-6">
                              <div class="text-dark text-dark_small"><br></div>
                              <div class="title title_medium checks__sub-text">1.95% + 6.00 USD</div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="using">
                  <h2 class="using__title title">Dé un impulso a su negocio con ePayService</h2>
                  <div class="using__note text">Puede realizar transferencias a cualquier tarjeta Masterсard® y VISA®
                    con solo tres pasos sencillos</div>
                  <ul class="using__list">
                    <li class="using__item">
                      <div class="using__icon">
                        <div class="icon icon_man"></div>
                      </div>
                      <div class="using__number"><span>1</span></div>
                      <div class="using__text">Regístrese en ePayService. Abriremos una cuenta para usted y su negocio
                        de forma totalmente gratuita</div>
                    </li>
                    <li class="using__item">
                      <div class="using__icon">
                        <div class="icon icon_profile-check"></div>
                      </div>
                      <div class="using__number"><span>2</span></div>
                      <div class="using__text">Cargue su cuenta. Aceptamos transferencias bancarias, cheques y dinero
                        electrónico</div>
                    </li>
                    <li class="using__item">
                      <div class="using__icon">
                        <div class="icon icon_hands"></div>
                      </div>
                      <div class="using__number"><span>3</span></div>
                      <div class="using__text">Inicie la transferencia. Para la mayoría de tarjetas, las transferencias
                        se completarán inmediatamente</div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-3 hidden-sm">
              <div class="sticky-column-long">
                <div class="body__action steps service" style="margin-bottom: 20px">
                  <div class="service__title title title_medium">Servicios</div>
                  <div class="service__list">
                    <a class="service__item" href="managing-account.html">Administración de la cuenta</a>
                    <a class="service__item" href="bank-transfers.html">Transferencias de dinero</a>
                    <a class="service__item" href="personal-iban.html">IBAN personal</a>
                    <a class="service__item" href="personal-us-account.html">Cuenta personal de US</a>
                    <a class="service__item" href="prepaid-cards.html">Tarjetas de débito</a>
                    <a class="service__item" href="payout-service.html">Soluciones para nóminas</a>
                    <a class="service__item" href="affiliate-payouts.html">Pagos a afiliados</a>
                    <a class="service__item" href="virtual-cards.html">Tarjetas Virtuales</a>
                    <a class="service__item" href="local-payments.html">Transferencia bancaria local</a>
                    <a class="service__item service__item_active" href="send-money-to-card.html">Transferencias a
                      tarjetas</a>
                    <a class="service__item" href="cash-remittance.html">Pagos en efectivo</a>
                  </div>
                  <div class="steps__wrapper">
                    <div class="steps__title title title_medium">¡Disfrute de la innovadora tecnología financiera de
                      ePayService!</div>
                    <div class="steps__button">
                      <a class="button button_big" href="https://online.epayservices.com/register">Abre una cuenta en
                        solo 2 min</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </main>
    </div>

    {% include 'footer.njk' %}

  </div>


  <div class="up-arrow"></div>

  <script src="../js/jquery-2.2.0.min.js"></script>
  <script src="../js/jquery.placeholder.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/sticky-kit.js"></script>
  <script src="../js/dropkick.min.js"></script>
  <script src="../js/app.b6f525f1.js"></script>

  <script>
    window.intercomSettings = {
      app_id: "wz9x11as"
    };
  </script>
  <script>
    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/wz9x11as'
    (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/wz9x11as'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();
  </script>
  <script src="https://online.epayservices.com/affiliate_program/landing_page/remember_affiliate_script.js"></script>
</body>

</html>
