<h2 class="agreement__title title">ePayService Mastercard Cardholders Agreement</h2>
<a class="link-arr" href="../../ePayService_MasterCard_Cardholders_Agreement.pdf" download>Download file</a>

<div class="agreement__text wysiwyg">
  <p>These terms and conditions apply to your Debit Card. You must read them carefully.</p>
  <p>In these terms and conditions you means the named Debit Cardholder and any authorised user of the Debit Card. We , us or our means MTACC LTD. dba ePayService, Authorised and Regulated by the Malta Financial Services Authority as a Financial Institution, our successors, affiliates or assignees. In this Agreement, Debit Card means physical or virtual Debit Mastercard®.</p>

  <ol class="multi no-padding">
    <li>Your Debit Card<br>
      <ol class="multi">
        <li>
          You can use the Debit Card at any location that displays the Mastercard acceptance mark, including shops, restaurants, online, or on the telephone. You can also use your Debit Card overseas. Before using the Debit Card you need to make sure there are enough funds in your ePayService account to cover the transaction. You will not be able to use your Debit Card after its expiry date. However, we may issue you with a new Debit Card prior to expiry.
        </li>
        <li>
          Your Debit Card is not a credit card. It can only be used to access funds held within your ePayService account. You will not earn any interest on any funds associated with your Debit Card.
        </li>
        <li>
          If available, where you have requested additional Debit Cards, you authorise us to issue such Debit Cards and a PIN and you confirm that each additional Debit Cardholder is approved by you to authorise transactions on your behalf.
        </li>
      </ol>
    </li>

    <li>Applying for and activating your Debit Card<br>
      <ol class="multi">
        <li>
          To apply for our Debit Card you must already be an ePayService account holder. To apply for an ePayService account you must be at least 18 years old. You will need to provide personal information to us, of who you are and your current address. We may ask you to provide documentary evidence to prove this and/or we may carry out checks on you electronically, in line with our legal and statutory obligations.
        </li>
        <li>
          You must sign the signature strip on the back of the Debit Card as soon as it is received. You will also need to activate your Debit Card before you will be able to use it. Details of the Card activation process can be found on the website and/or App.<br>
        </li>
      </ol>
    </li>
    <strong>By using the Debit Card you are agreeing to these terms and conditions.</strong><br><br>
    <li>Funding your Debit Card<br>
      <ol class="multi">
        <li>
          Your Debit Card can be in USD or EUR; always consider the exchange rates that may apply to transactions in a different currency to the one corresponding to your debit card.
        </li>
        <li>
          You can use your Debit Card to access funds held in your ePayService account. Other types on fund loading are not possible.
        </li>
        <li>
          Minimum and maximum transaction and balance values and volumes can be found at www.epayservices.com and section 12.5.1 of this document.
        </li>
      </ol>
    </li>
    <li>Using your Debit Card<br>
      <ol class="multi">
        <li>
          Detailed instructions on how to use your Debit Card are found on the website www.epayservices.com. You will need to follow these instructions when using your Debit Card.
        </li>
        <li>
          We will deduct the value of your transactions from the balance on your account as soon as they are made. We will also deduct any applicable fees from your account as soon as they become payable by you. For the list of the applicable fees please see Cardholder Fee Table in section 12.5.1
        </li>
        <li>
          The Debit Card belongs to us. We may ask you to stop using your Debit Card and return it to us or destroy it any time. We may, at any time suspend, restrict or cancel your Debit Card or refuse to issue or replace a Debit Card because:<br>
          <div style="padding-left:10px">
            i. we are concerned about security of your account or Debit Card(s) we have issued to you;<br>
            ii. we suspect your account is being used in an unauthorised or fraudulent manner;<br>
            iii. or we need to do so to comply with the law or request by a government authority.<br>
            If we do this, we will tell you as soon as we can or are permitted to do so after we have taken these steps.
          </div>
        </li>
        <li>
          Like other payment cards, we cannot guarantee that a retailer will accept your Debit Card. We may also refuse to pay a transaction:<br>
          <div style="padding-left:10px">
            i. if we are concerned about security of your Debit Card or we suspect your Debit Card is being used in an unauthorised or fraudulent manner;<br>
            ii. If insufficient cleared funds are available via your Debit Card at the time of a transaction to cover the amount of the transaction and any applicable fees;<br>
            iii. if there is an outstanding Shortfall (defined in section 12 below) on the associated ePayService account;<br>
            iv. if we have reasonable grounds to believe that you are acting in breach of this agreement;<br>
            v. if we believe that a transaction is potentially suspicious or illegal (for example, if we believe that a transaction is being made fraudulently);<br>
            vi. because of errors, failures (whether mechanical or otherwise) or refusals by merchants, payment processors or payment schemes processing transactions.
          </div>
        </li>
        <li>
          If we refuse to authorise a transaction, we will, if practicable, tell you why immediately unless it would be unlawful for us to do so. You may correct any information we hold and which may have caused us to refuse a transaction by contacting us, using the Website.
        </li>
      </ol>
    </li>
    <li>Authorising Transactions<br>
      <ol class="multi">
        <li>
          Subject to the features of the particular Debit Card, the authorisation of a transaction can include authorising any single transaction, a series or recurring transactions (including transactions for an indefinite period) or pre-authorising future transactions of a certain or uncertain amount.
        </li>
        <li>
          A Debit Card transaction will be regarded as authorised by you where you;<br>
          <div style="padding-left:10px">
            i. authorise the transaction at the point of sale by following the instructions provided by the merchant or retailer to authorise the transaction, which may include:
            <div style="padding-left:10px">
              (a) entering your PIN or providing any other security code;<br>
              (b) providing the Debit Card details and/ or providing any other details as requested;<br>
              (c) waving or swiping the Debit Card over a card reader
            </div>
            ii. insert a Debit Card and enter your PIN to request a cash withdrawal at an ATM;
          </div>
        </li>
        <li>
          Authorisation for a transaction may not be withdrawn (or revoked) by you after the transaction has been settled with the merchant.
        </li>
        <li>
          A transaction (the payment order) will be received as follows:
          <div style="padding-left:10px">
            i. for purchases and ATM transactions, at the time we receive the transaction instruction from the merchant acquirer or ATM operator;<br>
            ii. for other transactions which are communicated directly to us, at the time you ask us to complete the transaction.
          </div>
        </li>
        <li>
          It is your personal responsibility to ensure you do not spend more than the amount of the funds available in your ePayService account.
        </li>
        <li>
          When you carry out a transaction the company involved will take a ‘pre-authorisation’ to reserve the amount they intend to collect. Some merchants will pre-authorise a higher or lesser amount than the cost of the transaction. The funds are usually collected from your account when the merchants has requested a settlement for the transaction following completion of the transaction.
        </li>
        <li>
          Pre-authorisation reserves the funds from your available balance for a maximum of 10 days. After this time if the monies have not already been collected by the merchant they will be returned to your available balance.
        </li>
        <li>
          Although transactions are pre-authorised at the time an order is placed, for some purchases such as mail order, your account may not be debited until the goods are despatched, which may be longer than 30 days. Therefore you must make allowances for this in your spending to prevent your account falling into negative debit balance. The same would apply to car rental companies who will take a pre-authorisation upon your collection of the rental vehicle but will only debit your account at the end of the hire period.
        </li>
      </ol>
    </li>
  </ol>

6. Cancellation and expiry of your Debit Card
6.1 This agreement will continue indefinitely unless terminated. You have a legal right to cancel
your Debit Card up to 14 days after you receive it. This 14 day period is known as the ‘Cooling Off’
Period. Under these terms and conditions, you also have the right to cancel your Debit Card at any time
after the 14 day Cooling Off Period without notice.
4
6.2 We may cancel this agreement forthwith:
i. if this agreement or your card expires on a set date and we have not agreed
to renew it;
ii. if you break an important part of this agreement, or repeatedly break the
agreement and fail to resolve the matter in a timely manner;
iii. if you fail to pay fees or charges that you have incurred or fail to put right any
Shortfall.
6.3 We may also cancel this agreement or suspend your Card or account immediately if we
believe your Debit Card is deliberately being used by you to commit fraud or for other illegal
purposes. If we do this we will tell you as soon as we are permitted to do so.

6.5 If your Debit Card is cancelled, we will immediately block it and any additional cards so that
they cannot be used.
6.6 You will not be entitled to a refund of money you have already spent on transactions
authorised, or pending or on any fees for the use of the Debit Card before it is cancelled or expires. You
can cancel your Debit Card by creating a ticket in your online account, and confirming that you have
destroyed your Debit Card and any additional Cards.
6.7 If you cancel your Debit Card (and the associated ePayService account) once all transactions
and fees have been deducted, we will arrange for any unused funds to be refunded to you, see Your
Right to a Refund section below for further information. A Refund Fee may be charged in certain
circumstances.
6.8 Your Debit Card will be valid for three years. When it expires, unless we are told otherwise, we
may issue you with a replacement Debit card.
7. Keeping your Debit Card secure
7.1 You should treat your Debit Card like cash. If it is lost or stolen, you may lose some or all of your
money accessible via your Debit Card, in the same way as if you lost cash. You must keep your Debit
Card safe and not let anyone else use it. If you are issued with a PIN, you should memorise the PIN, then
destroy the notification and keep your PIN secret at all times. You can change your PIN at Chip enabled
ATM by following the screen instructions or by logging into your online ePayService account.
7.2 We recommend that you check the balance on your ePayService regularly online at the
website. We will provide you with your balance and a statement of recent transactions on our
secure webpage at any time. Your statement will show:
i. information relating to each Debit Card transaction which will enable it to be
identified;
ii. the amount of the Debit Card transaction shown in the currency in which the
transaction was paid or debited to the account;
iii. the amount of charges for the transaction;
iv. the date the transaction is authorised or posted on to the account.
v.
5
8. Lost and stolen Debit Cards and unauthorised or incorrectly executed payments
8.1 You must notify us by phone or email if your card has been lost or stolen; similarly you must
notify if you know or suspect that the PIN or password is known to an unauthorised person or if you
think a transaction has been incorrectly executed. If you believe a transaction on your card is
fraudulent, you can report to us up to 13 months after the transaction is processed. The helpline number
to report any issues related to your card is +44 (20) 81-3333-12.
8.2 Provided you notify us promptly and you have not acted fraudulently or with gross negligence
we will refund the amount of transaction which our investigations show are not authorised by
you.
8.3 However, if our investigations show that any disputed transaction was authorised by you, or
you have acted fraudulently or with gross negligence (for example by failing to keep your Debit Card or
PIN secure), you may be liable for any loss or misuse of the Card.
9. Our liability
9.1 We shall not be liable to you for any loss of profit or loss of revenue which in each case arises
out of or in connection with: (i) this agreement or (ii) any breach or non-performance of this
agreement, in each case no matter how fundamental (including by reason of Our negligence) or (iii)
temporary or permanent inability to use your Debit Card for any reasons.
9.2 We shall not be liable to you for:
9.2.1 any loss of goodwill, reputation or opportunity; or
9.2.2 any loss of or corruption of data; or
9.2.3 any loss of anticipated savings in each of the foregoing whether direct or indirect; or
9.2.4 any indirect or consequential loss,
which in each case arises out of or in connection with this agreement or any breach or nonperformance of this agreement no matter how fundamental (including by reason of Our negligence).

9.3 Our total liability arising under or in connection with this agreement or any breach or nonperformance of this agreement no matter how fundamental in contract, tort or otherwise shall be
limited to the sums received by Us in aggregate under this agreement in the 12 months preceding the
act or omission giving rise to the liability.
9.4 We shall not guarantee 100% that your card will be accepted by every merchant. Your card
acceptance will depend on each merchant’s own card acceptance rules and conditions. We will try to
help cardholders with any card acceptance issues, however we will not be liable for any acceptance
issues.

10. Refunding Transactions
10.1 You will be entitled to claim a refund in relation to transactions where:
6
10.1.1 the transaction was not authorised under this agreement;
10.1.2 we are responsible for a transaction which was incorrectly executed and you have
notified us in accordance with section 8 above;
10.1.3 a pre-authorised transaction did not specify the exact amount at the time of its
authorisation and the amount charged by a supplier is more than you or an additional
Debit Cardholder could reasonably have expected taking into account normal spending
patterns on the Debit Card or the circumstances of the transaction;

11. Changes to these Terms
We may change these terms at any time by notifying you by e-mail or other methods agreed, with at
least 60 days before the change is due to take effect. We reserve the right to change these terms and
conditions at shorter notice, provided there is no material change to them or to ensure we
accommodate new regulatory requirements or ensure service continuity. The up-to-date version of the
Debit Card terms and conditions will always be available on our website. The change will
automatically take effect and you will be taken to have accepted the notified change unless you tell us
that you do not agree to the change. In that event, we will treat that notice as notification that you wish
immediately to terminate.
12. Fees & Limits
12.1 We do not charge any fees to you for checking your on-line balance and transactions on our
website https://online.epayservices.com or other mobile applications offered by us. However other
fees may apply. For all transactions made in a foreign currency we will charge a currency conversion fee
of 1.99%. The rate used for conversion will be based on the Mastercard conversion rate applicable at
the time the transaction is processed. Details of Mastercard conversion rates can be found at
https://www.mastercard.com/global/currencyconversion/index.html. For more fee details please see
the cardholder fee table under 12.5.
12.2 If we decide to increase or introduce any new fees, we will tell you by e-mail, text, at least 60
days before any changes take effect.
12.3 Authorisation will be requested for all transactions at the time of each transaction. In the unlikely
event, for any reason whatsoever, a transaction is completed when there are insufficient funds
for that transaction on the ePayService account associated with the Debit Card (a Shortfall), the Shortfall
shall be reimbursed by you unless it is due to an error on the part of the retailer where the Debit Card
was presented, in this circumstance we may seek the Shortfall from the retailer.
12.4 You agree that once we make this Shortfall known to you, we may charge you for the
Shortfall amount. We may charge the amount of the shortfall from any other account that you hold with
us, to any other payment method which you may designate at that time, or against any funds which you
may subsequently load onto your account. Until we are reimbursed the Shortfall amount, we may
suspend your Debit Card and any additional Debit Cards or accounts connected to you. In addition, we
reserve the right to charge you an Administration Fee for each transaction that you make using your
Debit Card that results in a Shortfall or increases the Shortfall amount on your account.
12.5 Cardholder fee table
EUR Card
7
Transaction Type Fee
ATM Withdrawal €2.50
Non-EUR Transaction Fee 1.99%
Declined Transaction €0.50
USD Card
Transaction Type Fee
ATM Withdrawal $2.50
Non-USD Transaction Fee 1.99%
Declined Transaction $0.50
12.6 Cardholder limits table
EUR Card
Transaction Type Limit
Maximum ATM Withdrawal €400 per transaction
Minimum ATM Withdrawal €20
Maximum ATM Transactions 6 per day
Maximum Transaction Amount €5,000 per transaction
Maximum Daily Amount €5,000
Maximum Daily Transactions 20 per day
Maximum Contactless Transactions 10 before PIN required
USD Card
Transaction Type Limit
Maximum ATM Withdrawal $500 per transaction
Minimum ATM Withdrawal $20
Maximum ATM Transactions 6 per day
Maximum Transaction Amount $5,000 per transaction
Maximum Daily Amount $5,000
Maximum Daily Transactions 20 per day
Maximum Contactless Transactions 10 before PIN required
13. Your Details
You must let us know as soon as possible if you change name, address, phone number or email
address. If we contact you in relation to your Debit Card, for example, to notify you that we have
cancelled your Debit Card or to send you a refund by cheque or other refund method, we will use the
most recent contact details you have provided to us. Any email to you will be treated as being received
as soon as it is sent by us. We will not be liable to you if your contact details have changed and you have
not told us.  
8
14. Data Protection
14.1 By ordering the Debit Card and using it, you agree that we can use your personal
information in accordance with our Privacy Policy. Our Privacy Policy is set out on our Website, it
includes details of the personal information that we collect, how it will be used, and who we pass it to.
You can tell us if you don't want to receive any marketing materials from us.
14.2 If we suspect that we have been given false or inaccurate information, we may record our
suspicion together with any other relevant information. Personal data may also be transferred
confidentially to other organisations involved in issuing or operating your Debit Card so that we can
operate your Card correctly.
14.3 We may obtain information about you to help us verify your identity for fraud prevention
and/or money laundering. Scoring methods may be used in the verification process. A record of this
process may be kept and used to help other companies to verify your identity. All personal
information given by you may be checked with fraud prevention agencies and other organisations
involved in crime prevention and may be used for the investigation of fraudulent activity and crime
prevention to meet our obligations under the card scheme regulations, and if you have given false or
inaccurate information and we suspect fraud we will record this.
14.4 We may monitor and/or record telephone calls we have with you or your additional
Cardholders to help us maintain and improve the quality of our customer service or as required by
applicable law.
14.5 The Debit Card is operated by MTACC LTD dba ePayService who are committed to preserving
your right of privacy, which includes giving you control of how we contact you. Please note, you
must agree to receive card account related emails, confirmation messages and other important
announcements regarding your Debit card.

15. Disputes with Retailers
If you have any disputes about purchases made using your Debit Card, you should settle these with the
person you bought the goods or services from. We are not responsible for the quality, safety, legality or
any other aspect of any goods or services purchased with your Debit Card. Remember that once you
have used your Debit Card to make a purchase we cannot stop that transaction.
16. Communication
If you have an enquiry relating to your Debit Card, you can use the Contact Us facility on the Card
programme website or create ticket in your online account. Your enquiry will be dealt with promptly.
The customer service number can also be found on the reverse of your card. Calls will be charged at
standard rates. Call costs from other networks may vary.
17. Complaints
The Debit Card is issued by MTACC Ltd. trading as dba ePayService pursuant to license by Mastercard
International. If you are unhappy in any way with your Debit Card or the way it is managed, you can
contact us by using the email enquiry facility on the Website or by creating ticket in your online account
so we can investigate the circumstances for you. You may be able to take unresolved complaints to
the Office of the Arbiter for Financial Services (OAFS) in Malta which provides an independent and
impartial mechanism of resolving disputes outside of the courts’ system, filed by customers against
financial services providers authorised by the Maltese financial services regulator. More information and
contact details at www.financialarbiter.org.mt
9
18. Compensation
The Debit Card is a payment instrument linked to a electronic money account or a payments account
and although it is a product regulated by the Malta Financial Services Authority, it is not covered
by the Depositor Compensation Scheme. No other compensation scheme exists to cover losses claimed
in connection with the Debit Card. We ensure that any funds received by you are held in a segregated
account so that in the unlikely event that we become insolvent your funds will be protected against
claims made by creditors.
19. Assignment
We may assign the benefit and burden of these terms and conditions to another company at any time,
on giving you 60 days prior notice of this. If we do this, your rights will not be affected.
20. Governing Law
This Agreement is concluded in English. All communications can be in English or other languages.
These terms and conditions will be construed in accordance with laws of the Republic of Malta
and subject to the jurisdiction of the Maltese Courts.
21. Fund Protection
As a responsible e-money issuer and payment services provide, licensed as a Financial Institution, MTACC
Ltd ensures that once it has received your funds they are deposited in a secure account, specifically
allocated for the purpose of redeeming transactions made by your Debit Card.
Debit Card Issuer
Your Debit Card is issued by MTACC Ltd, registered in Malta (C 71976) whose registered address
is at 39 Triq Francis Zammit STJ3210, St. Julians Malta. MTACC Ltd is authorised and regulated by the
Malta Financial Services Authority as a Financial Institution for the issuing of electronic money and
the provision of payment services. Your Debit Card is the property of MTACC Ltd and is not transferable
to anyone else.
Mastercard and the Mastercard Brand Mark are registered trademarks of Mastercard International
Incorporated.
</div>
-->

