{% set agreements = [
  { name: 'user-agreement', link: '', text: 'User Agreement' },
  { name: 'cardholders-agreement', link: '', text: 'ePayService Mastercard Cardholders Agreement' },
  { name: 'privacy-policy', link: '', text: 'Privacy Policy' },
  { name: 'privacy-notice', link: '', text: 'Privacy Notice' },
  { name: 'solid-privacy-policy', link: '', text: 'Solid Privacy Policy' },
  { name: 'solid-platform-terms', link: '', text: 'Solid platform terms of service' },
  { name: 'solid-website-dashboard-terms', link: '', text: 'Solid website & dashboard terms of use' },
  { name: 'evolve-td-agreement', link: '', text: 'Evolve Bank & Trust deposit agreement - business' },
  { name: 'evolve-privacy-policy', link: '', text: 'Evolve privacy policy' },
  { name: 'evolve-tec-consent', link: '', text: 'Evolve Bank & Trust electronic communication consent' },
  { name: 'evolve-bank-deposit-agreement', link: '', text: 'Evolve Bank Deposit Agreement - Consumer' },
  { name: 'picoins-terms', link: '', text: 'PiCoins Inc. Terms of Service' }
]%}

<!-- { name: 'coinly-user-agreement', link: '', text: 'Coinly user agreement' } -->

{% set activeAgreementName = page.fileSlug %}
{% if activeAgreementName == "agreements" %}
  {% set linkPrefix = "agreements/" %}
  {% set activeAgreementName = "user-agreement" %}
{% else %}
  {% set linkPrefix = "" %}
{% endif %}

<div class="service__list" style="border-bottom: 0">
  {% for agreement in agreements %}
    {% if agreement.link == '' %}
      {% if agreement.name == activeAgreementName %}
        <a class="service__item service__item_active js-scroll" href="#{{ agreement.name }}">{{ agreement.text }}</a>
      {% else %}
        <a class="service__item" href="{{ linkPrefix }}{{ agreement.name }}.html">{{ agreement.text }}</a>
      {% endif %}
    {% else %}
      <a class="service__item" href="{{ agreement.link }}" target="_blank">{{ agreement.text }}</a>
    {% endif %}
  {% endfor %}
</div>
