<div class="app-download">
  <div class="col-xs-12" style="max-width: 1920px">
    <div class="app-download__main">
      <h2 class="mobile-bank__title title app-download__title">
        {{ 'appDownload.title' | i18n }}
      </h2>

      <div class="mobile-bank__text app-download__text">
        {{ 'appDownload.text' | i18n }}
      </div>

      <div class="app-download__links">
        <a class="mobile-bank__icon icon icon_app-store app-download__link" href="https://itunes.apple.com/us/app/epayservice/id526678355?l=en&mt=8"></a>
        <a class="mobile-bank__icon icon icon_google-play app-download__link" href="https://play.google.com/store/apps/details?id=com.epayservice"></a>
      </div>

      <div class="app-download__left-bg"></div>

      <div class="app-download__right-bg"></div>

      <div class="mobile-bank__text app-download__text space-bottom"></div>

      <div class="mobile-bank__text app-download__text">
        {{ 'appDownload.downloadText' | i18n }}
      </div>

      <a class="button app-download__button" href="https://online.epayservices.com/register">
        {{ 'appDownload.openFreeAccount' | i18n }}
      </a>
    </div>
  </div>
</div>
