---
permalink: "{{ locale }}/{{ page.fileSlug }}.html"
---

<!DOCTYPE html>
<html lang="ro">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../css/style.css?v=175501072022">
  <title>ePayService - Procesare cecuri</title>
</head>

<body class="">


  <div class="strut">

    <div class="strut__row">

      <header class="header">
        <div class="header__top header__top_sticky">
          <div class="region">
            <div class="top">
              <div class="top__main">
                <div class="top__burger burger">
                  <div class="burger__handler"></div>
                  <div class="burger__body"></div>
                </div>
                <div class="top__logo">
                  <a class="logo" href="index.html"></a>
                </div>
                <nav class="top__nav nav">
                  <!--<a class="nav__link" href="-about.html">About Us</a>-->
                  <a class="nav__link nav__link_more" href="#" data-inner="inner-nav"><span>Servicii</span></a>
                  <div class="sub-menu">
                    <a class="sub-menu__link" href="managing-account.html">Administrare cont</a>
                    <a class="sub-menu__link" href="bank-transfers.html">Transferuri bancare</a>
                    <a class="sub-menu__link" href="personal-iban.html">IBAN personal</a>
                    <a class="sub-menu__link" href="personal-us-account.html">Cont personal SUA</a>
                    <a class="sub-menu__link" href="prepaid-cards.html">Carduri de debit</a>
                    <a class="sub-menu__link" href="affiliate-payouts.html">Plăți afiliați</a>
                    <a class="sub-menu__link" href="payout-service.html">Soluții salarizare</a>
                    <a class="sub-menu__link" href="virtual-cards.html">Carduri virtuale</a>
                    <a class="sub-menu__link" href="local-payments.html">Transfer bancar local</a>
                    <a class="sub-menu__link" href="send-money-to-card.html">Transferuri pe carduri</a>
                    <a class="sub-menu__link" href="cash-remittance.html">Plăţi în numerar</a>
                  </div>
                  <a class="nav__link" href="fees.html">Comisioane</a>
                  <a class="nav__link" href="contact-us.html">Contactați-ne</a>
                  <a class="nav__link" target="_blank" href="http://faq.epayservices.com">FAQ</a>
                </nav>
                <a class="top__profile" href="#"></a>
                <div class="top__sign-in">
                  <a class="button" href="https://online.epayservices.com/register">DESCHIDEȚI CONT GRATUIT</a>
                  <a class="button button_border" href="https://online.epayservices.com/">AUTENTIFICARE</a>
                </div>
              </div>
              <div class="top__actions">
                <div class="top__buttons">
                  <a class="button" href="https://online.epayservices.com/register">DESCHIDEȚI CONT GRATUIT</a>
                  <a class="button button_border" href="https://online.epayservices.com/">AUTENTIFICARE</a>
                </div>
                <div class="top__language lang-select drop">
                  <div class="lang-select__toggle drop__handler">
                    <div class="lang-select__image">
                      <img src="../images/flag-ro.svg" alt="">
                    </div>
                    <div class="lang-select__title">RO</div>
                  </div>
                  <div class="lang-select__list drop__down">
                    <a class="lang-select__item" href="../en/checks-processing.html">
                      <div class="lang-select__image">
                        <img src="../images/flag.svg" alt="">
                      </div>
                      <div class="lang-select__title">English (US)</div>
                    </a>
                    <a class="lang-select__item" href="../uk/checks-processing.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-uk.svg" alt="">
                      </div>
                      <div class="lang-select__title">English</div>
                    </a>
                    <a class="lang-select__item" href="../ru/checks-processing.html">
                      <div class="lang-select__image">
                        <img src="../images/ru.png" alt="">
                      </div>
                      <div class="lang-select__title">Русский</div>
                    </a>
                    <a class="lang-select__item" href="../es/checks-processing.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-es.png" alt="">
                      </div>
                      <div class="lang-select__title">Español</div>
                    </a>
                    <a class="lang-select__item" href="../co/checks-processing.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-co.png" alt="">
                      </div>
                      <div class="lang-select__title">Español (Colombia)</div>
                    </a>
                    <a class="lang-select__item" href="../pt/checks-processing.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pt.svg" alt="">
                      </div>
                      <div class="lang-select__title">Português</div>
                    </a>
                    <a class="lang-select__item" href="../ms/checks-processing.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ms.svg" alt="">
                      </div>
                      <div class="lang-select__title">Melayu</div>
                    </a>
                    <a class="lang-select__item" href="../vn/checks-processing.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-vn.svg" alt="">
                      </div>
                      <div class="lang-select__title">Tiếng Việt</div>
                    </a>
                    <a class="lang-select__item" href="../ar/checks-processing.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ar.png" alt="">
                      </div>
                      <div class="lang-select__title">عربى</div>
                    </a>
                    <a class="lang-select__item" href="../pl/checks-processing.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pl.svg" alt="">
                      </div>
                      <div class="lang-select__title">Język polski</div>
                    </a>
                    <a class="lang-select__item" href="../zh/checks-processing.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-zh.svg" alt="">
                      </div>
                      <div class="lang-select__title">汉语</div>
                    </a>
                    <a class="lang-select__item" href="../de/checks-processing.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-de.svg" alt="">
                      </div>
                      <div class="lang-select__title">Deutsch</div>
                    </a>
                    <a class="lang-select__item" href="../fr/checks-processing.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-fr.svg" alt="">
                      </div>
                      <div class="lang-select__title">Français</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="inner-nav" id="inner-nav">
            <div class="region">
              <div class="inner-nav__list">
                <a class="inner-nav__item" href="managing-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_safe"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Administrare cont</div>
                </a>
                <a class="inner-nav__item" href="bank-transfers.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_house2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Transferuri bancare</div>
                </a>
                <a class="inner-nav__item" href="personal-iban.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_stars-big2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">IBAN personal</div>
                </a>
                <a class="inner-nav__item" href="personal-us-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_money-rotate2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Cont personal SUA</div>
                </a>
                <a class="inner-nav__item" href="prepaid-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_cards2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Carduri de debit</div>
                </a>
                <a class="inner-nav__item" href="affiliate-payouts.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_crowd2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Plăți afiliați</div>
                </a>
                <a class="inner-nav__item" href="payout-service.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hands2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Soluții salarizare</div>
                </a>
                <a class="inner-nav__item" href="virtual-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_virtual-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Carduri virtuale</div>
                </a>
                <a class="inner-nav__item" href="local-payments.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_local-pay"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Transfer bancar local</div>
                </a>
                <a class="inner-nav__item" href="send-money-to-card.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_save-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Transferuri pe carduri</div>
                </a>
                <a class="inner-nav__item" href="cash-remittance.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hand-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Plăţi în numerar</div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </header>

    </div>

    <div class="strut__row strut__row_expanded">
      <main class="body">

        <div class="special-solution special-solution_dark" style="background-image: url(.././images/cheque-bg.jpg)">
          <div class="region">
            <h1 class="special-solution__title title">ePayService este cea mai bună soluție pentru plățile primite de la
              partenerii dvs. din SUA</h1>
            <div class="special-solution__text text-dark"></div>
          </div>
        </div>

        <div class="region">
          <div class="row row-eq-height">
            <div class="col-md-9 col-xs-12 full-width">
              <div class="body__content body__content_small checks">
                <div class="checks__block">
                  <h2 class="checks__title title">ePayService: o metodă simplă de a încasa cecurile</h2>
                  <div class="checks__text text-dark">De-a lungul timpului, cecurile au constituit o metodă populară de
                    plată în SUA. Programele americane extinse de parteneriat și agențiile de marketing, precum Google
                    AdSense și Amazon Associates, folosesc cecurile pentru a-și plăti afiliații. Cu toate acestea,
                    încasarea cecurilor poate constitui o problemă pentru clienții din Europa sau Asia, din moment ce
                    băncile întârzie deseori procesarea cecurilor internaționale sau rețin comisioane enorme.</div>
                  <div class="checks__text text-dark">ePayService vă poate încasa cecurile în 4 pași simpli:</div>
                  <ul class="checks__steps using__list">
                    <li class="using__item">
                      <div class="using__icon">
                        <div class="icon icon_man"></div>
                      </div>
                      <div class="using__number"><span>1</span></div>
                      <div class="using__text">Înregistrați-vă pe <a class="using__link"
                          href="https://online.epayservices.com/register">ePayServices.com</a></div>
                    </li>
                    <li class="using__item">
                      <div class="using__icon">
                        <div class="icon icon_check-pen2"></div>
                      </div>
                      <div class="using__number"><span>2</span></div>
                      <div class="using__text">Semnați cecul</div>
                    </li>
                    <li class="using__item">
                      <div class="using__icon">
                        <div class="icon icon_envelope2"></div>
                      </div>
                      <div class="using__number"><span>3</span></div>
                      <div class="using__text">Trimiteți cecul prin poștă uneia dintre filialele noastre</div>
                    </li>
                    <li class="using__item">
                      <div class="using__icon">
                        <div class="icon icon_money"></div>
                      </div>
                      <div class="using__number"><span>4</span></div>
                      <div class="using__text">Retrageți banii folosind cardul ePayService</div>
                    </li>
                  </ul>

                </div>

                <div class="checks__block">
                  <h2 class="checks__title title">Partenerii noștri</h2>
                  <div class="checks__text text-dark">Noi acceptăm cecuri emise de majoritatea companiilor americane și
                    programelor de afiliați. Tehnologia noastră permite clienților noștri să încaseze cecuri în USD, EUR
                    și alte valute, rapid și ieftin. Sistemul de plăți ePayService este unic pe piață.</div>
                  <div class="checks__partners">
                    <div class="checks__company">
                      <img src="../images/partner1.svg" alt="">
                    </div>
                    <div class="checks__company">
                      <img src="../images/partner2.svg" alt="">
                    </div>
                    <div class="checks__company">
                      <img src="../images/partner3.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="checks__block">
                  <!--<h2 class="checks__title title">Cele mai mici comisioane de pe piață</h2>-->
                  <!--<div class="checks__sub-title">Comisioane</div>-->
                  <!--<ul class="checks__info">-->
                  <!--<li class="checks__row">-->
                  <!--<div class="row">-->
                  <!--<div class="col-xs-6">-->
                  <!--<div class="title title_medium">USD</div>-->
                  <!--<div class="text-dark text-dark_small">Cecuri  plătibile companiei noastre</div>-->
                  <!--</div>-->
                  <!--<div class="col-xs-6">-->
                  <!--<div class="title title_medium">2.5%</div>-->
                  <!--</div>-->
                  <!--</div>-->
                  <!--</li>-->
                  <!--<li class="checks__row">-->
                  <!--<div class="row">-->
                  <!--<div class="col-xs-6">-->
                  <!--<div class="title title_medium">USD</div>-->
                  <!--<div class="text-dark text-dark_small">Cecuri eliberate pe numele dumneavoastră</div>-->
                  <!--</div>-->
                  <!--<div class="col-xs-6">-->
                  <!--<div class="title title_medium">4.5%</div>-->
                  <!--</div>-->
                  <!--</div>-->
                  <!--</li>-->
                  <!--<li class="checks__row">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="title title_medium">EUR, CAD, GBP</div>
                                                    <div class="text-dark text-dark_small">Checks payable to our company</div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="title title_medium">2.5%</div>
                                                </div>
                                            </div>
                                        </li>-->

                  <!--</ul>-->
                  <h3 class="checks__sub-title">PERIOADĂ PROCESARE FONDURI</h3>
                  <div class="checks__tabs tabs">
                    <div class="tabs__head using__switch">
                      <button class="tabs__tag tabs__tag_current using__tab" type="button">Bănci SUA</button>
                    </div>
                    <div class="tabs__body">
                      <div class="tabs__section tabs__section_visible">
                        <ul class="checks__info">
                          <li class="checks__row">
                            <div class="row">
                              <div class="col-xs-6">
                                <div class="text-dark text-dark_small">Sumă totală</div>
                                <div class="title title_medium checks__sub-text">până la <span>$5000.00</span></div>
                              </div>
                              <div class="col-xs-6">
                                <div class="text-dark text-dark_small"><br></div>
                                <div class="title title_medium checks__sub-text" style="color: #FF3C54">serviciul este
                                  temporar indisponibil</div>
                              </div>
                            </div>
                          </li>
                          <li class="checks__row">
                            <div class="row">
                              <div class="col-xs-6">
                                <div class="text-dark text-dark_small">Sumă totală</div>
                                <div class="title title_medium checks__sub-text">peste <span>$5000.00</span></div>
                              </div>
                              <div class="col-xs-6">
                                <div class="text-dark text-dark_small"><br></div>
                                <div class="title title_medium checks__sub-text" style="color: #FF3C54">serviciul este
                                  temporar indisponibil</div>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <!--<div class="checks__note text"><sup>*</sup>Prima zi a perioadei este considerată data depozitului respectiv</div>-->
                      </div>

                    </div>
                  </div>
                </div>





              </div>
            </div>
            <div class="col-md-3 hidden-sm">
              <div class="sticky-column">
                <div class="body__action steps service">
                  <div class="service__title title title_medium">Servicii</div>
                  <div class="service__list">
                    <a class="service__item" href="managing-account.html">Administrare cont</a>
                    <a class="service__item" href="bank-transfers.html">Transferuri bancare</a>
                    <a class="service__item" href="personal-iban.html">IBAN personal</a>
                    <a class="service__item" href="personal-us-account.html">Cont personal SUA</a>
                    <a class="service__item" href="prepaid-cards.html">Carduri de debit</a>
                    <a class="service__item service__item_active" href="checks-processing.html">Procesare cecuri</a>
                    <a class="service__item" href="payout-service.html">Soluții salarizare</a>
                    <a class="service__item" href="affiliate-payouts.html">Plăți afiliați</a>
                    <a class="service__item" href="virtual-cards.html">Carduri virtuale</a>
                    <a class="service__item" href="local-payments.html">Transfer bancar local</a>
                    <a class="service__item" href="send-money-to-card.html">Transferuri pe carduri</a>
                    <a class="service__item" href="cash-remittance.html">Plăţi în numerar</a>
                  </div>
                  <div class="steps__wrapper">
                    <div class="steps__title title title_medium">ePayService – cea mai rapidă metodă de a încasa un cec!
                    </div>
                    <div class="steps__button">
                      <a class="button button_big" href="https://online.epayservices.com/register">Deschideți un cont în
                        2 minute</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    {% include 'footer.njk' %}

  </div>


  <div class="up-arrow"></div>



  <script src="../js/jquery-2.2.0.min.js"></script>
  <script src="../js/jquery.placeholder.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/sticky-kit.js"></script>
  <script src="../js/app.b6f525f1.js"></script>
  <script>
    window.intercomSettings = {
      app_id: "wz9x11as"
    };
  </script>
  <script>
    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/wz9x11as'
    (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/wz9x11as'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();
  </script>


  <script src="https://online.epayservices.com/affiliate_program/landing_page/remember_affiliate_script.js"></script>
</body>

</html>
