---
permalink: "{{ locale }}/{{ page.fileSlug }}.html"
---

<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../css/style.css?v=191613042022">
  <title>ePayService - Biểu phí</title>
</head>

<body class="page-sticky">


  <div class="strut">

    <div class="strut__row">

      <header class="header">
        <div class="header__top header__top_sticky">
          <div class="region">
            <div class="top">
              <div class="top__main">
                <div class="top__burger burger">
                  <div class="burger__handler"></div>
                  <div class="burger__body"></div>
                </div>
                <div class="top__logo">
                  <a class="logo" href="index.html"></a>
                </div>
                <nav class="top__nav nav">
                  <!--<a class="nav__link" href="-about.html">About Us</a>-->
                  <a class="nav__link nav__link_more" href="#" data-inner="inner-nav"><span>Dịch vụ</span></a>
                  <div class="sub-menu">
                    <a class="sub-menu__link" href="managing-account.html">Quản lý Tài khoản</a>
                    <a class="sub-menu__link" href="bank-transfers.html">Chuyển Tiền</a>
                    <a class="sub-menu__link" href="prepaid-cards.html">Thẻ ghi nợ</a>
                    <a class="sub-menu__link" href="affiliate-payouts.html">Thanh toán Liên kết</a>
                    <a class="sub-menu__link" href="payout-service.html">Giải pháp Thanh toán lương</a>
                    <a class="sub-menu__link" href="virtual-cards.html">Thẻ ảo</a>
                    <a class="sub-menu__link" href="local-payments.html">Chuyển khoản ngân hàng địa phương</a>
                    <a class="sub-menu__link" href="send-money-to-card.html">Chuyển khoản vào thẻ</a>
                    <a class="sub-menu__link" href="cash-remittance.html">Thanh toán tiền mặt</a>
                  </div>
                  <a class="nav__link nav__link_active" href="fees.html">Biểu phí</a>
                  <a class="nav__link" href="contact-us.html">Liên Hệ</a>
                  <a class="nav__link" target="_blank" href="http://faq.epayservices.com">FAQ</a>
                </nav>
                <a class="top__profile" href="https://online.epayservices.com/"></a>
                <div class="top__sign-in">
                  <a class="button" href="https://online.epayservices.com/register">MỞ MỘT TÀI KHOẢN MIỄN PHÍ</a>
                  <a class="button button_border" href="https://online.epayservices.com/">ĐĂNG NHẬP</a>
                </div>
              </div>
              <div class="top__actions">
                <div class="top__buttons">
                  <a class="button" href="https://online.epayservices.com/register">MỞ MỘT TÀI KHOẢN MIỄN PHÍ </a>
                  <a class="button button_border" href="https://online.epayservices.com/">ĐĂNG NHẬP</a>
                </div>
                <div class="top__language lang-select drop">
                  <div class="lang-select__toggle drop__handler">
                    <div class="lang-select__image">
                      <img src="../images/flag-vn.svg" alt="">
                    </div>
                    <div class="lang-select__title">VN</div>
                  </div>
                  <div class="lang-select__list drop__down">
                    <a class="lang-select__item" href="../en/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag.svg" alt="">
                      </div>
                      <div class="lang-select__title">English (US)</div>
                    </a>
                    <a class="lang-select__item" href="../uk/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-uk.svg" alt="">
                      </div>
                      <div class="lang-select__title">English</div>
                    </a>
                    <a class="lang-select__item" href="../ru/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/ru.png" alt="">
                      </div>
                      <div class="lang-select__title">Русский</div>
                    </a>
                    <a class="lang-select__item" href="../es/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-es.png" alt="">
                      </div>
                      <div class="lang-select__title">Español</div>
                    </a>
                    <a class="lang-select__item" href="../co/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-co.png" alt="">
                      </div>
                      <div class="lang-select__title">Español (Colombia)</div>
                    </a>
                    <a class="lang-select__item" href="../pt/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pt.svg" alt="">
                      </div>
                      <div class="lang-select__title">Português</div>
                    </a>
                    <a class="lang-select__item" href="../ro/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ro.svg" alt="">
                      </div>
                      <div class="lang-select__title">Română</div>
                    </a>
                    <a class="lang-select__item" href="../ms/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ms.svg" alt="">
                      </div>
                      <div class="lang-select__title">Melayu</div>
                    </a>
                    <a class="lang-select__item" href="../ar/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-ar.png" alt="">
                      </div>
                      <div class="lang-select__title">عربى</div>
                    </a>
                    <a class="lang-select__item" href="../pl/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-pl.svg" alt="">
                      </div>
                      <div class="lang-select__title">Język polski</div>
                    </a>
                    <a class="lang-select__item" href="../zh/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-zh.svg" alt="">
                      </div>
                      <div class="lang-select__title">汉语</div>
                    </a>
                    <a class="lang-select__item" href="../de/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-de.svg" alt="">
                      </div>
                      <div class="lang-select__title">Deutsch</div>
                    </a>
                    <a class="lang-select__item" href="../fr/fees.html">
                      <div class="lang-select__image">
                        <img src="../images/flag-fr.svg" alt="">
                      </div>
                      <div class="lang-select__title">Français</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="inner-nav" id="inner-nav">
            <div class="region">
              <div class="inner-nav__list">
                <a class="inner-nav__item" href="managing-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_safe"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Quản lý Tài khoản</div>
                </a>
                <a class="inner-nav__item" href="bank-transfers.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_house2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Chuyển Tiền</div>
                </a>
                <a class="inner-nav__item" href="prepaid-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_cards2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Thẻ ghi nợ</div>
                </a>
                <a class="inner-nav__item" href="affiliate-payouts.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_crowd2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Thanh toán Liên kết</div>
                </a>
                <a class="inner-nav__item" href="payout-service.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hands2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Giải pháp Thanh toán lương</div>
                </a>
                <a class="inner-nav__item" href="virtual-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_virtual-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Thẻ ảo</div>
                </a>
                <a class="inner-nav__item" href="local-payments.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_local-pay"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Chuyển khoản ngân hàng địa phương</div>
                </a>
                <a class="inner-nav__item" href="send-money-to-card.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_save-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Chuyển khoản vào thẻ</div>
                </a>
                <a class="inner-nav__item" href="cash-remittance.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hand-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Thanh toán tiền mặt</div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </header>

    </div>

    <div class="strut__row strut__row_expanded">
      <main class="body region">
        <div class="row row-eq-height">
          <div class="col-md-3 col-xs-4 full-width">

            <div class="sticky-column">
              {% include 'pages/fees/tabSwitch.njk' %}

              <aside class="body__nav side-nav js-first-tab hidden-xs">
                <div class="side-nav__list">
                  <a class="side-nav__item ico-nav swap-item swap-item_active js-scroll" href="#ach-directdeposit">
                    <div class="ico-nav__image">
                      <div class="icon icon_flag-sm"></div>
                    </div>
                    <div class="ico-nav__info">
                      <div class="ico-nav__title text-dark text-dark_small">Chuyển tiền mỹ</div>
                      <div class="ico-nav__text text">{{ 'fees.moneyTransfersUS.navText' | i18n }}</div>
                    </div>
                  </a>
                  <a class="side-nav__item ico-nav swap-item js-scroll" href="#wire-transfer">
                    <div class="ico-nav__image">
                      <div class="icon icon_earth-sm"></div>
                    </div>
                    <div class="ico-nav__info">
                      <div class="ico-nav__title text-dark text-dark_small">Chuyển tiền quốc tế</div>
                      <div class="ico-nav__text text">Wire</div>
                    </div>
                  </a>
                  <a class="side-nav__item ico-nav swap-item js-scroll" href="#sepa">
                    <div class="ico-nav__image">
                      <div class="icon icon_stars-sm"></div>
                    </div>
                    <div class="ico-nav__info">
                      <div class="ico-nav__title text-dark text-dark_small">Chuyển tiền Châu Âu</div>
                      <div class="ico-nav__text text">SEPA</div>
                    </div>
                  </a>
                  <a class="side-nav__item ico-nav swap-item js-scroll" href="#local">
                    <div class="ico-nav__image">
                      <div class="icon icon_local-pay-sm"></div>
                    </div>
                    <div class="ico-nav__info">
                      <div class="ico-nav__title text-dark text-dark_small">Chuyển khoản ngân hàng địa phương</div>
                      <div class="ico-nav__text text">Tiền gửi ngân hàng</div>
                    </div>
                  </a>
                  <a class="side-nav__item ico-nav swap-item js-scroll" href="#cheque-processing">
                    <div class="ico-nav__image">
                      <div class="icon icon_check-sm"></div>
                    </div>
                    <div class="ico-nav__info">
                      <div class="ico-nav__title text-dark text-dark_small">Séc ngân hàng Hoa Kỳ</div>
                      <div class="ico-nav__text text">Xử lý Séc</div>
                    </div>
                  </a>
                  <a class="side-nav__item ico-nav swap-item js-scroll" href="#to-card">
                    <div class="ico-nav__image">
                      <div class="icon icon_save-to-card-sm"></div>
                    </div>
                    <div class="ico-nav__info">
                      <div class="ico-nav__title text-dark text-dark_small">Chuyển khoản vào thẻ</div>
                      <div class="ico-nav__text text">Mastercard® & VISA®</div>
                    </div>
                  </a>
                  <a class="side-nav__item ico-nav swap-item js-scroll" href="#cash_remittance">
                    <div class="ico-nav__image">
                      <div class="icon icon_calc-sm"></div>
                    </div>
                    <div class="ico-nav__info">
                      <div class="ico-nav__title text-dark text-dark_small">Thanh toán tiền mặt</div>
                    </div>
                  </a>
                </div>
              </aside>
              <aside class="body__nav side-nav js-second-tab hidden-xs" style="display: none;">
                {% include 'pages/fees/cardsList.njk' %}

                <div class="side-calc">
                  <form class="ecb-calc" id="ecb-calc">
                    <div class="ecb-calc__title title title_medium">Currency converter</div>
                    <div class="ecb-calc__row">
                      <div class="ecb-calc__label text">Amount and currency of your purchase from ePayService card</div>
                      <div class="ecb-calc__field">
                        <input class="ecb-calc__input ecb-calc__amount" id="ecb-calc-amount" value="1">
                        <select class="ecb-calc__input ecb-calc__currencies" id="ecb-calc-currencies"></select>
                      </div>
                    </div>
                    <div class="ecb-calc__row">
                      <div class="ecb-calc__info">
                        <div class="ecb-calc__text text">Converted amount</div>
                        <div class="ecb-calc__result" id="ecb-calc-result"></div>
                      </div>
                      <div class="ecb-calc__info">
                        <div class="ecb-calc__text text">Rate </div>
                        <div class="text-dark" id="ecb-calc-rate"></div>
                      </div>
                      <div class="ecb-calc__info">
                        <div class="ecb-calc__text text">Total mark-up over ECB </div>
                        <div class="text-dark" id="ecb-calc-markup"></div>
                      </div>
                    </div>
                    <div class="ecb-calc__row">
                      <a href="https://sdw.ecb.europa.eu/curConverter.do" target="_blank">ECB currency converter</a>
                    </div>
                  </form>
                </div>
              </aside>

            </div>
          </div>
          <div class="col-md-6 col-xs-8 full-width">
            <div class="body__content exchange js-first-tab">
              {% include 'pages/fees/achDirectDeposit.njk' %}

              <div class="exchange__item" id="wire-transfer">
                <h1 class="exchange__title title">Chuyển tiền Quốc tế</h1>
                <div class="exchange__link">
                  <a class="link-arr" href="bank-transfers.html">Xem thêm về điện chuyển khoản ngân hàng</a>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-6 col-xs-4">
                      <div class="text">Phương hướng</div>
                    </div>
                    <div class="col-sm-3 col-xs-4">
                      <div class="text">Phí</div>
                    </div>
                    <div class="col-sm-3 col-xs-4">
                      <div class="text"></div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-6 col-xs-4">
                      <div class="exchange__direction text-dark text-dark_big"><span>Nạp tiền</span></div>
                      <div class="text">vào ví với ePayService</div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                      <div class="text-dark text-dark_big">3% + 50&nbsp;USD</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-6 col-xs-4">
                      <div class="exchange__direction exchange__direction_down text-dark text-dark_big"><span>Rút
                          tiền</span></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                      <div class="text-dark text-dark_big">1% + 40 EUR</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="exchange__item" id="sepa">
                <h1 class="exchange__title title">Chuyển tiền trong Euro</h1>
                <div class="exchange__link">
                  <a class="link-arr" href="bank-transfers.html">Thông tin thêm về SEPA</a>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-6 col-xs-4">
                      <div class="text">Phương hướng</div>
                    </div>
                    <div class="col-sm-3 col-xs-4">
                      <div class="text">Phí</div>
                    </div>
                    <div class="col-sm-3 col-xs-4">
                      <div class="text">Lệ phí tối thiểu</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-6 col-xs-4">
                      <div class="exchange__direction text-dark text-dark_big"><span>Nạp tiền</span></div>
                      <div class="text">vào ví với ePayService</div>
                    </div>
                    <div class="col-sm-3 col-xs-4">
                      <div class="text-dark text-dark_big">1%</div>
                    </div>
                    <div class="col-sm-3 col-xs-4">
                      <div class="text-dark text-dark_big">25 EUR</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-6 col-xs-4">
                      <div class="exchange__direction exchange__direction_down text-dark text-dark_big"><span>Rút
                          tiền</span></div>
                      <div class="text">vào tài khoản ngân hàng của bạn</div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                      <div class="text-dark text-dark_big">30 EUR</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-6 col-xs-4">
                      <div class="exchange__direction exchange__direction_down text-dark text-dark_big"><span>Rút
                          tiền</span></div>
                      <div class="text">vào tài khoản ngân hàng của công ty</div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                      <div class="text-dark text-dark_big">0,5 % + 40 EUR</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="exchange__item" id="cheque-processing">
                <h1 class="exchange__title title">Xử lý Séc bằng USD</h1>
                <div class="exchange__link">

                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">Phương hướng</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">Loại kiểm tra</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">Phí</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="exchange__direction exchange__direction_down text-dark text-dark_big"><span>Rút
                          tiền</span></div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">Thanh toán bằng séc (mỹ)</div>
                      <div class="text">Trên đồng USD</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">15 USD</div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="exchange__item" id="local">
                <div class="exchange__title title">Chuyển khoản ngân hàng địa phương</div>
                <div class="exchange__row exchange__row_local">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">Phương hướng</div>
                    </div>
                    <div class="col-sm-8 col-xs-8">
                      <div class="text">Phí</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="exchange__direction exchange__direction_down text-dark text-dark_big"><span>Rút
                          tiền</span></div>
                      <div class="text">vào tài khoản ngân hàng địa phương</div>
                    </div>
                    <div class="col-sm-8 col-xs-8">
                      <div class="text-dark text-dark_big">40 USD</div>
                      <div class="text">cho mọi loại tiền tệ bên dưới</div>
                      <div class="row row-eq-height">
                        <div class="col-sm-6">
                          <div class="text-dark text-dark_small">Chinese Yuan Renminbi <span class="text">(CNY)</span>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="text-dark text-dark_small">Vietnamese Dong <span class="text">(VND)</span></div>
                        </div>
                      </div>
                      <div class="exchange__currency exchange__currency_border">
                        <div class="text-dark text-dark_big">20 USD</div>
                        <div class="text">cho mọi loại tiền tệ bên dưới</div>
                      </div>
                      <div class="exchange__currency row row-eq-height">
                        <div class="col-sm-6">
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">ARS</div>
                            <div class="text text_tiny">Argentine Peso</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">BRL</div>
                            <div class="text text_tiny">Brazilian Real</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">BGN</div>
                            <div class="text text_tiny">Bulgarian Lev</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">CAD</div>
                            <div class="text text_tiny">Canadian Dollar</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">COP</div>
                            <div class="text text_tiny">Colombian Peso</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">DOP</div>
                            <div class="text text_tiny">Dominican Peso</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">EGP</div>
                            <div class="text text_tiny">Egyptian Pound</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">GTQ</div>
                            <div class="text text_tiny">Guatemalan Quetzal</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">INR</div>
                            <div class="text text_tiny">Indian Rupee</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">IDR</div>
                            <div class="text text_tiny">Indonesian Rupiah</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">JMD</div>
                            <div class="text text_tiny">Jamaican Dollar</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">JPY</div>
                            <div class="text text_tiny">Japanese Yen</div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">KES</div>
                            <div class="text text_tiny">Kenyan Shilling</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">MYR</div>
                            <div class="text text_tiny">Malaysian Ringgit</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">MXN</div>
                            <div class="text text_tiny">Mexican Peso</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">PHP</div>
                            <div class="text text_tiny">Philippine Peso</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">PLN</div>
                            <div class="text text_tiny">Polish Zloty</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">RON</div>
                            <div class="text text_tiny">Romanian New Leu</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">RUB</div>
                            <div class="text text_tiny">Russian Ruble</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">LKR</div>
                            <div class="text text_tiny">Sri Lankan Rupee</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">THB</div>
                            <div class="text text_tiny">Thai Baht</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">GBP</div>
                            <div class="text text_tiny">British Pound</div>
                          </div>
                          <div class="exchange__currency-item">
                            <div class="text-dark text_tiny">VEF</div>
                            <div class="text text_tiny">Venezuelan Bolivar</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="exchange__item" id="to-card">
                <div class="exchange__title title">Chuyển tiền vào Mastercard® và VISA®</div>
                <div class="exchange__link">
                  <a class="link-arr" href="send-money-to-card.html">Xem thêm về chuyển tiền vào Mastercard® & VISA®</a>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">Phương hướng</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">Phạm vi</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">Phí</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row exchange__row_blank">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="exchange__direction exchange__direction_down text-dark text-dark_big"><span>Rút
                          tiền</span></div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">lên đến 500 EUR</div>
                      <div class="text">Chuyển sang Visa®/Mastercard®</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">1.95 % + 3 EUR</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row ">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4"></div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">từ 500 EUR</div>
                      <div class="text">Chuyển sang Visa®/Mastercard®</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">1.95 % + 6 EUR</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row exchange__row_blank">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="exchange__direction exchange__direction_down text-dark text-dark_big"><span>Rút
                          tiền</span></div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">lên đến 500 USD</div>
                      <div class="text">Chuyển sang Mastercard®</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">2.4 % + 3 USD</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row ">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4"></div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">từ 500 USD</div>
                      <div class="text">Chuyển sang Mastercard®</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">2.4 % + 6 USD</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="exchange__item" id="cash_remittance">
                <div class="exchange__title title">Thanh toán tiền mặt</div>
                <div class="exchange__link">
                  <a class="link-arr" href="cash-remittance.html">Xem thêm về Thanh toán bằng tiền mặt</a>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">Phương hướng</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">Phạm vi</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text">Phí</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row exchange__row_blank">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4">
                      <div class="exchange__direction exchange__direction_down text-dark text-dark_big"><span>Rút
                          tiền</span></div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">lên đến 500 USD</div>
                      <div class="text">Thanh toán tiền mặt</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">1 % + 15 USD</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row exchange__row_blank">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4"></div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">từ 500 USD</div>
                      <div class="text">Thanh toán tiền mặt</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">1 % + 30 USD</div>
                    </div>
                  </div>
                </div>
                <div class="exchange__row">
                  <div class="exchange__numbers row row-eq-height">
                    <div class="col-sm-4 col-xs-4"></div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">lên đến 4500 EUR</div>
                      <div class="text">Thanh toán tiền mặt: Ukraine</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="text-dark text-dark_big">2 % + 30 EUR</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="body__content exchange js-second-tab" style="display: none;">
              <div class="exchange__item" id="prepaid-card-standart">
                <h1 class="exchange__title title">Thẻ Trả trước ePayService Mastercard® Tiêu chuẩn</h1>
                <div class="exchange__link">
                  <a class="link-arr" href="prepaid-cards.html">Xem thêm về thẻ ePayService</a>
                </div>

                <div class="tabs using__switch">
                  <div class="tabs__head">
                    <button class="tabs__tag tabs__tag_current using__tab" type="button">EUR</button>
                    <button class="tabs__tag using__tab" type="button">USD</button>
                  </div>
                  <div class="tabs__body tabs__body_line">
                    <div class="tabs__section tabs__section_visible">
                      <ul class="service-info__list">
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Phát hành & Kích hoạt thẻ
                            ePayService Mastercard® Tiêu chuẩn EUR</div>
                          <div class="service-info__number text-dark text-dark_big text-dark_blue">MIỄN PHÍ</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Monthly Maintenance Fee</div>
                          <div class="service-info__number text-dark text-dark_big">€1.99</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Giới hạn Nạp Tối thiểu theo Ngày
                          </div>
                          <div class="service-info__number text-dark text-dark_big">€1.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Giới hạn Nạp Tối đa theo Ngày</div>
                          <div class="service-info__number text-dark text-dark_big">€5,000.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Chuyển đổi Ngoại tệ (phí FX)</div>
                          <div class="service-info__number text-dark text-dark_big">1.99%</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Phí Rút tiền tại ATM trên một giao
                            dịch</div>
                          <div class="service-info__number text-dark text-dark_big">€1.99</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Số lần nạp tối đa một ngày là</div>
                          <div class="service-info__number text-dark text-dark_big">10</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Số dư tối đa</div>
                          <div class="service-info__number text-dark text-dark_big">€5,000.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Số dư ATM Cần thiết</div>
                          <div class="service-info__number text-dark text-dark_big">€0.50</div>
                        </li>
                      </ul>
                      <div class="exchange__note note">
                        <div class="note__title text-dark text-dark_big">Chọn phương thức giao nhận</div>
                        <ul class="service-info__list">
                          <li class="service-info__row">
                            <div class="service-info__text text-dark text-dark_small">Chuyển phát Thường</div>
                            <div class="service-info__number text-dark text-dark_big text-dark_blue">MIỄN PHÍ</div>
                          </li>
                          <li class="service-info__row">
                            <div class="service-info__text text-dark text-dark_small">Chuyển phát Nhanh</div>
                            <div class="service-info__number text-dark text-dark_big">€70</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="tabs__section">
                      <ul class="service-info__list">
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Phát hành & Kích hoạt thẻ
                            ePayService Mastercard® Tiêu chuẩn USD</div>
                          <div class="service-info__number text-dark text-dark_big text-dark_blue">MIỄN PHÍ</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Monthly Maintenance Fee</div>
                          <div class="service-info__number text-dark text-dark_big">$2.40</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Giới hạn Nạp Tối thiểu theo Ngày
                          </div>
                          <div class="service-info__number text-dark text-dark_big">$1.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Giới hạn Nạp Tối đa theo Ngày</div>
                          <div class="service-info__number text-dark text-dark_big">$5,000.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Chuyển đổi Ngoại tệ (phí FX)</div>
                          <div class="service-info__number text-dark text-dark_big">2.40%</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Phí Rút tiền tại ATM trên một giao
                            dịch</div>
                          <div class="service-info__number text-dark text-dark_big">$2.40</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Số lần nạp tối đa một ngày là</div>
                          <div class="service-info__number text-dark text-dark_big">10</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Số dư tối đa</div>
                          <div class="service-info__number text-dark text-dark_big">$5,000.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Số dư ATM Cần thiết</div>
                          <div class="service-info__number text-dark text-dark_big">$0.50</div>
                        </li>
                      </ul>
                      <div class="exchange__note note">
                        <div class="note__title text-dark text-dark_big">Chọn phương thức giao nhận</div>
                        <ul class="service-info__list">
                          <li class="service-info__row">
                            <div class="service-info__text text-dark text-dark_small">Chuyển phát Thường</div>
                            <div class="service-info__number text-dark text-dark_big text-dark_blue">MIỄN PHÍ</div>
                          </li>
                          <li class="service-info__row">
                            <div class="service-info__text text-dark text-dark_small">Chuyển phát Nhanh</div>
                            <div class="service-info__number text-dark text-dark_big">$70</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="exchange__item" id="prepaid-card-premium">
                <h1 class="exchange__title title">Thẻ Trả trước ePayService Mastercard®<br> Cao cấp</h1>
                <div class="exchange__link">
                  <a class="link-arr" href="prepaid-cards.html">Xem thêm về thẻ ePayService cao cấp</a>
                </div>

                <div class="tabs using__switch">
                  <div class="tabs__head">
                    <button class="tabs__tag tabs__tag_current using__tab" type="button">EUR</button>
                    <button class="tabs__tag using__tab" type="button">USD</button>
                    <button class="tabs__tag using__tab" type="button">GBP</button>
                  </div>
                  <div class="tabs__body tabs__body_line">
                    <div class="tabs__section tabs__section_visible">
                      <ul class="service-info__list">
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Phát hành & Kích hoạt thẻ
                            ePayService Mastercard® Tiêu chuẩn EUR</div>
                          <div class="service-info__number text-dark text-dark_big text-dark_blue">MIỄN PHÍ</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Monthly Maintenance Fee</div>
                          <div class="service-info__number text-dark text-dark_big">€1.99</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Giới hạn Nạp Tối thiểu theo Ngày
                          </div>
                          <div class="service-info__number text-dark text-dark_big">€1.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Giới hạn Nạp Tối đa theo Ngày</div>
                          <div class="service-info__number text-dark text-dark_big">€8,500.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Chuyển đổi Ngoại tệ (phí FX)</div>
                          <div class="service-info__number text-dark text-dark_big">1.99%</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Phí Rút tiền tại ATM trên một giao
                            dịch</div>
                          <div class="service-info__number text-dark text-dark_big">€1.99</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Số lần nạp tối đa một ngày là</div>
                          <div class="service-info__number text-dark text-dark_big">10</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Số dư tối đa</div>
                          <div class="service-info__number text-dark text-dark_big">€8,500.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Số dư ATM Cần thiết</div>
                          <div class="service-info__number text-dark text-dark_big">€0.50</div>
                        </li>
                      </ul>
                      <div class="exchange__note note">
                        <div class="note__title text-dark text-dark_big">Chọn phương thức giao nhận</div>
                        <ul class="service-info__list">
                          <li class="service-info__row">
                            <div class="service-info__text text-dark text-dark_small">Chuyển phát Thường</div>
                            <div class="service-info__number text-dark text-dark_big text-dark_blue">MIỄN PHÍ</div>
                          </li>
                          <li class="service-info__row">
                            <div class="service-info__text text-dark text-dark_small">Chuyển phát Nhanh</div>
                            <div class="service-info__number text-dark text-dark_big">€70</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="tabs__section">
                      <ul class="service-info__list">
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Phát hành & Kích hoạt thẻ
                            ePayService Mastercard® Tiêu chuẩn USD</div>
                          <div class="service-info__number text-dark text-dark_big text-dark_blue">MIỄN PHÍ</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Monthly Maintenance Fee</div>
                          <div class="service-info__number text-dark text-dark_big">$2.40</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Giới hạn Nạp Tối thiểu theo Ngày
                          </div>
                          <div class="service-info__number text-dark text-dark_big">$1.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Giới hạn Nạp Tối đa theo Ngày</div>
                          <div class="service-info__number text-dark text-dark_big">$10,000.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Chuyển đổi Ngoại tệ (phí FX)</div>
                          <div class="service-info__number text-dark text-dark_big">2.40%</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Phí Rút tiền tại ATM trên một giao
                            dịch</div>
                          <div class="service-info__number text-dark text-dark_big">$2.40</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Số lần nạp tối đa một ngày là</div>
                          <div class="service-info__number text-dark text-dark_big">10</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Số dư tối đa</div>
                          <div class="service-info__number text-dark text-dark_big">$10,000.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Số dư ATM Cần thiết</div>
                          <div class="service-info__number text-dark text-dark_big">$0.50</div>
                        </li>
                      </ul>
                      <div class="exchange__note note">
                        <div class="note__title text-dark text-dark_big">Chọn phương thức giao nhận</div>
                        <ul class="service-info__list">
                          <li class="service-info__row">
                            <div class="service-info__text text-dark text-dark_small">Chuyển phát Thường</div>
                            <div class="service-info__number text-dark text-dark_big text-dark_blue">MIỄN PHÍ</div>
                          </li>
                          <li class="service-info__row">
                            <div class="service-info__text text-dark text-dark_small">Chuyển phát Nhanh</div>
                            <div class="service-info__number text-dark text-dark_big">$70</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="tabs__section">
                      <ul class="service-info__list">
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Phát hành & Kích hoạt thẻ
                            ePayService Mastercard® Tiêu chuẩn GBP</div>
                          <div class="service-info__number text-dark text-dark_big text-dark_blue">MIỄN PHÍ</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Monthly Maintenance Fee</div>
                          <div class="service-info__number text-dark text-dark_big">£1.99</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Giới hạn Nạp Tối thiểu theo Ngày
                          </div>
                          <div class="service-info__number text-dark text-dark_big">£1.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Giới hạn Nạp Tối đa theo Ngày</div>
                          <div class="service-info__number text-dark text-dark_big">£6,400.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Chuyển đổi Ngoại tệ (phí FX)</div>
                          <div class="service-info__number text-dark text-dark_big">1.99%</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Phí Rút tiền tại ATM trên một giao
                            dịch</div>
                          <div class="service-info__number text-dark text-dark_big">£1.99</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Số lần nạp tối đa một ngày là</div>
                          <div class="service-info__number text-dark text-dark_big">10</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Số dư tối đa</div>
                          <div class="service-info__number text-dark text-dark_big">£6,400.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Số dư ATM Cần thiết</div>
                          <div class="service-info__number text-dark text-dark_big">£0.50</div>
                        </li>
                      </ul>
                      <div class="exchange__note note">
                        <div class="note__title text-dark text-dark_big">Chọn phương thức giao nhận</div>
                        <ul class="service-info__list">
                          <li class="service-info__row">
                            <div class="service-info__text text-dark text-dark_small">Chuyển phát Thường</div>
                            <div class="service-info__number text-dark text-dark_big text-dark_blue">MIỄN PHÍ</div>
                          </li>
                          <li class="service-info__row">
                            <div class="service-info__text text-dark text-dark_small">Chuyển phát Nhanh</div>
                            <div class="service-info__number text-dark text-dark_big">£70</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="exchange__item" id="virtual-card-single">
                <h1 class="exchange__title title">Thẻ Trả trước ePayService Mastercard® <br>Thẻ Ảo Một người dùng</h1>
                <div class="exchange__link">
                  <a class="link-arr" href="virtual-cards.html">Xem thêm về thẻ ảo ePayService</a>
                </div>

                <div class="tabs using__switch">
                  <div class="tabs__head">
                    <button class="tabs__tag tabs__tag_current using__tab" type="button">EUR</button>
                    <button class="tabs__tag using__tab" type="button">USD</button>
                  </div>
                  <div class="tabs__body tabs__body_line">
                    <div class="tabs__section tabs__section_visible">
                      <ul class="service-info__list">
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Phí Phát hành & Kích hoạt Thẻ Ảo
                            ePayService Mastercard® Một người dùng sử dụng EUR Phụ thuộc vào số tiền ban đầu</div>
                          <div class="service-info__number text-dark text-dark_big">from €1.00 to €20.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Giới hạn Nạp Tối thiểu theo Ngày
                            (ban đầu)</div>
                          <div class="service-info__number text-dark text-dark_big">€1.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Giá trị nạp tối đa thiểu ban đầu
                          </div>
                          <div class="service-info__number text-dark text-dark_big">€3,500.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Chuyển đổi Ngoại tệ (phí FX)</div>
                          <div class="service-info__number text-dark text-dark_big">1.75%</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">POS/Mua hàng Trực tuyến</div>
                          <div class="service-info__number text-dark text-dark_big text-dark_blue">MIỄN PHÍ</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Số lần nạp tối đa là</div>
                          <div class="service-info__number text-dark text-dark_big">1</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Lệ phí số tiền ban đầu</div>
                          <div class="service-info__number text-dark text-dark_big">€3.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Số dư tối đa</div>
                          <div class="service-info__number text-dark text-dark_big">€3,500.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Số tiền tối đa của thẻ hoạt động
                          </div>
                          <div class="service-info__number text-dark text-dark_big">up to 10</div>
                        </li>
                      </ul>
                    </div>
                    <div class="tabs__section">
                      <ul class="service-info__list">
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Phí Phát hành & Kích hoạt Thẻ Ảo
                            ePayService Mastercard® Một người dùng sử dụng USD Phụ thuộc vào số tiền ban đầu</div>
                          <div class="service-info__number text-dark text-dark_big">$1.00 - $20.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Giới hạn Nạp Tối thiểu theo Ngày
                            (ban đầu)</div>
                          <div class="service-info__number text-dark text-dark_big">$1.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Giá trị nạp tối đa thiểu ban đầu
                          </div>
                          <div class="service-info__number text-dark text-dark_big">$3,500.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Chuyển đổi Ngoại tệ (phí FX)</div>
                          <div class="service-info__number text-dark text-dark_big">1.75%</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">POS/Mua hàng Trực tuyến</div>
                          <div class="service-info__number text-dark text-dark_big text-dark_blue">MIỄN PHÍ</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Số lần nạp tối đa là</div>
                          <div class="service-info__number text-dark text-dark_big">1</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Lệ phí số tiền ban đầu</div>
                          <div class="service-info__number text-dark text-dark_big">$3.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Số dư tối đa</div>
                          <div class="service-info__number text-dark text-dark_big">$3,500.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Số tiền tối đa của thẻ hoạt động
                          </div>
                          <div class="service-info__number text-dark text-dark_big">10</div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="exchange__note note">
                  <div class="note__title text-dark text-dark_big text-dark_red">Lưu ý quan trọng!</div>
                  <div class="note__text text-dark text-dark_small">Thẻ có giá trị sử dụng trong 2 tháng</div>
                </div>
              </div>

              <div class="exchange__item" id="virtual-card-multi">
                <h1 class="exchange__title title">Thẻ Trả trước ePayService Mastercard®<br> Thẻ Ảo Đa người dùng</h1>
                <div class="exchange__link">
                  <a class="link-arr" href="virtual-cards.html">Xem thêm về thẻ ảo ePayService</a>
                </div>

                <div class="tabs using__switch">
                  <div class="tabs__head">
                    <button class="tabs__tag tabs__tag_current using__tab" type="button">EUR</button>
                    <button class="tabs__tag using__tab" type="button">USD</button>
                  </div>
                  <div class="tabs__body tabs__body_line">
                    <div class="tabs__section tabs__section_visible">
                      <ul class="service-info__list">
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Phát hành & Kich hoạt Thẻ
                            ePayService Mastercard® Ảo Đa người dùng EUR</div>
                          <div class="service-info__number text-dark text-dark_big text-dark_blue">MIỄN PHÍ</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Giới hạn Nạp Tối thiểu theo Ngày
                          </div>
                          <div class="service-info__number text-dark text-dark_big">€1.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Giới hạn Nạp Tối đa theo Ngày</div>
                          <div class="service-info__number text-dark text-dark_big">€5,500.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Giá trị nạp lũy tiến tối đa một năm
                          </div>
                          <div class="service-info__number text-dark text-dark_big">€600,000.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Chuyển đổi Ngoại tệ (phí FX)</div>
                          <div class="service-info__number text-dark text-dark_big">1.75%</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">POS/Mua hàng Trực tuyến</div>
                          <div class="service-info__number text-dark text-dark_big text-dark_blue">MIỄN PHÍ</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Số lần nạp tối đa một ngày là</div>
                          <div class="service-info__number text-dark text-dark_big">10</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Số dư tối đa</div>
                          <div class="service-info__number text-dark text-dark_big">€5,500.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Maximum amount of active cards</div>
                          <div class="service-info__number text-dark text-dark_big">up to 3</div>
                        </li>
                      </ul>
                    </div>
                    <div class="tabs__section">
                      <ul class="service-info__list">
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Phát hành & Kich hoạt Thẻ
                            ePayService Mastercard® Ảo Đa người dùng USD</div>
                          <div class="service-info__number text-dark text-dark_big text-dark_blue">MIỄN PHÍ</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Giới hạn Nạp Tối thiểu theo Ngày
                          </div>
                          <div class="service-info__number text-dark text-dark_big">$1.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Giới hạn Nạp Tối đa theo Ngày</div>
                          <div class="service-info__number text-dark text-dark_big">$5,500.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Giá trị nạp lũy tiến tối đa một năm
                          </div>
                          <div class="service-info__number text-dark text-dark_big">$600,000.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Chuyển đổi Ngoại tệ (phí FX)</div>
                          <div class="service-info__number text-dark text-dark_big">1.75%</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">POS/Mua hàng Trực tuyến</div>
                          <div class="service-info__number text-dark text-dark_big text-dark_blue">MIỄN PHÍ</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Số lần nạp tối đa một ngày là</div>
                          <div class="service-info__number text-dark text-dark_big">10</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Số dư tối đa</div>
                          <div class="service-info__number text-dark text-dark_big">$5,500.00</div>
                        </li>
                        <li class="service-info__row">
                          <div class="service-info__text text-dark text-dark_small">Maximum amount of active cards</div>
                          <div class="service-info__number text-dark text-dark_big">up to 3</div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="exchange__note note">
                  <div class="note__title text-dark text-dark_big text-dark_red">Lưu ý quan trọng!</div>
                  <div class="note__text text-dark text-dark_small">Thẻ có giá trị sử dụng trong 6 tháng</div>
                </div>
              </div>

              <div class="exchange__item" id="over-ecb-rates-table">
                <h1 class="exchange__title title">Cho biết mức % cộng thêm khi sử dụng thẻ tại khu vực EEA</h1>
                <div class="tabs using__switch">
                  <div class="tabs__head">
                    <button class="tabs__tag using__tab" type="button">EUR</button>
                  </div>
                  <div class="tabs__body tabs__body_line">
                    <div class="tabs__section tabs__section_visible">
                      <ul class="service-info__list" id="ecb-rates-section">
                        <li class="service-info__row" id="ecb-rate-row">
                          <div class="service-info__text text-dark text-dark_small"></div>
                          <div class="service-info__number text-dark text-dark_big"></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-3 hidden-sm">
            <div class="sticky-column">
              <div class="body__action steps js-first-tab">
                <div class="steps__title title title_medium">Tận hưởng công nghệ tài chính tân tiến ePayService mang tới
                  cho bạn!</div>
                <div class="steps__button">
                  <a class="button button_big" href="https://online.epayservices.com/">MỞ MỘT TÀI KHOẢN MIỄN PHÍ</a>
                </div>
              </div>
              <div class="body__action steps js-second-tab" style="display: none;">
                <div class="steps__image js-card-image" id="red-card">
                  <img src="../images/red-card.png" alt="">
                </div>
                <div class="steps__image js-card-image" id="blue-card" style="display: none;">
                  <img src="../images/blue-card.png" alt="">
                </div>
                <div class="steps__title title title_medium">Thẻ ePayService của bạn sẽ được phát hành miễn phí chỉ
                  trong vài ngày!</div>
                <div class="steps__flow">
                  <ol class="ordered-list">
                    <li class="ordered-list__item text-dark text-dark_small">Đăng ký với ePayService</li>
                    <li class="ordered-list__item text-dark text-dark_small">Hoàn tất quy trình xác thực đơn giản</li>
                    <li class="ordered-list__item text-dark text-dark_small">Chọn phương thức giao nhận phù hợp và nhanh
                      chóng nhận thẻ</li>
                  </ol>
                </div>

                <div class="steps__button">
                  <a class="button button_big" href="https://online.epayservices.com/">NHẬN THẺ MIỄN PHÍ CỦA BẠN</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    {% include 'footer.njk' %}

  </div>




  <script src="../js/jquery-2.2.0.min.js"></script>
  <script src="../js/accounting.min.js"></script>
  <script src="../js/jquery.placeholder.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/sticky-kit.js"></script>
  <script src="../js/ecb_calc.js?v=2"></script>
  <script src="../js/app.b6f525f1.js"></script>
  <script>
    window.intercomSettings = {
      app_id: "wz9x11as"
    };
  </script>
  <script>
    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/wz9x11as'
    (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/wz9x11as'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();
  </script>

  <script src="https://online.epayservices.com/affiliate_program/landing_page/remember_affiliate_script.js"></script>
</body>

</html>