---
permalink: "{{ locale }}/{{ page.fileSlug }}.html"
---

<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../css/style.css?v=111826072022">
  <title>ePayService - User agreement</title>
</head>

<body class="page-sticky">


  <div class="strut">

    <div class="strut__row">

      <header class="header">
        <div class="header__top header__top_sticky">
          <div class="region">
            <div class="top">
              <div class="top__main">
                <div class="top__burger burger">
                  <div class="burger__handler"></div>
                  <div class="burger__body"></div>
                </div>
                <div class="top__logo">
                  <a class="logo" href="index.html"></a>
                </div>
                <nav class="top__nav nav">
                  <!--<a class="nav__link" href="-about.html">About Us</a>-->
                  <a class="nav__link nav__link_active nav__link_more" href="#" data-inner="inner-nav"><span>Dịch
                      vụ</span></a>
                  <div class="sub-menu">
                    <a class="sub-menu__link" href="managing-account.html">Quản lý Tài khoản</a>
                    <a class="sub-menu__link" href="bank-transfers.html">Chuyển Tiền</a>
                    <a class="sub-menu__link" href="prepaid-cards.html">Thẻ ghi nợ</a>
                    <a class="sub-menu__link" href="checks-processing.html">Xử lý Séc</a>
                    <a class="sub-menu__link" href="affiliate-payouts.html">Thanh toán Liên kết</a>
                    <a class="sub-menu__link" href="payout-service.html">Giải pháp Thanh toán lương</a>
                    <a class="sub-menu__link" href="virtual-cards.html">Thẻ ảo</a>
                    <a class="sub-menu__link" href="local-payments.html">Chuyển khoản ngân hàng địa phương</a>
                    <a class="sub-menu__link" href="send-money-to-card.html">Chuyển khoản vào thẻ</a>
                    <a class="sub-menu__link" href="cash-remittance.html">Thanh toán tiền mặt</a>
                  </div>
                  <a class="nav__link" href="fees.html">Biểu phí</a>
                  <a class="nav__link" href="contact-us.html">Liên Hệ</a>
                  <a class="nav__link" target="_blank" href="http://faq.epayservices.com">FAQ</a>
                </nav>
                <a class="top__profile" href="https://online.epayservices.com/"></a>
                <div class="top__sign-in">
                  <a class="button" href="https://online.epayservices.com/register">MỞ MỘT TÀI KHOẢN MIỄN PHÍ</a>
                  <a class="button button_border" href="https://online.epayservices.com/">ĐĂNG NHẬP</a>
                </div>
              </div>
              <div class="top__actions">
                <div class="top__buttons">
                  <a class="button" href="https://online.epayservices.com/register">MỞ MỘT TÀI KHOẢN MIỄN PHÍ </a>
                  <a class="button button_border" href="https://online.epayservices.com/">ĐĂNG NHẬP</a>
                </div>
                <div class="top__language lang-select drop">
                  <div class="lang-select__toggle drop__handler">
                    <div class="lang-select__image">
                      <img src="../images/flag-vn.svg" alt="">
                    </div>
                    <div class="lang-select__title">VN</div>
                  </div>
                  <div class="lang-select__list drop__down">
                    <a class="lang-select__item" href="../en/user-agreement.pdf">
                      <div class="lang-select__image">
                        <img src="../images/flag.svg" alt="">
                      </div>
                      <div class="lang-select__title">English (US)</div>
                    </a>
                    <a class="lang-select__item" href="../uk/user-agreement.pdf">
                      <div class="lang-select__image">
                        <img src="../images/flag-uk.svg" alt="">
                      </div>
                      <div class="lang-select__title">English</div>
                    </a>
                    <a class="lang-select__item" href="../ru/user-agreement.pdf">
                      <div class="lang-select__image">
                        <img src="../images/ru.png" alt="">
                      </div>
                      <div class="lang-select__title">Русский</div>
                    </a>
                    <a class="lang-select__item" href="../es/user-agreement.pdf">
                      <div class="lang-select__image">
                        <img src="../images/flag-es.png" alt="">
                      </div>
                      <div class="lang-select__title">Español</div>
                    </a>
                    <a class="lang-select__item" href="../co/user-agreement.pdf">
                      <div class="lang-select__image">
                        <img src="../images/flag-co.png" alt="">
                      </div>
                      <div class="lang-select__title">Español (Colombia)</div>
                    </a>
                    <a class="lang-select__item" href="../pt/user-agreement.pdf">
                      <div class="lang-select__image">
                        <img src="../images/flag-pt.svg" alt="">
                      </div>
                      <div class="lang-select__title">Português</div>
                    </a>
                    <a class="lang-select__item" href="../ro/user-agreement.pdf">
                      <div class="lang-select__image">
                        <img src="../images/flag-ro.svg" alt="">
                      </div>
                      <div class="lang-select__title">Română</div>
                    </a>
                    <a class="lang-select__item" href="../ms/user-agreement.pdf">
                      <div class="lang-select__image">
                        <img src="../images/flag-ms.svg" alt="">
                      </div>
                      <div class="lang-select__title">Melayu</div>
                    </a>
                    <a class="lang-select__item" href="../ar/user-agreement.pdf">
                      <div class="lang-select__image">
                        <img src="../images/flag-ar.png" alt="">
                      </div>
                      <div class="lang-select__title">عربى</div>
                    </a>
                    <a class="lang-select__item" href="../pl/user-agreement.pdf">
                      <div class="lang-select__image">
                        <img src="../images/flag-pl.svg" alt="">
                      </div>
                      <div class="lang-select__title">Język polski</div>
                    </a>
                    <a class="lang-select__item" href="../zh/user-agreement.pdf">
                      <div class="lang-select__image">
                        <img src="../images/flag-zh.svg" alt="">
                      </div>
                      <div class="lang-select__title">汉语</div>
                    </a>
                    <a class="lang-select__item" href="../de/user-agreement.pdf">
                      <div class="lang-select__image">
                        <img src="../images/flag-de.svg" alt="">
                      </div>
                      <div class="lang-select__title">Deutsch</div>
                    </a>
                    <a class="lang-select__item" href="../fr/user-agreement.pdf">
                      <div class="lang-select__image">
                        <img src="../images/flag-fr.svg" alt="">
                      </div>
                      <div class="lang-select__title">Français</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="inner-nav" id="inner-nav">
            <div class="region">
              <div class="inner-nav__list">
                <a class="inner-nav__item" href="managing-account.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_safe"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Quản lý Tài khoản</div>
                </a>
                <a class="inner-nav__item" href="bank-transfers.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_house2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Chuyển Tiền</div>
                </a>
                <a class="inner-nav__item" href="prepaid-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_cards2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Thẻ ghi nợ</div>
                </a>
                <a class="inner-nav__item" href="checks-processing.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_checks"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Xử lý Séc</div>
                </a>
                <a class="inner-nav__item" href="affiliate-payouts.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_crowd2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Thanh toán Liên kết</div>
                </a>
                <a class="inner-nav__item" href="payout-service.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hands2"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Giải pháp Thanh toán lương</div>
                </a>
                <a class="inner-nav__item" href="virtual-cards.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_virtual-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Thẻ ảo</div>
                </a>
                <a class="inner-nav__item" href="local-payments.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_local-pay"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Chuyển khoản ngân hàng địa phương</div>
                </a>
                <a class="inner-nav__item" href="send-money-to-card.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_save-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Chuyển khoản vào thẻ</div>
                </a>
                <a class="inner-nav__item" href="cash-remittance.html">
                  <div class="inner-nav__icon">
                    <div class="inner-nav__image icon icon_hand-to-card"></div>
                  </div>
                  <div class="inner-nav__title title title_small">Thanh toán tiền mặt</div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </header>

    </div>

    <div class="strut__row strut__row_expanded">
      <main class="body region">
        <div class="row row-eq-height">
          <div class="col-md-9 col-xs-12 full-width">
            <div class="body__content body__content_small agreement">
              <h1 class="agreement__title title">User agreement</h1>
              <div class="agreement__text text wysiwyg">
                <h2>1. Introduction</h2>
                <p>1.1 This contract (hereinafter referred to as the “Current Agreement”) between company and user
                  defines general conditions of the processing services offered on the company website
                  www.epayservices.com, the rights and the responsibilities of all parties, and other actions between
                  the user (hereinafter referred to as “Client”) and MTACC Inc. dba ePayService (hereinafter referred to
                  as “Company”), and is also the public agreement. Both Client and Company accept Current Agreement
                  without further conditions. Client accepts Current Agreement by registering with Company payment
                  processing website www.epayservices.com, and Company accepts Current Agreement by obtaining access to
                  Client’s personal account within Company’s payment processing system (hereinafter referred to as
                  Online.ePayService).</p>
                <h2>1.2 Definitions:</h2>
                <p>Current agreement refers to this document.</p><br>
                <h3>CLIENT</h3>
                <p>is an individual or legal entity registered with Online.ePayService as described in Current
                  Agreement, and is assigned a unique account number with Online.ePayService.</p><br>
                <h3>COMPANY</h3>
                <p>is MTACC Inc., a legal entity that manages all activities of the payment processing system called
                  ePayService. </p><br>
                <h3>ONLINE.EPAYSERVICE</h3>
                <p>is a payment processing system offered through Company website www.epayservices.com.</p><br>
                <h3>CHECK CASHING</h3>
                <p>is the processing and clearing of customer checks and the depositing of these funds to the Client
                  account for payout.</p><br>
                <h3>WIRE TRANSFER</h3>
                <p>is a method of both Domestic (U.S.) and International electronic payment.</p><br>
                <h3>ACH/DIRECT DEPOSIT</h3>
                <p>is a method of Domestic (U.S.) electronic payment.</p><br>
                <h3>ACCOUNT NUMBER</h3>
                <p>is a unique account number with Online.ePayService. This account number is also used for Client
                  identification.</p><br>
                <h3>INFORMATIONAL WEBSITE</h3>
                <p>refers to www.epayservices.com, a website that contains information on Company products, prices and
                  other payment processing services offered by Company.</p><br>
                <p>1.3. In reliance upon information provided by Client, Client appoints Company as its agent for the
                  purposes of, and subject to the terms and conditions set forth in Current Agreement, and Company
                  hereby accepts such appointment.</p>
                <p>1.4. This Current Agreement is a legal contract and has primary force over all previous agreements
                  and contracts between Client and Company.</p>
                <p>1.5. Documents such as agreements, contracts, rules or other terms received by any means, including
                  e-mail and/or posting on Informational Website of Company have lawful validity, and neither Client nor
                  Company has the right to contest these documents.</p>
                <p>1.6. Current Agreement between Client and Company has no expiration date and is automatically
                  extended until the termination of the Agreement as described in Clauses 2.19-2.21.</p>
                <p>1.7. A Russian translation of Current Agreement was created to aid Client understanding. In cases
                  where this translation is not accurate or is unclear, the English version of Current Agreement
                  supersedes the Russian version.</p>
                <h2>2. Opening, Servicing and Managing of Account, Rating of Accounts, Verification of Client Identity
                </h2>
                <p>2.1 Company renders its services only to individuals who have reached eighteen (18) years of age.
                  Minors may not utilize Company services under any circumstances.</p>
                <p>2.2 Client may open the account by registering with Online.ePayService. During Client’s registration
                  process it is Client’s responsibility to submit true and accurate personal registration data. If
                  Client does not pass Company’s verification process used for validation of the account, Client’s
                  account will not be approved.</p>
                <p>2.3 The Client guarantees that all personal data provided by him or her during the registration
                  process is true and accurate, and Client agrees to complete verification by all methods requested by
                  Company.</p>
                <p>2.4 The process of verification of the registration data, including all decision-making related to
                  this process prior to the account opening, shall complete within two (2) business days. In exceptional
                  cases, this process can complete within five (5) business days. Company reserves the right to refuse
                  opening of Client account for any reason, and without providing any reason to Client.</p>
                <p>2.5 Client may only have one account with Online.ePayService.</p>
                <p>2.6 After a new account has been activated, the account is given the rating “1”. For Client with an
                  account rating of “1” all Company services described in Current Agreement are available. The total of
                  all incoming payments over the period of one month, including incoming internal transfers, shall not
                  exceed one thousand U.S. dollars (1000 USD). A “month” is defined as any time interval equal to thirty
                  (30) consecutive days. If the one-month sum of all incoming funds exceeds 1000 USD, Client’s ability
                  to withdraw from his account will be partially suspended. In the case of partial account suspension,
                  Client has the right to accept funds of a total amount not contradicting Current Agreement and to
                  utilize all Company services except for the withdrawal of funds from Online.ePayService. In order to
                  unblock the account, Client must submit a scanned copy or photocopy of Client’s passport (including
                  any blank pages) and proof of current address (e.g., a utility bill) if passport does not display
                  Client’s current address.</p>
                <p>2.7 After Client’s submitted documents have been verified against Client’s personal information
                  submitted during the online registration process, Company is responsible for unblocking Client’s
                  account. Company then assigns Client’s account the rating “2”, allowing Client to withdraw funds from
                  internal transfers only, without limits, to order an ePayService Corporate Affiliate card, with the
                  monthly sum of any incoming payments, including incoming internal transfers, not exceeding five
                  thousand U.S. dollars (5000 USD). If the monthly sum of any incoming funds exceeds 5000 USD, Client’s
                  ability to withdraw from his account will be partially suspended. In the case of partial account
                  suspension, Client has the right to accept funds of a total amount not contradicting Current Agreement
                  and to utilize all Company services except for the withdrawal of funds from Online.ePayService. In
                  order to unblock the account, Client must submit a scanned copy or photocopy of Client’s passport
                  (including any blank pages) and proof of current address (e.g., a utility bill) if passport does not
                  display Client’s current address. After Client’s submitted documents have been verified against
                  Client’s personal information submitted during the online registration process, Company is responsible
                  for unblocking Client’s account. Company then assigns Client’s account the rating “3”, allowing Client
                  to make outgoing payments and withdraw funds for internal transfers without limits.</p>
                <p>2.8 In exceptional cases, if Company has determined a Client transaction to be suspicious or in
                  violation of one or more sections of Current Agreement, and Client has not provided the second
                  passport copy required to increase Client’s account rating, then Company reserves the right to request
                  from Client a notarized copy of his/her passport, or require that Client visit Company office for
                  in-person verification. Client must provide the notarized copy of his/her passport within ten (10)
                  business days of Company request. If deemed necessary by Company, Company reserves the right to
                  request from Client additional documents confirming the identity of Client, the source(s) of his/her
                  funds, Client’s business description, Client’s registration address and/or actual address of
                  residence. In case where Client’s requested documents are not submitted by Client, Company reserves
                  the right to temporally suspend Client’s account for a period of up to two (2) years. If requested
                  documents are not submitted during this two (2) year period, Company will close Client’s account
                  permanently, with any remaining funds in Client’s account returned to the original sender. A service
                  to cover the process of returning such funds to the original sender will be subtracted from Client’s
                  account. The service charges shall be specified on Company website.</p>
                <p>2.9 If Client’s registration data does not match with Client’s notarized passport information,
                  Company reserves the right to close Client’s account immediately. In this case, any remaining funds in
                  Client’s account will be returned to the last sender. A service to cover the process of returning such
                  funds to the original sender will be subtracted from Client’s account. The service charges are
                  specified on Company website.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 hidden-sm">
            <div class="sticky-column">
              <div class="body__action steps service" style="margin-bottom: 20px">
                <div class="service__title title title_medium">Dịch vụ</div>
                <div class="service__list">
                  <a class="service__item" href="managing-account.html">Quản lý Tài khoản</a>
                  <a class="service__item" href="bank-transfers.html">Chuyển Tiền</a>
                  <a class="service__item" href="prepaid-cards.html">Thẻ Trả trước</a>
                  <a class="service__item" href="checks-processing.html">Xử lý Séc</a>
                  <a class="service__item" href="payout-service.html">Giải pháp Thanh toán lương</a>
                  <a class="service__item" href="affiliate-payouts.html">Thanh toán Đại lý</a>
                  <a class="service__item" href="virtual-cards.html">Thẻ ảo</a>
                </div>
                <div class="steps__wrapper">
                  <div class="steps__title title title_medium">Tận hưởng công nghệ tài chính tiên tiến ePayService mang
                    tới cho bạn!</div>
                  <div class="steps__button">
                    <a class="button button_big" href="https://online.epayservices.com/register">Mở Tài khoản chỉ trong
                      2 Phút</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    {% include 'footer.njk' %}

  </div>


  <div class="up-arrow"></div>



  <script src="../js/jquery-2.2.0.min.js"></script>
  <script src="../js/jquery.placeholder.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/sticky-kit.js"></script>
  <script src="../js/app.b6f525f1.js"></script>
  <script>
    window.intercomSettings = {
      app_id: "wz9x11as"
    };
  </script>
  <script>
    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/wz9x11as'
    (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/wz9x11as'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();
  </script>

  <script src="https://online.epayservices.com/affiliate_program/landing_page/remember_affiliate_script.js"></script>
</body>

</html>
